[2016-12-13 18:08] devoncarew commented on #233
It's this guy: https://github.com/dart-lang/sdk/issues/28068. `diagnostic.getDiagnostics` is not yet implemented with the new driver -

[2016-12-13 18:11] DanTup commented on #233
Doh, how did I not find that issue when I looked?

If it's just NYI and likely to turn up soon, maybe it's not worth doing anything with. Is it causing issues (like spamming you with notifications)? I could just stick a check for `--enable-new-analysis-driver` in the error report generator for now and push a fix out (and we can remove it later).

[2016-12-13 18:19] devoncarew commented on #233
It means that every error is reported, and then followed up with a report the the exception from getDiagnostics. Not great; hopefully a transitory problem.

[2016-12-13 18:43] DanTup commented on #233
I've put in a temporary fix (https://github.com/Dart-Code/Dart-Code/commit/589b8939a8fd5508d1b518afde78179846450e35) and pushed out an update (`v0.14.6`). Should show up code in a few minutes.

Will leave this issue open as a reminder to remove the exclusion or migrate to an equiv API once it's sorted.

[2016-12-14 21:38] sethladd opened #234 "Underscore added after code completion"
Notice the _ that was added after the plugin code completed Column():

![screen shot 2016-12-14 at 1 37 56 pm](https://cloud.githubusercontent.com/assets/5479/21202172/a23ea5ea-c202-11e6-9b52-25281a3ff83c.png)

[2016-12-14 21:39] sethladd opened #235 "Can't see what parameters are expected for a constructor"
I code-completed a constructor, and here's what I got:

![screen shot 2016-12-14 at 1 38 53 pm](https://cloud.githubusercontent.com/assets/5479/21202207/c6493ab8-c202-11e6-9551-53efa1de0b1b.png)

I'd like instead to see a list of parameters and their types so I know what I need to put into this constructor.

Thanks!

[2016-12-14 21:40] sethladd commented on #235
Some ideas for how this might work are: https://msdn.microsoft.com/en-us/library/hcw1s69b.aspx

[2016-12-14 23:05] DanTup commented on #234
Wow, that's weird. I haven't seen this before - does it happen to you in a small sample?

I presume you're on the latest stable version of Code? What SDK version is it? If you enable logging from the analyzer (`dart.analyzerLogFile` in your user settings - set it to a full path for a log file) can you check what was in the completion response? (I think we might truncate this which will probably ma

[2016-12-14 23:11] DanTup commented on #235
That links is for VS. The problem here isn't the Code side though, it's the Dart analyzer - currently there's no way to get the data required to build this (see https://github.com/dart-lang/sdk/issues/27034 and [related discussion](https://groups.google.com/a/dartlang.org/forum/#!topic/analyzer-discuss/Abh1vi1CwDA)). I did have a look at if I could use getHover but it turned out to be complicated

[2016-12-14 23:14] DanTup commented on #15
I did have a go at this, but the problem is figuring out where to send the `getHover` request for, eg.:

[code]

If the cursor is at `|` we need to know to send the `getHover` for `myFunc`.

[2016-12-15 08:45] mikemimik commented on #234
I didn't see this issue happen until I updated Code to version 1.8.0.

The completion response has an underscore in it.
[code]

[2016-12-15 09:03] DanTup commented on #234
Ah, I didn't realise 1.8 was out yet. In that case it's probably related to #216. We currently use an internal API for completion that's being removed, though it was supposed to keep working for 2-3 versions :(

I'll take a look tonight/tomorrow. For now, disabling the `dart.insertArgumentPlaceholders` setting might fix it (though you might want to remember to switch back if you want that once I p

[2016-12-15 09:05] mikemimik commented on #234
Yeah I just found [this line of code](https://github.com/Dart-Code/Dart-Code/blob/ecf617fe3add90e097cf4ab49a99aaf604a96ec6/src/providers/dart_completion_item_provider.ts#L61) and [this other line of code](https://github.com/Dart-Code/Dart-Code/blob/ecf617fe3add90e097cf4ab49a99aaf604a96ec6/src/providers/dart_completion_item_provider.ts#L64), which seam to suggest that it's a vscode problem. It's no

[2016-12-15 09:06] DanTup commented on #216
@jrieken

I've had a report that the old behaviour is now resulting in underscores (see #234), so I don't think this continued working the way you expected?

It's probably not worth changing anything, I'll try and migrate to this tonight/tomorrow and push out a fix that requires 1.8. It does mean anyone upgrading to Code 1.8 will get a bad experience until they then also update Dart Code.

[2016-12-15 09:07] DanTup commented on #234
Yeah, there's a new API for placeholders I need to migrate to (#216), but I didn't want to do it until 1.8 shipped and was led to believe the old syntax would continue working the same for a few versions :(

[2016-12-15 09:11] mikemimik commented on #234
Just caught up on all the info; https://github.com/Dart-Code/Dart-Code/issues/216#issuecomment-264475964 was a bit misleading. Let me know if there is anything I can do to assist.

[2016-12-15 09:13] DanTup commented on #234
Oh, hangon - the underscore is on the analyzer response? In that case this might be a Code issue? I'll investigate tonight.

[2016-12-15 09:17] DanTup commented on #216
@jrieken Scratch that - our completion text has an underscore in it! Possibly something changed in 1.8 that made it appear (at least, it's reported to only have started in 1.8) but since it's in the string, this seems like our bug (or the Dart analyzers). I'll dig into it tonight, you can ignore this :-)

[2016-12-15 09:19] DanTup commented on #216
(ugh, re-posting this as I mis-interpreted the comment in the other case)...

@jrieken

I've had a report that the old behaviour is now resulting in underscores (see #234), so I don't think this continued working the way you expected?

It's probably not worth changing anything, I'll try and migrate to this tonight/tomorrow and push out a fix that requires 1.8. It does mean anyone upgrading to Code

[2016-12-15 09:21] DanTup commented on #234
Let my try that again (removed my misleading comments!).

The underscore you posted is in the data *to* the analyzer, after the completion has been committed, it's not the response. A previous response would have the completions in it, but it's probably truncated so you can't see it in the logs (we should really add a switch to disable this).

I'll do some digging tonight. I suspect an accidental

[2016-12-15 17:17] DanTup commented on #216
I think the issue is that the internal API used underscore as the final cursor position (see https://github.com/Microsoft/vscode/issues/6874#issuecomment-235606255) but in 1.8 it renders a real underscore.

[2016-12-15 17:17] DanTup commented on #234
I think the issue is that the internal API used underscore as the final cursor position (see https://github.com/Microsoft/vscode/issues/6874#issuecomment-235606255) but in 1.8 it renders a real underscore.

[2016-12-15 17:56] #216 closed

[2016-12-15 18:00] DanTup commented on #234
@sethladd @mikemimik Please upgrade to v0.14.7 and let me know if this solves you're issue. I've completed #216 and made some tweaks to completion. If anything doesn't seem right (placeholders, cursor positions, tab order, etc.) please let me know and I'll try to fix as quickly as I can.

Note: Fixing this required marking the extension to use Code 1.8 (so I can use the new, not-broken API). This

[2016-12-15 18:00] #234 closed

[2016-12-15 18:32] DanTup opened #236 "Move diagnostics to after stack trace in error reports"

[2016-12-15 18:59] mikemimik commented on #234
0.14.7 seems to have solved everything. I'll let you know if anything wonky happens.

[2016-12-15 20:20] DanTup commented on #15
This is the related SDK case:

https://github.com/dart-lang/sdk/issues/27034

[2016-12-15 20:33] DanTup commented on #234
Excellent; thanks for confirming!

[2016-12-15 22:40] sethladd commented on #234
Thanks!

On Thu, Dec 15, 2016 at 12:33 PM Danny Tuppeny <notifications@github.com>
wrote:

[2016-12-16 22:19] sethladd commented on #15
Would love to see this. It really helps exploring and using the APIs if I know what to pass into a method :) Thanks for helping make it happen!

[2016-12-16 23:06] sethladd opened #237 "How do I see docs/suggestions for how to use a method?"
I'm staring at code like this: `_counter.abs()` and I'm wondering "what goes into abs(), if anything?"

How do I answer that question, using Visual Code? Can I see the API docs? Can it tell me what goes in here?

Or, do I have to jump to the source to see how to use it?

Thanks!

[2016-12-17 08:34] DanTup commented on #15
@sethladd It really needs support from the Analyzer, I was unable to do it myself. If it gets added, I'll implement it pretty quick; it's my biggest annoyance writing Dart (esp. as I don't know the APIs at all compared to others!).

[2016-12-17 08:45] DanTup commented on #237
Until #15 is implemented (which needs https://github.com/dart-lang/sdk/issues/27034), the answers are a bit lame. You could either see the args in the completion list before completing, you can hover over the `abs` part to get a tooltip, or you could `F12` into it.

I tend to use the tooltips currently (though I'm not writing much Dart - spare time tends to go on Dart, so still no real Dart work!)

[2016-12-17 16:52] Meai1 opened #238 "Provide 'Dart Browser launch'"
there is a CLI config but also would be cool to start the browser on F5, just let a specific executable (firefox) start with some html or url/path in it.

[2016-12-17 17:51] DanTup commented on #238
I think this is somewhat covered by #68, though that's aiming more at Dart->JS compilation too. It's hard to do much currently, the task system is rather limited, but this is being discussed in https://github.com/Microsoft/vscode/issues/15179. This might make it difficult to make this useful - eg. if `F5` opens a new browser instance every time, that would kinda suck. Similarly, if it doesn't laun

[2016-12-17 20:40] Meai1 commented on #238
that's true, i assume that this can only be solved with a browser extension that talks to the vscode extension?

[2016-12-18 09:08] DanTup commented on #238
There are a couple of options, but I hope it won't involve something like that. Visual Studio sometimes injects JS into the page to allow it to control automatic refreshing, etc.; so that's an option (though I've had issues with VS's). Depending on how the browser works, maybe it's also possible to restart it (kill the old process, start new; but I suspect due to launching tabs in existing windows

[2016-12-19 17:40] DanTup opened #239 "Add ability to sort members"
Requested by @filiph, Analyzer spec is [here](https://htmlpreview.github.io/?https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/doc/api.html#request_edit.sortMembers).

[2016-12-19 21:35] Meai1 commented on #238
ahh i think i get it, it should be possible to just open a websocket and then on F5 it will ask the webpage to goto its own url aka reload. (http://stackoverflow.com/questions/1226714/how-to-get-browser-to-navigate-to-url-in-javascript)

on first start, you are right: it has to inject some javascript into the html but that should be easy too and wont bother anyone

[2016-12-20 14:32] DanTup commented on #238
Yep, that's basically how it works in VS, so something I could copy.

Not quite nobody! My colleagues and I all had to disable it in VS because it was injecting script tags into some AJAX responses! Possibly they look like web pages, I don't know how it decides. If I went this route, I'd need to make sure the decision about when to try and inject was sane (possibly just ensuring it has `<html>/<he

[2016-12-26 00:04] eseidel opened #240 "annotation hovers could show class dartdocs when constructor docs are missing?"
Hovering a new using a constructor shows the class docs:
![constructor_hover](https://cloud.githubusercontent.com/assets/478541/21473342/c7d562d2-cabb-11e6-9fef-bbe4508e6478.png)

But not hovering an annotation (which uses the same constructor):
![annotation_hover](https://cloud.githubusercontent.com/assets/478541/21473335/85a24740-cabb-11e6-8a11-15b794ced5f6.png)

No clue if the missing functiona

[2016-12-26 00:06] eseidel commented on #240
This is the declaration of Component I was referring to:
https://github.com/dart-lang/angular2/blob/e7844ee/lib/src/core/metadata.dart

[2016-12-26 08:36] DanTup commented on #240
Not sure whether the analyzer is doing this for us, or it's [this code](https://github.com/Dart-Code/Dart-Code/blob/ccdd222fdbfa7317de8b5573e7fdbeb8549515b5/src/providers/dart_hover_provider.ts#L56) appending `containingClassDescription` for certain types (`field` + `callable`). I'll take a look at what the analyzer is returning for each and see if I can improve.

Thanks!

[2017-01-06 04:00] eseidel opened #241 "Error running organize directives: [object Object]."
I attempted to run organize directives just after having "reloaded my project" after having run `killall dart` on the command line (due to the dart analyzer server having crashed, and thus I knew it was gonna get confused).

https://github.com/eseidel/lolsim was the code, I happened to be attempting to organize in lolsim.dart.  I doubt the specific code was related.

I suspect the analyzer server

[2017-01-06 04:03] eseidel commented on #241
Actually, I think it may have been caused by there being a syntax error in my program.  I had a function definition without an actual block {}, e.g.

`void foo(int bar)`

dartfmt doesn't work in cases where there are parse errors like that, maybe that was what's going on here?  In any case we should have a better message. :)

[2017-01-06 05:58] eseidel opened #242 "Named parameter completions insert duplicated text when a value has already been provided"
I run into this occasionally.  I believe it's specific to named parameters:
![screen shot 2017-01-05 at 9 57 04 pm](https://cloud.githubusercontent.com/assets/478541/21708978/15bfdb2e-d392-11e6-94ea-13e3bcffca14.png)
Hit tab:
![screen shot 2017-01-05 at 9 57 10 pm](https://cloud.githubusercontent.com/assets/478541/21708986/1781e3ee-d392-11e6-9ce9-b9bc162ed0fc.png)

[2017-01-06 08:30] DanTup commented on #241
I think it does fail when there are syntax errors, but the error should definitely be better!

I suspect it's [this code](https://github.com/Dart-Code/Dart-Code/blob/ccdd222fdbfa7317de8b5573e7fdbeb8549515b5/src/commands/edit.ts#L47) using the `error` object in the message rather than reading the message off it. Should be an easy fix!

[2017-01-06 08:37] DanTup commented on #242
By "occasionally", do you mean it's intermittent, or that it's reliably reproducible but only for certain code?

Do you happen to have the analyzer logging turned on? You can set `dart.analyzerLogFile` for a reduced version from Dart Code or `dart.analyzerInstrumentationLogFile` but the built-in one (I tend to run with the Dart Code one on all the time so if anything weird happens I don't need to

[2017-01-06 08:42] DanTup commented on #107
Probably this can be done with this new API?

It's possible this could be done using the new tree API now:

https://github.com/Microsoft/vscode/issues/12163#issuecomment-256813193
https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-explorer-sample

[2017-01-06 08:43] DanTup opened #243 "Check whether type hiearchy could be better implemented with new Code explorer API"
It's possible #133 could be done using the new tree API now:

https://github.com/Microsoft/vscode/issues/12163#issuecomment-256813193
https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-explorer-sample

[2017-01-06 08:44] DanTup commented on #133
I've opened #243 to investigate if we can improve this with a new API from Code.

[2017-01-06 20:14] sethladd opened #244 "Calls to getDiagnostics in SDK 1.22 fail (due to new driver being enabled by default)"
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

(please describe what you were doing when this exception occurred)

### Request

While responding to request: `diagnostic.getDiagnostics`

### Versions

- Dart SDK 1.22.0-dev.

[2017-01-06 20:18] DanTup commented on #244
Hmmm, this is confusing. The `getDiagnostics` call does not work with the new driver (this is something in-development in the analysis server that must be turned on with a flag). I added a change in commit 589b8939a8fd5508d1b518afde78179846450e35 so that we wouldn't try to call it when using the new driver.

However, in your log it does not show that you're passing the flag to enable the new drive

[2017-01-06 20:20] sethladd opened #245 "Can we show the library a name came from?"
I'm looking at code, and I'm curious where SourceCode came from. I hover, and I see a nice description of the API but I don't see the library name.

![screen shot 2017-01-06 at 12 19 43 pm](https://cloud.githubusercontent.com/assets/5479/21731713/91a81ed6-d40a-11e6-9ff8-88ad2ce5e9ba.png)

[2017-01-06 20:25] DanTup commented on #244
Found https://github.com/dart-lang/sdk/issues/28244. Looks like new driver is enabled by default now; my method of detecting it is therefore flawed!

@sethladd I'll push an update as soon as I can (probably this weekend) to disable this (at least until the new driver has some equiv function).

For now, you might be able to fix this by adding `--enable-new-analysis-driver` to the `dart.analyzerAddi

[2017-01-06 20:27] DanTup commented on #245
Looks like this should be quite simple; the `getHover` response from the analysis server has `containingLibraryName` but we don't currently use it in [DartHoverProvider](https://github.com/Dart-Code/Dart-Code/blob/master/src/providers/dart_hover_provider.ts).

[2017-01-06 20:28] bwilkerson commented on #244
Yes, the new driver is enabled by default now. I believe (though I haven't confirmed) that server should ignore any flags it doesn't recognize, so it should be safe to add the flag.

Here's the issue tracking the problem with the server API: https://github.com/dart-lang/sdk/issues/28068.

[2017-01-06 20:31] DanTup commented on #244
@bwilkerson Great, thanks for confirming! @sethladd in that case, adding `--enable-new-analysis-driver` as mentioned above should solve the issue until I can push a fix out.

[2017-01-06 22:06] sethladd commented on #244
Screenshot, just for the record:

![screen shot 2017-01-06 at 2 05 30 pm](https://cloud.githubusercontent.com/assets/5479/21734645/47af083a-d419-11e6-9d5e-62fb95151a8c.png)

[2017-01-06 22:16] sethladd commented on #245
Cool, good to hear

[2017-01-07 05:52] eseidel commented on #242
These are my user settings:
[code]

[2017-01-07 05:53] eseidel commented on #242
It seems to be reproducible for a certain set of code.  But I don't know what a reduction would look like.  I tried to produce one (from scratch) just now and failed.

[2017-01-07 08:55] DanTup commented on #242
Thanks for trying, I'll do some digging. I don't suppose it's a public repro where you can reproduce it?

Enabling one of the logs might be useful to see what the edit that comes back from the analysis server looks like.

[2017-01-07 10:47] DanTup commented on #244
@sethladd I've pushed out a fix (commit ccc1ce55223abb8fe27b80b7f4082e82c4a45f22) in v0.14.8 that stops this (there are no other changes).

Note: The other error in your screenshot (second one) appears to be from the analysis server and should be raised in https://github.com/dart-lang/sdk. Once you've updated to v0.14.8 you should be able to generate an error report for it without getting the othe

[2017-01-07 10:47] #244 closed

[2017-01-07 14:32] sethladd commented on #244
Thanks! I'll give it a shot.

On Sat, Jan 7, 2017, 2:47 AM Danny Tuppeny <notifications@github.com> wrote:

[2017-01-07 19:06] eseidel commented on #242
Here is the exact line which I filed about:
https://github.com/eseidel/lolsim/blob/e604b1fe4e433d6b4959d576628fca0b1cbbca0e/lib/lolsim.dart#L634
And yes, it reproduces reliably trying to tab-complete the 'magicDamage' argument name.

[2017-01-07 19:07] eseidel commented on #242
Is "dart.analyzerLogFile" a user setting in Visual Studio Code?  I'm not sure where to put that option.  It doesn't auto-complete for me when I try to add it to User Settings.

[2017-01-07 19:09] eseidel commented on #242
Yeah, when I tried adding dart.analyzerLogFile to my user settings in visual code, it tells me property unexpected.

[2017-01-07 19:12] DanTup commented on #242
Cool; I'll try and repro it from there.

It's a "hidden" property because it's for debugging so most users won't be interested in it. You might get a warning in the editor, but it should still work. You'll need to reload the project (there's a "Reload Window" command in Code that'll do this) after changing and then the file should be created.

I don't know how useful it'll be; we truncate the JSON

[2017-01-07 21:01] DanTup commented on #242
This did indeed turn out to be caused by the value already existing. It can repro'd with some simple code:

[code]

If you complete after `da` you get the duplication. This is because we normally insert placeholders when completing (so you'd get `danny: danny` with the second danny as a placeholder you can type over) but I'd overlooked that the value might already exist (in which case the completi

[2017-01-07 21:01] #242 closed

[2017-01-07 21:03] DanTup commented on #242
@eseidel This fix is now live (v0.14.9). Please give it a test and let me know if you have any more issues. Thanks!

[2017-01-11 18:20] sethladd opened #246 "The getter 'apiSignature' was called on null."
Please review the below report for any information you do not wish to share and report to
  https://github.com/dart-lang/sdk/issues/new

Exception from analysis server (running from VSCode / Dart Code)

### What I was doing

(please describe what you were doing when this exception occurred)

### Request

While responding to request: `analysis.setAnalysisRoots`

### Versions

- Dart SDK 1.22.0-dev.

[2017-01-11 18:21] sethladd commented on #246
![screen shot 2017-01-11 at 10 19 45 am](https://cloud.githubusercontent.com/assets/5479/21860919/a5aa8fb4-d7e7-11e6-81be-05fbf2b7bab6.png)

[2017-01-13 15:18] DanTup commented on #246
This exception is from the Analyzer, it should be reported at https://github.com/dart-lang/sdk/issues/new

Unfortunately, I can't fix it here ;(

[2017-01-13 15:18] #246 closed

[2017-01-13 22:58] sethladd commented on #246
Does this happen with you? Or is it just me?

[2017-01-14 08:57] DanTup commented on #246
I haven't had chance to do any Dart lately, though looking at the analytics this error has occurred only 5 times in the last week. I have limited data on who it is but they're all from a Mac, so I'm guessing it's only you. That said, it looks like there have also only been 3 users using `1.22.0-dev.5.0` and later so far (one is me testing the previous bug) so that might not mean much.

I'll try an

[2017-01-14 15:30] sethladd commented on #246
OK, thanks. Opened https://github.com/dart-lang/sdk/issues/28399

[2017-01-14 15:40] DanTup commented on #246
FWIW, I don't see this opening a small Dart project using SDK `1.22.0-dev.5.0` so it might be specific to something in your code (but still definitely an analyzer bug; it should never crash like that).

[2017-01-19 15:26] mezoni opened #247 "Analyzing... never ends and nothing happens."
Analyzing... never ends and nothing happens.
I can send you source code and you can see this in action.
Why this happens I did not know.
![screenshot at 2017-01-19 20-28-18](https://cloud.githubusercontent.com/assets/2311549/22112788/201d4760-de86-11e6-8272-3da021a18ded.png)

[2017-01-19 17:43] DanTup commented on #247
Can you confirm:

- What OS/version this is
- What VS Code version
- What Dart SDK version
- What Dart Code version

Does this happen for all projects, or just this one? Did you get any popup asking if you would send an error report?

Also, if you open your VS Code User Settings and add a setting called `dart.analyzerLogFile` that is a full path for a file to save logs (note: you won't get complet

[2017-01-19 18:17] mezoni commented on #247
Sorry, but this issue should not be addressed to the your project because you are not responsible for the work of the Dart analyzer.
I tried to use a command line `dart-sdk/bin/dartanalyzer` and it can not complete the analysis of specified source code.
You should reject this issue and close it as incorrect.
Problem in the tools supplied with the Dart SDK.

[2017-01-19 20:21] jacehensley-wf opened #248 "Support running pub get and pub upgrade with the --packages-dir flag"
With Dart 1.20.0 by default when running pub get, pub upgrade, and pub downgrade you no longer get package/ directories. You can still get these by using the --package-dir flag.

Can an option be added to run those commands with this flag?

[2017-01-19 22:38] DanTup commented on #247
That's valid, but even if I can't fix the issue I think it'd be great if Dart Code handled this better (like informed you that the Dart Analyzer is not responding as expected). I'd be very interested to know exactly what's happening to see if I could easily make Dart Code give more info to the user about what's wrong 🙂

[2017-01-20 05:58] mezoni commented on #247
Unfortunately, I have no desire to help programmers to Google Dart Team.
They are professionals. I think they can cope well without my help.
Especially considering the fact that they added me in the black list on https://github.com/dart-lang.
In gratitude for what I have added at least a hundred of bug track items (issues) on this group of the projects called "Dart".

[2017-01-20 11:30] DanTup commented on #247
I'm not on the Google Dart Team, nor do I work for Google. I'd love if you could help me improve the experience when this issue occurs for other Dart Code users.

I don't the reason you've been blacklisted (and I don't really want to get involved); but if you change your mind and choose to help me/other Dart Code users out then you're always welcome to post back here with more info. Thanks!

[2017-01-20 11:30] #247 closed

[2017-01-20 11:46] DanTup commented on #248
Does this need to be customisable, or is making it use just `package` (`packages`?) good enough?

I think it would be best as a setting (which can be overriden per-workspace) rather than adding more commands (not only because you're less likely to pick the wrong one for a given project, but also to avoid adding more commands which appear in Code even when you don't have a Dart project loaded!).

[2017-01-20 15:35] jacehensley-wf commented on #248
Yeah, I think just adding a config would be good. Maybe even a config for adding arbitrary flags to pub get / pub upgrade.

[code]

[2017-01-20 16:58] mezoni commented on #247
Oh no thanks.
This will not help making Dart code better only because Dart will remains a bleeding edge technology developed software.
This is a cheapest approach for developing software.
This looks not a very serious for a very serious company such as Google.
Why Google decided to save money on the development of serious software as Dart Web Platform?
Where we can find in a Google Dart Team a pro

[2017-01-22 16:20] eseidel opened #249 "Shows warnings in renamed files"
- VSCode Version: Code 1.8.1 (ee428b0eead68bf0fb99ab5fdc4439be227b6281, 2016-12-19T14:42:49.304Z)
- OS Version: Darwin x64 16.3.0
- Extensions:

|Extension|Author|Version|
|---|---|---|
|dart-code|DanTup|0.14.9|
|prettify-json|mohsen1|0.0.3|

When I rename a file with errors in it, the errors don't go away until I `killall dart` from the commandline (to force the analyzer server to restart).

![sc

[2017-01-26 16:54] sethladd opened #250 "Unhelpful code completion options in constructor params"
Tried to see what other named parameters I could provide. Here's what I saw:

![screen shot 2017-01-25 at 12 03 26 pm](https://cloud.githubusercontent.com/assets/5479/22307072/7c2462f4-e2f6-11e6-881d-ae8e312aa38c.png)

Can we do something better here? Can we show only named parameters?

Thanks!

(not sure if this plugin can do something to help, or if we are constrained by what analyzer can tell u

[2017-01-26 17:59] DanTup commented on #250
These things all come from the analyzer. We do get back a `relevance` field but the Code API doesn't have anywhere to put it and I don't think a non-alphabetical sort would be nice here even if accepted and sorted by it.

I think it's by design that the analyzer returns too much and lets the client filter and usually that seems to work fine. In this case, if it's invalid to put anything other than

[2017-01-26 18:01] #232 closed

[2017-01-26 18:05] bwilkerson commented on #250
This is definitely an issue that should be solved in the server; all of our clients have the same issue and need the same solution.

@sethladd Can you move this issue into the sdk issue tracker? (I don't know the magic incantation.)

[2017-01-26 18:23] DanTup commented on #249
That sounds reasonable, but.. for deleted files the analysis server sees the filesystem change and sends us a `flushResults` event (see #55) so I think probably it should be doing the same for renames? @bwilkerson - does this sound reasonable?

[2017-01-26 18:40] bwilkerson commented on #249
As far as I can tell by looking at the `WatchEvent` class, a rename would be reported as an addition and removal of a file (the change event claims it is only used when the *content* of a file is changed. So, yes, I would expect server to send a `flushResults` for the old name of the file.

[2017-01-26 19:02] DanTup commented on #249
@eseidel I just test this and it actually worked (did what Brian suggested). The file was renamed, the AS sent a flush, and the filename updated in my errors list.

[code]

Can you try and reproduce this with logging enabled? Open User Settings (`CTRL`+`SHIFT`+`P` -> `User Settings`) and create `dart.analyzerLogFile` (note: the IDE will say it's invalid; it's not, it's just not documented) with a

[2017-01-26 19:52] skybrian opened #253 "add preference to show/hide deprecation warnings"
It seems like this would be similar to the preference for TODO's.

Justification: a large number of deprecation warnings can show up suddenly due to changes outside your control (in a dependency) and hide other errors.

[2017-01-26 20:02] DanTup commented on #253
@devoncarew How do you do this in Atom? For TODOs we can use the `type` property of the `AnalysisError`, but I can't see anything in the spec that would allow us to detect deprecation errors?

[2017-01-26 21:17] skybrian commented on #253
Sorry, I misremembered. It's not there in Atom. (Deleted that sentence.) I think I just disabled infos.

In theory you could look for the unique id for deprecation warnings: DEPRECATED_MEMBER_USE. But this could also be disabled in the analysis options file.

[2017-01-27 07:47] DanTup commented on #114
Related: https://github.com/dart-lang/sdk/issues/28534

[2017-01-27 07:48] DanTup commented on #253
If it's possible to disable these using the analysis options file, I'm not sure if it's worth adding an option here. I know the analysis options file can't apply globally, but this seems like the sort of thing you probably want per-project and if we start adding things that can be configured there, we might end up with a load of duplication (and confusion, if you forget it's set in Code user setti

[2017-01-27 07:59] skybrian commented on #253
Makes sense. Thanks!

[2017-01-27 11:02] DanTup commented on #2
Still to do:

- Port analyzer_gen.ts generation
- Add missing types (eg. `AnalysisUpdateContentResponse`)

[2017-01-27 11:05] DanTup opened #254 "Change keybindings for organiseDirectives"
Currently we get this warning in dev tools:

We should change they keybinding and include in release notes.

[2017-01-27 11:11] DanTup commented on #245
@sethladd Is there source for SourceCode available? I just came to work on this and noticed your tooltip is weird, the top line looks like it's showing source code (there's a brace on the end, and an ellipsis). I can't repro that and it doesn't look right!

![hover](https://cloud.githubusercontent.com/assets/1078012/22368996/64d04b54-e481-11e6-9e10-1a658c245bed.png)

[2017-01-27 11:28] #245 closed

[2017-01-27 11:30] #241 closed

[2017-01-27 11:32] DanTup opened #255 "Show class docs when constructor has no doc"
If a constructor doesn't have a doc, I think it'd make sense to fall back to showing the classes doc?

![constructor doc](https://cloud.githubusercontent.com/assets/1078012/22369542/5573b0ee-e484-11e6-9ac9-b05991b05cbd.png)

[2017-01-27 11:52] DanTup commented on #240
Hmmm, tried in a simple repro and it worked as expected:

![dartdoc](https://cloud.githubusercontent.com/assets/1078012/22370018/18fb33e6-e487-11e6-9dee-1401075349a5.png)

Digging...

[2017-01-27 11:57] DanTup commented on #240
@eseidel Looking at that class definition, the constructor doesn't have a dartdoc. The doc in your screenshot comes from the class (my guess is it's showing you the class doc instead of constructor their because you don't have parens).

So, I think this is by design. However, I have opened #255 earlier about falling back to class docs when there's no constructor doc though I haven't checked whethe

[2017-01-27 11:59] DanTup commented on #240
@eseidel Deleted my previous comments as I just re-read the title and realised you were asking for exactly what I mentioned. Sorry! I'll keep this case for that and close my dupe!

[2017-01-27 11:59] DanTup commented on #255
Dupe of #240.

[2017-01-27 11:59] #255 closed

[2017-01-27 12:03] DanTup commented on #240
Looks like this will need support from the analyzer. I've copied it over to here:

https://github.com/dart-lang/sdk/issues/28537

[2017-01-27 14:41] devoncarew commented on #253
+1 to relying on the analysis options file here.

Some things we may want to be user preferences rather than commit-to-the-repo settings; perhaps TODOs fit in this category. But generally I'm a fan of having few preferences, so wouldn't complain too much if the todo checkbox went away.

[2017-01-27 14:44] DanTup commented on #253
Ok, I'm gonna close this as WontFix as I think the analysis_options file is a better fit. I won't do anything with the TODOs setting for now, but might remove it in the future (esp. if we get completion for the analysis options and it becomes easier to encourage people to use it).

[2017-01-27 14:44] #253 closed

[2017-02-10 10:23] DanTup opened #256 "Remove code that forces forced spaces and automatically set defaults"
In the next version of Code the language-specific settings will support tabs/spaces so we no longer need our hack.

Info here: https://github.com/Microsoft/vscode/issues/19511

[2017-02-12 13:03] DanTup commented on #241
Sorry for the delay; this fix has been released!

[2017-02-12 13:03] DanTup commented on #245
Sorry for the delay; this change has been released!

[2017-02-12 14:46] DanTup opened #257 ""null" appears in tooltips"
![null in tooltip](https://cloud.githubusercontent.com/assets/1078012/22863076/f4cb9062-f131-11e6-8eb8-92ff4116d151.png)

[2017-02-12 15:05] #257 closed

[2017-02-12 15:22] DanTup commented on #237
I got nowhere trying to make this work using other APIs (and I've spent many hours over several days trying) so I'm gonna mark this as a dupe of #15 and https://github.com/dart-lang/sdk/issues/27034. I don't think there's a good way I can fix this until the Analzyer has support for it (though if anyone has ideas I'm open to suggestions - this is one of my biggest annoyances writing Dart!).

[2017-02-12 15:22] #237 closed

[2017-02-12 16:36] sethladd commented on #245
Thanks!

On Sun, Feb 12, 2017, 5:03 AM Danny Tuppeny <notifications@github.com>
wrote:

[2017-02-12 16:39] DanTup commented on #245
@sethladd See [my earlier comment](https://github.com/Dart-Code/Dart-Code/issues/245#issuecomment-275642770); though screenshot seems to show code in the top line of the tooltip which doesn't seem right (and I couldn't repro). If you still see this and you don't think it's right, could you open a new case about it?

[2017-02-15 20:16] DanTup commented on #61
I think we might be able to do much of this now based on comments in https://github.com/Microsoft/vscode/issues/10401 (we can `setContext` something like `dartCodeLoaded` and then use that in a `when`).

[2017-02-15 20:36] DanTup opened #258 "Default to running Dart CLI apps in checked mode"
I noticed some stuff about `assert`s in the release notes for the SDK; says that asserts aren't run in production mode. I wondered how I trigger this and it seems the VM is production by default unless you pass `--checked`. Since running from DC is almost certainly development and not production, I think it'd make sense to add this to our default args for `launch.json`.

(cc @devoncarew - does thi

[2017-02-15 23:02] devoncarew commented on #258
Yeah, make sense. `--checked` will catch more things at runtime. I _think_ it's like a 30% runtime penalty, so you wouldn't benchmark with it, but definitely worth it when developing.

[2017-02-16 17:04] DanTup opened #259 "Debugger protocol updates"
See https://github.com/JetBrains/intellij-plugins/pull/483

[2017-02-17 10:40] DanTup commented on #160
This is fine in current stable Code.

[2017-02-17 10:40] #160 closed

[2017-02-17 11:08] DanTup commented on #258
I've added it as a new option in `launch.json` (which will be set to true by default for newly-created launch jsons, but not added to existing ones). It seemed to make more sense there than a general debug setting (passed by `getDebugSettings`) as it can be toggled per launch command (I think this'll make it easier in future to let the user switch between Checked/Production in the dropdown on the

[2017-02-17 11:08] #236 closed

[2017-02-17 11:08] #258 closed

[2017-02-17 11:16] DanTup opened #260 "Support columns for breakpoints"
Seems like [Dart VM](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md#addbreakpoint) supports this and [next version of Code does too](https://github.com/Microsoft/vscode/issues/14784#issuecomment-279981392) so we should look at wiring these up.

[2017-02-18 16:43] jhirth commented on #256
Language-specific are available in the current stable release. My *settings.json* looks like this:

[code]

[2017-02-18 19:40] wopian commented on #256
@jhirth it is, but the one in your example and 3 others are not respected until the next stable release.

[2017-02-18 19:59] DanTup commented on #256
Yeah; I tested it when I saw the release notes and found it didn't work. The [issue linked in my comment](https://github.com/Microsoft/vscode/issues/19511) is specifically about this.

[2017-02-18 20:16] jhirth commented on #256
Thanks for the clarification. The 2 spaces by default thing does indeed not work if the plugin isn't running.

By the way, will the plugin automatically add that setting or how is that going to work?

[2017-02-18 20:18] DanTup commented on #256
@jhirth I haven't looked yet, but I'm hoping that I can set this automatically. Even if I can't tell Code up-front that Dart should be like this there is now an API to modify a users settings so I think it would be reasonable to automatically inject this into the settings the first time a user runs it (and keep a flag to not repeat it, in case the user explicitly removes it).

[2017-02-19 21:24] helikopterodaktyl opened #261 "Invalid override. The type isn't a subtype of ..."
This code makes Dart-Code show an error (repro is my project/package name):

![image](https://cloud.githubusercontent.com/assets/22717028/23106697/82eaf102-f6f1-11e6-8bb9-5b0d1ccd2a33.png)

![image](https://cloud.githubusercontent.com/assets/22717028/23106722/efccf266-f6f1-11e6-9904-8fe325619380.png)

Removing the "package:" prefixes seems to fix the error. I'd expect it to be a problem with my co

[2017-02-19 21:35] DanTup commented on #261
Dart Code doesn't actually do any parsing of code itself, it's all handled by the analyzer that ships inside the Dart SDK, so I think this needs to be raised against the SDK repo [here](https://github.com/dart-lang/sdk/issues/new). It is possible Dart Code is doing something wrong; though I can't think of what could cause something like this - @bwilkerson might be able to confirm.

[2017-02-19 22:00] helikopterodaktyl commented on #261
Hmm. Unless I'm doing something wrong with the config, I checked with Atom's Dart plugin and it doesn't show any errors there, that'd suggest the issue with Dart Code...

[2017-02-20 17:50] DanTup commented on #261
It is very possible; I just can't think of what might be different (esp. if it's fine in Atom).

Can you confirm the version of Dart Code and the SDK you're using and what other options you may have set that might affect this? If I've recreated your repro correctly, I get a different message (a warning):

at: '7,15'

Can you also confirm you're using the same SDK version in both Atom and Dart Code

[2017-02-20 17:58] helikopterodaktyl commented on #261
My Dart version is:

Dart VM version: 1.22.0 (Mon Feb 13 17:39:28 2017) on "windows_x64"

My Dart Code is version 0.15.1

in my settings file in VSCode just to be sure I put:

 "dart.sdkPath": "C:\\Program Files\\Dart\\dart-sdk"

to match my dart settings:

![image](https://cloud.githubusercontent.com/assets/22717028/23136755/6ed7bd78-f79e-11e6-9b2b-93da3a5e4531.png)

but it doesn't change anythin

[2017-02-20 18:17] DanTup commented on #261
I don't know why the casing is different (my guess is one is from Windows/Code when I opened the file and the other was constructed by Dart) though I wouldn't expect it to make any difference; FS is case-insensitive on Windows and I'd expect Dart to handle that.

Are you able to zip up your repro folder and attach? You don't have an `analysis_options.yaml` file or anything?

Do you have any `packa

[2017-02-20 18:23] helikopterodaktyl commented on #261
Ahh, yes, I do have analysis_options - actually that error shows up in strong mode only. Without strong mode I get the warning you are getting, but still - that looks like a perfectly legal code to me.

[2017-02-20 18:34] DanTup commented on #261
Exactly what do you have in `analysis_options.yaml`? Even with strong mode I'm not getting the same error, which is a bit weird.

I agree, it looks like reasonable code to me if circular imports are allowed (I presume so). I'm not sure why it would work any differently in Atom (Dart Code and Atom use the same analysis service; though I don't know if Atom may set some options Dart Code doesn't).

I

[2017-02-20 18:37] helikopterodaktyl commented on #261
here's my project:

[repro.zip](https://github.com/Dart-Code/Dart-Code/files/788257/repro.zip)

[2017-02-25 11:15] DanTup commented on #250
Based on https://github.com/dart-lang/sdk/issues/28529#issuecomment-281428292 I expect this will be fixed in Dart 1.23 :-)

[2017-02-25 11:15] #250 closed

[2017-02-25 11:49] DanTup commented on #261
Apologies for the delay, I've been away this week. Opening your repro I get the same error. I can't see anything Dart Code can be doing to cause this (though I also can't explain why Atom wouldn't show the same), but I've copied the details to the SDK repo as I think it needs input from the Dart Team. You can subscribe to this case to get notifications of updates:

https://github.com/dart-lang/sdk

[2017-03-01 12:32] drager commented on #198
What's the status of supporting flutter applications now?

[2017-03-01 21:22] DanTup commented on #198
I don't think there's been any progress on this. One thing that complicates it is that Flutter hasn't been working on Windows (this makes it hard for me to work on, and would also prefer not to ship different features for different platforms).

It sounds like Windows support for Flutter has been making good progress recently, though I don't know how soon I'll have time to look at it so can't make

[2017-03-02 08:18] wopian commented on #256
1.10 adds support for configurable defaults in `package.json`

i.e

[code]

[2017-03-03 11:15] DanTup opened #262 "Implement syntax highlighting for pubspec/analysis options files (YAML)"
Since making these their own languages (to allow us to force 2-space indenting) they won't get the built-in YAML support, so we need to add this back in.

[2017-03-03 11:16] #256 closed

[2017-03-03 11:17] #60 closed

[2017-03-03 11:26] DanTup commented on #151
Works in 1.23 dev.

[2017-03-03 11:26] #151 closed

[2017-03-03 11:26] DanTup commented on #158
Works in 1.23 dev.

[2017-03-03 11:26] #158 closed

[2017-03-03 11:29] DanTup commented on #50
I don't think adding the remaining commands here would be all that useful - Code has a builtin terminal where you can run whatever you want and I think that would be a better user experience than us having to prompt the user with some file picker (and figure out how to filter it).

I also think in most cases for running your app you'd be better doing it via the `launch.json` stuff and hitting `F5`

[2017-03-03 11:31] DanTup commented on #70
I don't think there's much to do here - we warn the user when they have an old version of the SDK (explaining things might not work) and version-checking for new features probably should be done if/when we implement something that needs a specific SDK version (though again, the warning somewhat makes it clear things may not work, so avoiding having a broken feature due to a really old SDK might no

[2017-03-03 11:31] #70 closed

[2017-03-03 12:04] #248 closed

[2017-03-03 12:05] DanTup commented on #249
@eseidel Can you still repro this? Are you able to get a log?

[2017-03-03 12:13] DanTup commented on #259
@devoncarew I had a look at the linked PR but I'll be honest, I'm not entirely sure what I'm looking at! I had a scan through [this doc](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service.md) but can't see any mention of the word "casual" even though that seems to be what you're calling in your code.

I presume this is to improve the call stack shown in the debugger for async

[2017-03-03 12:27] DanTup opened #263 "Launching Dart program fails after upgrading to Code 1.10"
Seems `command.` was deprecated and this should be `command:`. Not sure where this breaking change was announced, but missed it :(

![Code](https://cloud.githubusercontent.com/assets/1078012/23551131/bf7b0804-000c-11e7-9f7a-5dfd4e7b8973.png)

[2017-03-03 12:31] DanTup opened #264 "Debugging Dart Code doesn't work in Code 1.10"
Pressing F5 to launch Dart Code doesn't seem to correctly debug anymore (no breakpoints are hit).

[2017-03-03 12:44] DanTup commented on #264
User error! The activation is lazy and a change I made wasn't immediately activating when a workspace contained pubspec.yaml.

[2017-03-03 12:44] #264 closed

[2017-03-03 12:45] #263 closed

[2017-03-03 12:51] DanTup commented on #260
This is only in insiders, so will have to wait (need to ship an update to fix a major bug).

I believe the fix will involve chanegs in `setBreakPointsRequest` which needs to return the column in addition to `verified` in the responses.

[2017-03-03 14:04] DanTup opened #265 "Change getDebugSettings over to remove it from launch.json"
See https://github.com/Microsoft/vscode/issues/10503#issuecomment-283960562

[2017-03-03 17:15] devoncarew commented on #259
Hey, OOO right now but will comment quickly. I think you need the latest dev SDK for this. Doing the existence check for asynchronous frames sounds right - probably more robust than a protocol version check.

Theres a companion doc to the above - service_dev.md. that'll mention the causal frames APIs.

[2017-03-03 17:32] DanTup commented on #259
Ah, didn't know about that; though that doesn't seem to contain "casual" on [`master`](https://github.com/dart-lang/sdk/blob/master/runtime/vm/service/service_dev.md) or [`dev`](https://github.com/dart-lang/sdk/blob/dev/runtime/vm/service/service_dev.md) branches either. It was updated by you recently though; I presume they don't go by another name?

Anyway, no rush if you're OOO. I ended up relea

[2017-03-04 11:18] DanTup opened #266 "Add support for using source-based analyser instead of snapshot"
This would make it easier to use Dart Code for testing tweaks to the Analyzer without having to build new snapshots. This would be useful for devs/contributors to the analyzer.

@scheglov I'm not sure how to launch the Analyzer using source instead of snapshot, it is it just a case of changing the filename passed as the first arg to the VM?

So, if I add a new option that lets you specify the path

[2017-03-04 11:25] DanTup opened #267 "Infinite loop when opening non-workspace file in SDK 1.23-dev"
Noticed while discussing https://github.com/dart-lang/sdk/issues/28962. The analyzer is reporting errors for SDK files which causes Code to ask for fixes, which triggers the analyzer re-sending the errors (and the loop continues).

[2017-03-04 11:28] DanTup opened #268 "Allow setPriorityFiles to send non-workspace files for newer analyser versions"
Some info about this in https://github.com/dart-lang/sdk/issues/28962

[2017-03-04 11:31] #267 closed

[2017-03-04 17:55] scheglov commented on #266
Yes, you just specify the path of the file that you want to run instead of the snapshot from SDK.

I run Analysis Server using code like this: `/Users/scheglov/Applications/dart-sdk/bin/dart /Users/scheglov/Source/Dart/sdk.git/sdk/pkg/analysis_server/bin/server.dart`.

[2017-03-15 19:44] Aetet opened #269 "Search usages shows stale results after switching git branches"
I have project with large codebase. Sometimes `editor.action.referenceSearch.trigger ` does not show me all the results. When I search with regular grep - open this file - after this everything works fine. What is the workaround for it? #

[2017-03-15 22:23] DanTup commented on #269
Can you reliably reproduce this? Is the project your seeing this on open source?

[2017-03-16 04:21] Aetet commented on #269
Yes. It is reproduced reliably. No it is not open source project. I can debug project locally to figure out what is the reason. Atom version https://github.com/dart-atom/dartlang works fine.

[2017-03-16 07:45] DanTup commented on #269
Interesting; both Atom and Dart Code use the same analysis server from the SDK so I wonder whether the issue is in the mapping of Code.

You can enable the analyzer instrumentation file by setting the option `dart.analyzerInstrumentationLogFile` in your VS Code options (note: you won't get intellisense and it might tell you it's not a valid option because it's a hidden option) to generate a log of

[2017-03-18 13:28] hermanbergwerf opened #270 "Remove 'interface' from keywords"
I'd like to use interface as field name without it being highlighted. See line https://github.com/Dart-Code/Dart-Code/blob/69d570366c6c704bb43a0a3c0e5c2443ca2dc4aa/syntaxes/dart.json#L239.

The interface keyword was removed ~5 years ago, see: http://news.dartlang.org/2012/06/proposal-to-eliminate-interface.html.

[2017-03-18 20:20] DanTup commented on #270
Thanks for reporting this (and the helpful link to where it needs changin1); I took that file from one of the other editor integrations but didn't check how accurate it was. Will remove this for the next release!

[2017-03-20 22:23] Skylled commented on #198
Just wanted to pop in and say that Windows support for Flutter has been made available as of a few days ago, if that was any hold-up. I know it's unreasonable to expect someone to switch OSes to develop something out of good will.

[2017-03-21 21:54] DanTup commented on #198
Thanks! I was aware of this (and it was a factor in me doing anything on this) but I haven't had any time to check it out yet.

That said; I think web support is more important than Flutter for now, so when I do have time (which is increasingly hard to find lately) it'll probably be spent there first.

[2017-03-22 18:47] Aetet commented on #269
Thanks for reply. I bring it on for me. I hope it won't be gathered without percaution in next version ;-) As I will have result I reply for this issue.

[2017-03-22 19:26] DanTup commented on #269
Not sure what this means - the log option will remain enabled until you remove it, so you'll need to remember to remove it in the future once you have a useful log for it.

[2017-03-22 19:30] Aetet commented on #269
I mean content of this file won't be transfered by http to some server occasionally.

[2017-03-22 19:35] DanTup commented on #269
Enabling these logs only records to the filename specified, nothing it sent anywhere (the analyzerInstrumentationLogFile behaviour is actually created by the Dart team and not part of Dart Code - it just gets passed to the Dart analyzer).

The only things Dart Code ever transmits automatically are some basic analytics that used to build [these charts](https://datastudio.google.com/open/0B7od1qw9-s

[2017-03-22 23:39] skybrian opened #271 "add support for remote debugging"
After starting a Dart command line app using the --observe flag, it would be useful to be able to connect the VS Code debugger to the observatory port.

(For example, this could be used to debug the analysis server itself after it's been started from within an IDE.)

[2017-03-23 08:19] Aetet opened #272 "Expose managing analyzer process"
Sometimes dart analyzer stuck or something, Is there possibiblity to restart analyzer by hand with restart vs code? This implemented at WStorm and Atom.

[2017-03-24 09:58] #270 closed

[2017-03-24 10:00] DanTup commented on #270
@devoncarew FYI in case you wish to remove from [the Atom version](https://github.com/dart-atom/dartlang/blob/master/grammars/dart.cson#L210).

[2017-03-24 10:27] #105 closed

[2017-03-24 10:29] DanTup commented on #105
I've made this better, but unfortunately it's not possible to make accurate using regex. We now allow lots of characters inside these expressions and still match (anything except any of `{}"'`), however it breaks down if you include nested braces or strings (the problem with strings is that you can put braces inside them).

Since JS regex (AFAIK) doesn't have support for counting braces to figure

[2017-03-24 10:41] DanTup commented on #110
This was actually fixes age ago (not sure exactly which version, so guessing for the label).

[2017-03-24 10:41] #110 closed

[2017-03-24 10:45] DanTup commented on #50
See above comment - closing this due to no input. I don't think there's value in the remaining commands (get/upgrade are already done).

[2017-03-24 10:45] #50 closed

[2017-03-24 10:55] DanTup commented on #230
I cannot repro this anymore; I wonder if Code has been updated not to show duplicates when the resolved paths are identical (I can't find a case about this to confirm unfortunately).

I'm marking this as fixed in Code, but feel free to post back if anyone still sees this (though without `--packages-dir` it might not be an issue anyway).

![Search results](https://cloud.githubusercontent.com/assets

[2017-03-24 10:55] #230 closed

[2017-03-24 10:58] DanTup commented on #272
If you open the command pallet ('Ctrl+Shift+P`) and run the `Reload Window` command, this will re-open the workspace and relaunch the analyzer.

That said, Dart Code should automatically detect when the analysis server is not responding and offer to reload automatically (db1de78ed67a4871bcbbd9866196ae7781c89e00); are you not seeing this?

[2017-03-24 12:46] DanTup opened #273 "Supply debugging defaults automatically so they're not required in launch.json"
Currently we have `checkedMode: true`, `args: []` and `cwd: "${workspaceRoot}"` in `launch.json` but we shouldn't require them there if they're just these defaults.

[2017-03-24 12:46] #265 closed

[2017-03-24 12:46] #273 closed

[2017-03-24 13:07] DanTup opened #274 "launch.json is not created when pressing F5"
After implementing #265, launch.json is no longer created. See https://github.com/Microsoft/vscode/issues/10503#issuecomment-289017451.

[2017-03-24 13:16] #274 closed

[2017-03-24 16:34] Aetet commented on #272
Yes. I know that. But Atom plugin addiotionally provide info if analyzer does not do any work and stuck.

[2017-03-25 09:10] DanTup commented on #268
This can probably be triggered by v1.18 of the analyzer:

https://github.com/dart-lang/sdk/issues/28962#issuecomment-289199415

May be worth reverting bb99609ef9db3447b6ab250c91e5690a4562135d too as this is handled by https://github.com/dart-lang/sdk/commit/24d5466a72a34cfe1fca15bb6f546553dc3bf4ea

[2017-03-25 09:27] DanTup commented on #271
Made a start on this, though there's currently a lot of stuff on the debugger that assumes it has info that attaching doesn't provide (like the path of the executing program, which it uses to build a map of package uris and it also assumes access to stdout/stderr that we won't have) so I need to do a bit more investigation (to see which we *really* need and whether we can get some directly from Ob

[2017-03-25 09:30] DanTup commented on #272
I'm not entirely sure what you're asking for, but I believe there are two things that might be related:

1. If the analyzer returns an error, Dart Code will offer to generate an error report for you to post on GitHub (this is the same as Atom)
2. If the analyzer crashes completely, Dart Code will notify you and give a button to reload

If you're hitting an error and those don't seem to be happenin

[2017-03-25 19:24] skybrian commented on #271
Hi, last week I refactored some code in the IDEA Flutter plugin that does source file mapping [1].

It's not quite the same since it's for mobile apps, not command-line apps, and we're not doing remote debugging for Flutter apps. But  I don't think the algorithm changed much from the Dart plugin (not intentionally, anyway).

It's rather ad-hoc; the way the Observatory exposes pathnames for source

[2017-03-26 08:32] DanTup commented on #271
Cooo, thanks for the info! I'll try and get some more time to spend on this next weekend; I think it'll be a great feature to have!

[2017-03-26 18:02] devoncarew commented on #270
Thanks for the heads up!

[2017-03-30 06:12] abarth opened #275 "Package paths are resolved incorrectly for flutter repo"
# Steps to reproduce

1. `git clone https://github.com/flutter/flutter.git`
2. `cd flutter`
3. `./bin/flutter update-packages` (This command runs pub for all the packages in this repository)
4. Open this directory in VSCode with Dart-Code plugin.
5. Open `packages/flutter/lib/src/widgets/drag_target.dart` in the editing pane.

# Expected result

The analyzer should be able to find the `package:flu

[2017-03-30 06:12] abarth commented on #275
I'm using version 1.0.2 of Dart-Code.

/cc @devoncarew @eseidelGoogle

[2017-03-31 08:12] DanTup opened #276 "Debuggable/non-debuggable settings don't work in 1.23-dev SDK"
The default was changed:

https://github.com/dart-lang/sdk/issues/29155

[2017-03-31 08:38] DanTup commented on #275
I believe the behaviour that handles this in Atom is described [here](https://github.com/dart-atom/dartlang/issues/762#issuecomment-183477067):

This seems like reasonable logic to use.

[2017-03-31 10:02] DanTup commented on #275
I believe I've fixed this; however I get this error (both when opening the flutter package directly, and the parent):

severity: 'Error'
message: 'The name 'debugCheckHasMaterial' is defined in the libraries 'debug.dart' and 'debug.dart'.'
at: '183,12'
source: 'dart'

I don't think this is related (since it happens when opening the filter directly too - possibly something is wrong with my checkout

[2017-03-31 10:03] #276 closed

[2017-03-31 10:10] DanTup opened #277 "null ref in buildOccurences of highlight provider"
I spotted this in the debug window just after closing DC. I don't have a log of what the analyzer response nor can I reproduce it now (I had the Flutter repo open).

[code]

[2017-03-31 14:59] DanTup opened #278 "Opening a dart file outside of analyzed folders results in an error"
In v1.1 we send each package as an analysis root. If you open a file outside of these then we try to send it (because `isAnalyzable` returns `true`) and it results in this message.

In SDK >= `1.23` we can send priority files outside of analysed roots so it might not be worth doing anything here (the error doesn't show up to the user, only when running in extension host and dev console).

[2017-03-31 15:54] abarth commented on #275
Thanks!

[2017-03-31 16:41] devoncarew commented on #275
@DanTup, the logic that Atom uses is a little heavy weight. If I were to re-do it, I would probably just create one analysis context for the opened folder, and let the analysis server figure out all the sub-projects from there.

[2017-03-31 17:05] DanTup commented on #275
@devoncarew Aren't you describing how Dart Code originally worked? The AS didn't seem to correctly resolve packages. Now we will create one analyzer, but send each package root that we found in analysis roots (this seems to cause their package resolution to work).

This does feel like something the AS should handle itself IMO (each IDE shouldn't have to work around it), but it didn't seem to (henc

[2017-03-31 17:12] devoncarew commented on #275
I as a little over-careful of how I sent in analysis roots in Atom. The analysis server definitely handles the multiple-sub-projects-in-a-directory thing. I'm not sure of the exact issue but it should be possible to get the same working in VSCode.

[2017-03-31 17:17] DanTup commented on #275
Hmmm; then I wonder why it didn't work here. I wonder @bwilkerson might have an idea? Setting the analysis root to the Flutter repo caused code below `packages/flutter/` not to resolve packages properly (at `packages/flutter/.packages` it says that `flutter` maps to `lib`, but the files inside there referencing `package:flutter/xxx.dart` didn't resolve and got squiggles). (Original comment in this

[2017-03-31 17:57] bwilkerson commented on #275
I don't know. I would have expected that server would have looked in the subdirectories, found the pubspec.yaml files, and created new context roots in each of those locations.

I just tried this in IntelliJ. I had several errors until I got everything update and configured correctly. It might not all be necessary, but I executed
[code]
After that, everything is analyzing cleanly.

[2017-03-31 18:01] DanTup commented on #275
Hmm, strange. Ok, if it seems like the analyzer should handle this, I'm gonna re-open this as a task to migrate back to one-analysis-root and debug further in the process (it'd fix some niggles this change introduced too).

I'll do some digging through the logs/instrumentation file first, but might shout if I get stuck!

[2017-04-10 04:18] imoby opened #279 "Support for path intellisense"
Looking to see if theres a chance you can help incorporate path intellisense to automatically suggest paths when writing imports.

[2017-04-10 06:18] DanTup commented on #279
This should already work; can you provide a small repro showing the issue for me look into?

[2017-04-19 15:09] vsmenon opened #280 "Analysis not working in sub-directory of dart SDK"
I'm on a Mac (Sierra 10.12.4) with VS Code Version 1.11.2 (1.11.2), Dart Code 1.1.0, and Dart SDK 1.23.0-dev.11.10.

I used to be able to open VC Code on a sub-directory of the sdk (e.g., pkg/dev_compiler) and have working analysis, code completion, etc.

This doesn't work since updating to the latest Dart Code extension.  I've tried downgrading VS Code and/or the SDK - that doesn't seem to make a

[2017-04-19 16:22] vsmenon commented on #280
It appears to be related to the search added here:

https://github.com/Dart-Code/Dart-Code/commit/c1b3a2a429e15f9395032757650f0c75e81dc9d2#diff-45327f86d4438556066de133327f4ca2R191

[2017-04-19 16:28] vsmenon commented on #280
Ahh, changing this line to remove the `pubspec.yaml` check gets it working for me:

https://github.com/Dart-Code/Dart-Code/commit/c1b3a2a429e15f9395032757650f0c75e81dc9d2#diff-45327f86d4438556066de133327f4ca2R208

[2017-04-19 16:44] vsmenon commented on #280
Adding a dummy `pubspec.yaml` to `pkg/dev_compiler` also works.  We don't use one right now as we rely on the top-level SDK `.packages` file instead.

Still, maybe that check is not really necessary?  If `rootPaths` is empty, it seems as analysis is silently disabled.

[2017-04-19 16:56] DanTup commented on #280
The change in the latest release was to fix things not working correctly in the Flutter repo (see the original bug report at the top of #275). However there were subsequently comments suggesting that the analyser should handle this internally and I shouldn't need all this code so my plan is to revert and investigate further (I hoped to have done it by now, but I'm struggling to find time lately!).

[2017-04-19 17:11] vsmenon commented on #280
A dummy `pubspec.yaml` seems to be working fine for me.

Not sure about Atom - I had some problems last time I tried it (which was a while ago).  Maybe it was this.  :-)

[2017-04-21 09:03] DanTup commented on #275
I've reverted the changes originally made to fix this because it introduced #280 and based on comments above it shouldn't be necessary. I've opened https://github.com/dart-lang/sdk/issues/29414 with a simple repro for investigation by the analyzer team to see whether this is a bug there or if there's something Dart Code is doing incorrectly.

[2017-04-21 09:04] DanTup commented on #280
I've reverted the change made to fix #275 and raised it at https://github.com/dart-lang/sdk/issues/29414 with a small repro.

I'll hold off pushing any update out until I've had a response (since if it's a Dart Code issue, I can probably fix both in the same release rather than fix this and reintroduce the other).

[2017-04-21 09:12] DanTup commented on #180
This was fixed at some point in Dart; not sure when. Doesn't happen now.

[2017-04-21 09:12] #180 closed

[2017-04-21 09:16] DanTup commented on #137
Can't repro in latest SDK.

[2017-04-21 09:16] #137 closed

[2017-04-21 11:12] DanTup opened #281 "Adopt configurationSnippets in debug adapter"
See https://github.com/Microsoft/vscode/issues/16937. We can add snippets to make it easier for people to set up launch.json (this will be more useful when there are multiple options, like CLI + web).

[2017-04-21 15:45] DanTup commented on #275
@abarth This seems to be caused by naming the folder `packages` and it sounds like the analyzer might not be updated to handle this for a while.

Is renaming your folder a possibility? I'd like to revert this workaround (as well as feeling clumsy, it introduced another issue) but if renaming your folder isn't reasonable, I can try and find another workaround that fixes both issues until the analyz

[2017-04-21 15:54] abarth commented on #275
We've discussed renaming that directory before and decided not to do it.  "packages" is the most accurate name (because the directory contains packages) and there are a number of other things that depend on the name (e.g., `pub` knows about it).

My guess is that the best resolution is for the analyzer to remove its special casing of directories named "packages".  As far as I know, there's no long

[2017-04-21 16:01] DanTup commented on #275
Yeah, I think we all agree on that; but I think it might take a while.

If the analyzer stops special-casing this folder, wouldn't it make sense for `pub` to do the same? Aren't they both based on the old behaviour?

[2017-04-21 16:10] abarth commented on #275
I've asked in the other bug what the complexity is.  If it's not too hard, I can try fixing the analyzer myself.

`pub` knows about the directory to implement the `sdk` source for Flutter.  When you depend on `package:flutter`, you get it from `source: sdk` rather than from pub.dartlang.org.  `pub` knows where to find your `flutter.git` image and knows how to find the packages inside of it.

We co

[2017-04-21 16:29] DanTup commented on #275
I'd rather not break anyone using Dart Code so I'll see if I can come up with something to handle both (maybe I'll put this behaviour behind a hidden setting you can enable until the analyzer is changed, or detect when something is inside a `packages` folder).

[2017-04-21 16:31] DanTup commented on #280
Probably won't get chance to look at this till next Friday now, but I'm going to look at if I can put the workaround that caused this bug behind a flag (or detect when it's needed) until the analyzer is updated to handle it correctly.

[2017-04-21 17:06] devoncarew commented on #275
Just for some context, the analyzer is implementing the spec for `.packages` files, which has info about how to handle `packages` folders (whether they're symlinks created by pub or regular directories created by users). So I think the options here would be to adjust the spec, or to put a one-off patch into the analysis server to special case the `packages` folder in the flutter repo.

[2017-04-21 17:07] devoncarew commented on #275
I _think_ this is the right link for the spec: https://github.com/dart-lang/dart_enhancement_proposals/blob/master/Accepted/0005%20-%20Package%20Specification/DEP-pkgspec.md

[2017-04-26 06:25] abhi18av opened #282 "Integration of Stagehand"
Hey Dart-code team,

This is an awesome plugin!

Is there a way to initiate a new project from within the VsCode environment? If not, I would suggest that Stagehand would prove to be of great help :)

[2017-04-26 17:36] DanTup commented on #282
Glad you like it! :-)

Unfortunately VS Code doesn't provide functionality for project templates:

It's not something Dart Code can add (VS Code extensions are locked down to very specific APIs).

There is a terminal available inside VS Code however, which you could use to execute Stagehand.

That said, if this every changes and VS Code gets some API that would allow us to integrate this, I'd be h

[2017-04-26 22:19] xster opened #283 "Searching/listing all symbols is very slow"
Maybe add some form of caching to the analyzer query (maybe trigger on file saves or something) to speed up the symbol lookups.

[2017-04-27 20:39] DanTup commented on #283
Are you able to give more details/explicit examples of what seems to be slow? How big is the project? By "symbol lookups" do you mean "Go to definition"? Are you invoking this on from within files in your own project or outside of the opened workspace folder (eg. SDK files)? Which classes are you invoking it for (again, classes in your own project or in the SDK?).

[2017-04-27 20:44] xster commented on #283
Hi,

I'm using it on the Flutter project https://github.com/flutter/flutter
I'm using workbench.action.showAllSymbols with the repo open as the workspace. May be worth excluding gitignored files in the workspace.

Though workbench.action.gotoSymbol takes a while on small projects as well.

[2017-04-28 09:33] DanTup opened #284 "Remove "package" folder package workaround for AS >= 1.20.1"
Requires https://github.com/dart-lang/sdk/issues/29414 to be fixed.
See also #275

[2017-04-28 09:34] DanTup commented on #275
Ok, I've made changes to the workaround I added to solve this. Since I couldn't come up with a great way of knowing whether the `packages` folder is an old `--packages-dir`-type folder I just made it trigger the workaround based on a file I can see exists in the flutter repo (`packages/.gitignore`). This is rather disgusting, but it should make the flutter repo useable.

Without that file, we'll j

[2017-04-28 09:46] #275 closed

[2017-04-28 09:46] #280 closed

[2017-04-28 09:48] DanTup commented on #275
I've uploaded a dev release here if you'd like to test this is working as expected before I push a release out:

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.2.0-dev-1

[2017-04-28 10:04] DanTup commented on #283
Thanks for the info!

@bwilkerson Currently we're sending searches for `.*.*` and it's taking a long time (40 secs) for the results:

[code]

I guess I might be using findMemberDeclarations wrong since it returned no results, but am I using findTopLevelDeclerations wrong or is it expected that it could be this slow?

I could add some caching into Dart Code but I'd have to invalidate it so frequent

[2017-04-28 15:19] bwilkerson commented on #283
No, we haven't added any new search APIs yet. Having a single request could potentially be faster because we'd only be searching each compilation unit one time rather than twice, but we'd have to do some measurements to know for sure.

We should look into the performance of the existing APIs, but adding a new API probably won't happen for a while. How big is the code base being searched? (One meas

[2017-04-28 15:47] DanTup commented on #283
Er, looks like there's about 75MB of JSON being returned from `findTopLevelDeclarations`...

I wonder if something is going wrong, let me dig a little more and get some better info!

[2017-04-28 16:00] DanTup commented on #283
Ok, I tried to run this on a *tiny* project and it was still very slow and produced a 1.5MB response. I looked at the results, and it includes things from the SDK:

[code]

I wouldn't have expected this (also, the name hasn't come through?), I only expected things from the users project.

@bwilkerson Do you know exactly where `findTopLevelDeclarations` should be searching? Should it include SDK fi

[2017-04-28 16:05] DanTup commented on #283
@bwilkerson I just tested with an older SDK, and it returns only a tiny number of items. I think the behaviour has changed (since 1.19), I'm not sure if it was intended. Shall I raise an issue at https://github.com/dart-lang/sdk ?

[2017-04-28 16:14] bwilkerson commented on #283
Yes, please. It might be related to the change to the new analysis driver. And thanks for digging into this!

[2017-04-28 16:24] DanTup commented on #283
@bwilkerson Done at https://github.com/dart-lang/sdk/issues/29510. Let me know if you need any more info!

[2017-05-02 14:14] Skylled opened #285 "Parenthesis completion quirk"
Demonstration:

![](https://zippy.gfycat.com/GleefulSlightCommongonolek.gif)

As far as I can tell, VS Code is automatically matching my opening parenthesis, and Dart-Code is matching the pattern of foo().

Normally, when pressing return, I'm trying to spread my function or class constructor arguments across a few lines, where current behavior discourages that.

[2017-05-02 16:36] DanTup commented on #285
VS Code should only do what Dart Code tells it to (either (via the config)[https://github.com/Dart-Code/Dart-Code/blob/master/syntaxes/dart-configuration.json] or the completion). It's possible these two are overlapping though I wouldn't have expected the completion to insert a closing paren.

I'm not currently at a PC but I'll try and take a look this weekend. In case I can't repro, do you have a

[2017-05-02 16:54] Skylled commented on #285
I should've checked that before filing, instead of assuming. I just disabled all my extensions and opened a new VS Code window, and VS Code auto-completes any parenthesis I open, even in a .txt file. I don't remember changing any settings to do that sort of thing. About the only things I've done to my VS Code is make it look nice and add your (awesome) extension.

[2017-05-02 17:30] DanTup commented on #285
Even if it's caused by a setting you've enabled, I'd like to see if I can stop it. It's even possible it happens by default - VS Code has this crazy behaviour of completing any old crap from a dictionary (see https://github.com/Microsoft/vscode/issues/10099) which I have turned off, so I wouldn't have noticed if that was causing it.

See if you can spot what's causing it (and whether setting `edit

[2017-05-02 17:45] Skylled commented on #285
Okay, I fixed this for my own personal taste, by setting
`"editor.acceptSuggestionOnEnter": false`
Which lets me put a newline in the brackets without triggering autocomplete.
(My primary use-case is separating parameters with newlines.)

But the option you're talking about is
`"editor.autoClosingBrackets": false`
Which is default true.

[2017-05-02 17:47] DanTup commented on #285
Thanks; I'll try and dig around when I get some time and see if I can make this not happen for people regardless of settings.

[2017-05-02 17:58] DanTup commented on #285
Actually, this repros with my normal settings so I consider this a bug in the completion!

[2017-05-02 18:12] DanTup commented on #285
Some info for me when I next get time to look at this...

The completion data coming back is below - it comes back as "foo" with a `replacementLength` of 3. The open paren being typed is then causing the completion list to be filtered by VS Code (it is *not* sending another request for completions). This inserts the closing `)` at the end, which then hangs around after our completion inserts.

At

[2017-05-05 09:55] DanTup commented on #285
The repro can be reduced to just this:

[code]

Typing the opening parent and then invoking the completion item will result in a duplicate close paren. I believe this should be fixed in Code, so I've raised https://github.com/Microsoft/vscode/issues/26012 with the details to see what they think.

[2017-05-05 11:09] DanTup commented on #280
v1.2.0 has been published which reverts the workaround made for the Flutter repo (unless `packages\.gitignore` is detected) so this should now be resolved correctly.

Once the Analyzer supports folders named `packages` that aren't from pub, I'll remove the workaround entirely.

Let me know if this fixes your issue properly!

[2017-05-05 11:10] DanTup commented on #275
v1.2.0 has been published which reverts the workaround made for this issue unless a `packages\.gitignore` file is detected. This should fix the Flutter repo issue until the Analyzer is updated (as long as you keep that file in the packages folder!).

[2017-05-05 13:02] vsmenon commented on #280
@DanTup - yes!  Analysis works without the dummy `pubspec.yaml` now.  Thanks!

[2017-05-06 16:01] sethladd opened #286 "Dart SDK should be used from local cache folder for Flutter projects"
Flutter bundles its own Dart SDK. When I open a Flutter project, I see this error:

![capture](https://cloud.githubusercontent.com/assets/5479/25773873/3574b046-323a-11e7-8af4-ff26049daa4d.PNG)

Ideally:

* VS Code should detect I've opened a Flutter project (probably from pubspec.yaml containing "sdk: flutter"), and then find the Dart SDK that is downloaded by Flutter (inside of FLUTTER_HOME\bin\

[2017-05-06 16:21] DanTup commented on #286
Just to be clear, the flutter-provided SDK should be used for the analysis server too? (I presume so, but since the SDK is used for a couple of things I want to be sure before changing anything!).

Is `FLUTTER_HOME` here a special folder (environment variable?) or do you just mean the workspace root?

The less flutter-specific stuff in Dart Code, the less there is to break/need maintaining. If thi

[2017-05-06 16:23] DanTup commented on #286
Also - currently you can set any SDK path in the VS Code settings (eg. to test a pre-release version that isn't on your path). How should this behave here? Should the flutter-downloaded version always be used over anything else (this means you'd need to replace that folder if you wanted to test a different version, but I presume if the flutter-provided SDK is not the same as a release version, the

[2017-05-06 16:29] DanTup commented on #286
Also - can you confirm what the correct steps are if a user opened a project that has `sdk: flutter` but has never set up flutter? (eg. if I clone a Flutter project from GitHub)? Presumably they have no flutter commands yet, so how do they get started?

[2017-05-12 14:48] Skylled opened #287 "Dart-Code could be able to use flutter packages get instead of pub get"
There's a problem currently between Dart and Flutter, and no one seems to really know whose problem it is, so they're suggesting passing it to the editors. See: flutter/flutter#6284

When a project has `flutter: sdk: flutter` in its pubspec.yaml, `pub get` fails with exit code 69.

My plan of attack for this is to follow the template of f7513f95ef72acf49c8eefae58a077aaf3b177bd and make a new `dart

[2017-05-12 14:52] DanTup commented on #287
Wouldn't it be better to detect this from the presence of `flutter: sdk: flutter` rather than requiring the user to set an option?

[2017-05-12 14:54] DanTup commented on #287
#286 is related - the Dart SDK path should be changed for Flutter projects. They should probably both use the same mechanism for detecting a Flutter project (probably we should also detect if it changes and prompt the user to restart, like changing the SDK path does, so that a clean project which gets turned into a flutter project doesn't fail).

[2017-05-12 16:33] Skylled commented on #287
I'm not so sure that's the problem, as I've set `"dart.sdkPath": "C:/flutter/bin/cache/dart-sdk"` and still run into the issue.

As for detecting the line, I thought about that route, but don't know the first thing about how VS Code & Dart-Code actually work. As far as I can understand, in sdk.ts, you have a hook when saving (presumably any) file that checks an option and checks the filename, with

[2017-05-12 16:43] DanTup commented on #287
Sorry, maybe I confused things. Using that Dart SDK won't resolve this issue (the need to use `flutter` for package restore), it's just an additional problem that needs solving for flutter projects. However we decide to detect flutter packages can be used to solve both of these issues (but they will both need individual fixes based on that detection).

The entry point is [`activate` in `extension.

[2017-05-12 17:02] Skylled commented on #287
I see the possibility of a Flutter project becoming non-Flutter or vice versa as being an extreme edge case, especially considering flutter makes projects into a new folder with a lot of boilerplate. I'll look into doing the rest this afternoon.

[2017-05-12 17:28] DanTup commented on #287
Yeah, sure. However if you're starting from scratch, it's possible your pubspec wouldn't have `sdk: flutter` in it when the extension activated so it might be confusing to the user why things aren't working.

Prompting to reload is fairly trivial to add if the code to detect it exists though. I've been hoping to work on #286 this weekend but it's not going to happen, so any progress you make on th

[2017-05-13 09:40] #286 closed

[2017-05-13 10:02] #287 closed

[2017-05-13 11:57] DanTup commented on #286
@sethladd Can you advise of the difference between `FLUTTER_HOME` and `FLUTTER_ROOT`? You mentioned the first, but [this doc](https://flutter.io/upgrading/) references the second.

[2017-05-13 13:28] #61 closed

[2017-05-13 15:27] DanTup opened #291 "Drop FLUTTER_HOME and only use FLUTTER_ROOT"

[2017-05-13 16:01] Skylled opened #292 "Flutter debugging support"
This is the next logical step for Flutter support, and possibly the hardest.
Bare minimum to satisfy:
- [ ] F5 hotkey support
- [ ] Hot reload
- [ ] Refresh

Reload and refresh are impossible if you just wire up a command, because channels don't accept input (right?)

Additional possibilities (to mimic the Flutter IntelliJ plugin):
- [ ] Device selection?
- [ ] Breakpoints
- [ ] Observatory shortc

[2017-05-13 16:17] DanTup commented on #292
I'm not familiar enough with Flutter to have any advice here yet :( If I can get some time next weekend, I'll see if I can get Hello World running on my device so I have a better idea of how it hangs together.

Not sure what you mean here.. If we can run something in the background then commands can interact with it (same way the analyzer runs in BG and we send commands to it). When you deploy/run

[2017-05-15 09:57] Aetet commented on #269
Currently I reproduce this issue. It occurs after switch git branch and analyzer not reanalyze new files. And you need reanalyze it manually.

[2017-05-15 19:06] skybrian opened #293 "message is cut off in error dialog: "Could not find a Dart SDK...""
With the VS Code window open to a reasonable width, I see:

[code]

Maybe add some newlines? (Does the error dialog support multiple lines?)

VS Code 1.12.1 Linux.

[2017-05-15 19:14] skybrian opened #294 "Detect flutter SDK from .packages file"
FYI, for a newly-generated Flutter project (via `flutter create`), the Dart SDK's location is implicitly recorded in this file:

[code]

However, parsing the file might not be all that easy to do. Maybe flutter could generate another file for VS Code to use?

@devoncarew

[2017-05-15 19:19] DanTup commented on #294
Isn't that folder specific to the IDEA IDE? If so, why does `flutter create` create it?

How common is it for people to have the Flutter SDK set in the `FLUTTER_ROOT` env variable? If that's set, Dart Code will find it automatically.

I'll be honest, I'm really unfamiliar with the flutter workflow.. When I get some time I hope to sit down and create/deploy Hello World so that I understand it a lit

[2017-05-15 19:21] DanTup commented on #294
Also; if the flutter SDK is in `PATH` we should also find it?

[2017-05-15 19:27] DanTup commented on #294
Also, I can't find any code referencing `Dart_SDK.xml` [in the repo](https://github.com/flutter/flutter/search?utf8=%E2%9C%93&q=%22Dart_SDK.xml%22&type=). Do you know where the code for this is? (I scanned through the `flutter create` command code but couldn't see anything like this either).

[2017-05-15 19:29] DanTup commented on #293
You need an ultrawide screen! ;)

I'm not sure about newlines, but if not I can reword it. I do have a 21:9 monitor so probably wouldn't have noticed - I'll try to remember this when writing other errors/warnings in future!

[2017-05-15 19:33] DanTup commented on #269
Thanks for the info; I'll see if I can repro. How are you changing git branches - via command line or using something like GitHub desktop?

[2017-05-15 19:43] DanTup opened #295 "Revert yaml language changes and use resourceFilename to restrict commands"
#60 can now be solved by using `resourceFilename` in the `when` clause which will return YAML syntax highlighting/etc. back into pubspec/analysisoptions files.

[2017-05-15 19:53] skybrian commented on #294
Yes, the files in the `.idea` directory are for IDEA. They are generated because the Flutter team and the Flutter plugin team are working together. (I'm working on the Flutter plugin.)

I don't think there's any reason why we can't do something for VS Code too; maybe a simple JSON file with a "dart_sdk" key would be more IDE-independent?

The templates for `flutter create` are at:
 at https://gith

[2017-05-15 21:42] sethladd commented on #286
Sorry, not sure what the canonical env variable is. I don't think I even need to set a env variable when installing Flutter.

[2017-05-15 21:43] sethladd commented on #286
If you open a flutter project (sdk: flutter), but don't have Flutter installed, you can direct them to https://flutter.io/setup/

[2017-05-15 21:49] Skylled commented on #292
You use `flutter run` from the CLI, and it builds the app for the device, starts it, and displays all the logs. The process does keep running.
A hot refresh is done by pressing `r` and refresh is done by `shift-r`.

I'll look into VS Code's debugger system soon.

If it's as simple as you say, I might be able to rig something basic up quickly.

[2017-05-15 22:07] DanTup commented on #294
I have no real preference; as long as I can parse it and it's stable, I could read it. I still think it's weird creating an `.idea` folder though - if I'm a flutter use that doesn't use IDEA, why should I have its folder on my disk? :/ It would be better if `flutter create` didn't create *any* IDE-specific stuff?

I already added this in the current release; if it can find `flutter` or `flutter.ba

[2017-05-15 22:08] DanTup commented on #286
@sethladd The update I pushed out over the weekend should detect flutter from `FLUTTER_ROOT`, `PATH` or at `.\bin\`. I think this handles most cases though if none match the user gets a message about the missing SDK (I'll add a link to that URL in for the next version though).

[2017-05-15 22:09] DanTup opened #296 "Add flutter download link to missing SDK message"
See https://github.com/Dart-Code/Dart-Code/issues/286#issuecomment-301613759

[2017-05-15 22:41] skybrian commented on #294
I use a bash alias.

[code]

I guess that's lower priority since it's off the beaten path. The official instructions say to add `flutter/bin` to your path. I don't do that because I use more than one flutter SDK for testing and I want to make sure we don't accidentally start depending on the user's PATH.

I created a bug to discuss config file situation further: https://github.com/flutter/flutter/

[2017-05-16 02:51] sethladd commented on #286
Thanks! I'll give it a shot :)

As always, really appreciate it.

[2017-05-16 05:55] DanTup commented on #294
I don't think it'll be easy to cater for that :(

I'm not familiar with Linux, but if one of your scripts just called `flutter` with no path, I presume it wouldn't execute your alias and therefore fail? (If so, I think I understand!).

Any reason you don't set `FLUTTER_ROOT`? It still lets you catch if you depend on `PATH` but also gives a way for tooling to know where the SDK is without having a

[2017-05-16 06:37] skybrian commented on #294
Not an issue for me; I can get it working. At first I didn't realize this was a corner case.

[2017-05-16 07:21] DanTup commented on #294
If the idea file is easy for me to parse (I haven't seen it yet) I think it's be worth me just reading as-is. Anything I can to make using Dart Code easier is worth doing. Though it sounds like it points at the Dart SDK inside the Flutter SDK, not the Flutter SDK. Can I make assumptions about the `flutter` command being available a few levels up?

[2017-05-16 12:15] Aetet commented on #269
Command line

[2017-05-16 17:29] skybrian commented on #294
Yes, we do the same in the IDEA plugin.

But the tricky bit is that IDEA sometimes stores "path variables" in the XML. See:
https://www.jetbrains.com/help/idea/2017.1/path-variables-2.html

It might not be possible to calculate the Dart SDK's path in all cases.

[2017-05-16 17:35] DanTup commented on #294
I guess I can try to read it (in the case where it was created by `flutter create` it will have a path without variables) and just ignore it if it's nonsense. The more places I can look, the less likely we'll give the user an error instead of just working.

Btw; doesn't using this file have the same issue as if the path was in pubspec.yaml - it won't work across machines, so if this file gets comm

[2017-05-16 21:05] DanTup opened #297 "Detect when pub get/flutter packages get needs running and prompt the user to run"

[2017-05-17 00:04] sethladd opened #298 "Add support for code assists (eg. "wrap in widget")"
I'm guessing that "wrap in widget" comes from analysis service. If so, did we expose that in the VS Code plugin? If not, is that something that's easy to do?

I'd love to right-click on a widget constructor in my build() and select "wrap in widget".

Thanks!

[2017-05-17 06:25] DanTup commented on #298
We currently expose code fixes, but I'm guessing this is a refactor. I think we don't support them yet but I can't remember why (or find any info on it). I'll take a look when I can and see what I can find.

[2017-05-17 15:20] sethladd commented on #298
Thanks!

On Tue, May 16, 2017, 11:25 PM Danny Tuppeny <notifications@github.com>
wrote:

[2017-05-17 16:58] DanTup commented on #298
Not sure I didn't implement this before; seems it's done with the CodeActionsProvider which [we already have](https://github.com/Dart-Code/Dart-Code/blob/master/src/providers/dart_code_action_provider.ts) for fixes. We just need to request refactors at the same time as fixes and combine the results; should be relatively easy.

[2017-05-17 17:01] DanTup commented on #294
Change to this (from https://github.com/flutter/flutter/issues/10096#issuecomment-301890827):

- Current folder (eg. check for `./bin/flutter(.bat)` and `./bin/cache/dart-sdk/bin/dart(.bat)`)
- `.packages` file; `flutter:` or `sky_engine:`
- `.idea/libraries/Dart_SDK.xml` (if parseable)
- `FLUTTER_ROOT` env variable
- All folders in `PATH`, in order

[2017-05-17 17:04] DanTup commented on #102
Based on suggestions that Dart classes shouldn't be in their own file and that this would require support from the Dart Analyzer, I don't believe it will ever be implementable. Sorry!

[2017-05-17 17:04] #102 closed

[2017-05-17 17:04] DanTup commented on #103
Based on suggestions that Dart classes shouldn't be in their own file and that this would require support from the Dart Analyzer, I don't believe it will ever be implementable. Sorry!

[2017-05-17 17:04] #103 closed

[2017-05-17 17:11] DanTup commented on #107
The API in Code is only available in Insiders and has no shipped yet.

[2017-05-17 17:13] DanTup commented on #279
Please shout if you believe there's still an issue here with the latest version/SDK with an example.

[2017-05-17 17:13] #279 closed

[2017-05-17 17:15] DanTup commented on #272
I don't think there's anything to do here; but please comment back if you think there is.

[2017-05-17 17:15] #272 closed

[2017-05-17 17:15] DanTup commented on #249
I can't repro this, please comment back if you can.

[2017-05-17 17:15] #249 closed

[2017-05-17 17:17] DanTup commented on #239
Probably can be implemented in Code Fix Provider.

[2017-05-17 17:18] DanTup commented on #223
Please shout if you can still repro this and confirm SDK/Dart Code versions.

[2017-05-17 17:18] #223 closed

[2017-05-17 17:57] sethladd commented on #298
Nice. Thanks for checking

On Wed, May 17, 2017, 9:59 AM Danny Tuppeny <notifications@github.com>
wrote:

[2017-05-17 23:35] xster opened #299 "Code completion doesn't update during completion of arguments"
given a constructor `A(this.b)` where b is of type B, typing  `A(b:` via autocomplete currently gives something like `A(b: b` where the second b is highlighted. Would be nice for the autocomplete dropdown to still be open and show either
1. instances of B that are accessible in the current scope and
2. an autocompletable option to paste in `new B(...` directly (or list literals or wtv)

[2017-05-18 00:33] xster opened #300 "Reformat function call to one argument per line"
Consider function call:
[code]
offer a simple way to reformat it into
[code]

[2017-05-18 16:42] DanTup commented on #300
Unfortunately Dart Code doesn't directly parse Dart Code so in order to achieve this it would need to be implemented in the Dart Analyzer. You could raise this at https://github.com/dart-lang/sdk, but since the only formatting from the analyzer is the equivalent of `dartfmt` I'm not sure it's something they'd consider implementing.

I guess you already know that `Ctrl+Alt+F` will reformat, and may

[2017-05-18 16:44] DanTup commented on #299
I don't have much control over this (Dart Code doesn't parse Dart itself, it relies on the Dart Analyzer from the SDK) so I don't think *2* will be possible, but I would've expected *1* to already work. I'll dig into it when next working on this.

[2017-05-18 18:55] DanTup opened #301 "Completion items should be sorted by relevance"
We're not currently sorting so they appear alphabetical.

![Sorting](https://cloud.githubusercontent.com/assets/1078012/26218683/cdec610c-3c03-11e7-8f5b-30adefcf31d8.png)

[2017-05-18 18:58] #301 closed

[2017-05-18 18:58] DanTup commented on #301
![Sorting fixed](https://cloud.githubusercontent.com/assets/1078012/26218847/66d22e9c-3c04-11e7-9199-3f5d32f894f6.png)

[2017-05-18 19:04] DanTup commented on #299
Ok, I think *1* is a combination of two issues:

1. Completion items aren't sorted, so even when the correct list shows, `b` is way down the list. I've corrected this in #301
2. Code doesn't re-request completion when typing, so we don't update the list

I'll use this case for *2* since I think *2* in the original report is unfixable here and should be raised at https://github.com/dart-lang/sdk

#

[2017-05-18 19:15] DanTup opened #302 "Code completion doesn't ignore selected text"
Given the following code:

[code]

If the cursor is in front of the value `b` in the `A` constructor call and you invoke completion, you get the variable `c` in the results. However, if the value `b` is *selected* and you invoke it, then `c` is not. IMO the selected text should not filter the completion items, since it's going to be replaced (however if the value was not selected but the cursor wa

[2017-05-18 19:15] #299 closed

[2017-05-18 19:17] DanTup commented on #299
Ok, this should work better now; the completion list will be refreshed when typing more characters (this includes `(` and spaces, so it'll trigger much more often and should be much more useful). It'll be in the next release.

However, there's still on minor issue which I've raised #302 for, which I suspect will either be a VS Code or Dart change. I'll do some testing and raise a request for which

[2017-05-18 20:28] #298 closed

[2017-05-18 20:29] DanTup commented on #298
@sethladd Assists (generally, not just this one) are supported for the next version (probably released tomorrow):

![Widget assist](https://cloud.githubusercontent.com/assets/1078012/26222177/f040bffc-3c10-11e7-86c1-6e52df855d9f.png)

However, there seems to be something wrong here - I don't know how this is supposed to work, but it seems to be including `widget` in lowercase so that it doesn't co

[2017-05-18 20:51] DanTup opened #303 "Cursor position should be maintained across fixes/assists"

[2017-05-18 20:51] #303 closed

[2017-05-18 20:52] #291 closed

[2017-05-18 20:56] #295 closed

[2017-05-18 20:59] #296 closed

[2017-05-18 21:00] DanTup commented on #293
This message was simplified as part of #296.

[2017-05-18 21:00] #293 closed

[2017-05-19 02:05] sethladd commented on #298
Awesome, thank you!

re: widget, I think that's a placeholder. It's meant to be replaced by the developer.

How do I trigger the assist? Right-click?

Love your support. THANK YOU!

[2017-05-19 11:08] #294 closed

[2017-05-19 11:09] DanTup commented on #297
Need to figure out the best logic for this - if we assume a missing `.packages` file, we might trigger incorrectly for multi-project folders and/or people using `--packages-dir`.

[2017-05-19 11:34] DanTup commented on #299
@xster I've pushed a couple of changes out in 1.4. Please check if it seems better, though be aware #302 is not fixed yet.

[2017-05-19 11:36] DanTup commented on #298
@sethladd

Gotcha, makes sense! It would be good if the analyzer returned it as a selection range so we could pre-select it for the user to just type over. It'd be a breaking API change though (currently we get back a `selection` that is just a single offset, not a range).. think it's worth me raising?

Update to v1.4.0 and you'll get lightbulbs in the gutter when your cursor is somewhere with a c

[2017-05-19 11:36] DanTup opened #304 "Implement refactors"
- #542 Convert getter to method
- #543 Convert method to getter
- #544 Extract local variable
- #545 Inline local variable
- #546 Extract method
- #547 Inline method
- #548 Move file
- #549 Sort members

[2017-05-19 13:16] Skylled opened #305 "String interpolation + Map = no highlighting"
I love the way string interpolation is highlighted, it makes my day, but with all the JSON I use (from Firebase), I end up with a lot of maps, which don't play well with the interpolation highlighter.

See gif:
![String Interpolation with Map](https://thumbs.gfycat.com/LikableHappyEarwig-size_restricted.gif)

This is obviously minor. Point me in the right direction and I might be able to take a sw

[2017-05-19 13:29] Skylled commented on #285
Just confirmed that this has been resolved with v1.4

Good job, @DanTup.

[2017-05-19 13:29] #285 closed

[2017-05-19 13:43] Skylled opened #306 "Flutter lightbulb completions are formatting weird."
![Flutter lightbulbs](https://zippy.gfycat.com/SillyPlushFrillneckedlizard.gif)

The spacing is chaotic, excess new lines where they aren't needed, etc.

I'll tackle this one in a few. Just wanted to document it first.

[2017-05-19 13:58] Skylled commented on #306
Oh wow, are these code assists coming straight from the analyzer?
Looks like it's an analyzer problem, not a Dart-Code problem.

[2017-05-19 14:01] Lisenish commented on #262
@DanTup Looks like this was fixed in 1.4

[2017-05-19 14:36] DanTup commented on #306
Yeah, these do come from the analyzer, though the few I tried didn't seem to do this. Might be worth trying to get the log that comes back when you execute this to see whether the response from the analyzer is bad or something is happening in the Code side.

If you set `dart.analyzerLogFile` to a full path in your settings (you won't get intellisense for it and it'll say it's not valid, but it is)

[2017-05-19 14:37] DanTup commented on #262
Yep, no longer required now we switched back to the built-in YAML support (since I found I could limit the `pub` commands based on filename rather than just language). Thanks!

[2017-05-19 14:37] #262 closed

[2017-05-19 14:40] DanTup commented on #285
Interesting! I think it's a bug in Code but I'm guessing my change to force completion to refresh after you press `(` is causing it to get a new completion list without either paren, which somewhat sidesteps the issue :-)

[2017-05-19 14:42] bwilkerson commented on #306
They're all implemented in analysis server at the moment, so that would be an SDK issue.

@Skylled Are you using Windows, Mac, or Linux? I'm wondering if we might have an issue with the end-of-line character.

[2017-05-19 14:46] DanTup commented on #305
I did have a go at fixing this but was unable to come up with a regex that would work reliably (see https://github.com/Dart-Code/Dart-Code/issues/105#issuecomment-288986721):

[2017-05-19 14:48] DanTup commented on #305
The relevant code if anyone wants to have a go is here:

https://github.com/Dart-Code/Dart-Code/blob/252e73238d096201cc0693f5efd2616f8dbd67ab/syntaxes/dart.json#L292

[2017-05-19 15:14] Skylled commented on #306
@bwilkerson I'm on Windows.
I've already found the [relevant code](https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/lib/src/services/correction/assist_internal.dart) in the sdk, but I'm not confident in the exact changes to be made.

@DanTup The log's relevant line looks like this:
[code]
I'm not sure how much help that is, as the log cuts off after 2000 characters per line.

I'll

[2017-05-19 15:19] DanTup commented on #306
If you find the `logTraffic` function in Dart Code you can increase/remove the truncation while testing (though be aware some of the responses can be HUGE).

I think I can see the problem in the first part of the replacement string though:

[code]

There appear to be spaces between the `\r` and `\n`; I suspect they're causing a newline each.

[2017-05-19 15:24] bwilkerson commented on #306
I agree. The problem is almost certainly the extra space. I don't see, off-hand, where that might be happening, though.

[2017-05-19 15:26] DanTup commented on #306
Nor me; I found what looks like the code for the assist [here](https://github.com/dart-lang/sdk/blob/1040fefdea3d4190a236f1ba95ae0ca21f254899/pkg/analysis_server/lib/src/services/correction/assist_internal.dart#L1760) but it doesn't seem to deal with the formatting/indenting in there.

Do you want an issue raising in sdk for investigation? Any additional info we can gather that'll help?

[2017-05-19 15:30] Skylled commented on #306
Reduced repro to
[code]

with a new log containing
[code]

Same issue. It seems to be an issue between newlines already in the code and the indentation, almost as though an indent is being placed between existing `\r` and `\n`.

[2017-05-19 15:38] DanTup commented on #306
Ah, I guess the indenting is dynamic (the indenting from the assist needs to be increased based on the indent within your code). I guess the code that's rewriting the indents isn't considering two-character newlines for Windows (or they shouldn't be `\r\n` at that point, but are)?

[2017-05-19 15:53] bwilkerson commented on #306
It's likely to be in this [if statement](https://github.com/dart-lang/sdk/blob/1040fefdea3d4190a236f1ba95ae0ca21f254899/pkg/analysis_server/lib/src/services/correction/assist_internal.dart#L1773) where the indent is being replaced.

[2017-05-19 16:15] DanTup commented on #306
Yeah, that looks likely. I think if `eol` is two characters, the `lastIndexOf` will return the first, then `util.getLinePrefix` will only read up to the first (the `\r`) and then the replacements will end up replacing `{whitespace}\r` with `{whitespace}\r{new whitespace}` instead of including the `\n`.

The fix is possibly to change:

[code]

to

[code]

Though the `-1` is weird, so maybe better t

[2017-05-19 17:10] stevemessick commented on #306
Thanks for reporting this problem! I had temporary dementia, apparently, when writing the code. Here's the fix:
[code]

[2017-05-19 17:12] DanTup commented on #306
Yeah, that looks better :) @stevemessick Are you able to commit the fix? I could send a PR with that pasted in but I don't want it to look like I know what I'm doing (and I don't have anything set up to run tests etc.!)

[2017-05-19 17:14] stevemessick commented on #306
In progress:
https://codereview.chromium.org/2892963002/

[2017-05-19 17:14] DanTup commented on #306
Great, thanks! 👍

[2017-05-19 17:15] DanTup commented on #306
Btw, I never got things building from source, but if you can send an analyzer snapshot we could give it a test.

(ofc, if you need to generate the snapshot on Windows, then that probably doesn't help you at all!)

[2017-05-19 17:20] stevemessick commented on #306
I'm working remotely today, with low bandwidth. I'll ask someone at the office for help once the patch is committed.

[2017-05-19 19:46] xster commented on #299
\o/
Trying it now

[2017-05-19 20:46] DanTup commented on #292
This is a dupe of #198. I've had a quick play with this today, I'll add some notes on that case.

[2017-05-19 20:46] #292 closed

[2017-05-19 20:52] DanTup commented on #198
I had a quick go at this tonight; I was able to get some basic debugging working:

![Debugging Flutter](https://cloud.githubusercontent.com/assets/1078012/26266308/b690d78e-3cdc-11e7-8797-7f4576299e9d.jpg)

Haven't pushed any code yet as I didn't get time to tidy it up, but I'll probably get more time next weekend.

Pressing `F5` now runs `flutter run` for flutter projects with the equiv debugging

[2017-05-19 20:54] DanTup commented on #198
Re-reading @devoncarew's comments I realise running `flutter run` might not be the best way.. maybe we should be using [this](https://github.com/flutter/flutter/wiki/The-flutter-daemon-mode). This would give us much more control over what's going on rather than forcing the user to interact with the process in a terminal window.

[2017-05-19 21:24] devoncarew commented on #198
Yup, you'll probably be better off using the daemon mode - it'll give you more explicit control over the launched app.

I don't think you'll need to do terminal input into the process. Since this bug was opened, we've updated flutter run to support the daemon commands directly. Try running with `flutter run --machine`. You'll get events from the running app out as json to stdout, and can send in c

[2017-05-19 21:50] DanTup commented on #198
Yeah, probably don't need the terminal thing if using the daemon (though I'd still like to do it, I don't like that we don't support any app that reads from stdin!). If the daemon is running on the Code side (before a debugging session starts) then probably when a debugging session starts I could send a hot reload (if there are changes) and then the restart (`Shift` + `F5`) should work well.

I ha

[2017-05-19 22:07] Skylled commented on #305
Considering Dart doesn't care what kind of [crazy things](https://dartpad.dartlang.org/ec9c5987c3d7ebf6cc56d36fdd7ee159) you do inside of an interpolated string, would it make sense to reduce the regex to just seek out a `${` with a closing `}`? The analyzer will catch any issues inside of the expression, or if it's not closed properly.

[2017-05-20 01:16] xster opened #307 "Autocomplete on @override"
In a subclass, autocomplete after `@override` should bring up superclass's methods as choices.

[2017-05-20 06:59] DanTup commented on #307
Auto-complete options are provided by the SDK (Dart Code doesn't directly parse Dart) so this would need to be implemented in the analyzer and should be raised at https://github.com/dart-lang/sdk. Thanks!

[2017-05-20 07:01] DanTup commented on #305
Yeah, the problem is making sure that the correct `}` is detecting. I did think it'd be possible (it's just Dart inside Dart!) but because you're actually inside quotes, it's not the same as just parsing Dart, since quotes will be escaped. I did spend some time on it but couldn't make it work :(

Maybe in future VS Code will let us use dynamic highlight info and then we can swap from the regexes t

[2017-05-20 07:18] DanTup commented on #307
Looks like there's already an issue raised for this: https://github.com/dart-lang/sdk/issues/28608

[2017-05-20 12:31] DanTup commented on #198
Had a quick go at wiring up the daemon and added a status bar that shows the name of the connected device (or count, in the case of multiple):

![Flutter](https://cloud.githubusercontent.com/assets/1078012/26275754/1dbe8bd0-3d60-11e7-8022-8eeae871eff5.png)

It was fairly painless (I extracted a lot of the code out of the analyzer service since they're mostly the same) however.. implementing all th

[2017-05-20 17:46] #281 closed

[2017-05-20 18:05] devoncarew commented on #198
Looks great!

Some other helpful code might be here: https://github.com/flutter/flutter-intellij/blob/master/src/io/flutter/sdk/FlutterSdk.java#L128 - those are the flags we pass in during a run. In particular, `--start-paused` lets you set breakpoints before the app starts.

I've code-gen'd from markdown before. This page (https://github.com/flutter/flutter/wiki/The-flutter-daemon-mode) may need

[2017-05-20 18:43] DanTup commented on #198
Yeah, I had that in my debugging prototype (the flag names don't match the Dart VM ones just to be awkward ;-)) though I've started switching to the daemon now so I it'll be a little different.

Btw - Is IntelliJ not using the daemon? Are any other IDEs?

I might take a look once I've got some basics working (easier to code-gen once I have some example classes). Currently some of the stuff (like p

[2017-05-21 01:42] rkirsling opened #308 "Syntax highlighter should allow $ in identifiers."
It appears that the syntax highlighter isn't expecting `$` to occur within identifiers, so for instance, `$return` will have keyword highlighting applied (_while, say, `this$` and `$1$2$` use highlighting for distinguished variables and numeric literals, respectively_).

Stopping this extra highlighting is easy enough by qualifying `\b`s with negative lookaround for `\$`, similar to VSCode's [Java

[2017-05-21 14:47] Skylled commented on #308
Can you show a screenshot of this happening in valid code? I'm curious.

[2017-05-21 15:00] Skylled commented on #305
Okay, so Dart allows a string inside of the `${ }` to use the same quote symbol as the outer string without issue. It seems to me the only character the regex needs to be watchful for are the brackets. The change would at least patch this issue, but I agree, one day the syntax highlighting needs to be re-written.

[2017-05-21 15:51] Skylled commented on #222
Would it be possible to turn `dart.sdkPath` into a map along the lines of:
[code]
Then add a command to switch SDKs and reload?

Same could technically be done for Flutter SDK, if someone wanted to have master branch and alpha branch separately installed, or a local branch.

[2017-05-21 16:03] DanTup commented on #222
My plan (which was formed pre-flutter) was to keep it as a string and just scan all adjacent folders for the dart binary to get the possible SDKs. I have my SDKs all together like this:

[code]

Whenever a new SDK comes out I just rename the old folder and drop the new one in Dart. Currently I also then change my settings path to switch between them.

My plan was to make it so when the user clicks

[2017-05-21 16:11] DanTup commented on #308
I think we took this file from Atom, so @devoncarew might be interested in this too (though admittedly I haven't checked if there are updates there I haven't taken).

If https://github.com/Microsoft/vscode/issues/1967 ever gets implemented, we could switch to using the highlighting provided by the analyzer, but it's not looking likely.

@rkirsling I'll test out the PR when next working on this (mi

[2017-05-21 16:19] DanTup commented on #305
Thanks; I'll take a look at this when next working on it :)

Have you checked it with crud like this?

[code]

[2017-05-21 17:00] Skylled commented on #305
The above example still fails to highlight correctly, for the reason you listed, regex's inability to tell which is the closing bracket. But the change doesn't fail any differently than before.

[The above examples after the change.](https://zippy.gfycat.com/GoodPlushBustard.gif)

[2017-05-21 20:41] rkirsling commented on #308
@Skylled: Here's some of the code that inspired this:
![image](https://cloud.githubusercontent.com/assets/2172590/26287170/4eeea562-3e2a-11e7-92f4-c9fe95ae005a.png)

@DanTup: Having an analyzer like that would be nice indeed!
Either way, no hurry—I debated whether to submit it here or to [dart-atom/dartlang](https://github.com/dart-atom/dartlang/) first, but the maintenance here seemed to be more

[2017-05-21 20:47] devoncarew commented on #198
Both IntelliJ and the older Atom integration are using the daemon. IntelliJ uses the daemon directly for device notifications (and again via `flutter run --machine`).

[2017-05-22 16:42] DanTup commented on #198
Ah, I was confused by it running `flutter run --machine` and not `flutter daemon`. I can't find any info on what this is (either on Google or in this repo), are there any docs? Are they the same? Or does one communicate with the other or something?

[2017-05-22 16:44] DanTup commented on #198
Found [this](https://github.com/flutter/flutter/blob/66ed8de745616d3ebfe5d0d0857e1b8b6837c659/packages/flutter_tools/lib/src/commands/run.dart#L235) but still not completely sure whether this is hosting a daemon or connecting to it or something else!

[2017-05-23 06:04] DanTup commented on #308
I wondered why you'd be naming variables like this; but makes sense now!

Strange that the lowercase/uppercase a/z are different too!

I will test and merge when I get some free time at PC at home. Ta!

[2017-05-23 19:58] devoncarew commented on #198
Yup, that's it. When using `flutter run --machine` you communicate w/ it the same as w/ the daemon. You get an event when the app starts, and you can use that app id to request a hot reload. It is admittedly not well documented :)

IntelliJ makes use of `flutter daemon` for device notification, and `flutter run --machine` for app launching. Same protocol, but different entry-points for the differe

[2017-05-23 20:05] DanTup commented on #198
I'm still kinda confused :D Is `flutter run --machine` just a subset of the daemon? Is there any reason for me to use it vs the daemon? If IntellJ already runs the daemon, why doesn't it use it for launching?

(Sorry for all the questions; just want to make sure I do the best thing and without info I'm kinda blind!)

[2017-05-23 20:08] devoncarew commented on #198
We added daemon mode support to flutter run - and switched IntelliJ over to it - because of some internal use cases around bazel support (using bazel to build flutter apps). We made the external launching code consistent, for fewer code paths to maintain. You can use the normal flutter daemon to launch apps (not `flutter run --machine`), but my sense is that you'll be better off long-term building

[2017-05-23 21:13] DanTup commented on #198
I think I'm even more confused now! ;(

It seems like I need to use `flutter daemon` to get device notifications (I can't call `flutter run --machine` at project load because that will try and run the app). Calling `flutter run --machine` later will result in two flutter processes (which seems to me like it's asking for trouble, esp. given the mention of locking things)?

I had a quick search in h

[2017-05-24 03:55] devoncarew commented on #198
This guy: https://github.com/flutter/flutter-intellij/tree/master/src/io/flutter/run is the best example for an implementation. Sounds like the wiki (https://github.com/flutter/flutter/wiki/The-flutter-daemon-mode) needs to be beefed up a bit for implementers - I'll make a note to add some context and additional docs to it.

This has some repeats of above, but just for clarity:

`flutter daemon` i

[2017-05-24 17:04] DanTup commented on #198
Cool; that really helps :-)

Is it typical for flutter devs to run on multiple devices at the same time? Trying to decide how best to manage devices; I was going to let you select a single device from the status bar as the one to run on, but not sure if it makes more sense to have them toggleable so you can run on multiple? (might make debugging confusing though; hitting multiple breakpoints from

[2017-05-24 18:58] devoncarew commented on #198
Right now, very typical to just run on one device at a time. There's a use case for designers to see the results on more than one device at a time however; or, at least to be able to easily preview what it would look like on different OSes and aspect ratios. So multiple devices might be something to consider for the future; it would introduce a lot of complexities.

[2017-05-25 00:50] yyoon commented on #275
I just hit this issue in our project tree, which also has a directory called `packages` with multiple dart packages in it. As a workaround I added a `.gitignore` file under `packages` directory and it works fine now, but I hope this gets resolved in a better way in the future.

[2017-05-25 17:28] DanTup commented on #275
@yyoon Fixing this properly is work in the Dart SDK. There's a case at https://github.com/dart-lang/sdk/issues/29414 which you may wish to subscribe to. Once that's resolved the `.gitignore` trigger won't be required (and [the workaround will be removed](https://github.com/Dart-Code/Dart-Code/issues/284)).

[2017-05-25 17:29] DanTup commented on #198
Cool; I'll stick with the original idea for now then and we'll deal with multiple devices in the future. Thanks!

[2017-05-25 19:18] DanTup opened #311 "Syntax highlighting colours function names differently when starting with capital"
Not sure how easy this will be to fix, but TypeScript doesn't seem to have this problem. We should be able to identify functions from the parens?

![Colours](https://cloud.githubusercontent.com/assets/1078012/26466587/20aeab38-4187-11e7-9cb1-d858344a1030.png)

[2017-05-25 19:20] #308 closed

[2017-05-25 19:20] DanTup commented on #308
Fixed in 96adc5e033abe36a245e35334a1d42b4889cf5c6.

[2017-05-25 19:21] Skylled commented on #311
Isn't this because capitalization implies a Class name instead of a function?

[2017-05-25 19:28] DanTup commented on #305
I think we can consider this fixed with #310. I think there's still room for improvement, but I'm not sure we'll ever get all the way with the regex; we really need Code to implement https://github.com/Microsoft/vscode/issues/1967 (go vote for support! :-))

[2017-05-25 19:28] #305 closed

[2017-05-25 19:35] DanTup commented on #311
That's the convention; but you don't have to follow it. If we were using the data from the analyzer, I'd expect they would be coloured correctly (based on actual AST, not guesses based on casing) so ideally we should be the same (whether it's reasonable or worthwhile, I don't know.. maybe we should just hope for https://github.com/Microsoft/vscode/issues/1967!)

[2017-05-26 19:27] DanTup commented on #198
@devoncarew After much playing around; I think using `flutter daemon` for running would work much better for me here. Is it reasonable to ask for it to be maintained long-term? I tried to implement using `flutter run` but I think it's a bit weird for a few reasons..

The IDE process is running the daemon and has full access to the UI and the user. If we want to add a button in the toolbar that sen

[2017-05-26 19:29] DanTup commented on #198
Of course there is the possibility of running `flutter run --machine` back in the main process and then doing what my original plan was; but it feels weird to be managing two flutter processes to do very similar things :(

[2017-05-30 14:10] devoncarew commented on #198
Sorry for the delay! We had a long weekend over here :)

Just so we're on the same page:
- flutter run --machine passes all user output to stdout - this should work for you
- the user should not have to send stdin into the flutter run process - it's different from flutter run from the terminal. Are you saying that you can't pass json commands to the flutter run process via stdin?
- you should be a

[2017-05-30 16:35] DanTup commented on #198
@devoncarew Say I want to send a "hot reload" command from a button/command in the IDE - there's no communication (AFAIK) between the main Code instance and the debug adapter (which runs in another instance) once debugging?

If the launch was done from within the main Code process (using the daemon), I could interact and do things like hot reload, and have the debugger just handle the Observatory

[2017-06-01 08:00] devoncarew commented on #198
OK, that sounds familiar - I remember some of the limitations re: sending the debug process info (like initial settings).

Not to bike shed on the implementation on this too much, but have you thought about implementing reload via the 'request restart' property? https://github.com/Microsoft/vscode-debugadapter-node/blob/master/protocol/src/debugProtocol.ts#L309 From reading it, I think that will s

[2017-06-01 16:38] DanTup commented on #198
I'm available in about an hour (for around an hour or so) though tied up tomorrow evening and all weekend with various things (otherwise, I should have some time in evenings next week).

I expect this would work, but I was thinking that there's only one restart event, but there may be multiple events we might want to send (eg. if we want to do a "full restart", we can't do that using this). Now, w

[2017-06-01 17:07] DanTup commented on #198
@devoncarew Ok, managed to find these:

https://github.com/Microsoft/vscode/blob/7c27e9ba0815db59c765aa2ca2719cb0865c9ab3/src/vs/workbench/parts/debug/common/debug.ts#L97

https://github.com/Microsoft/vscode/blob/7c27e9ba0815db59c765aa2ca2719cb0865c9ab3/src/vs/workbench/parts/debug/common/debug.ts#L97

https://github.com/Microsoft/vscode/issues/15656

Looks like we can send custom commands through

[2017-06-01 17:10] devoncarew commented on #198
Sounds great! We will be better off having most tooling integrations (IntelliJ, VSCode) on the same path. Happy to answer any other q's going forward. There will be some trickier areas around preserving breakpoints during a hot reload, and possibly other stuff (definitely q's for after a steel thread :) ).

[2017-06-07 09:34] DanTup opened #312 "Debugger Restart button does not work (throws error)"
Clicking the Restart button doesn't seem to work as expected:

![Restart](https://user-images.githubusercontent.com/1078012/26871995-f08e6ba6-4b6c-11e7-989b-4befe177dbe4.png)

[2017-06-07 09:47] DanTup commented on #312
Not sure if we're doing something wrong or if this is a Code bug. Raised https://github.com/Microsoft/vscode/issues/28175

[2017-06-07 10:40] DanTup commented on #269
I've spent a little while testing this and cannot reproduce. Here's what I did:

1. Created a file `one.dart` and added a function that prints to the console
2. Committed the file to `master`
3. Created a new branch, named `two` and added a new file `two.dart` which `imports` `one.dart` and calls the function
4. Committed the file to `two`
5. Switched back to `master`, reloaded Code and did `Find

[2017-06-07 10:48] DanTup opened #313 "Pausing debugger when not in user-code and then clicking Step Over causes program to terminate"
[code]

If you debug this program and hit the `Pause` button, the program pauses (and shows `Paused on pause` in Code). Clicking the `Step Over` button causes it to terminate, but I'd expect it to resume execution (the code should run forever!).

[2017-06-07 10:56] DanTup commented on #266
@scheglov I've added an option for this, however when testing it I get an error trying to run it:

[code]

Is this just because there's some setup required to run the Analyzer from the SDK repo (like building stuff, or fetching dependencies)? My `thirdparty\pkg` folder just has a single file named `unittest.tar.gz.sha1`.

If you think this would normally work, I'm happy to just push this. It's a h

[2017-06-07 14:39] DanTup commented on #266
I included this in 1.4.1, so if you want to try it you can add something like this to your user settings:

[code]

There were already settings for the below. If there's anything else that would be useful for tracking down bugs (or using VS Code for analyzer dev!), please let me know.

- `dart.analyzerDiagnosticsPort` - passed to analyzer as `--port=`
- `dart.analyzerObservatoryPort` - passed to Da

[2017-06-07 14:39] #266 closed

[2017-06-07 19:17] DanTup commented on #198
I've tidied up what I'd started and pushed to the `flutter` branch (I've removed the `flutter-launch-wip` branch). The basics are working, though there's something wonky with debugging/stepping atm though I'm out of time today. There's a FlutterRun class which builds on the StdIoService that's used for Analyzer+FlutterDaemon, though currently there's a bunch of hacks that need tidying up. I'm gonn

[2017-06-09 10:59] DanTup commented on #312
@devoncarew Could you possibly cast your eye over these changes and see if they look good to you (seems to work fine in my simple testing):

https://github.com/Dart-Code/Dart-Code/compare/support-debugger-restart

The original issue was that when we switched to using sessionStartCommand (15f75c1730d204c8ff825dadb1dfb3f949f800f4) to remove some of the "internal" junk from launch.json I didn't notic

[2017-06-10 08:09] DanTup commented on #312
@devoncarew actually, since MS fixed https://github.com/Microsoft/vscode/issues/28175 I think I'm gonna revert all this. Having Code do the right thing natively seems a better option that all these hacks to avoid the event handlers of the old process interfering with the new one! I'll test it in Insiders when next working on this and if it works, through this away!

[2017-06-10 16:26] DanTup commented on #198
Ok, think we're getting there. Debugger restart is fixed by MS so should be in next Code update. Did a bunch of tidying up and implemented Hot Reload today (it may need to change though, seems less reliable than I thought, so hooking it up to the Restart button in Code might be a bit misleading).

![Hot reload](https://user-images.githubusercontent.com/1078012/27004502-f7c16544-4e01-11e7-87da-96e0

[2017-06-10 16:27] DanTup commented on #198
@devoncarew Would it be a silly thing to do to send a hot reload on every file save? :D

[2017-06-10 16:59] Skylled commented on #198
I know the Corona SDK simulator runs like that. Seems like a decent feature, but definitely one that should be able to be optioned out.

[2017-06-10 17:16] DanTup commented on #198
Seems that hitting Restart in Code (Ctrl+Shit+F5) saves all files anyway, so maybe not worthwhile - if the user wants a one-button-save-and-hot-reload, they already have one.

[2017-06-10 17:40] DanTup opened #314 "Add Code-Lens support for tests"
In the latest PoSh extension, they use Code Lens to add a `Run Tests`/`Debug Tests`:

https://github.com/PowerShell/vscode-powershell/releases/tag/v1.3.0

I wonder whether we have enough information to do this? (and if not, maybe an analyzer extension could do it when the API is finished?)

[2017-06-11 13:14] DanTup commented on #198
Ok, device selection works correctly now. If there are multiple devices connected you can click the device name in the status bar to switch between devices. When new devices are connected, they're set as the active device by default.

![Multiple devices connected](https://user-images.githubusercontent.com/1078012/27011275-2d21d652-4eb0-11e7-876a-a18ede28bfcd.png)

![Select a device](https://user-i

[2017-06-11 15:10] DanTup commented on #292
It's not finished yet; but most of the stuff mentioned here is now implemented on the `flutter` branch as part of #198. Things are are missing:

- `Refresh` - not sure how this differs from `hot reload`?
- `Observatory shortcut` - I'm not all that familiar with the Observatory web app - what value is there in using this directly as a user (over the debugger integration)?

[2017-06-11 15:13] DanTup commented on #292
If `Refresh` meant `Full restart`, I'm hoping to make Dart Code fall back to that automatically if a hot reload fails (see https://github.com/flutter/flutter/issues/10620). If you want to force it, you can hit Stop then re-launch. I don't know if this will work best in practice so I'll be interested in feedback after building a beta version (ofc if you're comfortable running from the source, you'r

[2017-06-12 16:37] devoncarew commented on #312
ah, ok, sgtm, and sorry for the delayed response -

[2017-06-13 17:30] johnbland-wf opened #316 "Completion/Go-to-definition sometimes do not work correctly after changing git branch"
The analyzer can sometimes get stuck in a state where it does not recognize the current code so code completion and cmd+clicking on code do not work anymore.

This is normally seen when switching between different git branches. I cannot accurately provide a repeatable pattern, but it happens once a day or so.

This action would be similar to the [Atom Dartlang](https://github.com/dart-atom/dartlan

[2017-06-13 17:39] johnbland-wf opened #317 "Analyzer high memory consumption, "Too many files open" errors"
You can see the `DanTup.dart` file has two separate processes running at the same time and is chewing up a lot of memory. Not long after running the below `ps aux` I checked Activity Monitor and the process was chewing through 1.9 GB.

There seems to be a memory leak. I believe this causes the problem of "too many files open" in Terminal after using this for a day or so.

[code]

[2017-06-13 17:39] DanTup commented on #316
@johnbland-wf I tend to use the `Reload Window` command for this, since it reinitialised the project. Analyzer crashes are detected and a toast appears to let the user reload the window (as well as report the crash). Given this alternative and that crashes are already handled, I don't know if adding another command is all that worthwhile.

That said, I'd really like to track down the original issu

[2017-06-13 17:42] DanTup commented on #316
(I've renamed this bug to handle the real issue; I think the `Reload Window` command is as reasonable alternative to the request; since restarting the analyzer would be almost as much work as the reload - feel free to disagree if I'm overlooking something!).

[2017-06-13 17:46] johnbland-wf commented on #316
As noted, your `Reload Window` suggestion is basically telling folks "restart to fix the bug" and that may be acceptable for this repo. I'd disagree wholeheartedly, though.

[2017-06-13 17:46] Skylled commented on #316
Would it be unreasonable to hook `Reload Window` into switching branches? Just as a stopgap measure.

[2017-06-13 17:47] DanTup commented on #317
@johnbland-wf I presume you only had one Code project open at this time (so two processes is unexpected)? Did you have anything like a Code crash at all in this period? (is 10:45AM the process start time? Definitely should not be spawning two of these at the same time!)

It seems like there may be two issues here:

1. Dart Code has spawned two copies of the analyzer when it shouldn't
2. The analyz

[2017-06-13 17:49] johnbland-wf commented on #317
Apologies...there were two Code windows opened. I was mostly focused on the memory issue here.

[2017-06-13 17:53] Skylled commented on #317
Would this be a Dart-Code problem or an sdk problem? My Dart analyzer process is sitting at around 400mb of RAM usage after 30 minutes of VS Code being open. Does Atom's dartlang plugin have this issue?

[2017-06-13 17:55] johnbland-wf commented on #316
#269 does look familiar/similar.

[2017-06-13 17:55] DanTup commented on #316
Can you clarify what you mean? AFAIK it's built into Code and should appear in the command palette at all times?

Not at all; I want to fix the bug! But your original request was for a "Restart analyzer" command which (if I understood correctly) is exactly the same - a hack/workaround. My suggestion was an equivalent *that you can use today* while we work on the bug. I am not closing this issue, I

[2017-06-13 18:06] DanTup commented on #317
Thanks for confirming!

I suspect this will be an analyzer issue and need to go to dart-lang/sdk. I'm not very familiar with Observatory, but I believe it could be used to examine the memory by attaching it to the Analyzer process (unfortunately you'd need to relaunch the analyzer with a flag to enable this and then reproduce it). If you think you could do this, I can test it out and type up instr

[2017-06-13 18:07] johnbland-wf commented on #316
Yes, it is in the command palette. I thought you meant the alert that shows when there is a crash (it showed earlier so that was my reference point).

Restart analyzer is fixing an analyzer issue by restarting the thing that has failed. The editor hasn't failed so it isn't the same thing.

As for the files being open or just in the project, it is for both, if I recall correctly. I've seen it for l

[2017-06-13 18:10] johnbland-wf commented on #317
@Skylled, I never saw this issue with Atom's; used it for well over a year. I am at about 400 mb right now as well after restarting the process and VS Code.

@DanTup, the analyzer is kicked off in VS Code so I assume I'd need to add a setting to change it? Either way, let me know and I can do that.

[2017-06-13 18:37] johnbland-wf commented on #317
Annnnnd it is back.

[code]

I'm cleaning up the log file then I'll post it.

[2017-06-13 18:38] johnbland-wf commented on #317
A cleaner view of the memory:

![screen shot 2017-06-13 at 1 38 06 pm](https://user-images.githubusercontent.com/2642946/27098542-8f983c2a-503d-11e7-837e-998e198d624a.png)

[2017-06-13 18:53] johnbland-wf commented on #317
Ok...the log is not revealing enough to paste the entire thing beyond this one bit to help replicate it.

- Nuke all packages: `rm -rf .pub .packages && find . -name packages | xargs rm -rf`
- `pub get --packages-dir` (in this case w/ packages)
- Memory jumps and the plugin is useless; `Analyzing...` shows in the footer and never goes away

If I try to run anything in Terminal, it fails until I qu

[2017-06-13 19:08] johnbland-wf commented on #317
[code]

[2017-06-13 19:17] DanTup opened #318 "Flutter beta testing"
[Download v1.5.0-beta.flutter.5 here](https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter5)

If testing, please post feedback in this thread including which platform you were testing on (Win/Mac/Linux). Any problems/issues can be raised as new issues but general feedback (even if everything works) is encouraged to help gauge stability (esp on platforms I can't test).

**Since t

[2017-06-13 19:27] Skylled commented on #318
For those who haven't had to manually install an extension before, the Command Palette has `Extensions: Install from VSIX` navigate it to your downloaded copy and you're set. :)

[2017-06-13 19:28] DanTup commented on #318
Can't you just double-click the vsix file?

[2017-06-13 19:29] pulyaevskiy commented on #318
Not on Mac at least.

[2017-06-13 19:29] Skylled commented on #318
Definitely not for me (Windows). And using "Open with Code Insiders" just tried to open the binary for editing.

[2017-06-13 19:32] pulyaevskiy commented on #318
@DanTup This is a silly question but I can't seem to find how to run the app...

[2017-06-13 19:36] mit-mit commented on #318
@pulyaevskiy Hit Debug > Start Debugging and when prompted add a 'Flutter mobile app' launch config.

[2017-06-13 19:36] mit-mit commented on #318
@DanTup is there a device/target picket somewhere?

[2017-06-13 19:38] Skylled commented on #318
@mit-mit It should be the device name in the bottom-right corner. (I don't have 2 devices to test right now, but that's what I remember being discussed.)

[2017-06-13 19:39] mit-mit commented on #318
Oh, I see that now. I'm used to the that lower bar being an "output only" status bar. Is that usually used for input in VSCode?

[2017-06-13 19:41] Skylled commented on #318
@mit-mit I believe it was to keep in-line with where VS Code lets you select the current file's Language Mode, Encoding, EoL type, etc. I guess that's just the way VS Code does things.

[2017-06-13 20:00] DanTup commented on #318
Oops, sorry, thought you could double-click! I've added some notes on installing/using to the top of this page (inc. a bunch of things work testing).

@mit-mit Yeah, this is consistent with similar things in Code (eg. setting indentation, language, encoding and other things that appear in the status bar). That said; I think those other things may also have commands in the command palette to invoke

[2017-06-13 20:08] DanTup commented on #317
Yep, there's a setting called `dart.analyzerObservatoryPort`. If you set that, then reload (you should be prompted to) then it'll be launched with observatory enabled for the analyzer. Then you can open your browser at `http://127.0.01:{port}/` to use Observatory. I'm not very familiar with it, but I expect there's a memory profile. I don't know how useful it'll be.

I think there's probably value

[2017-06-13 20:10] DanTup commented on #317
There's also an option `dart.analyzerDiagnosticsPort` that lets you access a web app that may also give useful information (I can't remember exactly what it shows; not at a PC to check atm).

[2017-06-13 20:18] DanTup commented on #198
See #318 for a pre-release version of this functionality for testing.

[2017-06-13 20:50] pulyaevskiy commented on #318
Thanks @mit-mit , @DanTup . My issue was that I installed beta version on top of the stable one, which made VSCode very confused. It didn't want to show me launch option for Flutter.

I had to do multiple restarts of VSCode deleting the beta version first, then the stable version and only after that installing beta again.

[2017-06-13 20:53] DanTup commented on #318
Strange; I would've expected it to work fine (though you do need to restart once after installing normally). Glad it's sorted now!

I added a checklist to the top; would appreciate notes on things that work/don't, esp for people on Mac/Linux since I've not been able to do *any* testing of them!

[2017-06-13 22:12] xster commented on #318
I had the same issue as @pulyaevskiy. Probably not important and likely more a install vsix on top of stable extension issue than a Dart-Code issue but it was showing me the reload button on the Dart-Code extension even after reloading with that button. I think in practice, the extension never updated even if I quit the app, reopen the project etc.

Only uninstalling the stable version and install

[2017-06-13 22:22] xster commented on #298
I somehow haven't noticed until just now. This is so awesome!!!!!11111oneoneone

[2017-06-13 22:23] DanTup commented on #318
Weird; does sound like a Code bug. I've added a note to uninstall the old version before installing this at the top.

[2017-06-13 23:45] Solido commented on #318
Old plugin uninstalled, close VS, install beta from vsix on OSX, reload VSCode.
Dart code is not recognised anymore.
Flutter file are shown are plain text and dart type is no more listed.
Installing 14 again make code recognition OK
Dart 1.24

[2017-06-13 23:53] xster commented on #318
The debugger integration is super awesome!!!

One v1.6 feedback I'd have is that it'd be good to hook key input into the tool as well.

After running flutter run, the tool hangs around listens for more keys (options shown by pressing 'h'). It would be good to be able to communicate those via the extension.

[2017-06-14 03:00] sethladd opened #319 "Completion list looks like something is missing when trailing commas are added to arguments"
First off, awesome work on the Flutter support!

I noticed that we don't show the type of what the parameter expects, when trying to complete a named parameter in constructors. Notice the blank space and then comma after "onTap":
![capture](https://user-images.githubusercontent.com/5479/27113621-c0fe6872-5072-11e7-95fb-ba869d3e6aa8.PNG)

Can we show something like: `onTap: void Function(),` which

[2017-06-14 04:54] DanTup commented on #318
@Solido

Strange! After installing like this, does the extension show up in the extensions list? If so, my guess is that something failed during activation. Could you click `Help` -> ` Show Developer Tools` to open the Chromium dev tools and see if there are errors in the console? If so, please raise a new issue with the errors (if not, let me know and I'll think of something else to try).

@xster

[2017-06-14 09:48] Solido commented on #318
Uninstalled VSCode fully and reinstall to have the last version was it. Check for update skipped the last version.

All previous points confirmed except for debug points.
Breakpoints are triggered, I can navigate the stack and source is updated with but when exploring the variable content spinner never stop and nothing open to show values.
None of the action (run, enter, previous, next) trigger an

[2017-06-14 11:45] DanTup commented on #318
@Solido Interesting; that sounds exactly the issue I reported at https://github.com/flutter/flutter/issues/10615. Last nigfht it only occurred on the Hello World so I figured it was less important.

Seem like we'll need to get to the bottom of this before shipping.

@ everyone else - is anyone else seeing this same behaviour (process seems to freeze after hitting a breakpoint)? Or has anyone else

[2017-06-14 16:01] yyoon opened #320 "Suggestions on the "Import library" lightbulb actions"
First of all, this feature is really great. I have a few more suggestions.

* If the import declarations are already sorted, insert the new import in the right place. For now I have to import and then sort as a two step process.
* If the file being imported is in the current package, please consider offering the relative path import as an option. (This may not be a desired option for some projects

[2017-06-14 16:56] DanTup commented on #320
These are great suggestions, but the code fixes shown (and the edits that they make) actually come from the Dart Analyzer directly so these would need to be implemented there. Would you mind raising at [dart-lang/sdk](https://github.com/dart-lang/sdk/issues) and posting a link back here?

Thanks!

[2017-06-14 17:23] DanTup commented on #318
Another thing I'd love to have feedback on... Currently the debugger Restart button is "hot reload" and to do a full restart you need to Stop/Run again. Since I have no real experience of Flutter dev I don't know if the Stop/Run will become annoying - would it be better to have the Restart button do a full restart and add a separate command/keybinding that does a hot reload (unfortunately I think

[2017-06-14 17:50] pulyaevskiy commented on #318
I haven't done a lot of Flutter dev, but from my limited experience I use Hot Reload all the time, so I think it deserves to have a dedicated button.

[2017-06-14 18:03] Skylled commented on #318
The difference between Stop/Start and a Restart, is that Restart doesn't rebuild the apk to install.

I can't say with certainty, but I think it just closes the app on the device, resyncs files, and starts the app again. I'm sure someone from the Flutter team would know better.

[2017-06-14 18:30] DanTup commented on #318
@Skylled Ok, so it sounds like there's a difference in behaviour between a "full restart" and actually stopping/re-running `flutter run`? I wonder why that is; if the APK doesn't need rebuilding for a "full restart" I wonder why `flutter run` rebuilds it?

If this is the case, it sounds like using the Restart button for hot reload might actually mean that full restarts (when required) are much slo

[2017-06-14 19:22] devoncarew commented on #318
A hot reload will push changed files over to the device and attempt to patch the changes into the running app; user's generally do lots of reloads before fully restarting their app, and it's likely the experience we want to optimize for. Perhaps 600ms today?

A full restart sends and changed files over to the device (like reload), but then restarts the isolate. You lose any state that had been bui

[2017-06-14 19:59] DanTup commented on #318
@devoncarew Sounds good, thanks!

[2017-06-14 23:06] yyoon commented on #320
Done. You should see it right above this comment.

[2017-06-15 00:09] pulyaevskiy commented on #318
Strange thing I noticed:

- in a Flutter project all the commands (e.g. organize directives) and quick fixes (e.g. create constructor) are working fine
- in a regular Dart project none work

Anyone else noticed it?

[2017-06-15 05:20] DanTup commented on #318
@pulyaevskiy Oh dea, that sounds bad. Can you raise a specific issue about that. Also click `Help` -> `View developer tools` to see if there are any errors there and enable the analyzer log file (`dart.analyzerLogFile`) to see if anything obvious in there.

[2017-06-15 05:20] DanTup commented on #320
Thanks!

[2017-06-15 06:38] pulyaevskiy opened #321 "Dart commands and quick fixes don't work in non-Flutter projects (1.5.0-beta)"
Dev tools contain some errors in the console log:

[code]

[2017-06-15 06:39] pulyaevskiy commented on #318
Here: #321

[2017-06-15 11:49] Skylled commented on #321
What does your pubspec.yaml file and your project directory look like? Maybe something is going screwy with Flutter detection.

[2017-06-15 11:58] DanTup commented on #321
I think it's just a bug from my refactoring... We [only create `flutterDaemon` for flutter projects](https://github.com/Dart-Code/Dart-Code/blob/068d23686aeebcf5b4ce07d755126b65856a4632/src/extension.ts#L106):

[code]

However when creating `SdkCommands` [we assume it's non-null](https://github.com/Dart-Code/Dart-Code/blob/068d23686aeebcf5b4ce07d755126b65856a4632/src/extension.ts#L188):

[code]

T

[2017-06-15 16:09] DanTup commented on #321
This is fixed in [the new build](https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter).

[2017-06-15 16:09] #321 closed

[2017-06-15 16:09] DanTup commented on #318
I've attached a new build, v1.5.0-beta.flutter.2 to the original release page [here](https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter). The only difference is a null ref fix for loading non-flutter projects.

[2017-06-15 16:38] pulyaevskiy commented on #318
Thanks! Nice to have quick fixes back. :-)

[2017-06-16 02:28] sethladd commented on #319
BTW do you have a label for "code completion" ?

[2017-06-16 04:57] pulyaevskiy opened #322 "Improve visual feedback when running tests / debugging"
Currently I can see how status bar turns yellow during a test run, which is nice. However

1. There is no visual indication when tests fail. Maybe turning status bar into red if debug process exited with non-0 code is something to consider? Or a bubble / popup notification of some sort?
2. It would be nice to automatically switch to "Debug console" when I start a debug session.

Wondering if Code

[2017-06-16 05:46] DanTup commented on #322
Currently there is no support for running tests (see #87). I don't know how you're running them (I guess you added some custom stuff to launch.json?) but any feedback will have to be done as part of supported integration (otherwise Dart Code has no idea you're running tests).

That said, something I have sat in my inbox to fix today is to send the correct channels for `OutputEvents` from the debug

[2017-06-16 05:51] DanTup commented on #204
Done in 60c0b965b8c4a7446fb251e599345d5ab8224804.

[2017-06-16 05:51] #204 closed

[2017-06-16 05:52] DanTup commented on #203
Not relevant anymore; the non-user stuff for us is not contributed via the debuggers `sessionStartCommand`.

[2017-06-16 05:52] #203 closed

[2017-06-16 05:53] DanTup commented on #194
This was fixed/released in https://github.com/Microsoft/vscode/issues/12280 a long time ago.

[2017-06-16 05:53] #194 closed

[2017-06-16 05:56] DanTup commented on #319
@sethladd What do you mean by label? In GH? Not really; I only have some basic labels; there aren't really enough cases that they need breaking into small categories.

[2017-06-16 10:11] DanTup commented on #322
Actually, the first part is already done! Stuff from stderr is already red, output is white and info stuff is yellow.

The request for openign debug console automatically can be solved by setting `"internalConsoleOptions": "openOnSessionStart",` in your `launch.json`.

I'm in two minds about whether to override the default here; I think the default (of not showing it) is bad, but I don't want to s

[2017-06-16 10:12] DanTup commented on #322
Since this case was specifically about testing; I'm going to close as a dupe of #87. However I believe with the setting mentioned above and that the errors are spat into the debug console in red, that probably this is sufficient in the meantime?

[2017-06-16 10:12] #322 closed

[2017-06-16 10:27] DanTup commented on #319
This text is actually how we get it from the analyzer:

![onTapUp](https://user-images.githubusercontent.com/1078012/27222983-6c2ba678-5286-11e7-98ab-730c81afed0f.png)

However there is a bug in Dart Code that we normally put a placeholder into the completion, but it's only triggered when the completion ends with `: ` (it doesn't consider the trailing comma). I'll fix this, which will add the plac

[2017-06-16 11:40] DanTup commented on #319
@bwilkerson While testing some changes for this, I noticed that in a Dart project I only ever get completions back that end with `: ` but in a Flutter project I get them back with `: ,` on the end. The SDKs are *very* slightly different versions.

Is this a deliberate change made between `1.24.0-dev.6.7` and `1.24.0-dev.6.8` or could this be a bug?

[2017-06-16 11:50] DanTup opened #323 "Argument placeholders are not inserted correctly and the cursor is not moved to the correct place"
Noticed while investigating #319.. The tokens we're inserting: `${test}` no longer put placeholder text in since switching to `SnippetString`. Also, `selectionOffset/selectionLength` are not used.

[2017-06-16 12:09] #323 closed

[2017-06-16 12:29] DanTup opened #324 "Completion list should show types for named arguments"
There's no indication of the type of these parameters.

![Missing type info](https://user-images.githubusercontent.com/1078012/27226612-ccbfc148-5297-11e7-9ad9-d5325ba6dda6.png)

[2017-06-16 12:32] #324 closed

[2017-06-16 12:32] DanTup commented on #324
![Fix](https://user-images.githubusercontent.com/1078012/27226718-41697eda-5298-11e7-90c7-f1e28e0017d2.png)

[2017-06-16 12:37] DanTup commented on #319
Ok, I was a little confused by this. I think there are two issues, however I don't think the type is missing.. In your screenshot you've opened the "details" pane (`Ctrl`+`Space`) which moves the type from the completion list to where it is in yours. Here's what it would normally look like:

![Completion with type](https://user-images.githubusercontent.com/1078012/27226815-a4e92640-5298-11e7-85f8-

[2017-06-16 12:51] DanTup commented on #319
It seems like both of the problems described here would require analyzer changes. I've raised two cases over at the SDK repo:

https://github.com/dart-lang/sdk/issues/29909 - Unexpected commas on the end of argument completion for GestureDetector
https://github.com/dart-lang/sdk/issues/29910 - Provide more information for TypeDefs in completions from analyzer

I can't really explain the first one

[2017-06-16 13:04] DanTup opened #325 "Switch to helper methods on SnippetString to avoid escaping manually"
See https://code.visualstudio.com/docs/extensionAPI/vscode-api#_a-namesnippetstringaspan-classcodeitem-id687snippetstringspan

[2017-06-16 19:04] sethladd opened #326 "Right-click on a name in doc comment, select "go to definition", and I'm taken to the library definition (not the class)"
I opened a file from package, from within a project, and right-clicked on a class name in a doc comment (marked up with brackets). I then selected "go to definition", which then took me to the "library" line in the current file, not the definition of the class in another file.

[2017-06-16 19:20] DanTup commented on #326
I'll have to check what we get back from the analyzer for this to see if we can make it go directly to the class.

That said, I get the same behaviour from TypeScript in Code so maybe this is normal expected behaviour?

[2017-06-16 20:54] pulyaevskiy commented on #322
Thanks for all the info! I'll try `internalConsoleOptions` and see how it works.
Currently, it only automatically switches for me the very first time after I opened a project.

Sorry, I should I've clarified about tests. I'm using cli launch to just run `dart test/foo_test.dart`. Works fine for tests which don't involve transformations / Pub.

I will follow updates in #87 from now on.

[2017-06-16 20:55] pulyaevskiy commented on #87
Just curious if this still requires external change?
I see in mentioned issue there seems to be a solution now?

[2017-06-16 21:18] sethladd commented on #326
I did a little more testing. For a file in my project's lib/, I was able to jump from name in doc comment to its definition.

perhaps the issue is specifically about: opening a file that comes from a package, and trying to jump from a name in its doc comments. When you open a file that comes from a package, you've escaped your project, and you're looking at a file from your local pub cache.

[2017-06-17 07:58] DanTup commented on #318
If anyone is seeing issues stepping with the debugger (seems to just hang), can you confirm what OS you're on?

Also; I've had no feedback on any of the checklist items above - if you've tested them please let me know on which platforms so I can see what's still untested.

Thanks!

[2017-06-17 08:02] DanTup commented on #326
Strange; I'll have a dig around when next working on this and see I can repro and understand what's happening. Thanks!

[2017-06-17 08:05] DanTup commented on #87
Which solution are you referring to? MS are working on improving the task runner system (see https://github.com/Microsoft/vscode/issues/15179) which I believe they're hoping to finish this month. I still don't know how well it'll support tests (no comments on https://github.com/Microsoft/vscode/issues/10742 for a while) but I guess we'll find out when all the docs/API is available.

[2017-06-17 08:11] DanTup commented on #322
Yeah, I think the default isn't very good :( If you don't close it after the first run I guess it'd be fine, but if you're going back to editing that's something you're likely to do!

That said, maybe this'll change when we switch to using the terminal (#99). I really don't like the current way we handle this because if your program expects to read stdin it just hangs.

[2017-06-18 04:22] Skylled commented on #318
My main flutter project is detected correctly (I don't have any non-Flutter projects to test with).
Get Flutter Packages and Upgrade Flutter Packages both correctly display on pubspec.yaml.
Pub commands from the command palette also get redirected correctly to Flutter Packages.
Physical devices and emulators both get detected, and labeled as Physical and Emulator correctly.
Connecting a new device

[2017-06-18 07:32] DanTup commented on #318
@Skylled Thanks for the excellent info :-)

The debugging is a weird one (see https://github.com/flutter/flutter/issues/10615). I can't figure it out; it seems like either Observatory is crashing or the connection to it is somehow becoming broken. If I try to step really quick after starting the app it works, but after a couple of second it's just completely no-responsive.

The flutter devs haven'

[2017-06-18 07:34] DanTup commented on #318
I've split the checklist at the top into platforms and started ticking things off. If anyone on Mac or Linux is able to confirm any of these working, please lmk!

[2017-06-18 09:40] Solido commented on #318
Just in case I wasn't clear all the mac points worked for me except the debug that freeze.
If other testers can confirm on mac.

[2017-06-18 09:45] DanTup commented on #318
@Solido Sorry, misunderstood your comments and didn't ralise you're on Mac. That's great; I'll tick them all off!

Anyone using Linux? I tried creating a VM but Ubuntu's installer crashed and left me with a bad install on every attempt across 3 machines! :-/

[2017-06-18 10:16] DanTup commented on #318
@Solido I see from https://github.com/flutter/flutter/issues/10125 that you have IntelliJ? Do you see this issue there using the same code/breakpoint/steps?

I still can't figure out of this is a Dart Code issue or not - I don't know what I could do to cause this but since nobody is reporting it outside of Dart Code it seems likely I'm doing something strange.

[2017-06-18 13:51] Solido commented on #318
Never met the breakpoints freeze using intelliJ. Could it be a disconnection between VSCode and the DartVM ? can you monitor the protocol to see if the call is made when an UI Event occurs ?

[2017-06-18 16:48] DanTup commented on #318
How it works is kinda complicated - VS Code runs a debugger process (communicating via stdio) which hosts our debug adapter. Our debug adapter kicks off `flutter run --machine` (also communicating over stdio) which returns an Observatory URL. We then create a web socket from the debug adapter to that websocket and then talk to Observatory over that. To complicate things, the web socket URL we get

[2017-06-18 17:01] Solido commented on #318
I've never been stuck with debug but this one https://github.com/flutter/flutter/issues/10125 happen a lot. Can it relate to your case ? how to you manage VSCode UI if you fail to get the Observatory URL. It's possible that's what happen to me and nothing was log out so further order send to it simply do nothing ?

In intelliJ this case with simply deny the application to launch but maybe you hand

[2017-06-18 17:06] DanTup commented on #318
We definitely get the observatory url and communicate with it for a while, the logs in the issue show responses from Observatory (for example we have to send a `Resume` request initially because we use `--start-paused` and we also get back the event for hitting the breakpoint which we use to tell VS Code to jump to that location and show that we're at a breakpoint).

If I can't repro this in Intel

[2017-06-19 02:41] sethladd commented on #319
Thanks for taking a look!

[2017-06-19 05:38] pulyaevskiy commented on #318
@DanTup
I've finally spent some more times with the beta.

OS: MacOS
Devices: iOS simulator

Couldn't get breakpoints to work but everything else from the list is working fine.
I couldn't test stack traces with debugger because it wouldn't want to break on exceptions.

I also got a "Lost connection to device" error once, which terminated debug session.

[2017-06-19 05:59] DanTup commented on #319
Seems like the commas being inserted are by-design - see https://github.com/dart-lang/sdk/issues/29909. I don't really agree with this though, I think it's wonky for many reasons and really don't understand the advantages. I'm tempted to strip them out client-side :/

[2017-06-19 15:24] bwilkerson commented on #316
Not that I'm aware of. The new driver that @devoncarew mentioned no longer keeps as much data cached as before, so we're much less likely to get out of sync. The two most likely reasons for analyzer being out of sync are (1) files that it has the content for (such as those that have been modified in an editor but not yet saved) and (2) missed watch events. The watch events are also recorded in the

[2017-06-19 17:19] DanTup opened #327 "Set FLUTTER_HOST when invoking flutter daemon/run"
Set the value to `VSCode`. See https://github.com/flutter/flutter/issues/8989 for info.

[2017-06-19 17:49] DanTup commented on #327
Something like?

[code]

[2017-06-19 17:53] DanTup opened #328 "Add project type to activation/debug analytics"
There are events for project activation and debug sessions; it'd be hand to know the split between flutter/Dart.

[2017-06-19 21:47] Skylled commented on #318
In the off chance that Flutter cannot install an app to the device, the debugging process doesn't stop.
Logs:
[code]
But the process continues.

[2017-06-20 16:59] DanTup commented on #318
@pulyaevskiy

You should be able to see the stack when it breaks on a breakpoint (even if it freezes shortly after!)

Interesting - where did you see this? This is somewhat out of Dart Code's control but I wonder if it might be related/similar to the connection to observatory breaking. Can you repro this?

@Skylled

Thanks for the info - could you chuck this in a new issue, including a description

[2017-06-20 23:17] Skylled opened #329 "Debugging isn't stopped by apk install failure"
![Screenshot](http://i.imgur.com/anxmgbC.png)

The debugger is still trying its hardest.

The failure, on Flutter's side, is [here](https://github.com/flutter/flutter/blob/master/packages/flutter_tools/lib/src/android/android_device.dart#L278). My guess is that either a signal is being sent and DC isn't picking it up, or there's no signal being sent here. I'll find time to test the same scenario w

[2017-06-20 23:45] Skylled commented on #329
Relevant logs from IntelliJ
[code]

[2017-06-21 02:29] sethladd opened #330 "Request ability to format on save"
I looked into the preferences and didn't see an option. I'd love to "format on save", if that's possible.

Thanks!

[2017-06-21 02:51] pulyaevskiy commented on #330
It's there, but I also struggled to find it the first time:

[code]

[2017-06-21 05:29] pulyaevskiy commented on #318
it just never did break on a breakpoint for me.

Seems random, wasn't able to reproduce yet. Will try to collect more info when/if it happens again.

[2017-06-21 06:21] DanTup commented on #330
Yep, that's the setting you want. It's not Dart-specific so it's not prefixed with `dart.` (it's VS Code behaviour). If you only want it for Dart you can do that, look for the [Language specific settings](https://code.visualstudio.com/docs/getstarted/settings#_language-specific-editor-settings) command which will add `"[dart]" { ... }` to your settings (you can also do this manually).

Dart Code a

[2017-06-21 18:09] DanTup opened #331 "Add support for supportsDelayedStackTraceLoading"
See https://github.com/Microsoft/vscode/issues/28808

[2017-06-21 18:11] DanTup commented on #318
I guess this is the same issue others (and I) are seeing. Normally I can hit a breakpoint but after a second or so it's unresponsive. I suspect if it took longer to get to the first breakpoint it may miss that too.

Hoping to do some more digging on Friday.

[2017-06-21 18:14] DanTup opened #332 "Observatory connection becomes unresponsive when debugging Flutter apps"
Since there isn't currently a specific case about this, here's somewhere to keep notes.

When debugging flutter apps, something seems to happen to Observatory (or the connection to it) and it becomes unresponsive. In my testing it seems to happen a few seconds after the app launches; so I can hit a breakpoint and if I hit Step quickly, it will step, however it quickly then becomes unresponsive. Ot

[2017-06-21 18:15] #330 closed

[2017-06-21 21:14] sethladd commented on #330
Ah, great! Thanks!

[2017-06-21 21:15] sethladd commented on #319
Ah, yeah. Interesting that the AS is inserting the comma.

The commas are basically required, because they are the signal to the formatter: "format this with more tree-like indention", which is very helpful for Flutter developers.

[2017-06-22 16:27] DanTup commented on #332
From @Skylled:

So if you don't hit a breakpoint really early on, it works as expected? I was expecting the opposite - I figured early breakpoints worked and then after some time it "breaks"

[2017-06-22 16:32] DanTup commented on #332
I can repro this behaviour using the lines above. So it seems to only occur if we hit a breakpoint within a short window after launching the app.

[2017-06-22 16:33] DanTup opened #333 "When stepping/breaking, column numbers are not correct"
![Columns](https://user-images.githubusercontent.com/1078012/27445223-db934900-5770-11e7-9bf7-d3fba838b966.png)

[2017-06-22 16:52] DanTup commented on #332
I've removed almost all code that sends stuff to Observatory and can still repro this :(

[observatory.txt](https://github.com/Dart-Code/Dart-Code/files/1095555/observatory.txt)

[2017-06-22 16:57] DanTup commented on #332
And an even shorter repro..

[observatory.txt](https://github.com/Dart-Code/Dart-Code/files/1095571/observatory.txt)

This is small enough that hopefully won't be hard to extract into a simple script.

[2017-06-22 19:20] DanTup commented on #332
I created a script that mimics what Dart Code does and it behaves differently again - the breakpoint never resolves (and therefore never gets hit) despite the logs being identical (except for IDs etc.) >:O(

![Log](https://user-images.githubusercontent.com/1078012/27451760-2613044a-5788-11e7-81d5-25cac4d5df0b.png)

[2017-06-22 19:36] DanTup commented on #332
Ok, I can perfectly reproduce this in a script without Dart Code. I send a `Step over` 300ms after every time we pause and it just fails to get responses after a certain amount of time (if I reduce the `300ms` there will be more successful steps before it hangs).

![Repro](https://user-images.githubusercontent.com/1078012/27452372-3ef09de0-578a-11e7-9915-dc179822fdcc.png)

[main.ts](https://github

[2017-06-22 19:55] hermanbergwerf opened #334 "Breaking change in how breakpoints are handled by the debugger"
See: https://github.com/dart-lang/sdk/issues/29988. I noticed that with dart 1.25.0-dev.1.0 the debugger did not pause at all breakpoints (in particular some inside a closure, where I did not experience any issues previously). It seems that something was updated in the SDK and something has to be fixed in this plugin.

[2017-06-22 20:00] pulyaevskiy commented on #332
If you can compile and push that script on Github with instructions I can try and run it on my machine (macOS).

Found this: https://github.com/dart-lang/sdk/issues/29568 not sure if relevant, but symptoms look similar:

Can also try and summon @devoncarew for help. :)

[2017-06-22 20:15] DanTup commented on #332
Well that does indeed sounds incredibly similar. I've added some comments linking back here. I wish I'd found that case a fortnight ago! ;-(

[2017-06-22 20:22] DanTup commented on #332
@pulyaevskiy

[Here](https://github.com/Dart-Code/Dart-Code/files/1096063/main.js.txt) is the compiled JS version. You'll need to tweak the paths on line 15 and then just run with `node main.js`. I commented out spitting `flutter run` output to screen to just show Observatory stuff, so it might look like it's doing nothing for a while (while it's compiling, etc.).

If all goes well, you'll see it

[2017-06-22 20:33] DanTup commented on #332
Hmmm, that linked case isn't flutter specific. I was sure when I tested this in a Dart program it always worked fine and I'm only seeing this in Flutter? :/

[2017-06-22 21:04] pulyaevskiy commented on #332
It gets stuck for me on the first breakpoint:

[code]

Tried a few times.
Changing timeout to 500 msecs results in failure to connect or even start the app for some reason.

[2017-06-23 06:48] DanTup commented on #332
Google have been able to repro this with my script now (https://github.com/flutter/flutter/issues/10615#issuecomment-310517129). Sounds like I'm connecting to Observatory too early. I thought I'd tried changing these events but I'll check again since I was trying so many things I might've done something wrong.

I still think this behaviour is a nasty bug (it works, then becomes broken, which is no

[2017-06-23 06:49] DanTup commented on #198
May have a fix for the debugging issue (#332). If I can get some time to test this today I'll create a new beta release with the fix for more testing. Hopefully then there's only fairly minor things to fix before releasing for real (some of this might get delayed for a v1.4.3 to address some debugging issue in 1.25 SDK though).

[2017-06-23 06:52] DanTup commented on #318
May have a fix for the debugging issue (#332). If I can get some time to test this today I'll create a new beta release with the fix for more testing. Hopefully then there's only fairly minor things to fix before releasing for real (some of this might get delayed for a v1.4.3 to address some debugging issue in 1.25 SDK though).

[2017-06-23 09:35] DanTup commented on #318
Ok, there's a new beta3 release attached here:

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter

You may need to uninstall the previous version before installing this. It's the same as the previous version except it has a fix for the debug stepping issue (the problem was that we were connecting to the debugger too early - which strangely allows it to work for a few seconds

[2017-06-23 09:36] DanTup commented on #198
Ok, there's a new beta3 release attached here:

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter

You may need to uninstall the previous version before installing this. It's the same as the previous version except it has a fix for the debug stepping issue (the problem was that we were connecting to the debugger too early - which strangely allows it to work for a few seconds

[2017-06-23 09:41] DanTup opened #335 "Add a command to run `flutter doctor` when flutter projects are loaded"

[2017-06-23 09:42] DanTup commented on #335
In future there might be a consistent API for this, but for now we can just spit it to the console like updating packages does.

[2017-06-23 09:45] DanTup commented on #319
@sethladd Since you raised this originally; what are your thoughts on me hiding the trailing comma in the completion list (it would still be inserted into the document)? IMO it totally looks like a bug in your screenshot even though I'm come around (somewhat) to the behaviour (I still think it's inconsistent, but there's discussion about that in the sdk issue!).

The pro of hiding the comma is tha

[2017-06-23 09:53] DanTup commented on #333
Can't repro this outside of the flutter app, so will need to investigate there.

[2017-06-23 09:57] DanTup commented on #334
I'm struggling to reproduce this; I've got this:

[code]

I'm putting a breakpoint on the `map` line and it always gets hit. I'm using `v.1.25.0-dev.2.1`. Are you able to make a simple repro?

[2017-06-23 10:14] DanTup commented on #260
Seems like this is actually already implemented; however it doesn't seem to work correctly for me. Maybe related to #333

[2017-06-23 10:32] amugofjava commented on #318
Tested with VS Code 1.13 & Ubuntu 14.04.

I tried all the points within the Linux section above and all worked fine except for an issue with Debug and hot reload. If I launch a Flutter app and hit a breakpoint I can step through the code in VS. If I then make a change and perform a hot reload, VS will no longer stop at the breakpoint. If I do a full restart the debugging starts working again. Not

[2017-06-23 10:45] DanTup commented on #318
@amugofjava Excellent; thanks for the testing! The behaviour you describe is not expected; if it works in IntelliJ it should also work here. I'll see if I can repro and if not I might give you some instructions to get debug logs that'll help.

[2017-06-23 10:50] mit-mit commented on #318
@DanTup I believe we added that support for IJ via https://github.com/flutter/flutter-intellij/issues/305

[2017-06-23 10:55] DanTup commented on #318
@mit-mit Aha! That would explain it; if the breakpoints are lost I'll need to resend them. Should be easy. Thanks! :-)

[2017-06-23 10:56] DanTup opened #336 "Breakpoints should be restored after a hot reload"
See:
https://github.com/Dart-Code/Dart-Code/issues/318#issuecomment-310632175
https://github.com/Dart-Code/Dart-Code/issues/318#issuecomment-310635478
https://github.com/flutter/flutter-intellij/issues/305

[2017-06-23 11:36] hermanbergwerf commented on #334
It took me some tries to reproduce this as well, but this reproduces the bug:

[code]
[code]

[code]
[code]
[code]
[code]
(it doesn't work without the `part of`)

[2017-06-23 13:19] DanTup commented on #334
@hermanbergwerf Perfect; I can repro with these files. I'll investigate!

[2017-06-23 13:34] DanTup commented on #334
Ok, I ran this same test in 1.24 and 1.25 and found this..

We currently send breakpoints *twice* because we previously found that depending on how a file was imported, the debugger would not break on it (some discussion in #134). So the requesyt to add breakpoints looks like this:

[code]

In 1.24, both of these breakpoints are accepted:

[code]

and when we go on to execute, we stop at the **sec

[2017-06-23 16:17] DanTup commented on #336
Also: https://github.com/JetBrains/intellij-plugins/pull/457

[2017-06-24 07:41] DanTup commented on #336
Currently stuck on implementing this, need some input on https://github.com/flutter/flutter/issues/10934

[2017-06-24 07:53] DanTup opened #337 "Make a dartpad-like feature that auto-refreshes"
There was a comment from @work_op_twitter [in gitter](https://gitter.im/dart-lang/sdk?at=594df77576a757f8089d443b):

Dart Code is pretty much "an electron app". Code supports providing real-only windows for content (eg. the markdown window) so I wonder whether we can have a command that opens up Dart/HTML/CSS panes and then runs/renders the results into another tab?

[2017-06-24 08:14] DanTup commented on #300
For some time now, the Dart formatter has placed arguments on individual lines if there is a trailing comma, see:

https://github.com/dart-lang/dart_style/commit/ad69e8a8a31776a33bbcb0cd9bb9c0afeeede09e

[2017-06-24 08:14] #300 closed

[2017-06-25 19:27] DanTup commented on #318
Possibly related to the issues people had with vsix installs: https://github.com/Microsoft/vscode/issues/19259

Based on this, when v1.5 releases for real, you'll need to be sure to install the vsix version explicitly!

[2017-06-29 17:10] DanTup opened #338 "Support multiple project roots"
VS Code is getting support for multiple open workspace folders. `workspace.rootPath` remains for compatibility but we will also get `workspace.workspaceFolders` and `onDidChangeWorkspaceFolders`.

We can update the analysis roots fairly easily when the event fires, though we'll need to review all code that uses `workspace.rootPath` and figure out how best to map it. There are some things I'm not s

[2017-06-29 17:37] DanTup opened #339 ""Create file" quick fix causes error"
If you type an `import` that doesn't exist and then use the `create file` fix on it, it'll crash. We're not checking sourceEdits relate to already-existing files.

![Error](https://user-images.githubusercontent.com/1078012/27701830-0debeb26-5cfa-11e7-886d-35ba098bd8e9.png)

[2017-06-29 18:53] DanTup commented on #336
Also stuck with this; which might or might not be related to the above issue: https://github.com/flutter/flutter/issues/11040

[2017-06-29 18:57] DanTup commented on #318
Unfortunately I've hit another issue with debugging flutter apps. Breakpoints don't seem to work after a hot reload (even after I've implemented what I understood to be required). I've raised https://github.com/flutter/flutter/issues/11040 hoping for some input; though it means it's likely to be a little longer before this is ready to release (I'd hoped it'd be in a reasonable state this weekend,

[2017-07-02 11:55] DanTup commented on #306
Sorry for the delay in testing this! The issue is resolved now. The indenting isn't perfect (note the `MaterialApp` construct args are at the same level as `child:` which is misleading), but really that's an issue to raise with SDK. In Dart Code once you fix the compile error (replace `widget`) the auto-formatting will fix things.

![Indent](https://user-images.githubusercontent.com/1078012/277696

[2017-07-02 11:55] #306 closed

[2017-07-02 13:08] DanTup opened #340 "Running Flutter apps with Ctrl+F5 still hits breakpoints"

[2017-07-02 13:12] DanTup commented on #340
When we run Dart apps, we don't send `--enable-vm-service` if the user invokes using Ctrl+F5 (start without debugging).

For flutter, this does not disable the debugging service so we still hit breakpoints. Passing `--release` results in:

We could skip attaching to Observatory but it feels a little inconsistent with how the Dart one runs (no observatory, rather than just not attaching to it).

I'

[2017-07-02 13:18] DanTup commented on #312
From next version, we'll output a nicer message when this occurs:

Once the fix in Code is live, this will only occur when a user modifies `launch.json` during a debug session and then hits `Restart`.

[2017-07-03 05:24] devoncarew opened #341 "Update contributing file"
To include a few more mechanical steps around contributing, (like running `npm install` on the directory after cloning).

[2017-07-03 06:08] DanTup commented on #341
Both this file and the readme could do with an update, they were both created a long time and not really updated! I'll try and spend some time on this as part of the Flutter release.

[2017-07-03 06:26] devoncarew commented on #340
In IntelliJ, we chose to map the non-debug run mode to `flutter run --debug` (Flutter's `--profile` and `--release` modes didn't seem to match up well with what we wanted). We just don't send any breakpoints in run mode.

In case it's helpful:
- the --debug and --profile modes both run with the service protocol enabled (--profile doesn't allow debugging, but does allow profiling)
- the --profile a

[2017-07-03 06:30] DanTup commented on #340
If you will connect Observatory but just don't send breakpoints, I presume it'll still break on an exception. Do you think this is reasonable/expected? If not, I could just skip connecting instead?

[2017-07-03 06:30] DanTup commented on #340
(or I could change expecting pause mode, though it's starting to seem a bit clunky!)

[2017-07-03 08:03] devoncarew commented on #340
Yes, actually we had a recent bug report about that; I do think you want to toggle the setting to not break on exceptions.

[2017-07-03 16:57] DanTup commented on #340
Ok, for now I'll think I'll do that. We'll connect observatory normally (though without pause-on-start) and additionally upon connection skip sending breakpoints and set the exception behaviour to not break (I'm assuming the default is to break; I didn't actually test it yet). Thanks!

[2017-07-03 17:56] DanTup opened #347 "Bring imports along when copy/pasting code"
It's possible the analysis server will gain the ability to bring imports along when copy/pasting:

https://github.com/dart-lang/sdk/commit/d31ed8690ec616711ced999c6efb21dfa37a2d2e

We need to be able to hook these events in Code (https://github.com/Microsoft/vscode/issues/30066) for this to work, but it'd make a great feature!

We'd need to know the analysis server version it first ships in and on

[2017-07-04 01:39] devoncarew commented on #107
This API is available now (and has been improved a bit in the current Insiders). You'd define some json, and then an associated TreeDataProvider:

[code]

[2017-07-04 01:41] devoncarew opened #348 "show dart packages dependencies in the explorer view"
I think this could be done by parsing the .packages file, listening for changes, and contributing a new explorer view and TreeDataProvider:

[code]

[2017-07-04 17:08] DanTup commented on #107
I've been watching this.. someone has created an extension that uses the existing APIs:

https://marketplace.visualstudio.com/items?itemName=patrys.vscode-code-outline

So for now you can install that extension (note: I have no idea who the author is or how well it works!). It seems there are some real limitations for now, so I was planning on waiting until it'd been refined a little more and also

[2017-07-04 18:23] DanTup commented on #4
Re-opening this; it's not been updated in a while and isn't really a great marketing effort!

[2017-07-04 18:23] DanTup commented on #341
Re-opened #4 to handle readme, will do that once Flutter work is done.

[2017-07-04 18:25] #341 closed

[2017-07-05 13:53] Lisenish opened #349 "ReAnalyze command"
Looks like sometimes analyzer is frozen and shows incorrect messages. I want a command to refresh analyzer results.

[2017-07-05 17:12] DanTup commented on #318
I've uploaded a new beta version (beta4):

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter

Please uninstall the previous beta and try this one; it will hopefully resolve issues with breakpoints not being hit after a hot reload (note: there is a race condition caused by https://github.com/flutter/flutter/issues/10934 which needs fixing in the SDK).

Let me know if you hit a

[2017-07-05 17:13] DanTup commented on #198
I've uploaded a new beta version (beta4):

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter

Please uninstall the previous beta and try this one; it will hopefully resolve issues with breakpoints not being hit after a hot reload (note: there is a race condition caused by https://github.com/flutter/flutter/issues/10934 which needs fixing in the SDK).

Let me know if you hit a

[2017-07-05 17:20] DanTup opened #350 "Move snippets to completion provider to allow conditionals"
Since MS [don't want to](https://github.com/Microsoft/vscode/issues/26943) add contexts to snippets, we should build them in the completion provider. This will allow us to add flutter-specific snippets without adding useless noise to the Dart completion list.

[2017-07-05 17:40] #259 closed

[2017-07-05 17:46] DanTup commented on #349
You can run the `Reload Window` command in Code to force everything to be reinitialised (including the analyzer).

However, if you see this frequently or can reproduce on demand I'd really like to look into why. If you enable logging (see [CONTRIBUTING.md](https://github.com/Dart-Code/Dart-Code/blob/master/CONTRIBUTING.md)) there might be some clues in the analyzer log/instrumentation file.

[2017-07-05 17:53] DanTup commented on #349
I'm resolving this as wontfix because I don't want to add a command that is almost the same as running the built-in `Reload Window`. However, I really would rather track down the issues and get the analyzer fixed than have people do this.

If you're able to get a log, please post back here or raise a new issue so we can do some investigation.

[2017-07-05 17:53] #349 closed

[2017-07-05 19:03] DanTup commented on #278
The analyzer version has gone up recently:

https://codereview.chromium.org/2972673002/

[2017-07-06 16:42] DanTup commented on #334
Looks like this has been fixed in Dart, so hopefully won't occur in any release SDKs.

[2017-07-06 16:42] #334 closed

[2017-07-06 16:44] DanTup commented on #332
Fixed by not connecting so early.

[2017-07-06 16:44] #332 closed

[2017-07-06 16:45] DanTup commented on #336
This was caused by the `baseUri` from flutter not matching the actual base URI in the VM. I've added a workaround (which basically means sending more brekapoints) but hopefully this'll be fixed in flutter too.

[2017-07-06 16:45] #336 closed

[2017-07-06 16:46] DanTup commented on #312
Fixed in VS Code. There's a remaining edge case where you edit `launch.json` while debugging and it'll trigger again, but we now detect this and show a nice message instead of crashing.

[2017-07-06 16:46] #312 closed

[2017-07-06 16:48] DanTup commented on #198
The main work here is complete and will ship in the next release (v2.0), hopefully next week. There are a few other related cases I hope to resolve in the v2.0 milestone first.

[2017-07-06 16:48] #198 closed

[2017-07-06 16:49] DanTup commented on #318
I've had a little feedback on this so far, but only from Windows users. If anyone is able to give beta4 a test on Linux and/or Mac I'd appreciate it.

I believe this is basically complete and plan to ship 2.0 next week once I've finished a couple more minor changes.

[2017-07-06 16:57] amugofjava commented on #318
I'll try and give it another go on my Ubuntu setup tomorrow if I get chance. :)

[2017-07-06 17:31] DanTup opened #351 "Add support for bringing references with copy/pastes"
We'd need https://github.com/Microsoft/vscode/issues/30066 in order to do this; but the analysis server is getting the ability to request imports that affect a range of code. We can use this during a Copy operation to stash the list (we should also stash the text being copied, to protect against external clipboard changes between copy/paste operations in Code) and then fetch the edits required to

[2017-07-06 17:35] DanTup commented on #233
We may need to do a version check here to ensure we don't try to call it for the SDKs that didn't have it.

[2017-07-06 18:51] DanTup commented on #329
@Skylled Is there an easy way I can repro this sort of failure? I just tested by having no devices attached, but it seemed to handle it fine (`flutter run` terminated, which ends the debug session). Not sure if it's since been fixed or whether it's a different type of failure.

[2017-07-06 19:07] #327 closed

[2017-07-06 19:07] #328 closed

[2017-07-06 19:50] Skylled commented on #329
No, I wish. I can't even get a solid repro for the flutter devs. `flutter run` just quits when the problem comes up.

It's an edge case, that I wish I wasn't part of.

[2017-07-06 21:18] DanTup commented on #329
I checked the code, and it looks like as long as `flutter run` terminated, we should disconnect fine ([by sending `TeminatedEvent`](https://github.com/Dart-Code/Dart-Code/blob/c4af2fbf4ea19ea1080749a2f29d9b2b4ead3e06/src/debug/dart_debug_impl.ts#L102)). This isn't new code, so I wonder if `flutter run` isn't terminating correctly in this case.

I'll see if I can repro by disconnecting the device d

[2017-07-06 22:30] Skylled commented on #329
Okay, so I traced out the error message `Error launching application on {device}` to `runHot` [resident_runner](https://github.com/flutter/flutter/blob/030abfd49a488105174fcf7bded9c38ba2b94048/packages/flutter_tools/lib/src/resident_runner.dart#L249) which is hooked into `run` in [HotRunner](https://github.com/flutter/flutter/blob/2f737cf94ebb075b5e10ba2bace1d6d748b891c0/packages/flutter_tools/lib

[2017-07-06 22:41] DanTup commented on #329
We hook when the process exits which should fire in all cases :( I'll see if disconnecting during deployment causes same behavior.. should be easy to fix if so!

[2017-07-07 08:35] #340 closed

[2017-07-07 08:36] DanTup commented on #340
I decided to fix this by not connecting to Observatory (even though it's running). Doing the other way ended up with lots of `if`s littered around (don't send initialise for flutter when starting up, having to start-paused so that I can set exception break mode before an exception can occur, not sending breakpoints or exception mode when VS Code sends them).

Seems to work fine; and when an except

[2017-07-07 09:22] #278 closed

[2017-07-07 09:24] DanTup commented on #329
Yanking the cable during an install results in same behaviour - debugger doesn't disconnect.

![Repro](https://user-images.githubusercontent.com/1078012/27951939-7e523636-62fe-11e7-90e0-958af86225ab.png)

[2017-07-07 09:32] DanTup commented on #329
I've raised https://github.com/flutter/flutter/issues/11103 - seems like `flutter run --machine` is incorrectly (IMO) not terminating after an install failure.

[2017-07-07 09:38] #329 closed

[2017-07-07 09:39] DanTup commented on #329
I've added some code to terminate the flutter process when it sends an `app.stop` event in the meantime.

[2017-07-07 10:03] DanTup opened #353 "Restore AppVeyor status badges in readme/contributing"
https://github.com/Microsoft/vscode-extension-vscode/issues/64#issuecomment-308647323
92ecf87c00120840ebfa97114da67e66b23ec9c9

[2017-07-07 10:05] #4 closed

[2017-07-07 10:08] DanTup commented on #353
This didn't work; AV still downloaded 1.13. Probably because of `packages.json` saying we need that version.

[2017-07-07 10:16] DanTup commented on #319
Due to no responses, I've made a call on this! I've trimmed the commas from the *display text* so everything looks normal:

![Trimmed](https://user-images.githubusercontent.com/1078012/27953918-8e8d6c08-6305-11e7-8c2b-16b3e2b49483.png)

But when you insert, you still get the original text including the comma (and the placeholder I injected):

![Inserted](https://user-images.githubusercontent.com/1

[2017-07-07 10:18] #319 closed

[2017-07-07 10:23] DanTup commented on #197
This only happens in the extension host and seems to be caused by a delay in calling `activate` in the extension (my guess is that it's related to the overwriting of the extension).

[2017-07-07 10:23] #197 closed

[2017-07-07 10:54] DanTup commented on #318
@/all I've pushed a final flutter beta (beta5) here:

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter5

I believe this is basically feature complete and will be shipped as v2.0 in the next week or so (maybe with some fixes, depending on feedback). If you're able to try this out, please let me know how it works (and on what platform).

In addition to fixes in previous betas

[2017-07-07 10:55] DanTup commented on #198
@/all I've pushed a final flutter beta (beta5) here:

https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter5

I believe this is basically feature complete and will be shipped as v2.0 in the next week or so (maybe with some fixes, depending on feedback). If you're able to try this out, please let me know how it works (and on what platform).

In addition to fixes in previous betas

[2017-07-07 11:23] DanTup opened #354 "Priority files are not sent (for already-open/restored files) on project load"

[2017-07-07 11:23] DanTup opened #355 "`Wrap in widget` flutter fix moves cursor to wrong place"
![Cursor](https://user-images.githubusercontent.com/1078012/27956016-a1629560-630f-11e7-9101-04d7b6c14457.png)

[2017-07-07 11:24] DanTup opened #356 "Code actions should support tab stops"
I would expect `widget` to be highlighted.

![Selection](https://user-images.githubusercontent.com/1078012/27956034-b8d59184-630f-11e7-979a-703e4b1b097b.png)

[2017-07-07 11:32] DanTup commented on #355
[code]

This actually looks correct, 120 puts it at the end of the edit (86 + length of text to insert).

[2017-07-07 11:33] DanTup commented on #356
Looks like we have the info required in `linkedEditGroups`.

[code]

[2017-07-07 11:42] DanTup commented on #356
Can't see how to do this, have raised https://github.com/Microsoft/vscode/issues/30245

[2017-07-07 12:06] mit-mit opened #357 "Breakpoints don't work until after reload on macOS + iOS Simulator"
While testing [beta5](https://github.com/Dart-Code/Dart-Code/releases/tag/v1.5.0-beta.flutter5):

1. `flutter create testapp`
1. `cd testapp`
1. `code .`
1. add breakpoint in line 59 (`_counter++;`)
1. Hit `F5`
1. Press `+` button in app => nothing happened
1. Tried to add a few more breakpoints + hit Restart => nothing happened
1. Tried to add a few more breakpoints + change a widget + hit Restar

[2017-07-07 12:09] mit-mit commented on #357
And then after that, restarted the app, changed another string, hit restart, and now breakpoints are triggering! It seems something doesn't quite work on the first breakpoint sync?

[2017-07-07 12:11] mit-mit commented on #318
I tested beta5 on macOS, and unfortunately seem to be having some issues with breakpoints, opened https://github.com/Dart-Code/Dart-Code/issues/357.

All non-breakpoint related items on the checklist work fine on macOS.

[2017-07-07 12:16] DanTup commented on #357
@mit-mit Thanks for testing! Could you try a few things for me?

1. Set `dart.flutterRunLogFile` and `dart.observatoryLogFile` to paths for logging (currently, the folders must exist, the files do not) to enable blogging of comms with flutter and observatory
2. After launching the app when the breakpoints don't work (before reloading or trying to fix), open the `flutter run` log file and find the

[2017-07-07 14:35] DanTup commented on #357
Also - I think the error you posted may be a bug in Flutter/Dart; I don't think Dart Code should be able to cause that even if it tried!

I'd still like to know if you can repro this though; it's possible the breakpoint misses are unrelated to the error posted and something I can fix.

[2017-07-07 16:14] DanTup commented on #318
@mit-mit Thanks; I've added some notes to that case that might help track it down. Not sure if it might've been a one-off (the error is weird, and probably not my fault).

Curious if anyone else has same behaviour on Mac OS (@devoncarew); I don't have access to one to test :-(

[2017-07-07 19:03] DanTup commented on #356
https://code.visualstudio.com/docs/extensionAPI/vscode-api#TextEditor.insertSnippet

[2017-07-07 19:19] #355 closed

[2017-07-07 20:21] DanTup commented on #356
Got a working POC on `code-action-tab-stops` branch; however there's some weird interaction with completion - when you hit `tab` to move between the placeholders it commits whatever is top of the completion list which is probably not what you want.

Test case:

[code]

Invoke `Create class Danny` in the main method. When typing the class name then hitting tab, it'll just fill with something random

[2017-07-10 17:14] DanTup commented on #318
I'm planning on pushing Dart Code v2 out tomorrow evening (~26 hours from now). I should have some time on Thurs/Fri to push out an update if it does happen to have issues and I can fix them.

@mit-mit I'll tackle #357 in 2.1 if you can still repro and provide some more info.

Thanks everyone that helped test and provided feedback; it's great to (finally) publish this!

[2017-07-10 17:14] #318 closed

[2017-07-10 17:16] DanTup commented on #198
I'm planning on pushing Dart Code v2 out tomorrow evening (~26 hours from now). I should have some time on Thurs/Fri to push out an update if it does happen to have issues and I can fix them.

Thanks everyone that helped test and provided feedback; it's great to (finally) publish this!

[2017-07-10 20:45] Lisenish commented on #349
Ok, I will try to reproduce it and get logs. I assume this mostly happens after checkout on a different branch within VS Code. Looks like there is some cache issue because I am getting errors after checkout like if there is no new code from the checkouted branch. And when I open files with errors from analyzer - errors disappear.
Also, thanks for `Reload Window` advice, didn't know about that comm

[2017-07-10 22:23] DanTup commented on #349
#269 and #316 may be related.. had other reports of things not working correctly after changing branches but so far nobody has provided logs to help debug (cc @bwilkerson).

The instrumentation log file might be useful in tracking this down though will contain source code etc so please review before attaching (or distribute privately).

[2017-07-12 18:42] Rasarts commented on #87
Very simple to use outline for test like that extention: https://marketplace.visualstudio.com/items?itemName=RomanPeshkov.go-test-outline
![giphy](https://user-images.githubusercontent.com/910917/28134203-ed8b5e6a-674a-11e7-8a2a-bf98c30b9036.gif)

[2017-07-12 19:45] DanTup commented on #87
Cool; looks like we've got what is needed to do a reasonable job here. Not sure if we could show a list without executing them though (or easily let you run a single test) because of how tests work in Dart, but I'll take a look when I find some time!

[2017-07-13 19:02] DanTup commented on #334
This seems fixed in SDK .dev.6.0 :-)

[2017-07-13 20:21] rbenson commented on #107
Not a user of ext, or 100% sure how I got here, but @DanTup, have you seen https://github.com/Microsoft/vscode-extension-samples/tree/master/tree-view-sample? Not a production ready tool, but may help some?

[2017-07-13 20:54] DanTup commented on #107
Yeah, I've seen that - it was used to build the extension linked above. I need to have a play with the API to see how well it works - last I read there were some limitations of the API but I haven't read the release notes for 1.14 so I don't know if some might've been addressed :-)

[2017-07-13 21:20] JackAppDev opened #358 "Black screen when launching for debugging on iOS 11"
using version from vscode extension marketplace

1. `flutter create testapp`
2. `cd testapp`
3. **Debug > Start Debugging**
4. select "flutter mobile app"
5. **Debug > Start Debugging** - again
6. App launches as black screen

**Edit (@DanTup):** Related flutter issue -> https://github.com/flutter/flutter/issues/10602

[2017-07-13 22:10] Skylled commented on #358
Just to be sure, the app works correctly from `flutter run`?

Can you paste the logs from the debug console and `flutter run -v`?

[2017-07-13 22:23] JackAppDev commented on #358
It launches fine with `flutter run` however I get the black screen when trying to use vscode itself

[2017-07-13 22:29] Skylled commented on #358
Wow, iOS verbose logs are intense.

So, given that the error still occurs when Dart-Code isn't involved, I suggest bringing the problem to the main Flutter repo. Someone with more Mac/iOS experience should be able to help you.

[2017-07-13 22:30] JackAppDev commented on #358
no it only happens when using dart-code

[2017-07-13 23:23] DanTup commented on #358
@JackAppDev Could you try enabling the Observatory and FlutterRun logs ([see here](https://github.com/Dart-Code/Dart-Code/blob/master/CONTRIBUTING.md#enable-logging)) and attaching them (after reviewing for no personal data).

[2017-07-13 23:28] DanTup commented on #358
@JackAppDev Also, can you post the version of the Dart SDK being used (it'll appear bottom right of the status bar in Dart Code), VS Code version and what device you're using (Android or iOS, emulator or physical)? Thanks!

[2017-07-13 23:29] DanTup commented on #358
Another thing to check - `Help -> Show Developer Tools`; do any errors show up in the Chrome console?

[2017-07-14 00:20] JackAppDev commented on #358
Observatory file wasn't created
[run.txt](https://github.com/Dart-Code/Dart-Code/files/1146980/run.txt)

dart is the most up to date installed with homebrew
vs code version 1.14.0
flutter is 1.24.0-dev.6.7
using my physical iPhone
no errors in dev tools

[2017-07-14 04:12] jacehensley-wf opened #359 "Add lint name in "Problems" panel"
When displaying a lint in the "Problems" panel it would be helpful to show the name of the lint. This would make ignoring the lint with the `// ignore:` comment easier.

[2017-07-14 06:05] DanTup commented on #358
@JackAppDev

Flutter actually includes its own version of the SDK which is what's used here (in this case 1.24.0-dev.6.7), which I think is fairly recent.

Based on the `flutter run` log it seems like something has errored - it's written a timestamp with no data (this normally happens because it writes the response then crashes/pauses before it gets flushed).

Can you try running `flutter run --ma