[2022-09-26 09:24] DanTup commented on #4099
Sorry for the delay, I somehow missed this issue. I think the best solution is probably #4021, which avoids us having to "predict" the names of tests when running (instead, we will run them based on the line number they're on). I haven't had chance to try this out yet, but I'll keep this issue open as a reminder to test this once that work is done.

[2022-09-26 09:41] h-unterp commented on #4177
I closed because I found a solution to my issue.

I did not realize that you first need to

1. extract local variable
2. Then you get "Add type annotation"
![Screen Shot 2022-09-26 at 5 39 54 AM](https://user-images.githubusercontent.com/772917/192244839-914d196b-e872-4828-bdcb-cfe0e95a2d91.png)

While I do agree it would be convenient to have the type annotation exposed earlier. I did not want to

[2022-09-26 09:41] isidorn commented on #4170
This is not controllable right now.
fyi @roblourens who now owns the debug UI on the VS Code side.

[2022-09-26 10:05] johnniwinther commented on #3896
@DanTup Given that https://github.com/dart-lang/sdk/issues/49309 has been closed, do we know if the fix hasn't made it to the right channel yet, if the fix was insufficient, or if we are seeing a new context in which this error occurs?

[2022-09-26 12:06] DanTup commented on #4177
Ah, gotcha. I think it may still be reasonable to expect the server to automatically include these when the `always_specify_types` lint is enabled (to avoid it generating code that immediately violates the lint), so I'll re-open this as a request for that.

[2022-09-26 17:04] roblourens commented on #4170
Here, we changed "Load more" to "Load all" and request all frames from the DA when you click that button. https://github.com/microsoft/vscode/issues/102048

But I think DAs can return fewer frames if they wish and that is what @DanTup is doing right?

I can change the text back to "Load more", "more" will often be "all" but not always, it seems fine to me

[2022-09-26 17:21] DanTup commented on #4170
@roblourens yep, that's right. Dart is returning a fixed number of frames for performance reasons (because getting the whole call stack can be expensive is some environments). This is discussed a little at https://github.com/microsoft/vscode/issues/31851#issuecomment-734258782 (the last bullet point).

I think "more" is more accurate given DAs may behave differently (both a subset of frames and th

[2022-09-26 17:29] DanTup opened #4179 "Provide feedback when hot-reload (on-save) is skipped because of analysis errors"

[2022-09-26 17:33] DanTup opened #4180 "Initial analysis takes > 10 minutes"
Raised by @CoderUni in https://github.com/Dart-Code/Dart-Code/issues/4115#issuecomment-1255287962. Moving here because it seems different to the original problem in that issue.

[code]

[2022-09-26 17:33] DanTup commented on #4115
@CoderUni I don't seem to have your email, although I got the output from a notification of your original message.

I think this is a different issue to the originally reported issue above here (which includes "Header must provide a Content-Length property.") so I've opened https://github.com/Dart-Code/Dart-Code/issues/4180 where we can continue to debug this.

[2022-09-26 17:34] DanTup commented on #4180
@CoderUni does this problem occur only for this one specific project, or all projects you create?

[2022-09-26 18:24] scheglov commented on #4167
Yes, this looks as a relatively big piece of work.

Your solution looks good, I left a couple of comments.

[2022-09-26 23:45] gspencergoog opened #4181 ""See code in" example links incorrectly group multiple examples, don't linkify entire path"
When navigating to an example in the Flutter repo source code in the form of:

[code]

If there are multiple examples in the comment then it says that there are two possible "definitions" for the destination, when the analyzer [should be supplying the full path](https://dart.googlesource.com/sdk/+/refs/heads/main/pkg/analyzer_plugin/lib/utilities/navigation/navigation_dart.dart#226) to the destina

[2022-09-27 00:54] CoderUni commented on #4180
It only occurs for one specific project.

Thanks for your help. I sent the logs to `logs@dartcode.org`. Hopefully it pops up in your email this time :)

[2022-09-27 04:23] roblourens commented on #4170
Yeah, sounds reasonable to me, I filed https://github.com/microsoft/vscode/issues/161884 for next month

[2022-09-27 09:20] dartat opened #4183 "Wrong indentation on save"
**Describe the bug**
Wrong indentation when using then/catchError

**To Reproduce**
Steps to reproduce the behavior:
1. Open a new dart file
2. Paste this code
[code]
3. Press CTRL+S to save

**Expected behavior**
The indentation shouldn't be broken like in the following screenshot

**Screenshots**
![image](https://user-images.githubusercontent.com/114478313/192486340-03587987-9fab-4cf2-875e-951a5

[2022-09-27 09:23] DanTup commented on #4170
Perfect, thanks! I'll close this one then as there's nothing to do here.

[2022-09-27 09:23] #4170 closed

[2022-09-27 13:54] pitriq opened #4184 "Create missing override(s) quickfix not showing for empty classes."
**Describe the bug**

When creating an empty class that `extends` another one, the "Create n missing override(s)" quickfix is not appearing. In fact vscode says there are no quickfixes available at all. Once I write a single character inside the class, quickfixes start showing up.

This does not happen when using `implements`.

I'm not sure whether this is an extension or a language server issue.

[2022-09-28 09:36] DanTup commented on #4167
Fixed by https://github.com/dart-lang/sdk/commit/813aa69dff752d408f7168c78c4971537b527e6e.

[2022-09-28 09:36] #4167 closed

[2022-09-28 13:16] DanTup commented on #4184
Thanks, I can reproduce this. Something seems odd with the edits being produced, there's a selection from 0-27 in the edit, which covers the range `"\n  @override\n  void paint(C"` which doesn't make sense, and the `C` at the end clashes with an edit group for `Canvas`.

[code]

[2022-09-28 14:30] pitriq commented on #4184
Oh ok, so this is a problem with `CustomPainter` in particular. Maybe I should rename the issue.

Thanks for looking into it :)

[2022-09-28 14:37] DanTup commented on #4184
@pitriq it's not specific to `CustomPainter`, but depending on the exact names or the overrides being produced, it may/may not be triggered. In some cases, it will work, but the selected text will be incorrect. In this case, the selected text clashes with an edit group and that causes an exception.

I've tracked down the cause (and found a few similar related issues) and just working on some tests

[2022-09-28 15:46] DanTup opened #4185 "Create Missing Overrides produces linked edits with unexpected non-nullable type options"
@bwilkerson while fixing #4184 I noticed these edit groups being produced:

https://user-images.githubusercontent.com/1078012/192819877-e6e0cb59-fd3f-4a0d-b814-9f5fec6645d1.mp4

Here, we're creating linked edit groups with suggestions for `Object?` and `Object` where it seems like only `Object?` is allowed. I believe it's because of `withNullability: false` here:

https://github.com/dart-lang/sdk/

[2022-09-28 16:04] DanTup commented on #4183
Formatting is handled by [dart_style](https://github.com/dart-lang/dart_style) so any bugs/improvements would need to be made there.

I think your example is the same one noted here though:

https://github.com/dart-lang/dart_style/issues/1121#issuecomment-1184224140

So I would add 👍  to that issue. Thanks!

[2022-09-28 16:04] #4183 closed

[2022-09-28 16:08] DanTup commented on #4180
@CoderUni thanks. There's nothing obvious in what you sent. It's odd that it only occurs in this one project though. I would suggest trying the following:

- Make an exact copy of your project folder and open that to see if it occurs there
- If it does, if you have a repository, re-clone to a new folder and see if it occurs there (a clean checkout will get rid of any `build`, `.dart_tool` etc. fol

[2022-09-28 16:09] bwilkerson commented on #4185
I agree that we shouldn't be suggesting types (like `Object`) that aren't valid in the given location.

I believe that that would solve the problem here, but I'm wondering whether there might not be a deeper problem.

@scheglov Given an `InterfaceType` representing `int?` (for example), what should `superclass` return? Should it be the type for `num` or `num?`?

[2022-09-28 17:12] DanTup opened #4186 "Improve colouring of clickable path links in dartdocs"
Split from https://github.com/Dart-Code/Dart-Code/issues/4181, raised by @gspencergoog. Clickable links would be nice if they were highlighted without having to hover/hold Ctrl.

I believe this may be possible with a DocumentLinkProvider (or the LSP equiv of).

[2022-09-28 17:21] DanTup opened #4187 "Ctrl+hover over file paths shows empty tooltip"
Split from https://github.com/Dart-Code/Dart-Code/issues/4181, raised by @gspencergoog. This happens when you hover over a path and hold Ctrl (I had to also then move the mouse around, though I don't know why):

![image](https://user-images.githubusercontent.com/1078012/192847683-f35a2b62-ac00-4703-83f7-892bf71e102a.png)

I believe this may be because we're returning 0-width target ranges and VS C

[2022-09-28 17:21] DanTup commented on #4181
1. Wrong highlight range when there are multiple results
  This one seems to be a VS Code but (I've verified the ranges the server returns are correct) - https://github.com/microsoft/vscode/issues/160958
2. Highlight links before hovering/holding ctrl
  I've split this to https://github.com/Dart-Code/Dart-Code/issues/4186
3. Shouldn't need to disambiguate between links in the same dartdoc when you

[2022-09-28 17:36] DanTup commented on #4187
I think this might be best fixed in VS Code (I think empty ranges are reasonable for files - TypeScript has them too). I've filed https://github.com/microsoft/vscode/issues/162227. Although it could be argued we should select "the entire file", it's very possible the file is actually empty.

[2022-09-28 17:55] scheglov commented on #4185
A couple of ideas.
1. In `_addSuperTypesAsSuggestions` use `InterfaceElement.allSupertypes` instead of diving into `get interfaces` and using `alreadyAdded`.
2. The name `_addSuperTypesAsSuggestions` is not quite correct - it adds the type itself as well, not only its super-types.
3. `withNullability` must be `true` if the target library `isNonNullableByDefault`.
4. If the given `InterfaceType` nu

[2022-09-28 19:31] bwilkerson commented on #4185
I'm guessing that the answer to my question is that `superclass` is intentionally not equivalent to `supertype`.

[2022-09-28 20:11] scheglov commented on #4185
I actually find this terminology somewhat confusing, maybe because different people mean different things. For me, when I see "class", it means actual "class X<T> {}" or `mixin X<T> {}`. But "type" is an instantiated "class", i.e. specific `X<int>` in `class A extends X<int> {}`. So, we return `allSupertypes` from which, if you want, you can ask `InterfaceType.element(2)` to get its "class".

And

[2022-09-29 08:48] DanTup commented on #4184
Fixed by https://github.com/dart-lang/sdk/commit/d97c3e8702b4e07349e0816452ff5ec47914ef3e. Will ship in a future Dart SDK.

[2022-09-29 08:48] #4184 closed

[2022-09-29 09:41] DanTup commented on #4181
https://github.com/dart-lang/sdk/commit/dd12cfd073550989fd1499eead9c996c4a0748b8 fixes the issue with multiple results being returned instead of only the one at the location requested. It's an SDK change, so will show up based on your SDK version (not Dart-Code version).

[2022-09-29 09:41] #4181 closed

[2022-09-29 11:21] DanTup commented on #4185
I'm assuming that we should not output the `*`, and only the `?` - (my understanding is that star is used in _displays_ to indicate a type is legacy/unknown nullability, and it's never written in code?)

In which case, we can't use `getDisplayString(withNullability: true)` and need to instead add the `?` suffix manually (which seems to be what `_writeType` does). I've made the change here:

https:

[2022-09-29 12:27] Hexagonale commented on #4121
So the issue is for the functions with multiline parameters. I opened an issue for the VS Code and I think they have provided valuable debug info.

https://github.com/microsoft/vscode/issues/162300

[2022-09-29 13:39] DanTup commented on #4121
Thanks for the link. I didn't realise this used to work - it looks like there were some changes in VS Code (https://github.com/microsoft/vscode/pull/155302) that stopp it from handling ranges that start/end on the same line.

The data from the server initially contains column numbers (so they don't really intersect at all), but VS Code only supports line folding. I think we'll need to detect this

[2022-09-29 15:21] DanTup commented on #4121
Working on a fix at https://dart-review.googlesource.com/c/sdk/+/261900/. I'll close this once it lands. It's a change in the Dart analysis server, so will ship in a future SDK release (rather than a Dart VS Code extension release).

[2022-09-29 17:00] NebulaFox opened #4188 "Flutter app will not compile under vscode but will compile everywhere else"
App was compiling fine until setting up `flutter_secure_storage` on macos. After adding keychain sharing capabality to the xcode project, adding signing, adding my device, the project will not complie under vscode. Reporting the provisioning profile does not have the device that I added. XCode compiles and runs. `flutter run` compiles and runs.

Is there some cache that needs to be cleared?

Have

[2022-09-29 17:05] DanTup commented on #4188
Can you provide the error you're seeing when running from VS Code? Thanks!

[2022-09-29 17:21] NebulaFox commented on #4188
[code]

[2022-09-29 17:26] DanTup commented on #4188
Thanks - could you post the following:

- Full output of running `flutter doctor -v` from a terminal where `flutter run` is working
- Full output from running the *Flutter: Run Flutter Doctor** command from the VS Code command palette (`F1`)
- The output of `code --status` while you have this project open in VS Code

(You can attach them here, or send to me at logs@dartcode.org).

[2022-09-29 17:36] NebulaFox commented on #4188
`flutter doctor -v` from terminal where `flutter run` is working
<details>

[code]
</details>

_Flutter: Run Flutter Doctor_

<details>

[code]

</details>

output of `code --status` while the project is open in VS Code

<details>

[code]

</details>

[2022-09-29 18:54] DanTup commented on #4106
@gspencergoog any feedback on the performance of this lately? It came up elsewhere too and I'm wondering if the last set of changes made much difference.

[2022-09-29 19:26] DanTup commented on #4188
In the terminal output I see:

And in VS Code output I see:

Note it says "Rosetta" here. I suspect this might solve the issue:

https://stackoverflow.com/a/72123941

Although, I wonder if this means you're running the x86 version of VS Code. When I run `code --status` on my M1 MacBook I see:

But yours shows x64. I'm not sure why though, VS Code has been using universal binaries for a while, so I

[2022-09-29 19:57] gspencergoog commented on #4106
What version is it in?  I have v3.48.4 and haven't really seen any improvement.  It still takes 25-30 seconds for it to find a symbol.

[2022-09-29 21:10] DanTup commented on #4106
The changes were in the SDK, so if you're on Flutter master you'd have them already 😞

Is 25-30s what you see for the first search, or subsequent searches? I'm not on my main machine now, but will do some more testing next week. Do you have a concrete example so I can test with the same thing?

An analysis server log would be useful because it'll include exactly what requests were sent:

- Run the

[2022-09-29 22:33] NebulaFox commented on #4188
I have deleted my old vscode and installed a new version, and that seems to fix everything. Had a version of vscode from my old mac. Hopefully this is the issue.

Thanks for all the help.

[2022-09-29 22:33] #4188 closed

[2022-09-30 01:26] Tanthus opened #4189 "LSP server is not handling errors in plugins correctly"
**Describe the bug**
The VSCode dart LSP analyzer just continues to spin.

It will start working normally by checking the "Dart: use legacy protocol" checkbox.   The problem started mid-summer

**To Reproduce**
When opening VSCode just let the Analyzer run.   It continues to process and never gives any feedback.  It looks like it is getting stuck somewhere but not sure where as it never returns an

[2022-09-30 02:12] gspencergoog commented on #4106
OK, so it looks like the first time is still pretty bad, but the second and subsequent searches are much improved.

macOS:
1st: ~40s
2nd: <1s

Windows:
1st: ~36s
2nd:  <1s

Anyhow, there are some good improvements! I'll try it out on my Linux machine tomorrow (not at the office at the moment).

Could we somehow initiate a search in the background right after startup to warm things up? (or maybe th

[2022-09-30 08:15] kinex opened #4190 "Invalid error "A project with the name android already exists""
In my VS Code workspace I have a Flutter app project and several Flutter plugin projects. After a quite recent Flutter or VS Code/Dart-Code update I started getting these errors in the Problems-tab:

[code]
I get these same errors for all my 4 plugin projects in the workspace. The error "Could not run phased build action..." is shown also for my app project.

There are actually two errors "A proje

[2022-09-30 12:55] DanTup commented on #4188
Ah, that explains why you weren't on the Arm version then. Glad it's sorted!

[2022-09-30 12:59] DanTup commented on #4190
When do you see this error? When starting to run/debug the app (eg. pressing `F5`)?

Do you see the same thing if you run the same project with `flutter run` from the terminal?

[2022-09-30 13:49] DanTup commented on #4106
Thanks for the numbers and logs! If it's always < 1s for subsequent searches that doesn't sound too bad. I'll do some profiling to understand exactly what takes time on the first runs (previously I'd only focused on subsequent runs). Running a background search might not be the best route (especially if it triggers a bunch of synchronous work that blocks the thread - something that's more reasonab

[2022-09-30 15:10] kinex commented on #4190
I only open the project in VS Code, no need to run/debug it. But I just noticed disabling the extension "Language Support for Java(TM) by Red Hat" fixes the issue. So this has nothing to do with Dart-Code. Sorry about the wrong report! I have no idea when and why I have installed that extension, maybe I have pressed by accident some "Yes" button when VS Code has suggested to install a new extensio

[2022-09-30 15:10] #4190 closed

[2022-09-30 16:10] DanTup commented on #4190
Ah, glad you tracked it down. I think I disabled recommendations in VS Code because it was often suggesting extensions I really didn't need 😄

[2022-09-30 17:17] CoderUni commented on #4180
Thanks @DanTup :) That did the trick. I tried deleting the build and .dart_tool output but it didn't work. I'm not sure which files or folder is causing the issue but the problem is fixed :)

[2022-10-01 01:26] #4135 closed

[2022-10-01 12:28] abidwali opened #4192 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `dart-code`
- Extension Version: `3.48.4`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.71.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/abidw/AppData/Local/Temp/Dart-Code.dart-code-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/

[2022-10-01 12:45] DanTup commented on #4192
Are you able to attach this file? Thanks!

[2022-10-02 16:07] jtdLab commented on #4021
Will dynamic test/group descriptions be possible with this?

[2022-10-03 09:51] DanTup commented on #4180
Glad it's fixed, although I'm not sure what might have caused it. It you see it again, maybe it's worth copying the folder and trying to poke around to see which folders are causing it. Circular symlinks have caused issues in the past, but usually they would just fail (because the paths ultimately get too long) and not just start working after some several minutes.

I'll close this because I don't

[2022-10-03 09:51] #4180 closed

[2022-10-03 09:59] DanTup commented on #4129
Fixed by https://github.com/dart-lang/sdk/commit/bd867e630c1f14e8848cae1d6259d8811fa6844a.

[2022-10-03 09:59] #4129 closed

[2022-10-03 10:02] DanTup commented on #4157
Fixed by https://github.com/dart-lang/sdk/commit/d83cb4e621d5b53b7222a6d70a4958fdbf65f64f.

[2022-10-03 10:02] #4157 closed

[2022-10-03 10:04] #4121 closed

[2022-10-03 10:18] DanTup opened #4193 ""Inspect Widget" does not navigate to code in IDE when using new DAPs"
The new DAPs don't handle the "inspect" event that was used to navigate the editor to code when inspecting widgets.

Perhaps it's worth considering a more specific event for navigating IDEs, since some users user `inspect()` for wanting to dump variables to the debug console and there's some overlap here (the API also requires a number of calls to get the widget summary which complicates things).

[2022-10-03 10:19] DanTup commented on #4093
I discovered the new DAPs don't support Inspect Widget correctly (that is, they don't navigate in the editor) so it makes sense to fix that (#4193) before tackling this, since it's possible the mechanism used for navigating will change a bit.

[2022-10-03 10:26] #4134 closed

[2022-10-03 13:59] DanTup commented on #4021
@jtdLab I'm hoping so, but I haven't done much testing yet (and it may depend on the exact configuration of the test). If you have some specific tests in mind, you can try running them from the terminal using the line/col like:

[code]

Where line/col are where your test definitions are. If that runs them, then it should work here. If it doesn't work, please post an example and I can do some diggi

[2022-10-03 14:24] DanTup opened #4194 "Re-enable SDK DAPs"
Progressive rollout will be re-enabled for stable releases that include fixes for known issues. For pre-release SDK users, everyone will be opted-in that has those fixes.

[2022-10-03 14:25] #4194 closed

[2022-10-03 16:39] gspencergoog commented on #4106
Is there any way to keep it working once the search bar is unfocused, even if it's just finishing the current search in the background?  It locks me into waiting, since I can't even click on another window or switch workspaces while it searches to do something else.

[2022-10-03 16:49] DanTup commented on #4106
@gspencergoog not that I know of (or can find). Some of the other searches (like Find References) can now be run in a way that shows results in the sidebar, it seems like maybe the same for finding workspace symbols could be useful. That would be a VS Code feature request though, as all of the UI interaction for this search is controlled by it.

[2022-10-03 16:56] gspencergoog commented on #4106
It's OK, it looks like even a canceled search warms the cache.  If I start a search and then click away, if I come back later and do the same search, it's much faster.

[2022-10-03 18:45] jtdLab commented on #4021
@DanTup im thinking about a scenario like this

foo_test.dart
[code]

my_shared_testing_library.dart

[code]

Is this possible via line/col and not description?

[2022-10-03 20:04] jtdLab commented on #4021
When running via the clickable Run | Debug above the test on `v3.50.0` i get `No tests match regular expression "^const MyWidget\(\)( \(variant: .*\))?$".`

[2022-10-03 20:07] DanTup commented on #4021
@jtdLab that's expected right now, using line/col has not been implemented in the extension yet.

You can use `dart test foo_test.dart?line=1` from the terminal to verify where `package:tests`'s support for line/cols works for this example. If it does, then once I update the extension to use this (implementing this issue), then it should also work from the Run/Debug CodeLens links.

[2022-10-03 20:08] jtdLab commented on #4021
Perfect thank you a lot

[2022-10-03 20:18] jtdLab commented on #4021
@DanTup when running `dart test foo_test.dart?line=<LINE>` i get  `no matches found: foo_test.dart?line=<LINE>` on `test: ^1.21.6` so looks like this case is not covered there

[2022-10-03 23:21] maks commented on #4124
Thanks for the explanation @DanTup , that all makes sense!
I think my issue is that my "main" `YYYY_app` config didn't specify a `program`. Although for some reason now, I can't seem to replicate the behaviour I was seeing without it, I'll just make sure to always have an explicit `program` as that's really what I want anyways given I use a number of different "main_yyyy" Dart files.

[2022-10-03 23:21] #4124 closed

[2022-10-04 09:09] DanTup commented on #4124
Yep, you should always specify a `program` if you don't want us to try to infer one from the open file/project. Generally I'd only suggest a launch config without a `program` if you want to be able to use `F5` and have the entry point inferred, but need to set some additional args/env/etc. that wouldn't otherwise be set by default.

Let me know if anything still doesn't seem to work as expected!

[2022-10-04 11:33] DanTup commented on #4021
I tested this using latest Flutter master (I missed you were using Flutter, so it should've been `flutter test`) and it seems to work as you'd like:

<img width="780" alt="Screenshot 2022-10-04 at 12 31 16" src="https://user-images.githubusercontent.com/1078012/193809175-23cf3ef7-1410-4060-be99-b4686ec326f9.png">

So at least for a future version of Flutter, once this is implemented I believe what

[2022-10-04 13:28] DanTup commented on #4189
@Tanthus sorry for the delay. Could you try enabling the [analyzer log file](https://dartcode.org/docs/logging/#analyzer) and see what's recorded?

Can you also check whether this happens in a new project created with `flutter create`, or if it's specific to this project?

Thanks!

[2022-10-04 17:41] DanTup opened #4198 "Add the ability to run tests for a folder to explorer context menu"
"Run all tests in folder" / "Debug all tests in folder"

To match it, we should probably also rename "Start Debugging"/"Run without debugging" to include "tests" when on a test file.

@connor4312 before I do this, do you think it would make sense to have this in VS Code directly (that is, an option to "run tests in file" and "run tests in folder" in the explorer context menu, which just does the s

[2022-10-04 18:11] canewsin opened #4199 "Language server getting wrong method signature other than imported"
**Describe the bug**
Language server getting wrong method signature other than imported

Using git version of this package
`flutter_background_service`
https://github.com/ekasetiawans/flutter_background_service/tree/9ad6ba3acf9952c53aa482708a4d099f9e33d98f

**Screenshots**
Method Signature
![Screenshot 2022-10-04 232657](https://user-images.githubusercontent.com/26790557/193892621-b16be323-202f-4d

[2022-10-04 18:21] canewsin opened #4200 "'Path' isn't a type so it can't be used as a type argument'"
**Describe the bug**
Language server failed to recognize Path as valid Type.

**Screenshots**
![Screenshot 2022-10-04 232607](https://user-images.githubusercontent.com/26790557/193895886-0498ee30-d9d2-4f63-babc-1f2e19dc4f03.png)

**Please complete the following information:**
 - Operating System and version: Window 11
 - VS Code version:

Commit: 74b1f979648cc44d385a2286793c226e611f59e7
Date: 2022

[2022-10-04 19:56] connor4312 commented on #4198
I think this is a good idea, and something I've wanted to do for a little while.

[2022-10-05 09:05] DanTup commented on #4198
Great - I've filed a VS Code issue at https://github.com/microsoft/vscode/issues/162728 then. I'll hold off doing anything Dart-specific here in case that's something that might happen in the near-term (and if not, I may add something here in the meantime).

Thanks!

[2022-10-05 09:08] DanTup commented on #4200
@canewsin can you try Ctrl+Clicking on `Path` and see if it navigates anywhere?

Can you also confirm whether you can reproduce this in a new project created with **Flutter: New Project**, or if it's only this specific project?

Finally, can you include the full output from running the **Flutter: Run Flutter Doctor** command from the command palette (`F1`) (not the terminal).

Thanks!

[2022-10-05 09:13] DanTup commented on #4199
Are you able to share an example project with this issue? I tried to reproduce it but don't have the error you have:

<img width="880" alt="Screenshot 2022-10-05 at 10 12 27" src="https://user-images.githubusercontent.com/1078012/194025055-a143b6d6-ec97-4605-b9af-207d6220931c.png">

[2022-10-05 12:48] canewsin commented on #4200
can't click via ctrl on Path
[code]

[2022-10-05 16:27] DanTup opened #4202 "Extract Method show up in import statements"
Similar to #4165, @jacob314 noticed this shows up for `import`s:

![image](https://user-images.githubusercontent.com/1078012/194112399-86fb3837-da49-4437-b654-84c47fe53a6f.png)

[2022-10-05 16:27] DanTup commented on #4165
Fixed by https://github.com/dart-lang/sdk/commit/8941837fb72152b2189b09ec4986df428c865d49.

[2022-10-05 16:27] #4165 closed

[2022-10-05 17:41] canewsin commented on #4200
git status
[code]
I tried **flutter clean** & **Flutter: Get Packages** several times and in several sessions nothing changed.

[2022-10-05 17:56] DanTup commented on #4200
@canewsin if you create a new project with **Flutter: New Project** and try to use `Path` there, do you see the same issue, or is it only for this project?

[2022-10-05 18:43] Tanthus commented on #4189
@DanTup, thank you for your help.   With the help of the log, I was able to figure out the issue.   I did create a new project with `flutter create`, and the analyzer worked.   I also enabled the analyzer log file which pointed to the "drift_dev" library as causing the exit.

I attached the full log but the area that appeared to cause the analyzer to stop was:
[code]

I was able to eventually trac

[2022-10-05 19:07] DanTup commented on #4189
@Tanthus thanks for the investigation! If I'm reading correctly, I think there is an analyzer plugin being loaded that is leading to this.

My understanding is that even badly-behaved plugins should not bring down the server, so I'll keep this open and try to repro. It's likely there need to be some server fixes here (as well as possible fixes in the plugin being loaded).

[2022-10-06 02:23] gopelkujo commented on #2319
I just experienced the same thing as you (slow emulator when running from flutter vscode) in Linux, and your information running emulator from that command really help me boost my emulator performance, i still haven't found a fix solution. But anyway thanks for that!

[2022-10-06 15:04] DanTup opened #4203 "Quick fixes are ordered badly"
<img width="652" alt="Screenshot 2022-10-06 at 16 02 42" src="https://user-images.githubusercontent.com/1078012/194348496-7d8e440b-3d1b-43a5-be0f-1e3e3420f472.png">

I would expect all `ignores` to be further down, and the "add import" to further up. Not sure if it's VS Code's new menu or a server issue.

[2022-10-06 15:40] DanTup opened #4204 "Large lists in locals/watch windows can hang"
Reported on StackOverflow: https://stackoverflow.com/q/73921614/25124

[code]

We send a `getObject()` request but there's no offset/length s presumably it's trying to send the entire list back which is huge. It's possible being a `Uint8List` complicates things, but a normal List (`List.filled(100000000, 0)`) has issues too.

[code]

For `Uint8List` the `kind` is `Uint8List` but it still has a len

[2022-10-06 15:42] DanTup commented on #4202
Fixed by https://github.com/dart-lang/sdk/commit/ad334d85e196244cee0d2043eaf4649466ceef4e.

[2022-10-06 17:17] woprandi opened #4205 "debugging session unusable if local variable is too large"
**Describe the bug**
When trying to debug app, if a local variable representing a very long list (list of 100M file bytes), the debugging session is not usable and often crash

**To Reproduce**
Steps to reproduce the behavior:
1. Create a local big file (on Linux : `dd if=/dev/zero of=my_big_file bs=100M count=1`)
2. Create a small dart app to read this file :

[code]

3. Add breakpoint on line 5

[2022-10-06 22:55] bartekpacia opened #4206 "Evaluate code in Debug Console during integration tests"
### Describe the bug
**TL;DR** I can't evaluate code in Debug Console when running integration tests. I don't know if I'm doing something wrong or if this is just not possible.

Also, I can't find a way to run (using VS Code's `launch.json`) normal widget tests with `flutter run test/widget_test.dart` (=running on device) instead of `flutter test test/widget_test.dart` (running in isolation). This

[2022-10-07 00:36] maks opened #4208 "Not possible to debug a Flutter webapp in Chrome not started by DartCode"
Per https://github.com/flutter/flutter/pull/44263 I am launching a Flutter webapp with only the webserver running, open the url for the webapp in a specific Chrome window (ie. I want to use a Chrome window for a specific Chrome profile which is logged into a specific Google account) and then able to use the VSC debugger to debug the running Flutter webapp.

I'm using this launch config:
[code]

An

[2022-10-07 08:53] Lorenzohidalgo commented on #3236
@DanTup it looks like this issue has "re-surfaced" at least in our case.

Here are the versions we are working with that show the incorrect warning:
Flutter: v3.3.3
Dart: v2.18.2
VSCode: v1.72.0
Dart Code Extension: v3.50.0

[2022-10-07 11:01] DanTup commented on #3236
@Lorenzohidalgo do you have the `dart.normalizeFileCasing` setting enabled? If so, can you capture a log as described [in this comment above](https://github.com/Dart-Code/Dart-Code/issues/3236#issuecomment-809219205)? Thanks!

[2022-10-07 11:32] Lorenzohidalgo commented on #3236
@DanTup sorry, I didn't have that config initially enabled.
I've reproduced the steps mentioned in the linked comment but could not reproduce our error with either `dart.normalizeFileCasing` set to `selected` or `unselected`.

In our case, this issue happened initially on my colleague's system and "passed" on to me when I pulled the changes. There was no "file name change" happening on my computer

[2022-10-07 11:50] DanTup opened #4209 "Use line/col information from source locations instead of mapping tokenPosTables"
While investigating #4208 I noticed that the responses from the VM have line/col information and we don't need to look it up from tokenPosTable (as of https://github.com/dart-lang/sdk/commit/2db8f37cfa22d5120d56c82eeddd3f3008f72ec3). Assuming the data is there, this may save us fetching a lot of scripts.

(We should check both old and new DAPs).

[2022-10-07 11:51] DanTup commented on #4208
I can reproduce this. Using the Chrome device is fine, but using Web Server and the Dart Debug extension has the behaviour above.

It looks like when we pause, we call `getScript` to get the script to map the `tokenPos` back to a location. When using the Chrome device, this works:

[code]

However when using the Web Server device and Dart Debug extension, it fails:

[code]

[code]

I suspect this

[2022-10-07 12:01] DanTup commented on #4208
Looks like this has already been fixed in DWDS/Flutter, as it's working fine on the `master` branch:

<img width="1420" alt="Screenshot 2022-10-07 at 12 56 06" src="https://user-images.githubusercontent.com/1078012/194547607-56c6f979-468f-47ba-81b8-19475961a707.png">

Unfortunately I can't think of a workaround, but I'll take a look at #4209 early next week because if that side-steps the issue, I

[2022-10-07 12:02] DanTup commented on #4208
(Closing this one as the real issue is fixed in Flutter/DWDS, we can follow up on #4209 about whether we can avoid calling the bad code)

[2022-10-07 12:02] #4208 closed

[2022-10-07 12:09] DanTup commented on #3236
@Lorenzohidalgo do you mean the issue has gone away now and you can no longer reproduce?

If you can reproduce an issue with `normalizeFileCasing` enabled, please do file a new issue. `normalizeFileCasing` is a bit of a hack and not the real solution, but it's all we have right now. Unfortunately the real fix is rather complicated because it requires VS Code, LSP and the Dart server to all agree o

[2022-10-07 17:23] bartekpacia commented on #4206
Thanks for answering my second little question. Works, indeed :)

But it's sad that we can't evaluate Dart code in Debug Console when running integration tests. I hope this gets implemented soon,

Thanks for your help.

[2022-10-07 22:58] maks commented on #4208
Thanks for looking into this so quickly @DanTup 👍
As I only need to debug our web build occasionally,I'm fine to work around this for now but switching to Flutter master when needed until the fix makes its way down to stable.

[2022-10-08 16:58] blaugold opened #4210 "Jump to widget creation location when clicking on widget in inspector"
**Is your feature request related to a problem? Please describe.**
Clicking on a widget in the widget inspector of the devtools also moves the focus of the editor to the creation location of the widget in Android Studio.

**Describe the solution you'd like**

https://user-images.githubusercontent.com/5929595/194718499-cefeca82-83f6-4c4c-98e5-477a15f5a41f.mov

Please ignore that the focus jumps bet

[2022-10-08 18:56] blaugold commented on #4210
OK, so this feature already exists, it just seems not to work on the channels other than stable. I tried it with the beta and master channel, both with the pre-release (`v3.51.20221003`) and the stable release (`v3.50.0`) of Dart-Code.

[2022-10-08 19:04] blaugold commented on #4210
🤦 Closing as duplicate of #4193.

[2022-10-08 19:04] #4210 closed

[2022-10-08 19:17] DanTup commented on #4210
You're right, this is the same as #4193. This functionality was unfortunately missed from the new debug adapters, which are now enabled on the Flutter pre-release channels.

If you'd like to use a pre-release channel but not hit this, you can disable the new debug adapters by adding `"dart.previewSdkDaps": false` to your VS Code settings.

You can subscribe to #4193 for updates when this is resolv

[2022-10-08 19:29] blaugold commented on #4210
Oh, no problem. I should have searched the issues properly!

And thanks for the workaround.

[2022-10-09 13:44] khg0343 opened #4211 "Error: spawn EPERM"
**Describe the bug**
Suddenly Flutter & Dart extension for vscode stopped working.
The extensions just won't start. I reinstalled whole vscode several times, but it keeps happening.
Even the dart and flutter commands are not found on command pallet

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'

**Expected behavior**
A clear and concise description of what you

[2022-10-09 17:45] DanTup commented on #4211
Can you try enabling the extension log by adding the following to your VS Code user settings:

[code]

Then reproduce the issue, and attach the log file (after removing anything sensitive) here.

Thanks!

[2022-10-10 06:26] ho-lapang commented on #3236
![Screenshot_20221009-020636.png](https://user-images.githubusercontent.com/115382488/194808652-952b485c-f849-48a1-978c-55766be08ab1.png)

[2022-10-10 12:13] ValentinVignal opened #4212 "Embedded languages seems to be overriden"
**Describe the bug**

It looks like the dart/flutter extension is overriding embedded languages.

I'm trying to create an extension to colorize a custom language on vscode (ntm) (https://github.com/ValentinVignal/ntm-vscode)

And I'm trying now to embed in dart strings (https://github.com/ValentinVignal/ntm-vscode/tree/for-issue/embed-ntm-in-dart-and-graphql)

**To Reproduce**
Steps to reproduce t

[2022-10-10 13:48] DanTup commented on #4212
I believe you're hitting the issue described in https://github.com/microsoft/vscode/issues/113640 (or something similar). Dart uses semantic highlighting once the server is up, which is more accurate than the textmate grammar (it uses the real Dart parser). However VS Code doesn't support textmate grammars when semantic tokens are being used.

You can verify this by disabling semantic tokens:

[co

[2022-10-10 19:42] DanTup commented on #4209
Fixed by cf21e01763375f220d8e76ada9671ea1f9dec096 in legacy DAP and https://github.com/dart-lang/sdk/commit/946eec83304865d39dbb5186d95a79bca1b2edec for new SDK DAPs.

@maks I haven't specifically tested your issue yet, but if you're on the pre-release versions of the Dart extension (see below) then this might be #4208 _might_ be resolved for you (since we shouldn't need to fetch the scripts - the

[2022-10-11 06:51] khg0343 commented on #4211
[dart_log.txt](https://github.com/Dart-Code/Dart-Code/files/9751906/dart_log.txt)

[2022-10-11 08:04] bsutton commented on #612
I'm using dswitch to move between dart versions and it only supports the
archive channels so this might have to wait until an archive gets released
with support.

S. Brett Sutton
Noojee Contact Solutions
03 8320 8100

On Mon, 18 Jul 2022 at 22:53, Danny Tuppeny ***@***.***>
wrote:

[2022-10-11 09:39] DanTup commented on #612
I'm not sure what "archive channels" means in this context, but FWIW the latest Dart beta on https://dart.dev/get-dart/archive is 2.19.0-255.2.beta which should definitely include it. So if you're able to use beta releases (and not only stable releases) then it should be available.

[2022-10-11 09:49] DanTup commented on #4211
@khg0343 can you try running `flutter doctor` from the terminal built inside VS Code?

[2022-10-11 12:23] ValentinVignal commented on #4212
Oh no!

Thank you for the answer. My custom grammar was meant to be used for as many people as possible (but in reality, a small team). I don't think disabling the semantic would be a good option either.

Should I close the issue? I see you changed the label to `is enhancement`

[2022-10-11 12:49] DanTup commented on #4212
I think it's a fair request for us to do something to support this better (since it seems like VS Code won't support it natively), I just don't yet know how beneficial it is (versus the cost of implementing/supporting it). So I'm happy to leave this issue open and users that would benefit from it can add 👍 's which might help gauge the demand for it to help inform that (if you know users that woul

[2022-10-11 13:28] DanTup commented on #4206
Yeah, I understand. Unfortunately I don't understand how the compilation service works well enough to know whether it's a big change or not. I would encourage adding 👍 's to that Flutter issue if you haven't already.

I'll close this issue as there's actually nothing to do in the VS Code extension. Once implemented in Flutter, it will just start working here.

[2022-10-11 13:40] DanTup opened #4213 "Improve rendering of Uint8List (and friends) in the debugger"
[code]

List `a` looks like a list, but the others do not:

<img width="465" alt="Screenshot 2022-10-11 at 14 36 05" src="https://user-images.githubusercontent.com/1078012/195105965-fcd4b403-7415-4c58-9fa9-a57bdedbe9aa.png">

In the VM Service traffic, we can see the item has a `length: 6` so we might be able to present it the same as a standard `List`:

<img width="365" alt="Screenshot 2022-10-11

[2022-10-11 16:16] DanTup commented on #4213
Fixed with https://dart-review.googlesource.com/c/sdk/+/263620 in the new DAPs.

![Screenshot 2022-10-11 at 17 15 48](https://user-images.githubusercontent.com/1078012/195145297-d104e641-f850-4489-9263-bb016be79f56.png)

Since this change is in the SDK, it'll show up in an SDK update.

[2022-10-11 16:27] DanTup commented on #4205
This fix is in the SDK so it'll show up in a future SDK release. It's also limited to the new debug adapters (currently behind a flag `dart:previewNewSdkDaps`, but will hopefully be progressively rolled out after the next SDK release).

[2022-10-11 16:27] #4205 closed

[2022-10-11 17:03] DanTup commented on #4189
@Tanthus I haven't been able to reproduce this - are you able to share a small sample project that triggers it? I can see the plugin being loaded, but I tried putting some analysis_options in a few different folders, but nothing seems to trigger the crash you had in your log.

[2022-10-12 15:28] DanTup opened #4214 "Changing TODO setting does not take immediate affect for LSP"
It seems for DAS we restart the server, but not for LSP. If the setting is now being interpreted by the server, it should handle this itself (rather than in the client).

[2022-10-12 16:51] DanTup commented on #4214
https://dart-review.googlesource.com/c/sdk/+/263800

[2022-10-12 19:39] #4214 closed

[2022-10-13 15:00] DanTup opened #4215 "Unable to rename some enum elements"
<img width="550" alt="Screenshot 2022-10-13 at 15 59 55" src="https://user-images.githubusercontent.com/1078012/195633148-ac6ea459-d6af-463b-95d1-31e87395e09a.png">

[code]

[2022-10-13 15:10] DanTup opened #4216 "Bad syntax highlighting from textmate grammar"
<img width="727" alt="Screenshot 2022-10-13 at 16 09 09" src="https://user-images.githubusercontent.com/1078012/195635403-a696549f-5f94-433b-9dfa-91c0b580a391.png">

`extends` here isn't coloured right. This might also be fixed by changes in progress in #4067.

[2022-10-13 16:41] bartekpacia commented on #4206
@DanTup Now I got this idea: is it possible to run a test file in the integration test directory with `flutter run`, not `flutter test`?

I'm thinking about something like:

[code]

I haven't found a way to do the above.

In other words: when I run the `run integration test` configuration, it does `flutter test integration_test/example_test.dart`. I'd like to change it to run `flutter run -t integ

[2022-10-13 17:02] DanTup commented on #2527
@bwilkerson since I can't add screenshots to Gerrit, here's how this looks with https://dart-review.googlesource.com/c/sdk/+/264002.

<img width="1031" alt="Screenshot 2022-10-13 at 17 32 09" src="https://user-images.githubusercontent.com/1078012/195653960-d88b3844-045c-4d49-87e1-06e3a70698e7.png">
<img width="1017" alt="Screenshot 2022-10-13 at 17 32 26" src="https://user-images.githubusercontent

[2022-10-13 17:39] bwilkerson commented on #2527
I like the way that looks.

Actual type arguments might be informative. We should be able to just drop everything after the first `<` in order to get back the name to use to locate the target.

[2022-10-13 17:44] DanTup commented on #2527
By "actual" do you mean those actually used in the declaration of the "parent" node (eg. `List<String>` and not just `List<T>`)? I originally thought that might be odd (because the node represents the class and not some concrete type), although now it occurs to me that the relationship label means the node isn't "generic" anymore and maybe it does make sense. I'll take a look.

Yeah, that could wo

[2022-10-13 17:51] bwilkerson commented on #2527
By "actual" I meant the arguments from the type. For example, in
[code]
the actual type arguments for `A` are `<int>`. But for
[code]
the actual type arguments for `A` are `<T>` (the type parameter from `B`).

I don't remember that CL exactly; does it make use of `ElementLocation`?

[2022-10-13 18:39] bwilkerson commented on #2527
If you're storing the `Reference` in the summary, then that's obviously the right class to use.

But for this purpose `ElementLocation` has the advantage that it's a public class. On the other hand, I can't find anywhere to convert an `ElementLocation` back into an element, so it looks like the support is incomplete at this point.

[2022-10-13 20:05] DanTup commented on #4215
Fixed by https://github.com/dart-lang/sdk/commit/b5846d8aba1ff4340b79abcfb3d0ef89916ea953.

[2022-10-13 20:05] #4215 closed

[2022-10-14 14:36] DanTup commented on #3313
This is implemented by https://github.com/dart-lang/sdk/commit/6f8d1e4859b4052094f2f492aa596b8f6364a412. It ships in the Dart language server so will show up with a future SDK release (not a Dart-Code release).

[2022-10-14 14:36] #3313 closed

[2022-10-14 14:37] DanTup opened #4217 "Include type arguments in Type Hierarchy"
[code]

When browsing the hierarchy from A, we see a node for `B` but it doesn't include `<String>` (or `<T>`).

[2022-10-14 14:39] DanTup commented on #2527
I'll have a look and see if this is something I can add so I can use this here and in a few other places, thanks!

I've opened #4217 to track including the type arguments and will close this one as the basic functionality is implemented (https://github.com/dart-lang/sdk/commit/6f8d1e4859b4052094f2f492aa596b8f6364a412 - shipping in the SDK rather than Dart-Code).

[2022-10-14 14:39] #2527 closed

[2022-10-14 18:09] jojiberry opened #4218 "VS Code not detecting flutter chrome web device"
when selecting a device to use in VS Code, there are no options.
however, when searching for devices on terminal, the option for a chrome (web) device and a macOS desktop device are available.

Steps to reproduce the behavior:
1. Go to VS Code devices.
2. `flutter devices` on terminal show 2 connected devices. (seen in screenshots below)

the device available on flutter terminal should be availabl

[2022-10-15 04:50] warcayac opened #4219 "Refactor Preview panel is always showed when renaming files"
**Describe the bug**
When renaming any Dart file on *Folders* panel in VSCode, I get the *Refactor Preview* panel being showed to confirm changes to occur even when *editor.rename.enablePreview* is set to *False*.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a Dart/Flutter project
2. Go to *Folders* panel
3. Right click on any Dart file
4. Select ***Rename...* option
5. Rename the fi

[2022-10-15 10:33] DanTup commented on #4219
This behaviour is controlled by VS Code and not the extension. I believe the setting you're using is only for symbol renames, and all other refactors (which seems to include file renames/moves) have their own option (which oddly is not exposed as a setting). My guess is that you once clicked "Don't ask again" on this dialog and then Show Preview:

![image](https://user-images.githubusercontent.com

[2022-10-15 10:34] #4219 closed

[2022-10-15 10:35] DanTup commented on #4218
@jojiberry did you resolve this? I was going to ask for a daemon log. It sounds like the daemon might not be started (a common cause of this is from invalid arguments in the `dart.flutterAdditionalArgs` setting).

[2022-10-15 10:53] DanTup opened #4220 "Renaming a class by its constructor doesn't work"
Pressing `F2` to rename on a constructor like this doesn't do anything when you press `<enter>` (no error, no rename).

<img width="707" alt="Screenshot 2022-10-15 at 11 52 49" src="https://user-images.githubusercontent.com/1078012/195982595-d3292e3f-702c-48b2-9228-55e71beb9aa0.png">

[2022-10-15 11:24] nicolasmol opened #4221 "Vscode refactoring: Convert Getter to Method applied to "widget", applies also to all flutter SDK & pub cache files"
Quite big warning, since doing this has opened hundreds of files from SDK/pub cache, in my Vscode, and (I don't which mistake I made) saved and corrupted all of them

![image](https://user-images.githubusercontent.com/61077647/195983625-4ce687f0-ec07-4d39-aec5-a7210a9bfb3e.png)

----
Linux mint 20.3
VS Code version: 1.72.2
Dart SDK version: 2.18.2 (stable) (Tue Sep 27 13:24:11 2022 +0200) on "linu

[2022-10-15 11:39] DanTup commented on #4221
Sorry for the hassle. I think VS Code should still allow you to "undo" changes made by refactors like that (if it doesn't, please file an issue so I can investigate).

Can you confirm exactly where you invoked this refactor? I can't see a code selection/caret in your screenshot and I can't get this refactor to show up in a similar location myself. I can see the server has some special handling to

[2022-10-15 11:42] nicolasmol commented on #4221
@DanTup over the "widget" word, in the "State" widget of a "StatefulWidget" one

[2022-10-15 11:47] DanTup commented on #4206
@bartekpacia that's essentially what `runTestsOnDevice` does, however it only currently applies to unit tests (because integration tests already run on a device). We could perhaps add an override here, although it feels kinda clunky and much worse than being fixed in Flutter.

Let me ping on that issue and see if anyone can give an idea of the scale of work and pointers to see if it might be somet

[2022-10-15 13:00] DanTup commented on #4206
Re-opening this as a reminder because I think I have this working but need to come back to it.

[2022-10-15 20:26] bartekpacia commented on #4206
Thank you very much! 💙

Linking your PR: https://github.com/flutter/flutter/pull/113481

[2022-10-16 13:52] jojiberry commented on #4218
hi, yes the issue was resolved. just a matter of files and restarting applications. will keep in mind if it happens again! thank you

[2022-10-16 16:48] Ahmed-elshorbagy opened #4222 "[windows] lost connection to device"
**Describe the bug**
i get
"Lost connection to device.
Exited (sigterm)"
but the app don't crash

**To Reproduce**
Steps to reproduce the behavior:
when ever I use flutter with vscode "developing a windows app" and push a third page to navigator and try to update any page component like color, after hot reload i get this message but if i used android studio it works with no problems

**Please comp

[2022-10-17 09:14] DanTup commented on #4222
Could you try capturing debugging logs while reproducing this?

- Run the [**Dart: Capture Debugging Logs** command](https://dartcode.org/docs/logging/#capture-debugging-logs)
- Reproduce the issue
- Click **Cancel** on the logging notification to stop logging and open the log
- Remove anything sensitive from the log
- Attach the log here (or in a gist)

ThanksCan you also confirm whether you can

[2022-10-17 10:40] DanTup commented on #4221
Working on a fix at https://dart-review.googlesource.com/c/sdk/+/264480.

[2022-10-17 14:13] DanTup commented on #3896
Looks like passing the full path as the target is not enough. I tried this:

[code]

In `output.txt` I see a mix of `flutter_test_project` and `flutter_test_project_link` (I wanted to only see `flutter_test_project_link`). An example of a "bad" path is:

[code]

When running Dart-Code's integration tests, many fail because paths we expect to be `package:foo` are not (they're file paths). I believe

[2022-10-17 15:36] DanTup commented on #3896
In `flutter_tools` there are a number of places that use `Directory.current` (or equiv wrappers) such as here:

https://github.com/flutter/flutter/blob/bc70ae0f57b4a22722523ec28945344fb3dd4468/packages/flutter_tools/lib/src/project.dart#L100

Hard-coding the symlink path there fixes many of the places that were using the resolved path, although there are still some remaining. Some of these could p

[2022-10-17 19:40] Ahmed-elshorbagy commented on #4222
@DanTup
[Dart-Code-Log-2022-09-01 21-34-07.txt](https://github.com/Dart-Code/Dart-Code/files/9803923/Dart-Code-Log-2022-09-01.21-34-07.txt)
the problem doesn't occur with new projects
if you need the long log version i can send it

[2022-10-18 08:59] DanTup commented on #4204
Fixed by https://github.com/dart-lang/sdk/commit/ae352fe940c9b27e992703cf9ee5225c777813fa.

[2022-10-18 08:59] #4204 closed

[2022-10-18 09:00] DanTup commented on #4213
Fixed by https://github.com/dart-lang/sdk/commit/ae352fe940c9b27e992703cf9ee5225c777813fa. This will ship in an upcoming SDK release and applies to the new debug adapters (which will roll out progressively, but can be opted-in with `"dart.previewSdkDaps": true` in VS Code settings).

[2022-10-18 09:00] #4213 closed

[2022-10-18 09:02] DanTup commented on #4222
@Ahmed-elshorbagy thanks for the log. Unfortunately there's nothing obvious around the time it disconnects.

Since this doesn't happen with new projects it may be difficult for me to track down without a repro. Are you able to make a copy of your project that experiences this issue and trim it down to something small you can share that still triggers the issue?

[2022-10-18 11:22] DanTup commented on #4220
There's a VS Code quirk here with empty placeholders (I've filed https://github.com/microsoft/vscode/issues/163929). If that's fixed, this would actually not do what I expected above, it would rename the constructor to be a named constructor.

Depending on how VS Code fixes this, we may need to change this slightly to reflect that, or avoid returning valid responses from `prepare` in the cases of

[2022-10-18 13:03] alexisbg opened #4223 "Analyzer plugin doesn't work correctly in LSP mode"
**Is your feature request related to a problem? Please describe.**
I write some custom lint rules. To achieve this, I use the [analyzer_plugin](https://pub.dev/packages/analyzer_plugin) package. But the JSON generated by this package use Dart server Legacy protocol. Fortunately Dart Code offers a setting to start the Dart analysis server with the Legacy protocol instead of default/recommended LSP:

[2022-10-18 13:19] DanTup commented on #4223
It should not be necessary to have the Dart extension communicate with the analysis server using the legacy protocol for plugins to work. The LSP layer in the analysis server is expected to still communicate with plugins using the legacy protocol (which happens to be the only protocol supported for plugins) and then translate its results into LSP objects.

If you've found that your plugin does not

[2022-10-18 17:54] DanTup commented on #4221
Fixed by https://github.com/dart-lang/sdk/commit/ffe4a8c864a22b8f3fcf7bd983bc8280ce00c61f. The fix ships in the SDK so will show up as part of an SDK release rather than a Dart-Code release.

[2022-10-18 17:54] #4221 closed

[2022-10-19 03:51] Ahmed-elshorbagy commented on #4222
@DanTup
I was able to reproduce the problem in a new project and track it to a single line in `1stpage.dart` file
the line is
`(await PlatformDeviceId.getDeviceId)`
it is from another library it works fine in android studio but not in vscode
these are the project files

[lib.zip](https://github.com/Dart-Code/Dart-Code/files/9816656/lib.zip)

[2022-10-19 09:50] DanTup commented on #4222
Thanks - I was able to reproduce this, although it doesn't seem specific to using VS Code, I can also reproduce it from the terminal:

- run the app with `flutter run -d win`
- click the buttons to navigate through the pages
- press `r` in the terminal to hot reload (no need to modify a file)
- wait a minute

I'm not sure what's causing it, but it doesn't seem like it is fixable here in the VS Cod

[2022-10-19 09:51] DanTup commented on #4222
Oh, and the VM service traffic, since there might be stuff happening in there that's affecting this too.

[2022-10-19 13:09] alexisbg commented on #4223
@DanTup thank you for your help.

But it still doesn't work if I switch back to LSP with `"dart.useLegacyAnalyzerProtocol": false`.

Here is my config:
- VS Code on remote WSL
- Dart Code 3.50
- Dart SDK 2.18.2
- analyzer 5.1.0
- analyzer_plugin 0.11.2

Below the relevant excerpts of code.

tools/analyzer_plugin/bin/plugin.dart:
[code]

lib/src/lint_analyzer_plugin_start.dart:
[code]

lib/src/lint

[2022-10-19 13:44] Abd2019 opened #4225 "VS issues"
Hi
 I have some issue when i try to run new project in VS  as below
![Capture](https://user-images.githubusercontent.com/47505088/196708471-da04feea-c445-43e7-b465-3630a575780b.PNG)

[2022-10-19 15:09] DanTup commented on #4225
It looks like this error is being produced by another extension (perhaps the Java extension?) and is not related to Dart/Flutter.

Disabling the Java extensions will likely cause the error to go away, but I don't know what the underlying cause is (or whether it's something you'll need to address). There are some similar issues filed in the Java extensions such as https://github.com/microsoft/vscod

[2022-10-19 15:16] DanTup commented on #4223
Thanks for the info - I'll take a look at this shortly. If the behaviour is different, it does sound like a bug I need to fix. I'll let you know what I find!

[2022-10-19 16:13] dupuchba opened #4226 "Implement type parameters in type hierarchy"
hey, thanks awesome for this awesome library, below the problem we are trying to solve.

Context: I am one of the core maintainer of the ClojureDart compiler, we are running our own analyzer (to generate better code) using the analyzer API and we are switching to the LSP protocol (I could explain reasons here but it's not important for my question).

Basically you recently added the `typeHierarchy

[2022-10-19 16:18] DanTup commented on #4226
Hey!

This is a limitation of the current Type Hierarchy. We're currently using the `name` label to re-locate the element back on the server as you expand nodes and it doesn't handle the type arguments.

I plan to fix this (it's being tracked in #4217), but I need to improve the way we locate elements on the server to disconnect it from the name (that way we can include specific type arguments in

[2022-10-19 16:18] #4226 closed

[2022-10-19 16:22] dupuchba commented on #4226
Thanks for your time

[2022-10-19 16:22] dupuchba commented on #4217
Is there anyway I can help ? I've worked quite a lot with the analyzer API

[2022-10-19 17:11] DanTup commented on #4217
Right now this is blocked on me finishing https://dart-review.googlesource.com/c/sdk/+/264300 (which is blocked on another change I'm working on). I'm hoping to get them done fairly soon, though.

[2022-10-19 17:25] Abd2019 commented on #4225
Thanks,solved  after disabled the extensions

[2022-10-19 18:14] warcayac opened #4227 "Chrome is not detected after restarting VSCode"
**Describe the bug**
Chrome is not detected after restarting VSCode but it is in terminal.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Web project on terminal: `flutter create demodemo2 --platforms web`
2. Run: `code demodemo2`
3. `Chrome (web-javascript)` is showed in `Flutter device` pane of VSCode
4. Close VSCode
5. Run VSCode from launcher
6. `No Device` is showed in `Fl

[2022-10-19 18:48] DanTup commented on #4227
Can you post the full output of running `flutter doctor -v` from the terminal (where launching VS Code works), and then the full output of running the **Flutter: Run Flutter Doctor** command from the VS Code command palette?

My guess is that may be something like #2124, where you have an environment variable (such as `CHROME_EXECUTABLE`) set in something like a terminal startup script which means

[2022-10-19 19:42] warcayac commented on #4227
My environment variable `CHROME_EXECUTABLE` is correctly set in `.zshrc` file but it is not recognized by VSCode if it is run from launcher, so your suggestion about including `dart.env` variable into `settings.json` file fixed this problem. Thanks a lot.

[2022-10-19 19:42] #4227 closed

[2022-10-19 21:32] leighajarett opened #4228 "Prompt user for bundle identifier when creating a Flutter app that targets iOS"
The `flutter create` command already uses the `org` parameter to get the bundle identifier for an iOS app. However, this isn't exposed when a user creates a Flutter app using the VSCode command prompt.

The bundle identifier may be needed during various stages of the development process, and without it the developer may have additional steps that require troubleshooting. When iOS developers are us

[2022-10-20 11:30] DanTup commented on #4228
Do you just mean the `org` value, or something more? You can set the organisation in VS Code user settings:

<img width="536" alt="Screenshot 2022-10-20 at 12 26 11" src="https://user-images.githubusercontent.com/1078012/196936264-63e3d618-370b-41ca-b10b-7cc84ec4212e.png">

And it's also accessible from the cog icon when entering a name for your project:

<img width="650" alt="Screenshot 2022-10-2

[2022-10-20 14:03] DanTup commented on #133
@dupuchba I'm not sure I completely understand the question (or at least as it relates to this issue). This issue was about an old type hierarchy that does not work for LSP (which is what most users are using).

I've recently been working on supported the new native Type Hierarchy support in VS Code as you noted in #4226. That support will only be available in new SDKs (currently it's only in dev/

[2022-10-20 14:14] DanTup commented on #4217
@bwilkerson with the ability to round-trip element locations, I had a look at this. Including the type arguments for the "next level" works fine because from an element when we get its supertypes/subtypes we have the type arguments (in an `InterfaceType`).

However, since we then only round-trip an element reference, those type args are lost in subsequent hops:

![Screenshot 2022-10-20 at 14 57 34

[2022-10-20 14:18] DanTup opened #4229 "Old Type Hierarchy command should not show when using LSP"
The old Type Hierarchy command does not work with LSP and should now show up in the palette.

[2022-10-20 14:20] #4229 closed

[2022-10-20 14:48] DanTup commented on #4223
@alexisbg I don't seem to be able to reproduce this issue. I created a simple plugin using your code above here:

https://github.com/DanTup/dart-analyzer-plugin-sample

If I open this in VS Code (after fetching packages etc), then the lint shows up fine:

<img width="474" alt="Screenshot 2022-10-20 at 15 46 22" src="https://user-images.githubusercontent.com/1078012/196981520-138a5f95-4773-429b-956

[2022-10-20 15:48] DanTup commented on #4217
Interesting idea. I don't think we can guarantee they're stable (the type hierarchy nodes are long-lived on the client) but we could compare the new type we arrive at with the element location and ensure they still match up. If they don't, we could fall back to just showing the elements type parameters (as in the example above), but I think that will be an edge case (there's a Refresh button the u

[2022-10-20 15:57] dupuchba commented on #4217
ultra reactive ! I've been sick all day, I am feeling better and I'll take a look tomorrow

[2022-10-20 19:51] kenzieschmoll opened #4230 "Devices pop up not opening"
**Describe the bug**
In this example, I cannot change my target device because the selector will not come up:
![devices-vs-code](https://user-images.githubusercontent.com/43759233/197043713-b4e2d0ad-ad84-4054-a05e-72733f06d18c.gif)

**To Reproduce**
I am developing devtools - my vs code project is opened up to the devtools_app directory

**Expected behavior**
devices selector shows up and I can ch

[2022-10-21 01:11] #4164 closed

[2022-10-21 08:47] DanTup commented on #4230
Hmm, that's odd. I can't repro this. Just to be clear - the picklist appears at the top of the screen and not next to the status bar? (I suspect you'd notice it if it was opening there, but I know it's not the most obvious thing.. the APIs are limited but we may have some new things to improve this in future).

Otherwise, could you try:

- Reproduce the issue
- Click Help -> Toggle Developer Tools

[2022-10-21 21:31] bsutton opened #4231 "add dart.sdkPath to PATH in vscode terminal."
Don't know if this is even possible but...

Dart code lets you specify a project specific path to a flutter or dart version via:

dart.sdkPath
dart.flutterSdkPath

I use the vs-code terminal quite a lot for lots of actions, even 'dart pub get'.

It would be quite nice if either of the above settings were reflected in the terminals PATH so that running a cli dart command in the vs-code terminal wou

[2022-10-22 08:23] DanTup commented on #4231
Yeah, this is unfortunate. We have an open issue about it at #737. I filed an issue with VS Code about having support for this (https://github.com/microsoft/vscode/issues/46696) and they added some functionality, but it does not work consistently across platforms (in particular, it's broken on a default macOS install - https://github.com/microsoft/vscode/issues/99878).

I don't want to ship differ

[2022-10-22 08:23] #4231 closed

[2022-10-23 01:03] fzyzcjy commented on #2277
Seems that I have made a full-featured Dart REPL: https://github.com/fzyzcjy/dart_interactive :)

[2022-10-24 01:29] #4173 closed

[2022-10-24 14:05] DanTup opened #4234 "Allow getters to be executed lazily instead of up-front"
DAP now allows us to wrap expensive getters in an object and signal that it's to support lazy-fetching of expensive/potential-side-effect properties:

https://github.com/microsoft/vscode/issues/134450

We should look at adopting this and then ditching the option that does this up-front (or keeping it as a way to opt-in to previous behaviour if it's more convenient and you have no concerns about si

[2022-10-24 16:21] DanTup commented on #4156
Done in https://github.com/dart-lang/sdk/commit/18acd0e44c9fa8213f721ca6fbaaf550ac4665d5.

[2022-10-24 16:21] #4156 closed

[2022-10-25 14:35] DanTup commented on #4206
I landed a fix for this in Flutter. It should be available on master now, and in some future stable Flutter SDK release.

[2022-10-25 14:35] #4206 closed

[2022-10-26 10:04] larssn opened #4235 "Seems the analyzer doesn't work on MacOS Ventura"
**Describe the bug**
After updating to MacOS Ventura, VSCode seems to be stuck in "Analyzing...", and never finishes.

I've checked various Flutter projects, and they all have the same problem.

Anyone else seeing this?

**To Reproduce**
Steps to reproduce the behavior:
1. Update to MacOS Ventura
2. Open a Flutter project

**Expected behavior**
I expect the analyzer to finish.

**Please complete t

[2022-10-26 16:01] nicolasmol opened #4236 "vscode: "create missing override" is inexplicably missing for "CustomPainter" extends"
Environment:

Vscode: 1.72.2
System:  Linux Mint 20.3 Una base: Ubuntu 20.04 focal
Flutter 3.3.4 • channel stable • https://github.com/flutter/flutter.git
Framework • revision eb6d86ee27 (il y a 3 semaines) • 2022-10-04 22:31:45 -0700
Engine • revision c08d7d5efc
Tools • Dart 2.18.2 • DevTools 2.15.0

![Peek 26-10-2022 15-52](https://user-images.githubusercontent.com/61077647/198076549-8db88f7f-32

[2022-10-27 08:20] larssn commented on #4235
Seems to be related to the Flutter version (we're behind - 3.0.5) and the contents of ~/.dartServer.
Deleting `.dartServer` makes the analyzer work again.

Doing a `flutter upgrade` breaks it again, until I once again delete `.dartServer`.

[2022-10-28 01:13] #4115 closed

[2022-10-29 10:20] robertherber commented on #4144
Need this badly! :) What do we need to do to enable this? Docs would be great but probably this should be default behaviour?

[2022-10-29 11:00] DanTup commented on #4235
Sorry for the delay, I've been out of the office. Am I right in thinking this is unrelated to the OS version then?

I did the following (on an Intel Mac, Monterey 12.6) but was unable to reproduce:

- deleted `~/.dartServer`
- `git checkout stable && git reset --hard 3.0.5 && flutter doctor` in the Flutter SDK
- `mkdir /tmp/dc4235 && cd /tmp/dc4235 && flutter create my_app && code my_app`
- ensure

[2022-10-29 11:16] DanTup commented on #4144
@robertherber this title might have been a little ambiguous. This wasn't about documenting how to use this, the problem is that the DartDocs are missing from the auto-import extension members. Auto-imports of extension members is enabled by default, however they'll only show up in SDKs that include the fix at https://github.com/dart-lang/sdk/commit/1c8bb855c3a501639f2229614439834924151a2f (which i

[2022-10-29 11:27] robertherber commented on #4144
Aah, gotcha 👍 Being used to the smoothness of TypeScript I feel so handicapped without this. Thanks for your work on it!

[2022-10-30 14:41] grosshoroboros opened #4237 "vv"

[2022-10-30 14:41] #4237 closed

[2022-10-31 11:19] #4236 closed

[2022-10-31 11:31] DanTup commented on #4217
This changed landed in https://github.com/dart-lang/sdk/commit/27ba8fce6c73f23e221d8437529c73716938ce94. It's part of the SDK so will show up in a future Dart/Flutter SDK release.

[2022-10-31 11:31] #4217 closed

[2022-10-31 11:55] #4093 closed

[2022-10-31 11:57] DanTup commented on #4093
There's a new command "Flutter: Inspect Widget (Auto-Cancel after Selection)" that will cancel the widget selection mode 1s after you click a widget (the delay is because it will also remove the visible selection of the widget on the app, and it looks buggy to have it disappear immediately when you tap).

[2022-10-31 11:58] DanTup commented on #4203
🤔

<img width="576" alt="Screenshot 2022-10-31 at 11 58 11" src="https://user-images.githubusercontent.com/1078012/199002715-9a296daa-ae72-48ed-80cb-f355d07818c5.png">

Using a recent bleeding-edge build.

[2022-10-31 11:59] DanTup commented on #4203
<img width="658" alt="Screenshot 2022-10-31 at 11 59 19" src="https://user-images.githubusercontent.com/1078012/199002906-e5667683-843e-426e-8cee-0e4be4b5bb82.png">

2.18.0

[2022-10-31 12:24] DanTup commented on #4203
Seems to depend on the specific text.. changing `var` back to `Uint8List` triggers it:

<img width="597" alt="Screenshot 2022-10-31 at 12 20 40" src="https://user-images.githubusercontent.com/1078012/199006545-817ba0d2-f68c-4c1f-b0d8-f33df32709b0.png">

This seems to be match the order from the server:

[code]

[2022-10-31 13:19] DanTup commented on #4203
The cause of this was that we de-dupe when there are overlapping fixes on the same line. The de-duping code created a new "combined" CodeAction which was not storing its priority properly, and always being sorted last.

Fix at https://dart-review.googlesource.com/c/sdk/+/266680.

[2022-10-31 15:32] larssn commented on #4235
It could be OS related yes, since it only started after upgrading to Ventura.

I usually use `flutter downgrade 3.0.5`, but your approach might work too. 🙂

There was an update for the `analyzer` today, which "might?" have fixed it, because I tried upgrading to 3.3.6, and this time I didn't need to delete `.dartServer`.

Guess we can close in a few days if everything is peachy.

[2022-10-31 16:41] DanTup commented on #4203
Fixed by https://github.com/dart-lang/sdk/commit/00ca14fa230d3d65e6b3cb9cd0ce4b20947598b4.

[2022-10-31 16:41] #4203 closed

[2022-10-31 16:44] DanTup commented on #4235
I guess you mean an update for Flutter? I can't see anything in [3.3.5 -> 3.3.6](https://github.com/flutter/flutter/compare/3.3.5...3.3.6) that should affect this so I suspect if you can't reproduce it it's just intermittent. If you happen to see it again and are able to get a log, please do let me know!

[2022-10-31 19:34] DanTup commented on #4128
Fix in progress at https://github.com/flutter/flutter/pull/114369.

Unfortunately this doesn't work for Web yet because of https://github.com/dart-lang/webdev/issues/606. Hopefully once that's done this will just start working without any further changes.

[2022-10-31 19:36] DanTup commented on #4119
Server work is in https://github.com/dart-lang/sdk/commit/09c1722044177743b705d0faf5b26260a04c71df. We'll need to add the new setting to the `package.json` so it shows up in the UI.

[2022-11-01 01:19] #4192 closed

[2022-11-01 03:55] maks commented on #4093
Awesome! Thanks again @DanTup !

[2022-11-01 13:52] larssn commented on #4235
No I mean the analyzer as a transitive dependency. Flutter 3.0 depended on version 4 of the analyzer.

[code]

Anyway, I won't take anymore of your time.

[2022-11-01 13:52] #4235 closed

[2022-11-01 14:49] DanTup commented on #4235
Oh, I see. That won't affect the analyzer used by VS Code - it will always use the `dart language_server` command which is the same for a given SDK version regardless of versions in your project (or the `flutter` tool).

My time is there to be taken if there may be issues :-) If you do see it again or can repro, do let me know. I've updated my M1 MacBook to Ventura now so if you're able to repro a

[2022-11-01 16:25] methompson commented on #4121
I'm still encountering the issues described in the OP. I've installed Flutter / Dart from the beta channel and the pre-release Dart / Flutter VS Code Plugins.

- Dart 2.19.0-255.2.beta
- Flutter 3.4.0-34.1.pre
- Dart-Code v3.53.20221101
- Flutter-Code v3.53.20221101
- VS Code 1.72.2

All running on MacOS 13.0 on a MacBook Pro 16", 2021.

Functions still minimize only on the function definition and

[2022-11-01 18:40] DanTup commented on #4121
@methompson looking at the change https://github.com/dart-lang/sdk/commit/604bf2fe3bdfd56868df80b7c9263e9272344e30, it looks like the first Dart SDK it was included in is 2.19.0-257.0.dev:

![Screenshot 2022-11-01 at 18 38 51](https://user-images.githubusercontent.com/1078012/199312123-054598ef-6a8f-4b33-9283-288b898dc8fa.png)

The beta you're on is 2.19.0-255.2.beta so seems like it was cut just

[2022-11-01 19:08] methompson commented on #4121
Thanks for the insight. I've updated to the Master channel, so now I have the following installed on my system, along with the same pre-release versions of dart-code and flutter-code:

- Dart 2.19.0-357.0.dev
- Flutter 3.5.0-12.0.pre.56

I want to note that after installing the stable channel, I completely closed VSCode to make sure any LSPs or daemons would spawn correctly.

Attached is the curre

[2022-11-02 02:00] shithappens2016 opened #4238 "The `debug console` still has character encoding issue in `flutter project`"
![199195581-070c73da-b5f4-4c29-8238-b641edea2324](https://user-images.githubusercontent.com/13523412/199377090-cb476b4d-1468-4ebc-9e3f-ffa3b9ee7259.jpg)
microsoft/vscode#165130

[2022-11-02 10:09] DanTup commented on #4238
@shithappens2016 can you provide steps to reproduce this?

Does the same occur if you run `flutter run` from an external terminal or only when running from VS Code?

[2022-11-02 10:13] DanTup commented on #4238
There's a similar issue open in Flutter at https://github.com/flutter/flutter/issues/108667 which might be related to using a Chinese edition of Windows. Can you confirm the language of your Windows install?

[2022-11-02 11:18] DanTup opened #4239 ""No such file or directory" for launch configuration with "program" but no "cwd" in multi-root workspace"
Noted by @maik-kluwe in https://github.com/Dart-Code/Dart-Code/pull/4197#issuecomment-1300023198.

Given a workspace:

[code]

And a workspace folder has a launch config:

[code]

Trying to run results in this:

<img width="910" alt="Screenshot 2022-11-02 at 11 18 01" src="https://user-images.githubusercontent.com/1078012/199476523-9adec7e9-1841-476c-a39d-49a5a27aa395.png">

<img width="488" alt="

[2022-11-02 12:16] #4239 closed

[2022-11-02 12:56] shithappens2016 commented on #4238
@DanTup
You are right. The exact same thing happened to me here.  `chcp 936` or `chcp 65001` wouldn't change a thing.

[2022-11-02 12:58] DanTup commented on #4238
@shithappens2016 do you mean the same occurs if you run from the terminal outside of VS Code?

If so, then I believe this needs fixing in Flutter and is not something fixable here in the VS Code extension. I'll close this as a dupe and if you can add any additional information to https://github.com/flutter/flutter/issues/108667, that might help the Flutter team understand and fix the issue.

Thank

[2022-11-02 12:58] #4238 closed

[2022-11-02 16:53] rrousselGit opened #4240 "Expand dartdoc macros when looking at the source"
Related to https://github.com/Dart-Code/Dart-Code/issues/3527

**Is your feature request related to a problem? Please describe.**

When inspecting the source code of a Dart API, sometimes we come across APIs that use `{@macro}`/`{@template}`:

[code]

VSCode handles them nicely, where by hovering `another` we correctly see the documentation instead of `{@macro}`.

But when we read the source, we d

[2022-11-02 17:10] DanTup commented on #4240
I don't think we can replace the `@macro` text, but we could likely inject the docs after it (or maybe in between it and the following line).

It would be nice to do this in an LSP-standard way, but right now the closest we have is InlayHints, and right now their styling is not customisable for custom types. I have an open issue at https://github.com/microsoft/vscode/issues/151920 (since I'd like

[2022-11-03 11:44] DanTup opened #4242 "Nested Code folding not working correctly"
Noted by @methompson in https://github.com/Dart-Code/Dart-Code/issues/4121#issuecomment-1298984464

[code]

[code]

Here, the folding for the class goes from line 0-1 and doesn't actually cover the class at all. If you remove the first comment, it results in the folding for class not appearing at all.

[2022-11-03 11:46] DanTup commented on #4121
@methompson thanks for the example! There's definitely something wrong there. I've filed #4242 with a cut-down example and will follow up there.

[2022-11-03 12:44] DanTup commented on #4242
https://dart-review.googlesource.com/c/sdk/+/267620

[2022-11-03 15:42] DanTup commented on #4242
Fixed by https://github.com/dart-lang/sdk/commit/e417e3c3f72bfc81c94146fa586b2cc5d5bc9bb3, ships in the SDK.

[2022-11-03 15:42] #4242 closed

[2022-11-03 16:49] kenzieschmoll opened #4243 "dil file is being created when I run a test"
When I run a test from VS Code (by selecting the "Debug" option that floats above the tests main method), VS code creates a dil file with the same name as the test. I have to manually delete these files from source control before committing.

![Screen Shot 2022-11-03 at 9 47 30 AM](https://user-images.githubusercontent.com/43759233/199783461-82fe74f6-e8f9-4195-afce-bacd88136953.png)

[2022-11-03 17:40] DanTup commented on #4243
I can repro outside of VS Code by running from the terminal:

[code]

It does not seem to occur if you don't pass `--start-paused` though. This may be related to a change I made in Flutter recently - https://github.com/flutter/flutter/pull/113481 - to support expression evaluation in integration tests. I think it might be triggering a compile that it did not before (and without a path, it's just p

[2022-11-03 17:45] gspencergoog commented on #4106
Would it be possible to add an option that would warm the cache in the background each time the analysis server is started? It should default to off, but I would happily turn on such an option in order to have symbol search be useful the first time I use it.  It's _much_ better than it was (thank you!), but only on the second and subsequent searches. The first one can still wait 30-40 seconds befo

[2022-11-03 18:25] DanTup commented on #4243
@christopherfujino I've had a look at this and now understand the issue, but I'm not sure how best to fix.

The issue is that in https://github.com/flutter/flutter/pull/113481 I made a change that results in the test file being compiled for unit tests where it was not previously:

[code]

I can easily fix this and avoid that code running for non-integration tests (because it's unnecessary) and the

[2022-11-03 18:59] DanTup commented on #4106
Sorry for the silence here. There are still some things I'd like to look at to improve this (sending partial results for your projects first, then searching dependencies after) but I haven't gotten back to it yet.

[2022-11-04 06:14] itsahmed-dev opened #4244 "Dart: Add Dependency"
Type: <b>Feature Request</b>

Updated VS Code today and Dart extension a couple of days ago. I used to add dependencies from command pallete with the help of Dart extension by running a command "Dart: Add Dependency". It used to act like a search box like on pub.dev and I would search and select a package/dependency and it would add it to pubspec.yaml
Today I notice when I search it wants me locat

[2022-11-04 07:08] dbsxdbsx opened #4245 "Launch a specific project with releaseMode in a workspace by hitting ctrl+shift+b"
**Is your feature request related to a problem? Please describe.**
When There is  only 1 project, with such `launch.json` (no tasks.json):
[code]
The dart/flutter project can be run in debug mode with `F5` and release mode with  `ctrl+shift+b`.
But if there are multiple projects in a workspace( some others may not be dart projects),  though the specific dart project can be run in debug mode by hit

[2022-11-04 12:41] DanTup commented on #4244
Can you provide a screenshot of what you're seeing?

I see this:

<img width="676" alt="Screenshot 2022-11-04 at 12 40 13" src="https://user-images.githubusercontent.com/1078012/199974802-bb7a329d-7be3-462c-88a1-c8f60defdf2f.png">

The pub package names are periodically fetched from Pub so it's possible if something has gone wrong with that you might not be seeing the list, although it should not

[2022-11-04 14:03] GotJimmy opened #4246 "Keyboard shortcuts for QuickFix menu items"
I would love to see keyboard shortcuts in the quick fix menu for faster access. This used to work for some items months ago before the quick fix icon started appearing infront of each menu item (i.e.: once the menu popped up I simply would press "R" to remove this widget.

It would be even better to have the individual items of the menu (i.e.: "wrap with column", "remove widget", etc.) as separate

[2022-11-04 15:47] DanTup commented on #4246
Unfortunately this menu is controlled entirely by VS Code and not something extensions can alter. There's an open issue about navigating by typing the items names no longer working here:

https://github.com/microsoft/vscode/issues/157719

Please add 👍 's to that issue!

I don't think it's a great idea to duplicate them all there. We also have to pre-declare all commands in the palette in the exten

[2022-11-04 15:57] GotJimmy commented on #4246
The`editor.action.codeAction` works perfectly for me! Just didn't know about this option.
Thank you so much for your help! :)

[2022-11-04 19:01] kenzieschmoll opened #4248 "Add "Close Unmodified in Group" action to files bar"
<img width="437" alt="Screen Shot 2022-11-04 at 12 00 20 PM" src="https://user-images.githubusercontent.com/43759233/200054715-872edaf2-fa7b-4167-93d2-758197694403.png">

IntelliJ has this feature.

[2022-11-05 04:53] itsahmed-dev commented on #4244
I only see the first two options I don't see package names underneath.

Here is what I see when I chose **Dart: Add Dependency**

![Add Dependency](https://user-images.githubusercontent.com/94858768/200101397-2cbc08e3-3dda-4c7e-ac4a-f540c22402bf.png)

and Here is what I see when I search for a package

![Package Search](https://user-images.githubusercontent.com/94858768/200101410-fdbc66f0-2d46-4b0

[2022-11-05 12:22] DanTup commented on #4246
Great, thanks for confirming! Hopefully VS Code will address the other issue in time too.

[2022-11-05 12:22] #4246 closed

[2022-11-05 18:00] MooNag opened #4249 "Unable to launch on Chrome when using CHROME_EXECUTABLE with new SDK DAPs"
**To Reproduce**
Steps to reproduce the behavior:
1. Use a non-standard chrome executable and have it defined in ENV.

**Expected behavior**
VSCode to launch using the web platform.

** actual behavior **
Error shows in debug console
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

user settings
[code]

flutter doctor -v
[code]

[2022-11-05 18:04] DanTup commented on #4249
This appears to be an issue with the SDK DAPs. It works correctly with them disabled.

The value is passed to the DA via `toolArgs` in the launch config:

[code]

It's possible (likely?) `toolEnv` is not being handled correctly (in which case we should review why we have split `env` and `toolEnv` and if it would be better to merge them in the extension before sending to the DA, or teaching the DA

[2022-11-06 17:35] cedvdb commented on #1895
I've to wait a long time in a multi package project in vs code too. 2 minutes sometimes before having intelisens. It's eating between 5gb and 6 gb of memory too.

[2022-11-06 20:03] WorikQCI opened #4250 "Debugging flutter tests fail if the descrription string has an interpolated value and a is composed of two concatenated strings"
**Describe the bug**
If the description of the test has an interpolated value and a is composed of two concatenated strings the test will not run

**To Reproduce**

Write a test like the following and try to run it by clicking the debug option

![image](https://user-images.githubusercontent.com/95715668/200192354-9cb12fbd-05d4-4108-871d-6f1f2c294c73.png)

[code]

Get this result:

[code]
**Expecte

[2022-11-07 06:53] josercc opened #4251 "Vs code Dart/Flutter program auto exit"
VS code running Dart Command app will automatically exit in Debug, and running Flutter app will also exit in Hot reload

[2022-11-07 08:51] khoavd001 opened #4252 "initializing flutter too long"
Type: <b>Bug</b>

open project and initializing flutter too long

Extension version: 3.52.1
VS Code version: Code 1.73.0 (8fa188b2b301d36553cbc9ce1b0a146ccb93351f, 2022-11-01T15:34:06.111Z)
OS version: Windows_NT x64 10.0.22000
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-1035G1 CPU @ 1.00GHz (8 x 1190)|
|GPU Status|2d_canvas: en

[2022-11-07 10:37] DanTup commented on #4252
Can you confirm exactly what you're seeing? Does initialisation complete but it takes a long time, or does it never complete? Flutter initialisation should happen only once (and again after each SDK release). Are you seeing it more often than that?

Thanks!

[2022-11-07 10:39] DanTup commented on #4251
Can you provide a small code sample of the Dart program you're running that is exiting?

Could you also capture a log:

- Press `F1` to open the VS Code command palette
- Search for the **Dart: Capture Debugging Logs** command and press `<enter>`
- Run the Dart command app and wait for it to exit
- Click **Cancel** on the logging notification to stop logging and open the log file
- Attach the log

[2022-11-07 10:43] DanTup commented on #4250
Merging this into #4021 since that should fix a number of issues with non-trivial test names like this one.

[2022-11-07 10:47] DanTup commented on #1895
@cedvdb can you open a new issue about this and include the full output of running the **Flutter: Run Flutter Doctor** command through VS Code (from the command palette (`F1`)).

Please also include whether this delay is just when you first open the project, or whether it takes 2 minutes to appear every time you try to invoke code completion. Thanks!

[2022-11-07 10:48] josercc commented on #4251
@DanTup

Yes, this is not easy to reproduce. Before that, VSCode would reproduce every time, but it would not run in Android Studio. I reinstalled the VSCode version. The plug-in only keeps Flutter and Dart plug-ins running the same code. I haven't encountered it yet. I will provide useful information if I encounter it later. Before Dart command line, the code was analyzed through Analyzer. When D

[2022-11-07 11:10] DanTup commented on #4251
If you're able to reproduce this while capturing a log as described above, that might help understand why it quits.

Can you also confirm the exact version of Dart/Flutter you're using? (running the **Flutter: Run Flutter Doctor** command from the VS Code command palette (`F1`) is the best way, as it ensures you get the version VS Code is using, and not only the one on `PATH`).

[2022-11-07 11:11] DanTup commented on #4244
Can you try opening a small sample project in VS Code (you can create one with **Dart: New Project**), wait for 30 seconds and then run the **Dart: Open Extension Log** command to open the general extension log and (after removing anything sensitive) attach the log here?

Thanks!

[2022-11-07 11:12] josercc commented on #4251
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel stable, 2.10.5, on macOS 12.5 21G72 darwin-x64, locale zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version 31.0.0)
[✓] Xcode - develop for iOS and macOS (Xcode 13.3.1)
[✓] Chrome - develop for the web
[✓] Android Studio (version 2021.3)
[✓] VS Code (version 1.74.0-insider)
[✓] VS Code

[2022-11-07 11:19] DanTup commented on #4248
@kenzieschmoll I'm not certain, but there's a "Close Saved" entry in your screenshot that I think is what you want (in my testing it seems to close unmodified files for the group where it's invoked). I'm not sure the naming is great, but it's core VS Code functionality so not something we can change.

[2022-11-07 12:01] DanTup commented on #4245
Actually, pressing `Ctrl+Shift+B` is not a shortcut for running release mode that I know of. Ctrl+Shift+B is a shortcut for the "Run Build Task" in VS Code. If I press this in a single-project workspace then I'm just prompted to select a build task:

<img width="671" alt="Screenshot 2022-11-07 at 11 57 09" src="https://user-images.githubusercontent.com/1078012/200304535-07b3e0a4-de2b-4164-807a-38a

[2022-11-07 13:23] DanTup commented on #4136
Server work in https://dart-review.googlesource.com/c/sdk/+/268320.

[2022-11-07 13:25] #4136 closed

[2022-11-07 15:08] itsahmed-dev commented on #4244
Ok...⤵️

Dart Code extension: 3.52.1
Flutter extension: 3.52.0 (not activated)

App: Visual Studio Code
Version: 1.73.0
Platform: win

HTTP_PROXY: undefined
NO_PROXY: undefined

Logging Categories:
    General

Mon Nov 07 2022 [19:59:54 GMT+0500 (Pakistan Standard Time)] Log file started
[7:59:54 PM] [General] [Info] Searching for SDKs...
[7:59:54 PM] [General] [Info] Environment PATH:
[7:59:54 PM

[2022-11-07 15:22] #4249 closed

[2022-11-07 15:23] DanTup commented on #4249
This is fixed for the next VS Code extension release. You'll be able to remove the setting that forces the use of the legacy debug adapters once you have the next extension version.

[2022-11-07 15:36] DanTup opened #4253 "Pub package name cache is not persisted"
The caching of the Pub package name cache is not working because of this code here:

https://github.com/Dart-Code/Dart-Code/blob/57a55110e58e8e11f6442a7e96dd9fe2a59e04c6/src/shared/vscode/workspace.ts#L11-L17

The URI is now a `vscode-userdata:/` URI and we only handle `file`.

We should isntead keep the URI and use `workspace.fs` to read/write this file.

[2022-11-07 15:38] bwilkerson commented on #3975
I'm fine with changing the snippets to use `Placeholder`; it seems like a good default.

But in the interest of spreading information I'll point out that our snippets, because they're implemented in the language server, have the ability to determine which lints are enabled and to tailor their behavior accordingly. For example, there are a pair of lints related to whether to use a single quote of a

[2022-11-07 15:51] #4253 closed

[2022-11-07 16:37] DanTup commented on #4244
@itsahmed-dev thanks! Unfortunately that wasn't very revealing, however while debugging I did find some issues that would cause the package cache not to persist correctly. I don't think it's your issue, but while fixing it I have improved the logging slightly which may help track down the problem if it's not solved.

Could you try switching to the Pre-Release version of the Dart extension that I j

[2022-11-07 17:21] DanTup commented on #4251
Thanks! I don't know if it's related to your issue, but there have been a few releases since version 2.10.5 that you're using. The current stable version of Flutter is v3.3. It's possible that your issue has been fixed in the SDK already, so I would recommend trying to upgrade to a newer version of Flutter when it's convenient. Issues that cause debug sessions to terminate are often caused by the

[2022-11-07 21:05] christopherfujino commented on #4243
chatted offline with Danny, and from reading the code it's not obvious to me why we're creating dill next to the source file, as it looks like we should be compiling to a temp file that gets cleaned up afterwards. I believe Danny will investigate further.

[2022-11-07 21:34] gspencergoog commented on #4089
Any update on this? I wish for it every time I run a test that fails. :-)

[2022-11-07 23:33] realArafatBen commented on #1634
This issue is caused by an extension.
This was how I solved my mine
just search for the extension uninstall or disable it.
Restart your vscode again.
Happy coding

[2022-11-08 00:45] josercc commented on #4251
At present, our project has not been upgraded to 3.3 because it was found that many dependent databases have not been adapted to 3.3, so it cannot be upgraded. Since the VS Code plug-in installed previously was deleted recently, there has been no crash. The AS will not crash again. It may be due to the impact of other plug-ins or other reasons

[2022-11-08 07:18] itsahmed-dev commented on #4244
@DanTup The problem I describe existed for a couple of days but it seems to have been resolved as it is now. I can see packages under two default options when I execute **Dart: Add Dependency** and when I search for a package I see search suggestions as well so it is all good now. Thank you so much for your consideration and time.

[]()

[🖱️](https://media.giphy.com/media/j6ZNABi9p0oL64JeWr/giphy.

[2022-11-08 07:19] #4244 closed

[2022-11-08 10:18] DanTup commented on #4244
@itsahmed-dev was this after you installed the pre-release version, or still on the same version?

If the issue comes back, please do try capturing a log using the pre-release version (or if it's after the next stable release, you can just use that version) and let me know. Thanks!

[2022-11-08 10:18] DanTup commented on #4251
Understood. Please let me know if the issue comes back and you're able to capture a log and we can re-open this. Thanks!

[2022-11-08 10:20] DanTup commented on #1634
@realArafatBen if you're able to reproduce this issue with another extension, please let me know which extension so I can investigate what's happening and find a way to resolve it. Thanks!

[2022-11-08 10:26] DanTup commented on #4089
Unfortunately not. My request for custom link providers (https://github.com/microsoft/vscode/issues/157500) was originally closed as a duplicate and only recently re-opened.

I suggest we give it a little longer (I have pinged enquiring if it might be something they're likely to do soon) if not, we may want to consider going ahead with changing the output in some way to be a format VS Code already

[2022-11-08 13:30] DanTup commented on #4243
@christopherfujino so, I figured out it was this line causing the copy:

https://github.com/flutter/flutter/blob/a1432a9c5da2f2fef9241d9f6d3f6b3a69bc918b/packages/flutter_tools/lib/src/test/test_compiler.dart#L189

I don't really know what the purpose of this copy is, since it's just a copy of another file. I tried removing the copy here:

https://github.com/flutter/flutter/pull/114887/commits/edd

[2022-11-08 16:38] DanTup commented on #4243
@christopherfujino I may require some assistance 😄. All of the things I tried were unsuccessful..

- Creating an "empty" dummy file causes test failures complaining about sound-null-safety mismatching (even if I used the same language header added to the `mainDart` file)
- Just compiling mainDart in all cases (instead of only for unit tests) just hangs and the compiler emits a large about of error

[2022-11-08 16:46] DanTup opened #4254 "Improve how relationships are shown in Type Hierarchy"
**1:** Current Subtypes:

![Screenshot 2022-11-08 at 17 00 27](https://user-images.githubusercontent.com/1078012/200628442-16dc8bf1-5bb6-4e5f-bcba-ca9f44dea5ad.png)

**2:** Current Supertypes:

![Screenshot 2022-11-08 at 16 59 58](https://user-images.githubusercontent.com/1078012/200628347-36ecff8f-76d0-4848-819c-d6a576ad7e09.png)

**3:** Subtypes with expanded details including parent node name

[2022-11-08 17:12] realArafatBen commented on #1634
@DanTup I uninstall the extension but I think I still remember the name.. Todo list by Tzach Ovadia using the debugger at vscode that is how I find out about the issue.

[2022-11-08 17:23] DanTup commented on #1634
@realArafatBen I tried installing that extension, but wasn't able to reproduce this - all devices show up correctly.

If you can reproduce this, I'd be interested in some more info (such as a screenshot of what you saw in the debugger). If you can file a new issue here with details, I'll take a look.

[2022-11-08 17:31] scheglov commented on #4254
I worry that repeating names of parent classes in children looks acceptable in mocks, when they are short, but not always works in actual packages, e.g. for `class _DraggableScrollableSheetScrollPosition extends ScrollPositionWithSingleContext`.

[2022-11-08 17:37] bwilkerson commented on #4254
I agree, 4 is quite verbose, at least in part because we have to make it clear that the relationship is reversed from how it's normally presented in code.

It's also fairly hard to read, probably because of it being a combination of text and code.

The latter is why I suggested (in the CL) printing the whole code-based description. I'm not convinced that it would look good.

That's valid. Some cla

[2022-11-08 17:40] DanTup commented on #4254
Good question. I thought it was valuable info, but if we can't present it well maybe it's better not to have. I've added screenshots 5+6 above to show what it looks like without.

[2022-11-08 18:03] bwilkerson commented on #4254
Those are definitely less cluttered. I'm not sure knowing which keyword was used to introduce the relationship is something I'd miss. I suspect I'd be OK navigating to the class to answer that question, but what we really need in order to answer the question is a set of use cases we're trying to solve.

I don't happen to know what those are, other than finding out what the type graph looks like.

[2022-11-08 18:22] jamesderlin opened #4255 "Add a command that cycles between no comment, double-slash, triple-slash"
If I press Ctrl+/ (Toggle Line Comment) on a Dartdoc line, currently the line gets transformed from:
[code]
to:
[code]
Even though it'd be asymmetric with adding a comment, I think it'd be nice if uncommenting removed either `//` *or* `///`.  This would be particularly useful if I'm writing a Dartdoc comment, press Enter, which automatically adds `///` to the next line, but don't actually want the

[2022-11-08 18:27] DanTup commented on #4255
Unfortunately "Toggle Line Comment" is entirely a VS Code feature that's driven by a static language configuration we provide it that only supports a single set of comment markers. I've an open issue with VS Code about extending this here (which you can 👍!):

https://github.com/microsoft/vscode/issues/64659

We have added a **Toggle Dartdoc Comment** command that does similar for triple-slashes in

[2022-11-08 18:29] jamesderlin commented on #4255
I think a command that that cycles through those three states would be great.

[2022-11-08 18:34] DanTup commented on #4255
Yeah, not sure why I didn't do that previously. This command is already doing the work to figure out what the current comments across the selection look like. I'll re-purpose this issue to add a command that cycles through them. Thanks!

[2022-11-08 20:48] jonasfj opened #4256 "Elevate messages from `dart pub get`"
We put a lot of work into messages coming out of `dart pub get`.

We have messages like:
 * Current package version have been retracted.
 * Newer a.b.c version available.
 * Package is discontinued.
 * Package is discontinued, replaced by package:foo.
 * Summaries of changes.
 * Content hash from `pubspec.lock` doesn't match content from server (new in 2.19)
 * Package version affected by security

[2022-11-09 08:48] dbsxdbsx commented on #4245
Sorry for the late reply.

For Q1:
Currently, `Ctrl`+`Shift`+`B` is left by default in vscode, which is used for "Tasks: Run Build Task".  And generally, I would manually create `tasks.json` and `launch.json` for easy running under both debug and release modes.

For example, in a  project made by rust, some part of `tasks.json` is like this:
[code]
With this, the binary program would be built and

[2022-11-09 10:53] DanTup commented on #4245
Sorry, I'm a little confused about the request/issue.

In the first post it sounded like `Ctrl`+`Shift`+`B` was already launching in release mode for you, but only if there's just a single project (and not if there are multiple).

However I can't reproduce this and the latest comment makes it seem like this is a request to support setting up tasks to do this, as you can in Rust. Although I believe

[2022-11-09 11:24] DanTup commented on #4256
Currently when we run "pub get" the output is hidden unless a) the process is still running after 10s or b) it exits with a non-zero exit code. In those cases, we show the Output pane that its output was being written to.

We could change these triggers to show the output in more cases, although I'm not familiar enough to know how often the cases above occur. If we end up showing the Output pane a

[2022-11-09 11:27] DanTup commented on #4254
Yeah, I think I'm also leaning towards dropping them now. I've filed https://github.com/microsoft/vscode/issues/165840 about tooltips and we could add it into there if that's implemented. We can also review if requests come up to show more.

I'll file a CL to remove it for now. This means many of the changes in https://github.com/dart-lang/sdk/commit/197344ba22f126cac1287705d90c14fc7dd5f789 may ha

[2022-11-09 11:41] DanTup commented on #4254
https://dart-review.googlesource.com/c/sdk/+/268760

[2022-11-09 11:41] #4254 closed

[2022-11-09 12:38] jonasfj commented on #4256
For advisories, the idea  is that users will be able to add `ignored_advisories` to `pubspec.yaml`.
Such that you can declare that you've reviewed an advisory and don't care.
So in that case, maybe we want LSP to add a warning for each import-statement, or adding warnings to `pubspec.yaml`. It would make a lot of noise, but it's also easy to fix, but just adding it to `ignored_advisories` (ideally

[2022-11-09 12:41] jonasfj commented on #4256
One possibility is that `dart pub get` writes a `.dart_tool/pub/dependency-summary.json` that exposes these messages for `analysis_server`/lsp or IDEs to consume.

Still not sure we want that: because for a message like "newer version available", it's legitimate to ignore it, yet there is no mechanism for stating that you don't care.

[2022-11-09 12:59] dbsxdbsx commented on #4245
For the rust, I made the build task myself, not by any extension.  Before, I also running project by tasks in C++ project.

And sorry for the confusing part, it is not command "Run App in Release Mode" when hitting  `Ctrl`+`Shift`+`B`, but several commands like :"flutter: flutter build windows/aar.....".

Now, I think the best way to build flutter/dart project in release mode is  by the command "f

[2022-11-09 13:26] DanTup commented on #4256
Having it on disk has some advantages - both the LSP server (which can produce diagnostics/quick-fixes) and the IDE (which may want to surface some of these things in specific ways that are UI/editor-specific and never likely to fall inside LSP) can access it without spawning (duplicate) commands (plus it removes some complexity of actually running commands, providing output to the user if the com

[2022-11-09 13:30] DanTup commented on #4245
If you use the "Run Task" command and select Flutter, you should be able to click the cog icon on the right to copy that item to `tasks.json`:

<img width="698" alt="Screenshot 2022-11-09 at 13 26 59" src="https://user-images.githubusercontent.com/1078012/200842525-4c997025-81ea-44fd-8eaf-afbfbaaa7856.png">

There should be a `build` task for each platform that's valid. You should then be able to

[2022-11-09 14:27] dbsxdbsx commented on #4245
@DanTup, thanks for your advice.  I tried, and find it convenient to build in release mode by  `Ctrl`+`Shift`+`B`, without setting any hotkey.  But this only happened  with a single project.  If there is more than 1 project in a workspace and with more than 1 `tasks.json`,   vscode would still trigger other task by `Ctrl`+`Shift`+`B`.

[2022-11-09 15:28] DanTup commented on #4116
@bwilkerson @scheglov the item doesn't show up because of this condition here:

https://github.com/dart-lang/sdk/blob/main/pkg/analysis_server/lib/src/services/completion/dart/suggestion_builder.dart#L896-L899

The edit produces for this override includes multiple edits (some for adding `imports). We could alter this condition to include the item anyway (ignoring the edits that aren't at the locat

[2022-11-09 17:41] devoncarew commented on #4256
In terms of having a place to display richer information, perhaps we could decorate the pubspec.yaml file when the user opens it? We could use synthetic labels after a package dep to display additional information about the package:

[code]

[2022-11-09 17:55] DanTup commented on #4256
We could also use CodeLens to have clickable links to upgrade (the same Run/Debug links we show on main functions and tests/groups), though if there are likely to be many it might look a bit cluttered (they add extra space between lines of code, messing with the spacing).

To have synthetic labels like we do for Closing Labels, we'd have to do something custom unless https://github.com/microsoft/v

[2022-11-09 18:31] DanTup opened #4257 "Move status bar entries for Analysis Server, SDK, DevTools into language status area"

[2022-11-09 18:32] #4257 closed

[2022-11-10 03:01] Wdestroier opened #4258 "Change the String enclosing quotes color"
I would like to suggest to make the quotes and the text color different.

Why would this be important? Dart allows strings starting with `"` to contain `'` and vice-versa. When a string starts with these characters it becomes confusing to understand what is the actual text. Example:

![image](https://user-images.githubusercontent.com/14764307/200974450-49f797cb-4d43-437f-b65a-a0f925e68024.png)

![

[2022-11-10 06:14] ThatLinuxGuyYouKnow opened #4259 "Dart and Flutter extensions appear broken"
Hello community!
Over the past few days, I've had difficulty using the Flutter and Dart extensions on VSCode, it usually takes 2-3 minutes for the extensions to initialize, but now it appears that they are not doing so at all

![image](https://user-images.githubusercontent.com/1078012/201066320-10abf966-2733-472c-bdb5-a9f6dbc93af8.png)

I'm now left with white code, and am unable to run any comman

[2022-11-10 10:26] DanTup commented on #4259
@ThatLinuxGuyYouKnow can you click Help -> Toggle Developer Tools in VS Code then click on the Console? If the extension is failing to activate, there should be an error message printed there.

In the past I've seen the extensions become corrupted (I'm not sure why, this is all handled by VS Code), but uninstalling them does not actually remove the corrupt version off disk (so when you re-install,

[2022-11-10 10:47] DanTup commented on #4258
We're currently using semantic tokens for the syntax highlighting and unfortunately they don't currently have any standard way to mark up the string delimiters. There's an open issue at https://github.com/microsoft/vscode/issues/97063 that proposes adding some new kinds, including `delimiter` for this reason. Please add a 👍 !

[2022-11-10 11:00] #4255 closed

[2022-11-10 11:02] DanTup commented on #4255
I've done this, and it works fine, though I'm now wondering whether cycling through three is the best option or whether it should just be a replacement for Toggle Line Comment (eg. only ever adds double slashes), it is just smarter about removing the triple slashes (which was your original request).

I'm wondering if there's much call to add triple-slashes to existing uncommented/double-slashed co

[2022-11-10 11:28] #3547 closed

[2022-11-10 11:30] DanTup commented on #3648
This will require the markdown parser can provide is offsets/lengths for the references in a block:

https://github.com/dart-lang/markdown/issues/369

[2022-11-10 13:10] Wdestroier commented on #4258
Thank you very much @DanTup! I believe this would be a great improvement. However, feel free to close this issue if you feel like it's not going to happen.

[2022-11-10 13:38] DanTup commented on #4258
I'd very much like it to happen, it's just unfortunately something that requires upstream work and not something I can directly implement. Sometimes issues sit around in VS Code for a long time (as that one has), and sometimes they just get resolved overnight. That one has been building up a number of new tokens/modifiers that would be useful, so I'm hopeful at some point they might all get added

[2022-11-10 14:17] mit-mit commented on #4256
That is an interesting option, but I personally find them confusing when they look exactly like actual comments.

[2022-11-10 14:57] sbatezat opened #4260 "Shell commands in launch.json args are escaped"
I'm trying to execute this launch configuration in VSCode (launch.json)

[code]

Command (flutter pub run ...) is escaped on args (and so not executed). It seems to be defined here: https://github.com/Dart-Code/Dart-Code/blob/f4088253d0d01203de1145315cc31743d808bd3a/src/shared/processes.ts#L11
It's a similar issue than https://github.com/microsoft/vscode/issues/149910

We should be able to define

[2022-11-10 15:18] bwilkerson commented on #3787
My only potential concern is performance. Your idea of making the location conditional based on the protocol being used protects legacy protocol clients, so there's no danger there. For LSP clients we'll probably need to measure the difference to see whether this causes problems.

There is a third option that I can think of, which is to change the completion engine to use a protocol-agnostic form

[2022-11-10 16:01] bwilkerson commented on #3787
I meant the overall performance of code completion, wherever the time is spent, but increasing the size of the payload is known to have an impact on the total performance, so yes, that too.

[2022-11-10 16:44] DanTup opened #4261 "Prompt to run "pub upgrade" upon opening a package if the SDK versions has changed"
When the user upgrades their SDK (a major or minor change, but not patch) there may be new versions of packages that were not available before (or that are required for some classes of changes). We should detect this change when we're checking if they need to run "pub get" (we can get the last version used to fetch packages from `.dart_tool/package_config.json`: (`"generatorVersion": "2.19.0-374.0

[2022-11-10 16:47] DanTup opened #4262 "Include some information information about outdated packages in language status information"
With some upcoming changes, a number of items are moving into a combined flyout from the status bar:

![image](https://user-images.githubusercontent.com/1078012/201155647-67dff038-09c6-4081-958d-e5dd86f7aafa.png)

This is a convenient place to add additional things we haven't previously shown, for example showing the status of pub packages (and a link to "upgrade" them if there are pending updates

[2022-11-10 16:51] DanTup commented on #3787
SGTM - I haven't gotten to looking at this properly yet (and probably won't until next week now), so if there are other ideas/feedback before then let me know (or have them post here). Thanks!

[2022-11-10 17:10] devoncarew commented on #4256
I've gotten used to them for the Flutter widget tree closing labels, but agree that they do need to look distinct from regular user code. It sounds like the subtle style used for closing labels isn't available to us currently though, just the a more bold / emphasized variant.

[2022-11-10 17:25] devoncarew commented on #4261
Interesting. I think the sdk downgrade case is pretty rare. I could see people running into it if they (intentionally) have multiple SDKs installed locally.

I would say we could either:
1) not handle it, or
2) handle it but switch to using `pub get`?

We'd mostly be concerned with package versions that solved into the newer sdk but that wouldn't solve into the older sdk.

[2022-11-10 18:05] DanTup commented on #4261
Ah, I hadn't considered that that would fix it, that makes sense. So where today it's:

- if package_config is missing or timestamped older than pubspec
  - prompt to pub get

I think we probably want:

- if package_config is missing
  - prompt to pub get
- else if sdk major/minor version has increased since current package_config
  - prompt to pub upgrade
- else if package_config is timestamped o

[2022-11-10 18:17] devoncarew commented on #4261
sgtm!

[2022-11-10 20:00] #4243 closed

[2022-11-10 22:09] kenzieschmoll commented on #4248
Close saved just closing everything that is saved. Close unmodified in group would close only files that do not have a git diff.

[2022-11-11 07:52] DanTup opened #4263 "Show videos in hovers"
According to https://github.com/microsoft/vscode/blob/96bf637c101b8832e44a97a27a26305d8c2cf22e/src/vs/base/browser/dom.ts, `<video>` looks like an allowed tag, so it may be possible to handle some videos in Flutter sources like this:

[code]

https://github.com/flutter/flutter/blob/52b3dc25f6/packages/flutter/lib/src/animation/curves.dart#L1651

![image](https://user-images.githubusercontent.com/1

[2022-11-11 17:20] workingfordev opened #4264 "Issue on website (Modifying Files Outside Workspace)"
I found an issue on http://dartcode.org/docs/modifying-files-outside-workspace/
i modified and now am faacing errors

can i get the original file ofthat please

[2022-11-11 18:33] DanTup commented on #4264
@workingfordev can you provide more details about the issue you're having? It's not very clear what sort of errors you're seeing.

I'm also unsure what you mean by the "original file".. That page has not changed recently and just describes how to disable the warning about modifying files outside of your workspace (although, usually that's not what you want to do - I would recommend having any file

[2022-11-11 19:08] ThatLinuxGuyYouKnow commented on #4259
Hi Dan

 It worked!
Thank you so much. I'll add this answer to my StackOverflow question.
Shall I close the issue or will you do the honours.

[2022-11-11 19:44] bwilkerson commented on #4116
That wouldn't be terrible. We have a fix for undefined names that can add the import after the fact. The question is, is it better to not have the suggestion, or is it better to have the suggestion and require more work after the fact? I'm leaning toward having the suggestion.

So we could get a little better by adding one of the required imports and have one fewer import to manually add. I don't

[2022-11-11 22:33] DanTup commented on #4259
Great, glad to hear. If you see this again, it's probably worth grabbing a copy of the extension folder and we can try to understand what's gone wrong. It's come up a few times but since it's VS Code that does the upgrading/extracting/etc, my feeling is that it's a VS Code bug (assuming it's not something else like disk issues, or antivirus quarantining files, etc.).

[2022-11-11 22:33] #4259 closed

[2022-11-12 01:03] #4211 closed

[2022-11-12 01:03] #4189 closed

[2022-11-12 09:45] tarzan00123 opened #4265 "I am seeing this error message."
how do i fix it
Dart DevTools exited with code -4058. Would you like to try reactivating DevTools?
<img width="343" alt="image" src="https://user-images.githubusercontent.com/118049170/201468505-8b4be763-3296-4141-b883-5bda7f05933c.png">
<img width="720" alt="image" src="https://user-images.githubusercontent.com/118049170/201604905-81345aeb-eece-41b0-b6fc-abf159a6e220.png">

[2022-11-12 09:54] itsahmed-dev commented on #4244
@DanTup I didn't downgrade as you suggested. I was using the earlier-mentioned version of the Dart Extension. It just worked out for me. I could see the list of packages prepopulated and suggestions as soon as I started typing to search for a package. So far it's working but I'll be sure to open another issue with something goes wrong. Thanks

[2022-11-12 17:00] DanTup commented on #4265
Can you try running the **Dart: Open Extension Log** command from the VS Code command palette (`F1`) immediately after getting this message to see if there are any warnings/errors recorded when it tried to spawn DevTools?

Can you also post the full output of running the **Flutter: Run Flutter Doctor** command from the same VS Code command palette (note: this is not exactly the same as running it

[2022-11-14 07:54] tarzan00123 commented on #4265
<img width="720" alt="image" src="https://user-images.githubusercontent.com/118049170/201604656-e3fc2b7b-999c-4688-a6bf-ebb71ff51968.png">

[2022-11-14 07:56] tarzan00123 commented on #4265
how can i do this?
<img width="626" alt="image" src="https://user-images.githubusercontent.com/118049170/201605170-29450a5e-d0d3-4659-b139-7b756af24903.png">

[2022-11-14 11:14] DanTup commented on #4089
I'm now rewriting these when we pass them to VS Code (for the test output - the Debug Console will remain the same). Note that this only works for `file://` URIs (we can't handle `package:` URIs without https://github.com/microsoft/vscode/issues/157500).

However, if handling `package:` URIs would be of significant benefit, we could try regexing them out and resolving them to `file://` URIs in the

[2022-11-14 11:36] DanTup commented on #4265
@tarzan00123 I think you ran a different command that has a similar name. The one starting "Dart" is the one you want:

<img width="639" alt="Screenshot 2022-11-14 at 11 35 38" src="https://user-images.githubusercontent.com/1078012/201650310-c37efc42-0f06-44d8-a6a1-bebe7608f455.png">

It should immediately open a log file inside VS Code.

[2022-11-14 11:37] DanTup commented on #4189
@Tanthus please let me know if you have a repro for this. It does seem like a bug, but unfortunately I can't debug any further without more specific steps to reproduce.

[2022-11-14 11:58] DanTup commented on #4248
Ah, gotcha! I don't think it makes sense to build that into the Dart plugin since we don't currently have any interactions with Git and I think would be confusing for this (language-agnostic) feature to either show up only when Dart is activated, or show up always and trigger activation of the Dart extension if you clicked it while working on a non-Dart project.

Since VS Code has native Git suppo

[2022-11-14 12:05] tarzan00123 commented on #4265
I can't see that
<img width="577" alt="image" src="https://user-images.githubusercontent.com/118049170/201655722-3e06eb0c-4bb3-4aed-840f-bb2e6ab8db96.png">

[2022-11-14 12:20] DanTup commented on #4265
@tarzan00123 you need to have a Dart project open (so that the Dart extension is active) for it to show up. Is it possible you didn't when you tried this?

[2022-11-14 12:28] DanTup commented on #4260
It's true that we don't currently support `argsCanBeInterpretedByShell`, however that setting is specific to the `runInTermal` request:

https://microsoft.github.io/debug-adapter-protocol/specification#arrow_right_hook-runinterminal-request

`runInTerminal` is not supported for Flutter because the debug adapter needs to be in full control of the process (because [it communicates with Flutter over

[2022-11-14 12:42] #4260 closed

[2022-11-14 12:49] DanTup commented on #4260
Oh, that's great to know - thanks for the pointer. I'll direct people there if this comes up again. Thanks!

[2022-11-14 12:51] DanTup commented on #3189
FWIW in #4260 I was told about https://github.com/flutter/flutter/pull/108098 which adds support for reading dart-defines from a file. I don't think it's shipped in a stable Flutter yet, but when it does I suspect this will handle many of the use cases above without the need of an additional package.

[2022-11-14 13:08] tarzan00123 commented on #4265
I open and got this.
<img width="853" alt="image" src="https://user-images.githubusercontent.com/118049170/201667875-e691014c-0954-4f59-adb8-c70a6e7c5bee.png">

[2022-11-14 14:51] DanTup commented on #4265
@tarzan00123 that's right. If you search through that file, there may be some errors reported when it tried to start DevTools. If you search in the file for "DevTools" you should be able to find where it tries to start the DevTool server.

You can also post the full log here, or email it to me at logs@dartcode.org if you want me to check it. Please ensure it does not contain anything sensitive/con

[2022-11-14 16:54] DanTup opened #4266 "Dart: Capture Debugging Logs doesn't capture "flutter run" JSON traffic when using new DAPs"
The base debug adapter uses `sendLogsToClient` to re-send VM Service traffic, but this isn't used by the Flutter adapter.

[2022-11-14 17:01] #4261 closed

[2022-11-14 17:09] devoncarew commented on #4261
The prompt looks great - thanks!

It matches the 'get' packages prompt however? Instead of 'Upgrade packages` we could say `run dart pub upgrade`? It's more technical but there'd be less uncertainty about what the tool is going to do. I'm not 100% sure this is an issue, but the command name would have slightly more clarity.

[2022-11-14 17:11] DanTup commented on #4265
@tarzan00123 thanks - I got your email, but it looks like nothing was logged to the main log. Can you try this:

- Open a Flutter project that triggers the error
- Run the **Preferences: Open Workspace Settings (JSON)** command from the command palette (`F1`)
- Paste `"dart.devToolsLogFile": "logs/devtools.txt",` into the JSON file (taking care to put it between the `{` and `}` so it is valid JSON

[2022-11-14 17:15] DanTup commented on #4261
Yeah, the other one said "Get packages". I've changed them to `run 'pub get'` and `run 'pub upgrade'` (I left off `dart` to be shorter and avoid confusion with `flutter` and this prompt may apply to multiple projects in the workspace), looks like this now (I changed "upgrade" to "updated" in the text as I think it reads a little better too, but happy to tweak):

![Screenshot 2022-11-14 at 17 13 04

[2022-11-14 17:25] DanTup commented on #4245
@dbsxdbsx can you clarify exactly what happens when you press `Ctrl`+`Shift`+`B` with a single project open? I see this:

<img width="644" alt="Screenshot 2022-11-14 at 17 23 11" src="https://user-images.githubusercontent.com/1078012/201725391-3fe15c2c-fe41-4a2c-a02f-149c68464eda.png">

And if I do the same with multiple workspace folders, I see this:

<img width="671" alt="Screenshot 2022-11-14 a

[2022-11-14 18:13] devoncarew commented on #4261
Looks great - very clear about what it'll do (and makes sense to not specify the 'dart' or 'flutter' prefix).

[2022-11-14 18:19] bwilkerson commented on #4116
My inclination would be to implement the feature the way we want it to work, even if there's a bug that makes is suboptimal, rather than to make it less functional and hope that we remember to enhance the feature when the result would be more optimal.

Right. So the underlying problem is that we're trying to reuse some logic from quick fixes that isn't working quite the way we need it to for code

[2022-11-15 01:06] kenzieschmoll opened #4267 "Server crash: Bad state: Expected to link dart:core and dart:async together: [dart:core/duration.dart, dart:core]"
This will happen in the middle of my development often - not sure what is causing it, but a file will just all of a sudden drop syntax highlighting and look like this. Sometimes closing the file and reopening solves the problem, but not often.

![Screen Shot 2022-11-14 at 5 03 55 PM](https://user-images.githubusercontent.com/43759233/201801187-01100a09-eff8-4c51-ad14-f5db235a9028.png)

[2022-11-15 02:59] dbsxdbsx commented on #4245
When there is only 1 flutter project, I see this:
![1 DART](https://user-images.githubusercontent.com/17372655/201815089-e8ddd621-5e4b-43e8-84c9-543ca58d5675.png)

When there is 1 flutter project with 1 rust project, I see this:
![MULTI_DART](https://user-images.githubusercontent.com/17372655/201815156-84d3b3f3-6dbe-428b-9ccd-c7e82fbc5a47.png)

The flutter project contains only `launch.json`, whic

[2022-11-15 08:19] DanTup commented on #4267
@kenzieschmoll can you confirm which VS Code colour theme you're using (this can influence whether Semantic Tokens are used for highlights or not)?

Next time you see this and re-opening a file does not seem to fix it, could you try saving all files and then running the **Developer: Reload Window** command (or restarting VS Code) and see whether it comes back? (this will restart the anaysis server

[2022-11-15 10:24] DanTup commented on #4265
@tarzan00123 thanks for the email, the log you sent was the one I was after. It shows:

[code]

It seems that when trying to start DevTools, this error is being thrown by NodeJS:

I found some similar reports of this at https://stackoverflow.com/questions/38458118/nodejs-error-spawn-c-windows-system32-cmd-exe-enoent, although it's not clear if any of the solutions there are related. One that does

[2022-11-15 10:36] DanTup commented on #4267
There's an open VS code issue with some complaints about textmate grammars not working, though this may be unrelated (there certainly don't seem _many_ reports like this):

https://github.com/microsoft/vscode/issues/165225

Some additional things to check:

1. When this happens, Dart is still shown in the status bar as the active language
  <img width="490" alt="Screenshot 2022-11-15 at 10 34 27"

[2022-11-15 10:48] tarzan00123 commented on #4265
thank you for help me, I'm glad you came to help me.

[2022-11-15 10:56] DanTup commented on #4265
@tarzan00123 did that work? Or do you get the same error?

[2022-11-15 11:02] tarzan00123 commented on #4265
yes that work, I don't see error, I edited as you suggested and the similar reports you provided.

[2022-11-15 11:12] DanTup commented on #4265
@tarzan00123 did you only follow my instructions above, or also something else on that page?

I'd like to understand what fixed it, in case there are improvements I can make to the extension to prevent this in future. If the issue was the working directory, then I can update the extension to always supply a working directory.

[2022-11-15 11:28] dbsxdbsx commented on #4245
Yes, both 2 approaches should be workable, and I prefer the latter approach. Thank you for your advice.

[2022-11-15 11:28] #4245 closed

[2022-11-15 11:42] DanTup commented on #4027
@athomas FYI, there are some files with old dates at https://gsdview.appspot.com/dart-archive/channels/be/raw/latest/sdk/ again. I don't know if they're stuck, or they're old (for example mostly they're md5sum files and I see there are now sha256sum files, so maybe the md5 ones are no longer used, but having them there and not matching the latest versions may be confusing?).

[2022-11-15 11:43] dbsxdbsx commented on #4245
@DanTup, Oh~ Just one thing to mention.  Even I added `tasks.json` for the flutter project:
[code]
In the workspace of multi projects,   pressing `ctrl`+`shift`+`b` would still launch the rust project, with no asking.

[2022-11-15 12:17] tarzan00123 commented on #4265
I followed the instructions you suggested and the example you attached, I set the parts
<img width="443" alt="image" src="https://user-images.githubusercontent.com/118049170/201917828-38b79bde-7bc5-405a-824b-bccb35475909.png">
<img width="1076" alt="image" src="https://user-images.githubusercontent.com/118049170/201917888-89295e28-bbd8-4c45-a14f-317f74866735.png">

[2022-11-15 15:57] DanTup commented on #3787
@bwilkerson I [started taking a look](https://github.com/DanTup/sdk/commit/e57218b7c2e84d532e8c4762f310d16f3ec82b11) at adding a non-protocol `CompletionSuggestion` class, although there are some things that make it awkward that I hadn't thought about:

- `protocol.CompletionSuggestionKind` is used in some types (like `OpType`) that are used by plugins and difficult to change (so for now, I kept u

[2022-11-15 15:59] DanTup commented on #4265
@tarzan00123 did you actually change anything in the Environment variables? Were they set to something different? (I know on StackOverflow someone had a semicolon `;` on the end, but that was inside their error message whereas yours was not).

If you launch VS Code the normal way (not via the terminal), does it still work, or does it fail with the error message again? (If it fails, then I think I

[2022-11-15 16:45] bwilkerson commented on #3787
I'm not suggesting that we do so, but if we were decide to pursue a non-protocol suggestion class then I'd have no problem with forking classes like `OpType` and completely abandoning `analyzer_plugin` until/unless such a time as we decide to support it. (A fairly large portion of the completion engine is already not available to plugins.)

Do you mean results from builders in `analyzer_plugin`, o

[2022-11-15 17:00] DanTup commented on #3787
I mean in the completion handler:

https://github.com/dart-lang/sdk/blob/a2adab7dfdc069175abfc667c9f75a43811c69d1/pkg/analysis_server/lib/src/handler/legacy/completion_get_suggestions2.dart#L77-L84

We collect a list of `CompletionSuggestionBuilder`s for server, and then wrap the plugins results in a `ValueCompletionSuggestionBuilder` (which is just a builder that returns the result directly, with

[2022-11-15 17:55] kenzieschmoll commented on #4267
When the syntax highlighting drops, a message pops up and says Dart Analysis Server terminated. Here is the exception in the log:

[code]

[2022-11-15 18:00] DanTup commented on #4267
Ah, that's interesting. How often do you see this? It's very similar to https://github.com/dart-lang/sdk/issues/48051 although the message is slightly different. I don't suppose you've noticed any pattern to the steps you've performed just before this happens?

(@scheglov FYI)

[2022-11-15 18:05] DanTup commented on #4267
@kenzieschmoll could you confirm the SDK version you're using too? (I presume you're on a recent dev or something, and not stable, but it may be interesting to know whether it's a version that includes https://github.com/dart-lang/sdk/commit/0add39a68e145329a38fc215b99e1c468440d765).

[2022-11-15 18:14] DanTup commented on #3787
I thought about that, but "translating" them back instead of "unwrapping" them, which failed because we couldn't produce a proper `Element` to re-create all the fields on `protocol.Element`. Oh well, I think the new class is probably a simpler route for now - it was trivial to implement and would be trivial to switch if we go with something else in future.

I've sent https://dart-review.googlesour

[2022-11-15 18:29] kenzieschmoll commented on #4267
I am seeing this a few times per hour. The only pattern I notice is that I'm always in the middle of typing, but I can't say that I'm typing something in particular. I'll try to monitor this and look for logs each time it happens. This is my flutter and dart version:

Flutter 3.6.0-2.0.pre • channel flutter-3.6-candidate.2 • git@github.com:flutter/flutter.git
Framework • revision fa94a3c10e (2 day

[2022-11-15 18:41] DanTup commented on #4267
Thanks - that version definitely includes my change above. Often that previous error was triggered by Ctrl+Clicking on SDK symbols. Before clicking, while holding Ctrl over the symbol, VS Code sends an open event immediately followed by a close event which seemed to be triggering the issue because it triggered analysis. My change should stop triggering that re-analysis when files are opened if the

[2022-11-15 19:46] DanTup commented on #3787
Fixed by https://github.com/dart-lang/sdk/commit/fc9581d758f537f80435602040ac014f69629f33.

[2022-11-15 19:46] #3787 closed

[2022-11-15 22:48] gspencergoog opened #4268 "Add support for creating an "empty" project"
Flutter recently added an option to `flutter create` to create an empty project that doesn't have any comments, the code is just a hello world instead of the counter app, and there's no test directory.  The flag is `--empty`.

It would be nice to add the option to the VSCode extension to allow people to create an empty project instead of one that has the counter app in it.  I'm not sure how that s

[2022-11-16 03:16] amal-khailtash commented on #4267
I am not sure if this is related to this https://github.com/microsoft/vscode/issues/165225 or not, but all my languages syntax highlighting are gone!

[2022-11-16 03:19] amal-khailtash commented on #4267
#https://github.com/microsoft/vscode/issues/165225

[2022-11-16 03:31] dbsxdbsx commented on #4245
@DanTup, thanks for your experiment.   Now after testing myself, I got same result your `tasks.json`, And I also realize that the issue is from this `tasks.json`:
[code]
Could you plz test it within `.vscode` of ANY project? I guess you would find that this task overrides other projects in a workspace.

[2022-11-16 03:51] dbsxdbsx commented on #4245
@DanTup, Oh~ I got it. The reason is that in my special `tasks.json`: it marked `"isDefault": true`, that is why it would override other tasks.

[2022-11-16 08:01] tarzan00123 commented on #4265
I edited the `" "` in my part.
<img width="405" alt="image" src="https://user-images.githubusercontent.com/118049170/202120937-97e87e6b-0b52-4c80-bf5c-31ce01152b81.png">
I lunch VS Code the normal way, I'm Lunch as I've studied.

[2022-11-16 10:41] DanTup commented on #4265
Ah, sounds like it's sorted then. Let me know if the problem comes back. Thanks!

[2022-11-16 10:41] #4265 closed

[2022-11-16 10:41] DanTup commented on #4245
Ah, that makes sense. I presume when you remove that everything is working as you'd like?

[2022-11-16 10:44] dbsxdbsx commented on #4245
Yes. And if there are more than 1 marked `"isDefault": true`, then vscode would ask which task to choose.

[2022-11-16 10:48] airherna opened #4269 "Allow fold when function declaration is in multiple lines Dart"
Type: <b>Bug</b>

I'm filing this issue in the Dart extension because I have not been able to reproduce this exact behaviour in languages like Python or C.

Environment:
OS: Windows
Version: 1.73.1
Reproducibility rate: 100%

Steps to reproduce:
1. Create a Dart function such as:
Future<void> function(String param1,
     String param2, String param3) async {
     // content
     // content
     //

[2022-11-16 10:53] DanTup commented on #4245
Ah, perfect :-)

[2022-11-16 10:58] DanTup commented on #4268
Looks like this - let me know if you want any tweaks to it. It'll only show up for a Flutter SDK >= `3.6.0-3` (the current version I just pulled).

![Screenshot 2022-11-16 at 10 54 13](https://user-images.githubusercontent.com/1078012/202162062-8b5ecdc1-2b18-4ba6-969b-611d1edb0bcf.png)

Btw, right now `flutter create` creates folders for all platforms (if you don't pass them explicitly), even _Win

[2022-11-16 10:59] #4268 closed

[2022-11-16 11:00] joshpetit opened #4270 "How to hot reload/restart from REPL?"
Hey! This is more of a question, but I'm using this project alongside nvim-dap, and I was wondering if there was a way to trigger a hot reload/restart from the REPL? If not, could you point me in the direction of a way to signal to the `debug.js` file that it should hotreload or restart? I'd appreciate the help, thanks!

[2022-11-16 11:01] DanTup commented on #4268
I just realised you noted:

We can do that, although I think it would be better to have a single command (there's no confusion of multiple commands, and we can show this additional descriptive text shown above). If you think this is the one people will use most, we could push it to the top (and perhaps rename from "Application" vs "Application (empty)" to something like "Empty Application" and "(S

[2022-11-16 11:06] DanTup commented on #4270
I'm afraid don't know of a way to do this. The correct way for a DAP client to reload is to just send a custom request to the debug adapter.

FWIW, the `debug.js` file is the legacy debug adapter that is being phased out. I would recommend other editors use the `flutter debug_adapter` command (which is essentially the same thing, but ported to Dart and shipped in the SDK). There's some documentati

[2022-11-16 11:25] joshpetit commented on #4270
Ok awesome thanks! Great to see this being shipped with flutter, I see that to debug dart files it's `dart debug_adapter` and for debugging flutter files it's `flutter debug-adapter` by the way. Thanks for the info, if I try looking into this more and figure it out I'll come back and update this thread and add some documentation on the nvim-dap page, thanks again :)

[2022-11-16 11:25] #4270 closed

[2022-11-16 11:28] DanTup commented on #4270
Yep, you need to select the right debug adapter for your needs (both between `dart`/`flutter` and include `--test` when trying to run tests). I think `flutter` has an alias for `debug_adapter` (to match Dart).. Dart was done first but the command wasn't consistent with Flutter's conventions.

Feel free to post back any questions - or, if anything in the doc linked above (or the Dart version) is un

[2022-11-16 11:46] mpekurin opened #4271 "Ask which platforms to create the project for when running `Flutter: New Project`"
**Describe the solution you'd like**
Show a checkbox list of available platforms when the command is executed (similar to `Settings Sync: Configure...` and `Remote: Install Local Extensions in...`):
![image](https://user-images.githubusercontent.com/22733346/202164157-ff9aff67-0186-4aaa-ac24-e7418490fb06.png)
Also it would be nice to have `Flutter: Manage Platforms` command which essentially will

[2022-11-16 15:02] DanTup commented on #4116
- https://dart-review.googlesource.com/c/sdk/+/270180 suppressed the import edits for override completions (causing the completion to appear now, although inserts without imports)
- https://dart-review.googlesource.com/c/sdk/+/270181 adds support for multiple imports during LSP resolution and populates them

Prefixes etc are respected (since they don't produce additional imports), although we stil

[2022-11-16 15:11] DanTup opened #4272 "Add a divider before "Enable platform" entries in device manager"
![image](https://user-images.githubusercontent.com/1078012/202218413-d1691bab-b16b-4963-800b-633c73ce90a3.png)

[2022-11-16 15:17] #4272 closed

[2022-11-16 16:42] gspencergoog commented on #4268
What you have works for me.

[2022-11-16 17:22] DanTup commented on #4269
I agree it's inconvenient not being able to fold an entire function declaration. Although there are some questions about the best way to do this. We can't start multiple folding regions on the same line (because editors will generally only show a single folding icon), so we need to decide what to do with the current parameter list region.

Given the code:

[code]

There's currently a range for `St

[2022-11-16 19:21] DanTup commented on #4271
I wonder if it's better to just leave them to do this manually for now, to avoid any risk with us doing it.

Any opinions on the dialog up above? In particular, having it as an extra step for all **Flutter: New Project**s versus in a settings dialog?

We could possibly do both - have it in the cog, but also prompt the first time, with a divider at the bottom and another checkbox for "use these wit

[2022-11-16 20:29] gspencergoog commented on #4271
I like the "do both" approach, if that works.

[2022-11-16 22:00] bwilkerson commented on #4269
No, I don't have any opinion here. I don't use code folding, so I have no experience to draw on, and I haven't really paid any attention to what our current support looks like.

I do have to wonder, though, what use case prompted us to support folding for parameter lists and why we chose to fold function bodies rather than the whole function (maybe because we fold parameter lists and couldn't have

[2022-11-16 22:26] osaxma commented on #4163
Hi @DanTup

I'm not sure if this is the same issue (in line 12, I believe the checkmark should be next to main)

<img width="707" alt="Screen Shot 2022-11-17 at 1 20 53 AM" src="https://user-images.githubusercontent.com/46427323/202306981-cd4cb366-a48e-4872-85e7-6d1e17eb9151.png">

To reproduce:
- `git clone https://github.com/isoos/postgresql-dart.git`
- open `tests/logical_replication_test.dart`

[2022-11-16 23:08] DanTup commented on #4269
I did some digging earlier to see if I could find if there was a reason for going this route, and could not find anything. I think it's likely it was somewhat accidental - in https://github.com/dart-lang/sdk/commit/46043004d6ea902a55e4bf246eb2b295e02f5420 I used FunctionBody to fold functions/methods/constructors and none of my tests had multi-line parameter lists (and parameter folding was added

[2022-11-17 09:35] mpekurin commented on #4271
It suggests only the platform a user is currently using and `web`.

Since running `flutter create --platforms ...` edits `.metadata`, probably an action that removes a platform should execute `flutter create` anyway and then ask the user what to do with the directory via a notification:
![image](https://user-images.githubusercontent.com/22733346/202394257-2f2c81dd-18c7-4ce9-b1b7-6b9c516670e3.png)

[2022-11-17 10:40] mpekurin commented on #4271
**To sum everything up (as I see it after reading the comments).**

Add the following settings with the respective default values:
[code]

Modify `Flutter: New Project` command:
* Add `Platforms` to the cog menu. When it's pressed, show a checkbox list of available platforms with the platforms listed in `dart.flutterDefaultPlatforms` preselected. Show `Set as Defaults` and `Always Ask` (if `dart.f

[2022-11-17 10:58] airherna commented on #4269
Following this discussion I want to add that I've not being able to fold the function body at all. It's not that folding the body requires an extra click after folding the parameters, it's that the arrow to fold the body does not appear at all when the declaration spans multiple lines.

![image](https://user-images.githubusercontent.com/101186485/202428604-c41773fc-0bda-4085-acc4-c40391bf1ac2.png)

[2022-11-17 15:11] DanTup commented on #4269
@airherna that issue has been fixed (via #4121) and will ship in an upcoming SDK release. There was a change in VS Code that changed how it handled ranges where one started on the same line that another started (which is the case for the parameter list and the function body in your example). If used to allow them, but now it drops one of them.

So using the latest (bleeding edge) code your example

[2022-11-17 15:36] DanTup commented on #4269
I have some changes that I think make this work as well as we can. We'll add "function body" folding ranges for the whole declaration instead of just from the `{` and we'll start parameter list folding from the start of the first parameter (instead of from the `(`).

The result is that whole functions can be folded, and if the parameters are more than two lines (which dartfmt seems to always then

[2022-11-17 16:21] bwilkerson commented on #4269
That sounds good to me.

Another data point would be to see how other language servers handle this case (assuming that any do).

[2022-11-17 16:37] DanTup commented on #4269
TypeScript (which I generally use as a template because it's maintained by the VS Code team) does fold the whole declaration, but doesn't allow folding of parameter lists:

https://user-images.githubusercontent.com/1078012/202503853-3d5106f5-e141-499d-b3b9-3560c7b0aa87.mp4

I think there may be some value in folding parameter lists (I suspect on average Flutter code has longer parameter lists and/

[2022-11-17 20:44] johnpryan opened #4273 "Improve messaging when trying to connect to an app in release mode"
When an app is running in release mode, and I run the "Open DevTools  in Web Browser" command, I get this warning:

![Screenshot 2022-11-17 at 12 31 48 PM](https://user-images.githubusercontent.com/1145719/202555628-eb6125c4-07dd-49ae-be6d-814bd69f6d6c.png)

Could we detect when the launch configuration's `flutterMode` is set to `release` and point users to the [documentation](https://docs.flutter

[2022-11-18 00:12] maks commented on #3727
@DanTup apologies for digging up a closed issue, but I'd like to be able to do what you mentioned in this issues description and  "hide" my integration tests so that they aren't run when I do `Test: Run All Tests` in VSCode but I can't seem to find how to do that in any of the docs, would you know how to do that?

[2022-11-18 08:27] larssn opened #4274 "The debugger often dies when you put the app to the background"
**Describe the bug**
This has been annoying me for several years now 😅:
When you run the app in debug mode, and minimize it, there's a good chance the debugger will disconnect, and the app will lose all state, forcing you to rebuild from scratch.

**To Reproduce**
Steps to reproduce the behavior:
1. Minimize the app
2. See if VSCode loses the connection to your debug session.

Not sure what the co

[2022-11-18 09:50] zmtzawqlp opened #4275 "CompletionSuggestion auto-imports don't work for plugin-contributed completions"
I'm making a plugin base on [analyzer_plugin](https://github.com/dart-lang/sdk/tree/master/pkg/analyzer_plugin)  and follow the doc https://github.com/dart-lang/sdk/blob/master/pkg/analyzer_plugin/doc/tutorial/completion.md

The problem is that `libraryUri` is set and  `isNotImported` is set to true, but it still has not 'auto import from xxx' in completion.

[code]

i found the comment at
https:/

[2022-11-18 11:57] DanTup commented on #4274
I would definitely advise raising issues long before they've been annoying for that long 😄

Does the same thing happen if you run from the terminal with `flutter run`? Do you have any other devices to test on to see if it's specific to that device?

[2022-11-18 11:58] DanTup commented on #3727
You can right-click on tests in the VS Code test tree and choose "hide". This will hide them from the tree, and IIRC, prevent them from being run when you do Run All Tests.

If this doesn't seem to work right (or you think there are improvements to be made in this area), please do open new issues with details.

[2022-11-18 11:59] DanTup commented on #4185
Fixed by https://github.com/dart-lang/sdk/commit/3f206da5e37af8b0cbf1c7efafbba8299befc4b9.

[2022-11-18 11:59] #4185 closed

[2022-11-18 12:02] DanTup commented on #4269
With https://github.com/dart-lang/sdk/commit/35d3015ed5006b0a66ce9bbf742c7fe28453735f, whole function declarations (instead of just bodies) can be folded. There are also some other minor tweaks to ranges to improve handling of parameter lists when they start on the same line as the declaration (so they can still be folded).

This change is in the Dart language server so the fixes will show up with

[2022-11-18 17:03] johnpryan opened #4276 "Disable hot reload and hot restart buttons in profile/release mode"
The hot reload and hot restart buttons should be disabled when you run in profile or release mode, since they won't work.  See flutter/flutter#37987.

<img width="226" alt="Screenshot 2022-11-18 at 8 55 31 AM" src="https://user-images.githubusercontent.com/1145719/202759369-2ee17ffd-e80d-4d56-906e-e82083da6482.png">

[2022-11-19 09:29] DanTup commented on #4276
I think the Hot Reload button used to use the presence of the service extension to be enabled, but maybe when adding support for hot-reloading Dart (non-Flutter) the condition was removed. I guess it should be "(is Flutter and service extension is available) || is not Flutter".

As for Restart, we can't actually disable that button, it's not a "Hot Restart" button but rather just a "Restart Debugg

[2022-11-20 01:03] #4222 closed

[2022-11-20 22:57] point-source opened #4277 "Improve customTool options and behavior"
**Is your feature request related to a problem? Please describe.**
I use [doppler](https://www.doppler.com/) to manage secrets for my projects. One of doppler's features is that it can inject environment variables on-demand and run an executable of your choosing (in my case, dart). The syntax is: `doppler run -- dart`. This makes it very easy to run a dart or flutter application with a special env

[2022-11-21 01:01] #4228 closed

[2022-11-21 05:06] Faamica opened #4278 "Dart Devtools error with code 127"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

If I open VS Code, then the error occurs
I did extension bisect.
but except Dart, other extension is ok..

Extension version: 3.25.1
VS Code version: Code 1.57.1 (Universal) (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:28:32.912Z)
OS version: Darwin arm64 20.4.0

[2022-11-21 14:28] DanTup commented on #4278
Can you post a screenshot of exactly what you're seeing? Thanks!

[2022-11-21 15:29] DanTup opened #4279 "Quick-fixes don't appear in Pubspec / analysis options"
(release notes placeholder for issue raised at https://github.com/dart-lang/sdk/issues/50306)

[2022-11-21 15:46] point-source commented on #4277
Thanks for the additional context. I believe the wrapper script option is probably fine. Either that or maybe I should look into creating a doppler package for dart that has this built in.

I do think changing the order that toolArgs inserts is a reasonable idea if it doesn't break existing flows.

[2022-11-21 16:45] stevemessick commented on #4222
@DanTup Oops, I missed this. You can find the `flutter run` command in the IDE log file. Search for `flutter [--no-color, run`. I believe all the output from that command is printed to the IDE console. But it does not include -v. (The plugin does have a verbose logging option, but I don't remember if enabling it adds -v.) I have previously identified problems in flutter_tools that were caused by I

[2022-11-21 19:56] DanTup commented on #4116
https://github.com/dart-lang/sdk/commit/1d64cba68e32ed9ef6b433287a53a36da446a005 addresses the items not showing up in completion, and https://github.com/dart-lang/sdk/commit/699b42c8e3ecfe96d1247241b3c9a9312e65e8bb adds support for bringing in potentially multiple) `import`s so the code is valid.

These are SDK changes, so will require a future SDK release to show up. Thanks for raising this and

[2022-11-21 19:56] #4116 closed

[2022-11-21 22:55] johnpryan commented on #4276
Sounds good to me 👍

[2022-11-22 01:01] #4230 closed

[2022-11-22 10:51] DanTup commented on #4230
@kenzieschmoll are you still seeing this? If so, can you grab the log above (or ping me if may be easier to screenshare and figure out what's up).

[2022-11-23 02:50] josercc commented on #4251
@DanTup The crash happened again, and it was over. I do this. After running the Flutter program, I want to press Command+on the following method body Perform the refactoring, and then crash and exit.

<img width="926" alt="image" src="https://user-images.githubusercontent.com/4713847/203460594-0a32af91-e8d0-41f0-bdff-ca9d3ac49a66.png">

The crash log captured below

[Dart-Code-Log-2022-10-03 10-43

[2022-11-23 11:50] DanTup commented on #4251
@josercc can you reliably reproduce this? There's nothing unusual in the log - it actually looks like VS Code sent a request to terminate the debug session:

<img width="903" alt="Screenshot 2022-11-23 at 11 47 09" src="https://user-images.githubusercontent.com/1078012/203539230-d8cacdd1-5414-40be-8ac0-74be2059c608.png">

There were some `Flutter.Frame` events up until 10:43:54 and then nothing un

[2022-11-23 11:52] josercc commented on #4251
@DanTup

I downloaded the VSCode InSiders version without crashing, but it must appear in the Release version. At present, I have developed in VSCode InSiders. According to this phenomenon, I feel it has something to do with VSCode

[2022-11-23 11:53] DanTup commented on #4278
@Faamica thanks - I see the problem. You're on an old (around 1 year old) version of the Dart extension. This extension tries to run DevTools using `pub`, but the `pub` command was removed from the Dart SDK since.

If you upgrade to the latest version of the Dart (and Flutter) VS Code extensions, I expect the problem will go away. It's possible you first need to update VS Code (since that's also o

[2022-11-23 11:56] DanTup commented on #4251
@josercc so can you reliably reproduce it in the stable version? Do you have any differences in extensions between the two? It certainly seems odd that the logs suggest VS Code was asking for the session to be ended.

It's also worth clicking Help -> Toggle Developer Tools in VS Code, then going to the Console tab and seeing if any errors are listed there when this happens.

[2022-11-23 12:00] josercc commented on #4251
@DanTup

I'll come in tomorrow and look at the reconstruction and see if there's any error logs

[2022-11-23 12:17] DanTup commented on #4275
I have a fix for review at https://dart-review.googlesource.com/c/sdk/+/271701.

This change is in the Dart SDK so (once merged) the fix will only show up in a future Dart SDK release (and not a VS Code extension release).

[2022-11-23 13:16] zinface opened #4280 "analysis server consumes significant memory when VS Code restores a dirty file buffer for a project that no longer exists"
i open my computer,  and vscode ,  in 3 minutes , have one nosave dart code in editor(old).    so , my memory always been rising.

i have a picture!

![image](https://user-images.githubusercontent.com/46606043/203556538-fa13f3d0-403f-4f45-a0c0-c74c0aef557b.png)

After a while:

![image](https://user-images.githubusercontent.com/46606043/203556586-0bfd07d2-c73d-4ecd-8e73-82bd59163f15.png)

[2022-11-23 13:24] zinface commented on #4280
in /tmp/tmp.xxxx(`code \`mktemp -d\``) workspace,  i edit a file . now restart my computer/vscode,  Vscode has an unsaved file.. top.

[2022-11-23 15:41] DanTup commented on #4280
Can you run `code --status` while the memory usage is high and post the full output here?

[2022-11-23 16:24] DanTup commented on #4276
I've pushed a change that hides/disabled Hot Reload for Flutter apps when the reloadSources extension is not available (it remains enabled/visible for Dart projects since they don't require this service and work via a standard VM Service API).

However, restart is more complicated. We can't hide the "restart" button (which we usually use for _Hot_ Restart) because VS Code doesn't allow it (restart

[2022-11-23 16:25] DanTup opened #4281 "Handle debugger restart request (with a cold restart) for Flutter profile/release mode"
See https://github.com/Dart-Code/Dart-Code/issues/4276#issuecomment-1325338777.

-----

We can't hide the "restart" button (which we usually use for _Hot_ Restart) because VS Code doesn't allow it (restart should always be possible, even if it's not a Hot Restart, because it should just be the same as stopping the session and starting it again). We also can't currently tell VS Code to handle the r

[2022-11-23 16:26] DanTup commented on #4276
Since the restart change above requires DAP changes, but the Hot Reload change will ship in the next VS Code release, I'm splitting this into two issues. This one can be for the Hot Reload change, and https://github.com/Dart-Code/Dart-Code/issues/4281 tracks handling Restart for profile/release.

(so I'm closing this one as done by ecad2835d588622f65dc204f8fb99f38b955fe26)

[2022-11-23 16:46] DanTup commented on #4273
@johnpryan are you using current stable Flutter? I changed this message in https://github.com/Dart-Code/Dart-Code/commit/68cf41fbbae47d5e8ca5895778086e4c76afbaf5 but it requires https://github.com/flutter/flutter/pull/106337 (in theory we might be able to check the mode another way, but since this is already I'm inclined to just wait for it to ship).

I will add a "More info" button that links to

[2022-11-23 16:48] DanTup commented on #4278
Great, glad it was a simple fix :-)

[2022-11-23 16:48] #4278 closed

[2022-11-23 18:08] zinface commented on #4280
- Let's reproduce the problem.

1. You use `temporary-d` or any other method to create a temporary folder, which we will delete later.

    This is a way to simulate the use of memory space (tmpfs) or to create temporary engineering projects under `/ tmp`.

2. You go to the folder and use `dart create dart_ project` to create a dart project and open it using VSCode.
3. You find a dart file that ex

[2022-11-23 18:09] zinface commented on #4280
# Reply: information from `code --status`

- Memory 20%(It just started.)
[code]

- Memory 40%

[code]

- Memory 60%

[code]

- Memory 80%

[code]

[2022-11-23 18:13] zinface commented on #4280
I also repeated this question when I turned off all plug-ins and opened only one Dart plug-in.

[2022-11-23 18:21] johnpryan commented on #4273
That's a good point, the [Flutter performance profiling](https://docs.flutter.dev/perf/ui-performance) page isn't quite right because it's also common to use DevTools in Debug mode. I'm not sure we have a place in our docs that says DevTools should only be run in Debug or Profile mode, not Release mode.

[2022-11-23 18:29] DanTup commented on #4273
Ah, in that case is there anything else to do here? The current message (when running on latest code) says:

We could make this more specific (release/profile mode), however it requires making some assumptions in VS Code that I'd rather avoid (there are many ways the user could start the app in profile/release mode that are harder for us to detect).

[2022-11-23 18:33] johnpryan commented on #4273
I would prefer if it  said "DevTools only supports Debug or Profile mode".  The current gives two possible explanations, which can lead to confusion and doesn't tell the user how to resolve the issue.

Is there a way to detect that the debug session isn't ready yet so that we can disambiguate these two scenarios?

[2022-11-23 21:35] DanTup commented on #4275
This is fixed by https://github.com/dart-lang/sdk/commit/019fb7a21488f55d616a8d26e921ed2b28750b81 and will ship in a future release of the Dart SDK. If you need to test this sooner, you could use a dev SDK from https://dart.dev/get-dart/archive#dev-channel once the release date shown is newer than todays date.

[2022-11-23 21:35] #4275 closed

[2022-11-24 00:26] josercc commented on #4251
@DanTup

<img width="760" alt="image" src="https://user-images.githubusercontent.com/4713847/203668070-2db03e59-c5a6-4894-ac03-9fd6086c18b5.png">

There are so many logs in the VSCode developer tool from running to crashing

[2022-11-24 12:06] tajutzam commented on #3826
all, i have done it i run it via avd via terminal i use so debian

[2022-11-24 13:38] nicolasmol opened #4282 "Toggling "off" debug break on "(All) Exceptions" persists behaving as "on" until completely restart debugging (reload not enough)"
Toggling "off" debug break on "'(All) Exceptions" persists behaving as "on" until completely restart debugging (reload not enough)

At least it has been like this here,  right now on my configuration (hope it's not a a mistake of me)

Flutter 3.3.7 • channel stable • https://github.com/flutter/flutter.git
Framework • revision e99c9c7cd9 (il y a 3 semaines) • 2022-11-01 16:59:00 -0700
Engine • revi

[2022-11-24 16:30] larssn commented on #4274
Here's the log of it happening:

<details>
<header>Log</header>
!! PLEASE REVIEW THIS LOG FOR SENSITIVE INFORMATION BEFORE SHARING !!

Dart Code extension: 3.53.20221107
Flutter extension: 3.52.0 (activated)

App: Visual Studio Code
Version: 1.73.1
Platform: mac

Workspace type: Flutter
Analyzer type: LSP
Multi-root?: false

Dart SDK:
    Loc: /Users/lars/workspace/flutter/bin/cache/dart-sdk
    V

[2022-11-24 16:38] zinface commented on #4280
I have e-mailed the information you mentioned, along with about 2 minutes of screenshot files (reproducing the problem).

[2022-11-27 09:47] Tetrapak0 commented on #4267
Try installing an older version of the dart code plugin

[2022-11-27 14:03] Taro-Naza commented on #3033
It doesn't work for me! I have to start it in debug mode to have hot reload work on save, otherwise it doesn't work at all

[2022-11-27 14:04] Taro-Naza commented on #3033
It would be great if we can have hot reload when running the app using `flutter run`

[2022-11-27 14:05] Taro-Naza commented on #3033
It would be great if we can have hot-reload when running the app using `flutter run`

[2022-11-28 10:15] DanTup commented on #3033
@Taro-Naza

Unfortunately this isn't possible. When you run from the terminal, the VS Code extension knows nothing about that process and cannot interact with it. You need to run from within VS Code using the Run menu (and related features) if you want to use the other features.

If there's a reason you're using `flutter run` and not using the commands in the terminal, I'd be interested to underst

[2022-11-28 10:26] DanTup commented on #4267
This is unlikely to help. The error above is occurring in the language server which is based on the SDK version, so it could happen with any version of the VS Code extension (it _might_ be restricted to LSP, but I wouldn't recommend disabling LSP at this point, as many features are only supported with LSP and the non-LSP support will eventually be dropped).

@kenzieschmoll I'm not sure which logs

[2022-11-28 10:47] Taro-Naza commented on #3033
No, I don't have a particular reason to run the app using `flutter run`, I'm new to mobile app development using flutter and I'm just exploring the ecosystem and the tooling available. Thank you for the response and the explanation 🙏🏻

[2022-11-28 11:21] DanTup commented on #4274
There's nothing particularly useful in the log (at least to my eyes):

[code]

I don't understand the first few lines (they've come from logcat). The first one I recognise is "VM service connection closed" which happens when the VM Service connection (a websocket from the `flutter` tool on your host machine to the device) is disconnected.

It's not clear why this is happening though.. could there

[2022-11-28 11:39] DanTup commented on #4251
More than just those in your screenshot? Could you provide a screenshot of all of those that happened in a short period before the crash so I can see if they might be related?

[2022-11-28 11:43] larssn commented on #4274
Hm, don't think so. Also it wouldn't explain why it runs fine in production mode. 🤔

[2022-11-28 11:46] josercc commented on #4251
@DanTup The screenshot above is all the information before the crash

[2022-11-28 11:49] josercc commented on #4251
[Dart-Code-Log-2022-10-01 19-47-44.txt](https://github.com/Dart-Code/Dart-Code/files/10103313/Dart-Code-Log-2022-10-01.19-47-44.txt)

The above log information exits after the breakpoint during debugging

[2022-11-28 12:00] DanTup commented on #4251
@josercc that last log seems different to the previous one. In the previous one it appeared that VS Code asked the debugger to terminate the session, but in this one it seems like the process terminated with a sigkill while trying to evaluate an expression:

[code]

This appears to have happened when you hovered over `templateCode` in the editor and we tried to evaluate its value. Can you reproduc

[2022-11-28 12:11] DanTup commented on #4274
By production mode, you mean a release build? There's no debugger in that case, so it wouldn't be possible to happen there?

It could also be that backgrounding it is doing something else that is just dropping its network connection. I don't know, I'm just clutching at straws :)

Whatever the issue, I don't think it's something wrong in the VS Code extension (since it repros from `flutter run`). I

[2022-11-28 12:27] DanTup commented on #4282
I don't seem to be able to reproduce this. I'm using a freshly-created `flutter create` counter app. I added a caught exception to `_incrementCounter`:

[code]

I ticked "All Exceptions" and ran the app. Clicked the `+` button and confirmed the debugger paused. I resumed, unticked "All Exceptions" and then clicked the `+` again, and it no longer pauses.

Can you try the same steps with a new count

[2022-11-28 12:43] DanTup commented on #4280
@zinface thank you for the detailed video and logs! I think I see what's going on. When VS Code is opened with that unsaved file, the server tries to create a watcher for it - however the file does not exist on disk and this causes an error:

[code]

This server interprets this error as something it can recover from, so it tries again. And it keeps retrying repeatedly forever.

I'm not certain why

[2022-11-28 12:59] DanTup commented on #4144
This was fixed along with https://github.com/Dart-Code/Dart-Code/issues/3787 in https://github.com/dart-lang/sdk/commit/fc9581d758f537f80435602040ac014f69629f33:

<img width="1058" alt="Screenshot 2022-11-28 at 12 57 00" src="https://user-images.githubusercontent.com/1078012/204283381-c89f4e07-ee52-4b9a-b239-f850624cf13d.png">

Requires an SDK release to show up.

[2022-11-28 12:59] #4144 closed

[2022-11-28 14:49] DanTup opened #4283 ""flutter create" settings editor doesn't select existing values"
When `objc` is selected here, it's not pre-selected on the next page.

![Screenshot 2022-11-28 at 14 48 52](https://user-images.githubusercontent.com/1078012/204307298-1b763459-ac35-4325-971a-a653cbb074dc.png)

![Screenshot 2022-11-28 at 14 48 59](https://user-images.githubusercontent.com/1078012/204307314-a70f52a2-4a03-41e3-8412-1d9a535d3105.png)

[2022-11-28 16:01] DanTup opened #4284 "Add a setting to control which platforms are enabled in new Flutter projects"
Splitting from #4271. Initially a new setting, added to the existing Flutter Create settings editor.

#4271 is about showing this automatically (without needing to click the cog icon) and an option to skip that in future.

[2022-11-28 16:29] DanTup commented on #4284
![Screenshot 2022-11-28 at 16 21 17](https://user-images.githubusercontent.com/1078012/204328609-f635f67e-31de-49c8-b936-6b484800718c.png)

![Screenshot 2022-11-28 at 16 21 23](https://user-images.githubusercontent.com/1078012/204328615-df376bc5-8ab8-4791-b48f-e11c2e90e0fc.png)

[2022-11-28 16:30] #4283 closed

[2022-11-28 16:35] DanTup opened #4285 "Allow "flutter create" settings to changed without affecting the stored defaults"
Currently the editor just saves the defaults immediately and you can't select something for the "current" project without saving over them.

[2022-11-28 16:36] DanTup commented on #4271
I'm splitting this issue up a little, because there are a few things that need doing to achieve what's discussed above and some of them are easier than others (some require a bit of refacoring):

- #4284 is for a new setting (`dart.flutterCreatePlatforms`) to control which platforms are enabled by default (and showing it in the settings editor)
- #4285 allow project settings to be selected during

[2022-11-28 16:51] DanTup commented on #4279
Fixed by https://github.com/dart-lang/sdk/commit/f2b4152159abaa96908f43ea29eb8edbb16bff6a.

[2022-11-28 16:51] #4279 closed

[2022-11-28 17:22] kenzieschmoll commented on #4230
If I see it again I will ping you. Thanks.

[2022-11-28 19:09] DanTup commented on #4163
I don't know if it's the same issue either, but since one issue was fixed by VS Code which may or may not have been the original issue, we can use this issue for the above (since I can repro and it should be easier to track down), and if any other issues continues after this is fixed, we can file a new issue.

I can repro your issue, but small refactors to try and get it into a small single file s

[2022-11-28 19:27] DanTup commented on #4163
So, I expect this probably is the original issue you saw. What seems to be happening is that then `setUpAll` and `tearDownAll` calls inside `usePostgresDocker` are being registered as tests (which is somewhat expected - it's how success/failure is shown for those calls), but assumed to be in the test file:

<img width="1147" alt="Screenshot 2022-11-28 at 19 24 17" src="https://user-images.githubus

[2022-11-28 19:34] DanTup commented on #4163
(sorry for the spam, I tend to keep notes on issues in case I get distracted and have to come back to them 😄)

It seems we use `root_` for both cases here. We're actually using line 8, but there's an off-by-one somewhere. So the ticks should actually show up against `usePostgresDocker`.

It's a little odd/confusing having them show up this way, but it's how `package:test` presents them and if we d

[2022-11-29 00:29] josercc commented on #4251
@DanTup

[winner_model_parse.zip](https://github.com/Dart-Code/Dart-Code/files/10108639/winner_model_parse.zip)

You can run the test crash program. The screenshot breakpoint below

<img width="1108" alt="image" src="https://user-images.githubusercontent.com/4713847/204408818-fd1ddc39-c3cc-4e73-93c0-6beb0d2fd487.png">

Hover over the variable above the breakpoint to exit abnormally

[2022-11-29 10:32] #4163 closed

[2022-11-29 10:36] DanTup commented on #4163
I've pushed a fix for the off-by-one error:

![Screenshot 2022-11-29 at 10 32 28](https://user-images.githubusercontent.com/1078012/204506214-9973edfb-2da4-4883-8e87-a3067ca05ac6.png)

It's a little odd (confusing?) that this appears here, but the general design here is that if your test calls functions in other files (which may call `test` or `setup`/`teardown`) we use the frame from the stack th

[2022-11-29 10:44] DanTup opened #4286 "Prevent setup/teardown methods showing as runnable tests"
Setup/teardown methods currently show as runnable tests:

![image](https://user-images.githubusercontent.com/1078012/204508700-7a4066d7-38e7-4311-acfb-0ade95a1f88f.png)

This is a little confusing, and trying to run them will fail. VS Code lets us use TestTags to restrict profiles, so we should be able to restrict the Run/Debug profile to "runnable tests" and then only set that tag on runnable tes

[2022-11-29 10:45] DanTup commented on #4163
Looks like we might actually be able to already restrict this, so I've filed #4286 about this.

[2022-11-29 11:03] #4286 closed

[2022-11-29 11:31] DanTup commented on #4089
Turns out [this is supported](https://github.com/microsoft/vscode/issues/157500#issuecomment-1329684287) in VS Code, but with a `DocumentLinkProvider` and scheme "vscode-test-data:". We can't directly reuse the `TerminalLinkProvider`, but the implementation is easy to use.

I'll redo this before the release. Unlike the rewriting noted above, this will support `package:` URIs too, and won't show th

[2022-11-29 11:59] #4089 closed

[2022-11-29 12:39] #4128 closed

[2022-11-29 12:45] #4119 closed

[2022-11-29 14:05] osaxma commented on #4163
Thank you @DanTup for your time and efforts -- they are much appreciated 🙏🏽

[2022-11-29 15:13] DanTup commented on #4163
np! Thanks for taking time to file issues and provide repros, it makes things much easier for me to track down and fix :-)

[2022-11-29 17:32] gspencergoog commented on #4089
Yay!  I'm so excited.

[2022-11-29 17:39] DanTup opened #4287 "Running tests using cliConsole:terminal often focuses the Debug Console, hiding the Terminal output"
While testing with the analysis_server tests, I noticed that the Debug Console gets focus even when using `runInTerminalRequest`, so it's not obvious where the output is going.

[2022-11-29 17:45] DanTup commented on #4089
😄

FWIW the release went out a few hours ago (to both stable and pre-release versions) so as long as VS Code has updated (and if required, you've "reloaded") you should have the fixes. Let me know if you spot any issues!

[2022-11-29 19:52] johnpryan commented on #4273
That's a good point, maybe we could link to a compatibility table in the docs or something...

Sounds good

[2022-11-29 19:52] johnpryan commented on #4273
Related to https://github.com/flutter/devtools/issues/4050

[2022-11-29 20:03] johnpryan commented on #4273
I filed an issue to add a warning about web support https://github.com/flutter/website/issues/7887

[2022-11-29 23:07] clovett opened #4288 "The Line Length indicator in the editor is not respecting my custom line length"
**Describe the bug**
I set my `Dart: Line Length` to 120, but the editor has a vertical line indicator and it is not moving to 120, even though lines are formatted to 120 when I hit save.

**To Reproduce**
Steps to reproduce the behavior:
1. Change your  `Dart: Line Length` to 120.
2. Open a Dart file and check the vertical line length indicator position.

**Expected behavior**
The line should mov

[2022-11-30 06:20] ValentinVignal opened #4289 "Add a code action on imports to add/remove aliases"
**Is your feature request related to a problem? Please describe.**

My personal use case is migrating from [`provider`](https://pub.dev/packages/provider) to [`riverpod`](https://pub.dev/packages/riverpod). I'm introducing the import `flutter_riverpod` in files where `provider` is already imported. But both libraries are exporting a type `ChangeNotifierProvider`.
I'm migrating from `provider` to `

[2022-11-30 10:32] DanTup commented on #4289
The server does have some existing support for this, where you can invoke "rename" on an `import` to change (or add/remove) its alias). However, there are some issues with VS Code's handling of this that make the experience not work correctly (see https://github.com/microsoft/vscode/issues/163929).

That said, even if fixed, performing a rename in this way might not be the most obvious way to add/

[2022-11-30 10:38] DanTup commented on #4288
The line in the screenshot is unrelated to the formatter, it's a VS Code "ruler". We set the default to show this at the same location that the formatter wraps by default, but since it's a VS Code setting we can't update it if you change the Dart formatting settings.

You can change this with the VS Code `editor.rulers` setting (nested in `[dart]` so that it applies only to Dart - and overrides ou

[2022-11-30 10:38] #4288 closed

[2022-11-30 10:45] DanTup commented on #4273
Is there an existing one I can link to? If not, if we can add one I can add a "more info" button here to link to it.

[2022-11-30 10:52] DanTup opened #4290 ""Upgrade Packages" sometimes runs "pub get" instead of "pub upgrade""

[2022-11-30 10:59] #4290 closed

[2022-11-30 11:21] DanTup commented on #4251
@josercc it seems like this project depends on some other packages that aren't available to me (ide_plugin, winner_ide_config, etc.)

Are you able to to trim this down to something smaller that I can run? Thanks!

[2022-11-30 11:26] DanTup opened #4291 "Web URLs are not exposed (app.exposeUrl) when using new SDK DAPs"
New DAP forward this on (via https://github.com/flutter/flutter/pull/114539) but needs handling here.

[2022-11-30 11:50] DanTup opened #4292 "Web apps are not launched for web-service device when using new SDK DAP"
The `app.webLaunchUrl` event isn't being passed from `flutter run` back to the client.

[2022-11-30 12:05] DanTup opened #4293 ""Please click the Dart Debug extension button in the spawned browser window" message doesn't appear when using SDK DAP"
In the old debug adapter, we updated the progress with:

This doesn't happen when using the SDK DAP because it was handled inside the debug adapter. ~~We should change how this works and detect it from the normal output inside the extension.~~ We can't access `output` here, so it needs doing in the DAP.

[2022-11-30 12:06] #4291 closed

[2022-11-30 12:06] DanTup commented on #4292
Needs Flutter work.

[2022-11-30 12:17] mpekurin commented on #4271
@DanTup

I guess you're using macOS so you see the option, but the menu won't suggest you to enable Windows and Linux support. At least it works like this on Windows: the menu doesn't suggest iOS, Linux and macOS. Though enabling a platform from this menu causes the extension to run `flutter create .` without a `--platforms` argument thus adding all platforms to the project.
![image](https://user-

[2022-11-30 12:31] DanTup commented on #4292
Flutter PR is at https://github.com/flutter/flutter/pull/116275.

[2022-11-30 12:33] DanTup opened #4294 "Enabling platforms for projects doesn't work correctly"
Changes for #4284 may have broken this.

[2022-11-30 12:45] DanTup commented on #4271
Ugh, I suspect I've broken this with the changes for #4284. I noticed we could pass `--platform` to template types that didn't support it, but we don't have a template type when enabling platforms later. I've opened #4294 about this and will ship a fix in the coming days.

Yeah, we use these icons to get to the settings (see https://dartcode.org/releases/v3-54/#flutter-new-project-platform-default

[2022-11-30 14:38] mpekurin commented on #4271
Yeah, I  didn't know about `getSupportedPlatforms`.

This totally makes sense.

If it won't overcomplicate things a prompt may be used. If `--no-platforms` will be added to Flutter then it may be complemented by `--yes` or `--agree` option which will allow to delete folders silently. This way `flutter create --no-platforms` run by a user manually will ask them about deleting platform folders (e. g

[2022-11-30 15:08] larssn commented on #4274
There's a command called: "Debug: Run app in release mode". All I saying is that the connection to that build doesn't fall out. 🙂

I haven't, no. I'll give it a go next week, really busy before then.

Thanks for your time!

[2022-11-30 16:16] bwilkerson commented on #4289
I've always thought that it was a bit odd to have a "rename" that renames to or from nothing (or an empty string). It's always seemed to me that it would be more clear to users if we had an "Add Prefix" and "Remove Prefix" pair of operations for to handle those cases (with "Rename" still handling the case of changing one prefix into a different, but non-empty, prefix).

I think the new refactoring

[2022-11-30 22:39] clovett commented on #4288
Hmm, interesting, I haven't used that feature before, you set the ruler when your extension got installed, perhaps you should "sync" the ruler with the dart line length when it is changed by the user.