[2021-01-11 11:23] DanTup commented on #3057
Thanks for the report! I can reproduce this on Flutter 1.22, however it appears to be fixed in Flutter 1.26 (the current master branch). I would therefore expect this issue to go away after the next Flutter release.

[2021-01-11 11:23] #3057 closed

[2021-01-11 11:26] DanTup commented on #2764
@akshayru can you file a new issue and include a screenshot of what you're seeing? Thanks!

[2021-01-11 11:29] #2906 closed

[2021-01-11 11:32] DanTup commented on #3056
Could you try capturing debugging logs while reproducing this?

- Run the [**Dart: Capture Debugging Logs** command](https://dartcode.org/docs/logging/#capture-debugging-logs)
- Reproduce the issue
- Click **Cancel** on the logging notification to stop logging and open the log
- Remove anything sensitive from the log
- Attach the log here (or in a gist)

Thanks!

[2021-01-11 11:38] #3024 closed

[2021-01-11 11:39] DanTup commented on #3040
@safield is the exception being thrown during the restart, or before? Can you help me build a repro so I can reproduce this here to debug?

Thanks!

[2021-01-11 11:42] #1141 closed

[2021-01-11 11:50] e200 commented on #3056
Hi @DanTup!

You can see the log here: https://gist.github.com/e200/75cf9c7c0dde2561726a918a608d20bb

[2021-01-11 11:55] DanTup commented on #2973
@KammererTob thanks for the log! It seems like the server never responds to the completion requests - VS Code sends several, but the server doesn't reply (although it does continue to reply to other requests, suggesting it's just the completion requests getting stuck rather than the server becoming unresponsive).

How reliably can you reproduce this? Can you reproduce it in a project you can share

[2021-01-11 11:58] DanTup commented on #2973
Also - I wonder whether the request ever completes (maybe it's just going incredibly slow rather than failing). If you're able to leave your machine for a few minutes, could you try pressing Ctrl+Space to invoke completion (while capturing a log) and seeing if it appears after a longer period?

[2021-01-11 12:01] DanTup commented on #3056
Thanks! Could you try running `flutter run` using the exact arguments VS Code is using from the terminal (both VS Code's built-in terminal, and an external terminal) to see whether the same occurs there?

The full command VS Code is running is:

[code]

Thanks!

[2021-01-11 12:06] IsmailAlamKhan commented on #2973
@DanTup For me even if I wait 1 hour the completion doesn't work.

[2021-01-11 12:23] DanTup commented on #2973
@IsmailAlamKhan ah, got it! It sounds like the completion request is getting stuck (there are a lot of `await`s in there, I suspect something isn't completing). If I can get a repro here, I would be able to attach a debugger and step through it.

I suspect it is related to the previous crashes on Windows when building, though that was somewhat timing-dependant which might be why I'm not seeing it

[2021-01-11 13:08] DanTup commented on #3018
Sorry for the delay, I missed the notification for this. This would be best raised at https://github.com/dart-lang/sdk as all of the refactors/code actions come from the Dart analysis server (so they work across all editors, not just VS Code).

If you raise it there, please post a link back here in case others find this issue and would like to  👍  it over there.

Thanks!

[2021-01-11 13:08] #3018 closed

[2021-01-11 13:16] e200 commented on #3056
![Captura de ecrã de 2021-01-11 14-02-55](https://user-images.githubusercontent.com/20504726/104186031-17307f00-5416-11eb-83e8-4a0435848156.png)

This is the app running after run: `flutter run --machine --target lib/main.dart -d linux --dart-define=flutter.inspector.structuredErrors=true --start-paused --web-server-debug-protocol ws --web-server-debug-backend-protocol ws --web-allow-expose-url -v

[2021-01-11 13:22] DanTup commented on #3056
That last video is a different bug that should be raised with Flutter (it's not something that can be fixed here in the VS Code extension code).

The log suggests it's getting further than you did from VS Code though. Can you try the same command from the VS Code embedded terminal to see whether it works there or not?

VS Code isn't doing much more than running that command, so maybe there's somet

[2021-01-11 13:34] e200 commented on #3056
Works well if I run `flutter run`, but not if I run the command with those arguments.

This gist contains the logs from the vscode builtin terminal:

https://gist.github.com/e200/4fbef4761bb75581225789a0e1062cf3

[2021-01-11 13:46] DanTup commented on #3056
My guess is that it's the `--start-paused` flag causing the issue. I presume if you just run `flutter run --start-paused` from the built-in terminal you see the same?

If so, can you try running `printenv` in the built-in terminal and the external terminal, and see if there are any differences that might affect things? I don't think the issue is related to the VS Code extension as it's not involve

[2021-01-11 14:12] e200 commented on #3056
@DanTup yes. I got the same result.

Running `printenv` on both terminals show very different results, but I couldn't find anything that may cause this issue, maybe because I don't have enough knowledge to take a close look.

[2021-01-11 14:26] DanTup commented on #3056
In https://github.com/flutter/flutter/issues/73611, @ruicraveiro mentioned having this Wayland(?) but not with X11. Do you know if this may apply here? I'm not very familiar with Linux (and had never heard of Wayland) unfortunately.

Given this occurs from the built-in terminal though, I'm not sure there's anything that can be fixed here (in the VS Code extension repo) - as the terminal is entirel

[2021-01-11 14:39] e200 commented on #3056
@DanTup Wayland and x11 are like GUI managers for Linux, and they handle GUIs differently, that may be another issue.

Well, this is confusing. Surprisingly the same app runs on IntelliJ.

[2021-01-11 14:50] DanTup commented on #3056
Are you using Wayland too? I saw there were some unresolved issues about Wayland in VS Code, though I don't know if they're related:

- https://github.com/microsoft/vscode/issues/109176
- https://github.com/microsoft/vscode/issues/105729

[2021-01-11 14:53] e200 commented on #3056
No, I'm using x11.

[2021-01-11 14:54] e200 commented on #3056
No, these issues are not related :(

[2021-01-11 14:54] e200 commented on #3056
No, these issues are not related :(

I'm using x11.

[2021-01-11 15:23] DanTup commented on #3056
Understood.

Unfortunately I don't have any more ideas. This doesn't seem related to anything the VS Code extension is doing, as it repros from the built-in terminal (which is entirely VS Code's and not touched by the extension). It may be worth re-opening the issue in the Flutter repo to see if anyone more familiar with the Linux work is able to provide some pointers for better understanding what

[2021-01-11 15:44] #1585 closed

[2021-01-11 17:32] e200 commented on #3056
Hi again @DanTup.

I was using a manually installed Flutter SDK first when everything happened, then I tried using snap and I’m using fvm right now facing the same problem in all of the 3 options.

I’ll do as you suggest and reopen the Flutter issue.

I really appreciate your support.

[2021-01-11 18:38] DanTup commented on #3030
@bwilkerson I've got a rough version of this working:

https://dart-review.googlesource.com/c/sdk/+/178680/

![multi_line_todos](https://user-images.githubusercontent.com/1078012/104223470-94bab600-543b-11eb-8294-78b2b92a26fe.gif)

However there's a case I'm unsure how to handle:

[code]

Here, there are three single line tokens and the 2nd/3rd look like candidates to unwrap (they're both indented

[2021-01-11 18:48] DanTup commented on #3056
No worries, I hope you can get to the bottom of it. I've added a comment to the Flutter issue summarising what we found here. It may not be a Flutter issue, but perhaps someone there can give some pointers on what might trigger Flutter to end up where it prints that error.

I'll close this as there's nothing to do here, and leave you to re-open the Flutter issue. Thanks!

[2021-01-11 18:48] #3056 closed

[2021-01-11 19:18] bwilkerson commented on #3030
If you have access to an instance of `LineInfo` then it can tell you which line each comment is on. That's the easiest way.

[2021-01-11 19:22] DanTup commented on #3030
I thought I didn't, but turns out I do from the `CompilationUnit`. Thanks!

[2021-01-11 19:34] DanTup commented on #2973
@bwilkerson @devoncarew FYI - this issues seems similar to the previous Windows watcher issues (in that it occurs when running a Flutter app), though rather than the analyzer VM terminating, it seems to fail to respond to the completion request (the log shows VS Code sending requests to the server, but no response ever arriving), even though other requests are still being responded to.

I've not b

[2021-01-12 00:25] IsmailAlamKhan commented on #2973
@DanTup after 1 or 2 hours of coding I get this ![image](https://user-images.githubusercontent.com/67656229/104253431-9b2e4980-549e-11eb-8af2-9ea96ec4e534.png)
the autocompletion stops, the linter also fails to refresh and stays at the previous state, when this happens and there are no other ways rather than reloading vscode

[2021-01-12 10:04] maxim-saplin commented on #1714
I noticed similar app freezes in debug mode (both in VM running tests and on Android emulator) when the app creates multiple isolates and waits for them to complete - to unfreeze the app I go to Debug/Stack Trace in VS Code and do pause/resume on every one of running isolates and after that the app continues execution.

[2021-01-12 10:28] DanTup opened #3058 "The "Run All Tests" command doesn't correctly mark tests as stale/remove them after a run"
Given a test file like:

[code]

If you:

- Run with the **Dart: Run All Tests** command
- Rename the test to `2`
- Re-run with the **Dart: Run All Tests** command

The old result for `1` remains in the test tree. Yet if you run the file with F5 or the Run CodeLens from the `main` function, it correctly is removed.

Possibly this is due to the "is new test run" flag (or the potentially deleted fla

[2021-01-12 10:33] DanTup commented on #1714
@bkonyi did you happen to get chance to look at the repro above? Does it makes sense to move this to an SDK issue (it occurs to me it's easily overlooked here as it's probably not something that can be handled here). Thanks!

[2021-01-12 10:35] DanTup commented on #2063
Closing this as a dupe of https://github.com/dart-lang/sdk/issues/37953, since the fix will need to be done there (and would apply automatically in VS Code).

[2021-01-12 10:35] #2063 closed

[2021-01-12 10:50] kinex commented on #1714
I had already forgotten this issue, but I haven't seen this happening in my apps anymore for a long time.

[2021-01-12 11:13] DanTup commented on #3022
Jonah has an open PR for this at https://github.com/flutter/flutter/pull/73736 🙂

[2021-01-12 11:57] DanTup commented on #2973
@IsmailAlamKhan that's interesting to know, thanks!

I've just managed to reproduce this on Windows after running/cleaning your project a few times, so hopefully I can get to the bottom of what's happening now. Thanks!

[2021-01-12 12:16] KSLiquid commented on #3018
@DanTup Thanks for the info! I posted it here: https://github.com/dart-lang/sdk/issues/44645

[2021-01-12 12:19] punreachrany opened #3059 "Autocomplete not including parenthesis"
My Flutter autocomplete doesn't work properly.
E.g, When I type the Center Widget, it's supposed to give me `Center()`, but instead it gave me `Center` without the parenthesis.

[2021-01-12 12:24] BootBlock opened #3060 "Support Debug/Run Failed menu item actions on group nodes"
**Describe the bug**
Right-clicking on a top-level SuiteNode causes the addition of _Debug Failed_ and _Run Failed_ as expected, but clicking on a GroupNode doesn't as just the standard _Start Debugging_ and _Run Without Debugging_ items are present.

**To Reproduce**
1. Create a Group and place a test within it that'll fail.
2. Run the test.
3. Right-click on the parent Group for the failing test

[2021-01-12 12:31] syedassadullahshah opened #3061 "vs code refactoring not working properly"
**Describe the bug**
Flutter extract variable option is not showing and shows only extract method and widget option and by extracting method/widget it doesnot ask for name and give it default name of newmethod/newWidget

**To Reproduce**
Steps to reproduce the behavior:
1. Install vscode
2. Install plugins flutter and dart
3. open any flutter project and try to extract variable or method/widget
4.

[2021-01-12 16:37] DanTup commented on #2973
@bwilkerson @scheglov I was able to fairly reliably reproduce this issue in a script which repeatedly spawns a Flutter app, stops it, deletes the `build` folder. After a number of times, completions no longer include any suggestion sets with them.

I narrowed it down to occurring whenever the following is printed to the analysis server instrumentation log:

[code]

After this occurs ([handled here

[2021-01-12 17:21] awnigharbia commented on #3061
I have the same problem with the latest version.

[2021-01-12 17:24] syedassadullahshah commented on #3061
I switched to android studio on temporary basis. Its working fine there.

[2021-01-12 17:43] awnigharbia commented on #3061
I have to disable the `LSP` feature and it works fine on vscode.

[2021-01-12 17:45] awnigharbia commented on #3059
Disable the `LSP` feature and it works fine (VScode version).

[2021-01-12 17:46] DanTup commented on #3022
This works as expected on latest Flutter with the PR above merged. Toggling the Android setting and reloading VS Code causes the Android options (inc. create emulator) to disappear/reappear. Thanks for the ping!

[2021-01-12 17:46] #3022 closed

[2021-01-12 17:47] punreachrany commented on #3059
@awnigharbia what is an `LSP` feature? And where can I find this feature setting?

[2021-01-12 17:58] awnigharbia commented on #3059
Navigate to your vscode settings by `ctrl + , `, then search for `dart: Preview Lsp` -> uncheck it. but this is a hack until the extension maintainers fix it.

[2021-01-12 18:04] syedassadullahshah commented on #3061
Can you guide me how did you disable LSP?

[2021-01-12 18:35] punreachrany commented on #3059
@awnigharbia It's fixed. Anyway, it's a bug in the extension, right?
After the maintainers fix it, should I check `dart: Preview Lsp` again?

[2021-01-12 18:39] bkonyi commented on #1714
No, I totally forgot about this issue. Can you file an issue in the SDK and assign it to me so I don't lose track?

[2021-01-12 18:46] devoncarew commented on #2973
@DanTup - thanks for the investigation and analysis! Can you create a corresponding issue in the dart-lang/sdk repo? I'd like to try and get a fix in for this for the next beta release.

[2021-01-12 18:55] awnigharbia commented on #3061
I think they'll follow up with this issue and give us the right solution.

[2021-01-12 19:30] DanTup commented on #2973
@devoncarew I've filed https://github.com/dart-lang/sdk/issues/44650. I'll close this this one as I don't think there's anything to do here.

[2021-01-12 19:30] #2973 closed

[2021-01-12 21:14] LSViana commented on #2269
@zahi71 What do you mean? I've joined a live share session and _I think_ I have the folder open as a workspace already:
![image](https://user-images.githubusercontent.com/21217790/104375346-ffcec000-5501-11eb-897d-1e01d4c2315a.png)

[2021-01-12 21:37] awnigharbia commented on #3059
I think they'll follow up with this issue and give us the right solution.

[2021-01-12 21:42] DanTup commented on #3059
For LSP there's a setting called "Complete Function Calls" that enables parens/argument placeholders. It's not available in the stable branches of Flutter/Dart yet, [but is available in the dev/nightly builds](https://github.com/Dart-Code/Dart-Code/issues/2823#issuecomment-725630953).

In the future, LSP will become the default (and then only) option, however neither of these will happen until aft

[2021-01-12 21:42] #3059 closed

[2021-01-12 21:43] DanTup commented on #3061
Thanks for the report! Extract Variable isn't currently available in the LSP version. There's an open issue tracking this at https://github.com/Dart-Code/Dart-Code/issues/2951. Thanks!

[2021-01-12 21:43] #3061 closed

[2021-01-13 07:28] punreachrany commented on #3059
I see. Thank you very much. This helps a lot.

[2021-01-13 14:45] osaxma opened #3062 "Flutter Project in VS code is not cleaning up a process (xcdevice observe --both) after closing the project"
**Describe the bug**
I noticed that whenever I open a flutter project in VS code and then close everything (vscode &  simulator if running), this process left behind:

[code]
 If I open VS code again, another process will be added with the same command. Also if I open a new instance of a different flutter project, another process is added there again... Once I close all the instances, the processe

[2021-01-13 15:10] DanTup commented on #3062
Thanks for the report! I did some digging and think this is a Flutter issue. We're terminated the process with a SIGTERM signal and I believe it should catch that and clean up. I've filed https://github.com/flutter/flutter/issues/73859 and will close this in favour of that one. Thanks!

[2021-01-13 15:10] #3062 closed

[2021-01-13 16:11] DanTup commented on #1714
I tried with the repro above and ran it 20 times and was also unable to reproduce it, so perhaps it has been fixed somewhere along the way.

I'll close this, but should you see it again please file an issue in the SDK and ping me/@bkonyi. Thanks!

[2021-01-13 16:11] #1714 closed

[2021-01-13 17:27] DanTup opened #3063 "Add DevTools command(s) to Flutter category for better discoverability"

[2021-01-13 17:45] xzhorikx commented on #2326
Still waiting for it to be implemented

[2021-01-13 18:22] DanTup opened #3064 "Allow starting DevTools without an active session"
In future we may pre-start DevTools so it can be passed to Flutter, so we'll need to be able to start it without a debug session. There's also no reason you shouldn't be able to start it to then launch in the browser and use with another app.

[2021-01-13 18:41] #3063 closed

[2021-01-13 18:41] #3064 closed

[2021-01-13 20:27] emme1444 opened #3065 "LSP: Request textDocument/codeAction failed. Invalid file path"
**Describe the bug**
This just came up, have never seen it before. Whenever I type something in a specific `dart` file VSCode's Output panel opens up with an error message along with a notification about it. The message is as follows:

[code]

As I said, it only happens within this one specific file. No other files. It actually happens when clicking around in the file too. I've tried reloading the

[2021-01-13 20:35] emme1444 commented on #3065
Restarting my computer did not seem to fix the issue.

I'll keep investigating

[2021-01-14 10:19] DanTup opened #3066 "Icon variants do not work correctly in code completion descriptions/hovers"
The regex no longer picks up the outline/rounded/etc. variants.

![Screenshot 2021-01-14 at 10 19 14](https://user-images.githubusercontent.com/1078012/104577942-f94f5e00-5651-11eb-8341-d64073c3661f.png)

[2021-01-14 11:41] DanTup opened #3067 "Support Cupertino icon previews in code completion/hovers"
This should be possible now since https://github.com/flutter/flutter/issues/45097.

[2021-01-14 11:49] jellyNoone opened #3068 "Feature: option to run analysis on save"
**Is your feature request related to a problem? Please describe.**
Ever since I started working with dart again I've been occasionally hitting a 90 ~ 100% CPU usage of a dart process after what I think was an analyzer infinite parse loop. It always happened with incomplete definition of a generic variable.
Quitting vscode did not help I had to close the process through the activity manager.

**Des

[2021-01-14 12:09] DanTup opened #3069 "Show icon previews on use of Icons/CupertinoIcons classes"
Seems like we should be able to show them here too.

![Screenshot 2021-01-14 at 12 08 13](https://user-images.githubusercontent.com/1078012/104589171-628a9d80-5661-11eb-9eb3-9366f239b809.png)

[2021-01-14 12:17] #2896 closed

[2021-01-14 12:17] #3066 closed

[2021-01-14 12:17] #3067 closed

[2021-01-14 12:23] DanTup commented on #3068
This sounds like https://github.com/dart-lang/sdk/issues/42229 which has recently been fixed and should show up in the next SDK release.

Unfortunately this wouldn't work very well. The analysis server (which get stuck in this loop) is required to power other features like code completion, so if everything was delayed until you saved, you'd also lose things like hovers/code completion/code fixes/r

[2021-01-14 12:47] DanTup commented on #2951
Fixed in https://github.com/dart-lang/sdk/commit/65af2a09412557c75319a95f7689a07adbc01e55.

[2021-01-14 12:47] #2951 closed

[2021-01-14 12:59] jellyNoone commented on #3068
Makes sense

[2021-01-14 12:59] #3068 closed

[2021-01-14 13:00] DanTup commented on #3012
The only remaining difference is between variables being white in the old (this is just default) and blue in new (where we know they've variables so they're coloured as such). It would be nice to make the variables blue in the old one, but that doesn't seem trivial.

[2021-01-14 13:00] #3012 closed

[2021-01-14 13:43] #3020 closed

[2021-01-14 15:00] #2824 closed

[2021-01-14 17:10] #2974 closed

[2021-01-15 13:01] DanTup commented on #3065
Sorry for the delay! Could you try using the [Capture Analysis Server Logs](https://dartcode.org/docs/logging/#capture-analysis-server-logs) command to capture a log?

- Run the **Dart: Capture Analysis Logs** command
- Close and re-open the file that's having issues
- Trigger the error
- Click **Cancel** on the logging notification to stop logging and open the log file

Check the log file has not

[2021-01-15 16:26] paulononaka opened #3070 "Autocomplete not showing all the options it could have"
**Describe the bug**
Autocomplete not showing all the options it could have.

**To Reproduce**
1. `flutter create hello_world`
2. `code hello_world`
3. Open main.dart
4. At line 23 change `Colors.blue` to `Colors.b`
5. It is showing only `Colors.black` in the list.

**Expected behavior**
It should appear a list with `black, blue, etc`

**Screenshots**
![image](https://user-images.githubusercontent

[2021-01-15 16:56] emme1444 commented on #3065
No problem!

Here's the log file! Hope it helps!

Thanks!

[Dart-Code-Log-2021-00-05 17-49-26.txt](https://github.com/Dart-Code/Dart-Code/files/5821902/Dart-Code-Log-2021-00-05.17-49-26.txt)

[2021-01-15 17:28] osaxma opened #3071 "Code navigation doesn't work correctly for conditional imports"
**Describe the bug**

In VS code, conditional imports breaks code navigation (i.e. pressing cmd+click) and linting (i.e., showing error for invalid paths) as shown below:

[code]

**Versions (please complete the following information):**
- VS Code version: 1.52.1
- Dart extension version: v3.18.1
- Dart/Flutter SDK version: v3.18.1

[2021-01-15 18:00] Anas-Alhariri commented on #703
I found the solution:

The `**"editor.snippetSuggestions":** ` is set to `**inline**`  by default in the `**defaultSettings.json**` (the default settings of VS code).
It seems that other VS code extensions that provide additional completion options; change this from `inline` to 'top' or something other than the default.

I went to my user settings of VSCode `settings.json` and changed it back to `

[2021-01-15 18:32] lukepighetti opened #3072 "Failed to register observatory port with mDNS with error -65555."
I don't have a reproduction for this, but I have run into a situation where I can launch with `flutter run` but trying to launch with the VSCode debug button I get this error

[code]

[2021-01-16 00:54] munificent opened #3073 "Migrate from "dartfmt" to "dart format""
Much like the migration from `pub` to `dart pub` (#2944), the `dartfmt` entrypoint in the Dart SDK is deprecated and will eventually go away (https://github.com/dart-lang/dart_style/issues/986). Instead, tools should invoke `dart format`. Note that the new entrypoint has a different (hopefully better!) CLI. Let me know if you want me to walk you through the differences.

If VSCode invokes the form

[2021-01-16 12:22] klepon commented on #1634
My device is not detected today, it was detected before, checking developer option is on, but found usb debugging is off somehow, set it on and everything is okay

[2021-01-16 18:42] jamesblasco opened #3074 "Analyzer doesn't detect changes in l10n Flutter tool."
**Describe the bug**
https://flutter.dev/docs/development/accessibility-and-localization/internationalization

In Flutter 1.22, a new tool for generating translations was released. This tool generates a synthetic package in the root
`.dart_tool/flutter_gen/l10n_gen` and updates the code when `flutter run` is running and the arb template file changes .

But the new code generated inside that packag

[2021-01-17 00:51] #2985 closed

[2021-01-17 00:51] #2979 closed

[2021-01-17 06:13] Shubham-Agrawal1206 opened #3075 "ElevatedButton/ any other button not working properly"
**Describe the bug**
When I try to use button in flutter project, the property of onpressed and child, and any other property is not working.
It is showing
The named parameter 'onPressed' isn't defined.
Try correcting the name to an existing named parameter's name, or defining a named parameter with the name 'onPressed'.dartundefined_named_parameter

**Screenshots**
If
![image](https://user-images

[2021-01-17 09:29] DanTup commented on #3075
Can you try running the **Flutter: Get Packages** command and see if that resolves the issue?

[2021-01-17 11:21] Shubham-Agrawal1206 commented on #3075
It resolved this issue.
I will close this issue now.

[2021-01-17 11:21] #3075 closed

[2021-01-18 08:58] aoisensi opened #3076 "Japanese string will be tofu on Flutter web only in VSCode debug mode."
**Describe the bug**
I coded simple hello code with Flutter.
But, こんにちは will be tofu only launch from VSCode.

![image](https://user-images.githubusercontent.com/1350990/104808846-3ff8b000-582c-11eb-9974-775496ce970d.png)

**To Reproduce**
**Expected behavior**
**Versions (please complete the following information):**
All is here: https://github.com/flutter/flutter/issues/74113

Sorry for bad Engl

[2021-01-18 09:21] iampawan commented on #2844
@DanTup Sometime VSCODE suddenly stops showing the iOS devices, It gets fixed after some time automatically. I don't know what is the issue

[2021-01-18 09:31] SadamSalarzai opened #3077 "auto suggestion"
in flutter auto code sugestion didnt work

[2021-01-18 10:45] maks opened #3078 "unable to run/debug linux desktop app from vscode but can from cli"
When trying to run or debug a small app on local Linux desktop target from VSCode I get:
[code]

But I'm able to run it fine using the same Flutter SDK on the command line.

Output from cmd line:
[code]

Output using "Run Flutter Doctor" command inside VSC:
[code]

So it looks to me like Im using the same SDK for both.

[2021-01-18 11:11] DanTup commented on #3078
This came up in #3056 too, but it also occurred from the VS Code terminal, so I believe it's unrelated to the extension (we don't have much interaction with the terminal, it's just a VS Code terminal).

I'm not sure whether it's a VS Code issue or a Flutter issue, but there's an open issue at https://github.com/flutter/flutter/issues/73611 trying to track down what's going on that it may be worth

[2021-01-18 11:11] #3078 closed

[2021-01-18 11:12] DanTup commented on #3077
Can you provide some more information and/or a screenshot? Thanks!

[2021-01-18 11:19] DanTup commented on #2844
@iampawan the issue noted above was fixed in Flutter but hasn't made the stable branch yet. However it's unlikely to be intermittent (it's based on whether you have an Android SDK). If you can reproduce another issue, please try enabling the [flutter daemon log](https://dartcode.org/docs/logging/#flutter-daemon) and next time you see it, grab a copy of that log and file a new issue. Thanks!

[2021-01-18 11:25] DanTup commented on #3076
This appears to be a Flutter issue being tracked in https://github.com/flutter/flutter/issues/73628. For me, it reproduces both inside and outside of VS Code:

<img width="897" alt="Screenshot 2021-01-18 at 11 22 26" src="https://user-images.githubusercontent.com/1078012/104909502-db4e6a00-597f-11eb-9817-f8f717067508.png">

I'm not sure why it doesn't repro for you outside of VS Code though - is i

[2021-01-18 11:30] DanTup commented on #3075
Glad to hear! I think this is related to https://github.com/flutter/flutter/issues/72807, where the analysis server is parsing with the wrong language version when there's no `.dart_tool/packages_config.json` file which causes it to misinterpret constructors using the `required` keyword.

[2021-01-18 11:42] DanTup commented on #3073
Thanks for the ping! We don't actually ever call `dartfmt` directly here, all formatting is done through the anlaysis server (which is using the API in dart_style), so I don't believe there's anything to do here :-)

[2021-01-18 11:42] #3073 closed

[2021-01-18 11:49] DanTup commented on #3072
I can't think of a reason this would only occur in VS Code, but if it's intermittent maybe that's just coincidence. There's an open issue in Flutter that I think may be related:

https://github.com/flutter/flutter/issues/72161

All of this code is deep within Flutter (there's no real iOS/device-platform specific code in the extension) so I don't think it's something that can be fixed here.

[2021-01-18 11:55] maks commented on #3056
@DanTup I'm not sure if the previous conclusions in this issue were correct. I've tried running from within my vscode terminal using the command args listed in the previous comments and the app runs fine. Its only when I try to run it with the codelens `debug` link or F5 that I get the error mesg about logger reader stopped.
The previous comments about it being related to Wayland maybe something a

[2021-01-18 12:10] DanTup commented on #3070
I think this might be the size of the completion list has shrunk and needs expanding:

![Jan-18-2021 12-08-03](https://user-images.githubusercontent.com/1078012/104913679-de4c5900-5985-11eb-967e-db6bd0f25a9e.gif)

There was a bug in VS Code where changing the size while only a single item was shown would also store the height (https://github.com/microsoft/vscode/issues/110554).

Let me know if thi

[2021-01-18 12:10] #3070 closed

[2021-01-18 12:22] HadyMash opened #3079 "Flutter UI Guides not working properly in VS Code with LSP"
**Describe the bug**
I have an issue with flutter and visual studio code were the UI Guides don't show when I am writing my code but only show when I go to another file and then go back to the file I was editing. I have the Preview Flutter UI Guides setting on and have tried toggling the Custom Tracking and the problem is still not fixed. I also tried it on a MacOS machine and a Windows machine an

[2021-01-18 13:30] lukepighetti commented on #3072
Not sure if it's VSCode specific or attaching debugger specific or what. But this is happening consistently for me now. VSCode debug won't launch past the splash screen, but `flutter run` works perfectly fine. It may be upstream?

[2021-01-18 13:32] DanTup commented on #3072
If it's reliably reproducible only from VS Code, my guess would be something different in the environment. Does it make a difference if you use the terminal in VS Code versus running under the debugger?

[2021-01-18 13:44] lukepighetti commented on #3072
In both cases I am using the VSCode terminal. IE: success in VSCode terminal, failure with VSCode debug.

[2021-01-18 13:49] lukepighetti commented on #3072
I can't reproduce this today. I'm going to close this unless it crops up again.

[2021-01-18 14:07] DanTup commented on #3074
@bwilkerson I can reproduce this [in a test](https://gist.github.com/DanTup/fa7b6e4c40c119ad2992e177b1642bfc) - it appears that files inside `.dart_tool` are analyzed at context creation but if they are modified while the analysis server is active, the updates are ignored.

It seems to be caused by this line in the watcher handler that skips anything in dot-folders:

https://github.com/dart-lang/s

[2021-01-18 14:08] DanTup commented on #3079
Does this still occur if you enable the "LSP Preview" setting? The LSP version will soon become default so if it doesn't happen there, it will be fixed once we move over.

[2021-01-18 14:36] HadyMash commented on #3079
The "LSP Preview" setting is on. I tried turning it off and it worked perfectly. Might I know what the LSP setting does?

Many thanks!

[2021-01-18 14:42] DanTup commented on #3065
I managed to hit this same error though with code I don't think matches yours, such as:

[code]

I've filed an issue at https://github.com/dart-lang/sdk/issues/44699. Yours may be a different instance of the same sort of error, though I'm unable to reproduce with your code. I'll try again once that issue has been responded to and it's clearer why my sample code isn't analyzing correctly. Thanks!

[2021-01-18 14:53] DanTup commented on #3079
The LSP setting switches the protocol used to talk to the language server (which provides all of the analysis and language functionality). This might be affecting the timing of startup, or there might be some subtle differences in handling the outlines used to draw these lines - I'll see if I can track it down.

LSP will become default in the future (and eventually the only option), so if that's w

[2021-01-18 15:10] paulononaka commented on #3070
Wow, that was indeed my issue. I'd never guess that. Thank you!

[2021-01-18 15:12] DanTup commented on #3056
When you tried from the terminal, did you use the full command the same as VS Code is running (eg. see https://github.com/Dart-Code/Dart-Code/issues/3056#issuecomment-757954326)? If so, I suspect it may be related to something in the environment, though I'm not very familiar (with Linux or Wayland). The extension here is really just calling `flutter run --machine` (with a few args to support thing

[2021-01-18 15:46] HadyMash commented on #3079
Thanks!
I also noticed another issue. I friend of mine also had the same issue and he also had LSP on. After he turned it off, it worked perfectly.

However, when we joined a Live Share session, they didn't appear for him. He left the session and they appeared again. So then I tried joining his live share session and it didn't work. Should I mark this as a new issue or is it fine being here?

Many

[2021-01-18 16:31] bwilkerson commented on #3074
I suspect that you're right, that if we re-analyzed files in hidden folders we would now be OK. I certainly think it's worth doing an experiment.

[2021-01-18 17:17] DanTup commented on #2982
@bwilkerson I think I have a fix here:

https://dart-review.googlesource.com/c/sdk/+/179771/

Although I'm not sure if there's anything specific needed for this:

There were some existing tests that cover some similar situations - for example [this test](https://github.com/dart-lang/sdk/blob/0fa6674ea94c26e5f4732a44e10e1374c2f795dd/pkg/analysis_server/test/services/completion/dart/imported_referen

[2021-01-19 08:42] emme1444 commented on #3065
Ok! Nice to hear that you can produce similar errors. Sounds good!

[2021-01-19 09:08] SharjeelMoqrabKhan opened #3080 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `dart-code`
- Extension Version: `3.18.1`
- OS Version: `Windows_NT x64 10.0.18362`
- VSCode version: `1.52.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\SHARJE~1\AppData\Local\Temp\Dart-Code.dart-code-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-

[2021-01-19 09:59] DanTup commented on #3080
Are you able to attach the referenced file? Thanks!

[2021-01-19 10:11] DanTup opened #3081 "Flutter icon previews sometimes don't show until you change away to another file and back"
Similar to #3079.

[2021-01-19 10:13] #3079 closed

[2021-01-19 10:13] #3081 closed

[2021-01-19 10:15] DanTup commented on #3079
It's probably the same issue. The issue was that the previews were not being updated correctly if the analysis results (the "Flutter outline" data) arrived while the file was already open because of a bad comparison between filenames/URIs.

I've pushed a fix - though if the issue still occurs once the next release goes out (likely around the end of the month), then do file a new issue to be looked

[2021-01-19 10:19] DanTup commented on #2980
Thanks for the report! This is unfortunately a limitation of VS Code - it doesn't currently support multiple "decorations" at the same location, and the folding markers and the closing labels are both in the same position.

There's an open issue at https://github.com/microsoft/vscode/issues/18666. Once that's resolved, I would expect this issue to resolve itself.

[2021-01-19 10:24] DanTup commented on #3030
This landed in https://github.com/dart-lang/sdk/commit/6c33457014ef6b3ceef2f30b342c8a48589724d5 and should be available in Flutter master now. Do let me know if you spot any places where it doesn't do what you'd expect!

[2021-01-19 10:24] #3030 closed

[2021-01-19 10:32] DanTup commented on #3034
The full output is always shown now.

[2021-01-19 10:32] #3034 closed

[2021-01-19 10:35] DanTup commented on #1900
Once https://dart-review.googlesource.com/c/sdk/+/179769 lands (and you're on an SDK that uses it and have the LSP Preview enabled), you'll be able to set the colours of parameter names at call sites with the following settings:

[code]

![Screenshot 2021-01-19 at 10 35 26](https://user-images.githubusercontent.com/1078012/105022798-10bb8c00-5a42-11eb-91ae-c0b902e3421e.png)

[2021-01-19 11:30] DanTup commented on #3074
@bwilkerson with the change at https://dart-review.googlesource.com/c/sdk/+/179776/ this seems to work as expected. I've opened a Flutter project, fetched packages, built and run and I haven't noticed any negative effects. There is likely some overhead in that files that were previously just ignored will be analyzed (though this seems unavoidable to support something like the `flutter_gen` project

[2021-01-19 11:31] DanTup commented on #3028
Done in a11cba2d.

[2021-01-19 11:31] #3028 closed

[2021-01-19 11:32] DanTup commented on #2202
The issues in the server were fixed and landed, and the Dart-Code change to re-enabled them landed in a11cba2d.

[2021-01-19 11:32] #2202 closed

[2021-01-19 15:06] aoisensi commented on #3076
I have only one SDK. And I didn't install starndalone Dart.

[2021-01-19 15:57] bwilkerson commented on #3074
If analyzing all changed files in those directories proves to be a problem, we can probably find a way to optimize it further. That said, I'm going to ask @scheglov for his opinion on this one.

[2021-01-19 16:03] #1900 closed

[2021-01-19 17:24] DanTup commented on #3076
Strange - I'm not sure why you'd only see the problem from VS Code. Perhaps there's something different in the environment from the terminal. I do think https://github.com/flutter/flutter/issues/73628 is the correct issue though, I think once it's resolved the problem will go away.

[2021-01-19 17:26] DanTup commented on #3076
Oh, it looks like the problem only occurs for CanvasKit. So as a workaround, in VS Code you could try selecting the HTML renderer:

<img width="1006" alt="Screenshot 2021-01-19 at 17 26 05" src="https://user-images.githubusercontent.com/1078012/105070600-6f512c00-5a7b-11eb-8f08-9bd04b19578f.png">

VS Code will be using "auto" by default, whereas the terminal may be using HTML.

[2021-01-19 21:11] xsrvmy commented on #2980
Until there is a fix upstream, is it feasible to add an option to hide the end-of-line comment when it is at the end of a folded region?
Not that I personally care because I only used dart for a project at work.

[2021-01-19 21:18] #3045 closed

[2021-01-19 21:33] DanTup commented on #2980
Interesting idea.. It might be possible - it seems like there are events for folding, although it may mean recomputing the closing labels whenever you fold/unfold. I'll take a look and see if I can improve it. Thanks!

[2021-01-19 22:29] DanTup commented on #2982
This is fixed by https://github.com/dart-lang/sdk/commit/d9012130611400d15cc0d9a10b9ab5fd0c638f5b. The change is in the analysis server so will show up in an SDK update rather than a Dart-Code update.

[2021-01-19 22:29] #2982 closed

[2021-01-19 23:51] annagrin opened #3082 "Errors when hovering over types or enum values"
**Issue**

Errors when hovering over types. I am not sure the issue is in dart-code or webdev, so please let me know if I should redirect it.

**To Reproduce**
Steps to reproduce the behavior:
1. Install flutter
2. `cd flutter/examples/hello_world`
3. run `code .`
4. put a breakpoint on line containing call to `runApp`
5. debug
6. on breakpoint, hover mouse over any type or enum value (`Center`, `

[2021-01-20 00:03] aoisensi commented on #3076
Nice

[2021-01-20 00:03] #3076 closed

[2021-01-20 08:39] DoctorVirginia commented on #3065
I get the same error - in only one file - but even when I just move the mouse - i.e. on hover.
Request textDocument/codeAction failed
Message: Invalid file path
Code: -32003

It started when I rebooted and restarted after the red error linting failed. I wqas getting weird false errors previously, and had to recreate the file, retyping (not copy-paste). That cleared the 'errors' to a clean file. Th

[2021-01-20 11:23] DanTup commented on #3065
@DoctorVirginia are you able to share the exact contents of the (whole) file that seem to cause it? It could be similar to https://github.com/dart-lang/sdk/issues/44699, though if it's different code triggering it that would be useful to know. It could be some specific invalid syntax triggering it.

[2021-01-20 11:26] DoctorVirginia commented on #3065
Thanks Danny, will post in the morning. I wouldn't be surprised if it is a syntax error as it is an early cut! V

[2021-01-20 11:37] DanTup commented on #3082
This seems to be coming back as an error in response to a `getObject` call.

[Here's the full log](https://github.com/Dart-Code/Dart-Code/files/5842032/web_error.txt)

This is what seems to happen:

- We call `evaluateInFrame` for the enum name (`MainAxisAlignment` in my repro)
- An `@Instance` is returned with an `id` of `"{\"injectedScriptId\":1,\"id\":2683}"`
- We call `getObject` for the objec

[2021-01-20 11:45] DanTup commented on #3082
btw if it's useful for you to be able to get the full log yourself when debugging, you can run the **Dart: Capture Debugging Logs** command in VS Code, then repro (eg. hover over the enum), then click **Cancel** on the logging notification. That should open a log with the VM service traffic as shown in the log above.

[2021-01-20 13:54] iulian0512 commented on #548
@DanTup it does not work with vscode 1.52 and dart-code v3.18.1
![vscode](https://user-images.githubusercontent.com/16035099/105183963-789fce80-5b37-11eb-9ff3-033e9d7603c4.gif)

[2021-01-20 14:09] iulian0512 opened #3083 "dart.updateImportsOnRename does not work with vscode 1.52 and dart-code v3.18.1"
I created the dart project using dart stagehand.

![vscode](https://user-images.githubusercontent.com/16035099/105185916-cae1ef00-5b39-11eb-86ad-f5d52d463b92.gif)

[2021-01-20 14:18] DanTup commented on #3069
This information doesn't seem to be in either the Flutter or standard Outlines, so would likely need something new in the server. We could do a string regex but it'd have the same weird issues as colours (like being picked up in comments).

[2021-01-20 14:22] DanTup commented on #3083
@iulian0512 can you confirm if you have the LSP Preview turned on? You can find out by hovering over the Dart version number in the status bar and seeing whether it says "DAS" or "LSP". Can you also confirm the exact version number of Dart/Flutter shown in the status bar? Thanks!

<img width="342" alt="Screenshot 2021-01-20 at 14 22 03" src="https://user-images.githubusercontent.com/1078012/105187

[2021-01-20 14:34] DanTup commented on #2980
Turns out I misread the API - the event is when folding ranges change, not when their folding state (expanded/collapsed) fires.

This means we can't tell when a range is folded. We can't exclude the closing labels for *all* folding regions, because pretty much every place we'd show the labels is at the end of an invocations `)` where the invocation spans multiple lines and would be foldable (possi

[2021-01-20 14:36] iulian0512 commented on #3083
flutter (LSP)1.22.5
![image](https://user-images.githubusercontent.com/16035099/105189383-95d79b80-5b3d-11eb-9d18-837b6aef8a02.png)

[2021-01-20 15:48] DanTup commented on #3083
Got it - in that case this is the same as #2761. The version of Dart that's in the current stable Flutter does not include the support for this, and the live version of Dart-Code also does not support LSP 3.16 (which contains the required APIs for this).

So in order to get this in LSP you'll need both v3.19 of Dart-Code (not yet released) and the next stable version of the Flutter SDK.

If you re

[2021-01-20 15:48] #3083 closed

[2021-01-20 16:32] DanTup commented on #2800
This was implemented in the language server in https://github.com/dart-lang/sdk/commit/b94adb2bc2d53897a727e3ae1dcdf10c74948659. It will automatically show up in VS Code after the next Dart/Flutter SDK releases.

[2021-01-20 16:32] #2800 closed

[2021-01-20 16:34] #3033 closed

[2021-01-20 19:37] annagrin commented on #3082
@DanTup thanks for the trace! The `The getter 'uri' was called on null` error seems to be due to missing library reference for dart:_runtime. I need to dig deeper into it one dwds side, will open an issue there.

[2021-01-20 19:47] DanTup commented on #3082
np! I don't think there's anything to do here so will close this, but we can re-open if after that's resolved you think there's still something up here. Thanks!

[2021-01-20 19:47] #3082 closed

[2021-01-20 23:58] DoctorVirginia commented on #3065
import 'package:flutter/foundation.dart';
import 'package:flutter/material.dart';
import '../utils/json_models.dart';
import '../utils/variables.dart';

Variables helper = Variables.instance;

class ResultsPanel extends StatefulWidget {
  ResultsPanel({Key key}) : super(key: key);

  @override
  _ResultsPanelState createState() => _ResultsPanelState();
}

class _ResultsPanelState extends State<Res

[2021-01-21 07:48] jayant246 opened #3085 "Suggestion of VSCode is not showing extracted widgets and variable."
I have customise a TextStyle() and assign it to a variable named 'kLabelTextStyle'. When I try to use that variable name to assign to a TextStyle VSCode suggestion not showing the name, I have to write the whole name by myself. Same issue for the Widgets that I have extracted and put in a separate dart file. I imported the separate dart file into my current file.
I have attach a 2 screenshots wher

[2021-01-21 10:47] marJanssen commented on #3077
Hey i have also a problem with  auto suggestions on VSCode + Dart Extension I created a ticket with all the details on [stack overflow](https://stackoverflow.com/questions/65810380/vscode-dart-flutter-not-showing-syntax-errors-or-context-specific-code-suggestio). don't know if it is bug or just me being stupid. :)

[2021-01-21 11:45] conradfeyt commented on #1634
This worked for me

[2021-01-21 14:53] tomgilder commented on #2318
Is this fixed now? I noticed it's started working 🎊

[2021-01-21 16:00] #2318 closed

[2021-01-21 16:13] DanTup commented on #3077
@marJanssen please file a new issue here with the info from your StackOverflow post. If you can provide an example file you're seeing this issue with, that might help too. Thanks!

[2021-01-21 16:18] DanTup commented on #3065
@DoctorVirginia there are definitely some syntax errors in that file (for example `if heads[i].head contains(searchTerms){`) should have an open `(` after the `if `), although I'm not seeing the errors you are, it seems to analyze fine and provide the errors.

Can you reproduce the issue in a small project you could share?

[2021-01-21 16:40] DanTup commented on #3054
@jacob314 it looks like I might not be able to replace `confirm` here due to browser security restrictions:

So this may need doing in DevTools. We could check for `&embed=true&IDE=VSCode`, or use another variable to disable this. WDYT?

[2021-01-21 17:15] jayant246 commented on #3085
I don't know but somehow on restart it working fine & on pressing Ctrl+ Space it shows all my constants and many in built widgets. I will use it for some days, if suggestions does not show again extracted widgets or variables then I will let you know.

[2021-01-21 21:28] scheglov commented on #3074
It seems reasonable to me that requirements changed, and now we want to handle *some* files in dot-directories.  I think that the biggest reason to avoid doing this was to avoid handling changes in not user facing directories like `.git`. So, I would limit it to specifically `.dart_tool` and `package:build`.

[2021-01-21 22:17] kenzieschmoll opened #3088 "Open embedded DevTools Inspector to error-causing widget for Flutter render overflow errors"
As of https://github.com/flutter/flutter/pull/74251, deep links to the inspector are printed in error messages for render overflow errors. The structured error for this will contain a diagnostics node of type `DevToolsDeepLinkProperty` (the diagnostics node naming is in progress https://github.com/flutter/flutter/pull/74455). Right now the diagnostics node looks like:
[code]

VS code should
1) upo

[2021-01-22 04:27] DoctorVirginia commented on #3065
I have reverted to an earlier build with no problems, and slowly rebuilt the app. The error has reappeared after I have included the PWA client and an http request, and then try to compile with >flutter build web --no-sound-null-safety

I am getting this error on compilation:
Target dart2js failed: Exception: /C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/service_worker-0.2.4/lib/src/js_facade

[2021-01-22 14:26] marJanssen opened #3089 "VSCode Dart/Flutter not showing syntax errors or context specific code suggestions"
Syntax errors are not showing anymore and I am not getting context specific code suggestions (Ctrl + Space) e.g. Constructor Parameter (Only standard code templates are shown).

- I created a new Project to make sure it's not my project that is broken.
- I open the main.dart from the Counter Example Project.
- Press Ctrl + Space in MyHomePage Constructor to see code suggestions.
- e.g. Delete brac

[2021-01-22 17:04] awebdeveloper opened #3091 "Dont auto-select 1st item during auto complete."
**Describe the bug**
Dont auto-select 1st item when typing **( )** after a function name. I like to have each property in new line. So after **( )** I press enter to go on a new line but instead 1st property is typed. This isn't desirable..

**To Reproduce**
Steps to reproduce the behavior:
1. Type any auto completable/ built-in function name
2. Type the ().
3. Notice the first option is auto sele

[2021-01-22 17:10] rooky1979 opened #3092 "Intellisense not working as expected"
Hi Guys,

I have VS Code on a Macbook Pro running VS Code V1.52.1 with the Flutter Extension V3.18.1 with Flutter V 1.22.5 and Dart Extension V3.18.1 Dart V2.10.4

I had to completely reinstall the entire IDE and extensions, etc after I broke it.

Everything works fine, however, on my VS Code, I noticed that when I type something in e.g. 'Text', the code complete box comes up with the options fine

[2021-01-22 17:15] marJanssen commented on #3077
https://github.com/Dart-Code/Dart-Code/issues/3089

[2021-01-23 02:01] xster commented on #3021
I just meant once the context menu does appear (after pressing cmd-.) there's no way to go up and down using emacs up and down binding instead of using the up and down arrow keys.

[2021-01-23 07:14] rooky1979 commented on #3092
Ok I fixed the issue

I opened up the settings.json file in the Code folder and went to this website
https://code.visualstudio.com/docs/editor/intellisense#_customizing-intellisense

In there it has the default intellisense settings.  They are different to the ones in my settings.json file

I backed up the settings file and then copied/pasted the default settings code into my settings.json file an

[2021-01-23 08:31] JoyEnergiser commented on #2823
I have the same issue, when I disable Dart:Preview LSP then the code completion with parens and/or args works

[2021-01-23 14:29] DanTup opened #3093 "Don't sort test suites by status during a run"
This causes them to jump around during the test run (eg. going from pass/fail to running/waiting and back).

[2021-01-23 14:33] DanTup commented on #3093
Actually, this is intended to be handled as described here:

https://github.com/Dart-Code/Dart-Code/blob/644393fda6bedb714897564cba7774f4f67b3654/src/shared/test/test_model.ts#L26-L30

Might have become broken in the change from `TestStatus` -> `Set<TestStatus>` to support running skips.

[2021-01-23 15:11] DanTup opened #3094 "Improve test icons"
The test tree icons have always been a bit weird (especially the Skip one), but the new "Run all Failed/Skipped" placeholders buttons are really bad too.

Current images for reference:

![Screenshot 2021-01-25 at 15 47 09](https://user-images.githubusercontent.com/1078012/105728977-a2386b80-5f24-11eb-9430-45aa98e129c9.png)

[2021-01-23 15:19] DanTup commented on #3021
@xster ah, sorry - I see now. Those menus are also controlled by VS Code - the commands you'll need to bind appear to be `list.focusUp` and `list.focusDown`:

<img width="1051" alt="Screenshot 2021-01-23 at 15 17 51" src="https://user-images.githubusercontent.com/1078012/105605848-450ab180-5d8e-11eb-9581-7800609523b2.png">

It seems Ctrl+N/P are already bound by default and they seem to work for m

[2021-01-23 19:00] #3050 closed

[2021-01-23 19:00] #3093 closed

[2021-01-23 19:09] DanTup commented on #3038
This still needs a bit of work - the test counts aren't taking into account whether the skipped tests are being shown or not.

[2021-01-24 20:03] timsneath opened #3095 "Add dependency chain to Dependencies toolwindow"
**Is your feature request related to a problem? Please describe.**
I'm often curious to know why a dependency is listed. Often something is brought in transitively and I can't figure out why. Particularly when developing a package, my goal is to keep the number of dependencies low to avoid version resolution hell and keep the package lightweight.

**Describe the solution you'd like**
A tooltip tha

[2021-01-25 00:52] #3003 closed

[2021-01-25 01:58] DoctorVirginia commented on #3065
Danny, my main problems now are the JS interop errors. I can't find anything to help? can you please advise or redirect me? Thanks, V

[2021-01-25 04:57] DattaTarse opened #3096 "Extension causes high cpu load on startup"
getting Extension causes high cpu load on startup notification when its started.
[salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt](https://github.com/Dart-Code/Dart-Code/files/5864267/salesforce.salesforcedx-vscode-core-unresponsive.cpuprofile.txt)

 Version: 1.52.1 (user setup)
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:34:46.910Z
Electron: 9.3.5
Chrome:

[2021-01-25 11:16] DanTup opened #3097 "Running a specific test from the test tree/code-lens should always pass --run-skipped"

[2021-01-25 11:22] DanTup commented on #3096
The CPU profile attached is for the extension [salesforce.salesforcedx-vscode-core](https://marketplace.visualstudio.com/items?itemName=salesforce.salesforcedx-vscode-core). This seems unrelated to Dart and should be raised at https://github.com/forcedotcom/salesforcedx-vscode. Thanks!

[2021-01-25 11:22] #3096 closed

[2021-01-25 11:35] DanTup commented on #2823
@JoyEnergiser see [the comment above](https://github.com/Dart-Code/Dart-Code/issues/2823#issuecomment-725630953). There's a new setting to control this in LSP, but it requires an SDK that includes the setting (which is not currently true of Flutter's stable branch, although it should be in the next major stable release).

[2021-01-25 11:37] DanTup commented on #3092
My guess is that when you updated your settings, you removed `"dart.previewLsp": true,`. LSP is a new protocol for the language server, and in order to get the parens/args inserted, you need to also enable the `dart.completeFunctionCalls` setting - however that setting hasn't yet made it to the Flutter stable channel (it will show up in the next major stable release).

FWIW, LSP will become defaul

[2021-01-25 11:37] #3092 closed

[2021-01-25 11:41] DanTup commented on #3089
The thing to look for in the log is the `getSuggestions` request - that's what returns the code completions (it's not included in your log above so I can't see it).

Another thing to try is switching to LSP (with the `dart.previewLsp` setting), as the completion works slightly differently there and you might not see the issue.

If you can repro this on a simple new project (using the LSP preview)

[2021-01-25 11:58] DanTup commented on #3091
Unfortunately the selection of the completion items is done by VS Code and we have no control over it. There is a setting `editor.suggestSelection` to control _which_ item is selected, but there's no option for not selecting any. Implementing that would need to be done in VS Code.

Some possible solutions:

- Press `esc` before pressing `<enter>` when completing
- Set the `"editor.suggestOnTrigger

[2021-01-25 11:59] #3091 closed

[2021-01-25 12:29] DanTup opened #3098 "Test Discovery sometiems adds additional unknown nodes if tests are started before the outline arrives"
If you run a test file quite quickly after opening the project, the discovery will still insert the discovered nodes even if the test run has started.

[2021-01-25 12:30] DanTup opened #3099 "Debugger sometimes pauses without jumping to location"
This may be a result of switching to using the `topFrame`.. we no longer seem to focus sometimes when we break. Can be reproduced running `tree_test.dart` from the integration test projects.

[2021-01-25 12:45] rooky1979 commented on #3092
Thanks Dan.  Good to know for the future.  Cheers

[2021-01-25 12:47] DanTup commented on #3095
@jonasfj it looks like I can't easily get this info from `package_config.json` directly (it's just a flat list), although I found the command `pub deps`. Is there a way to get the same data in a more structured format to avoid trying to parse those in case they change?

@timsneath

Can there be circular references in packages? It probably wouldn't pose a problem, as the tree is lazy (so you could

[2021-01-25 13:03] #3038 closed

[2021-01-25 13:18] marJanssen commented on #3089
When I am activating: 'dart.previewLsp' I am getting this in my output window:

'[Error - 1:57:14 PM] Request textDocument/documentSymbol failed.
  Message: Invalid file path
  Code: -32003
/home/myuser/Projects/flutter/fediverse_client/fediverse_client/lib/main.dart'

@DanTup I sent you a mail with log files for both cases Lsp preview activated and Lsp deactivated.

[2021-01-25 14:19] DanTup commented on #3074
I've updated https://dart-review.googlesource.com/c/sdk/+/179776 to only handle `.dart_tool` (I'm not aware of any dot-folders `package:build` writes to outside of that, but more can be added if that's not true).

[2021-01-25 14:35] DanTup commented on #3089
@marJanssen are you able to capture a full analysis server log with LSP enabled? You'll need to set the log file in the [dart.analyzerLogFile setting](https://dartcode.org/docs/logging/#analyzer). This will begin logging right at the start (whereas the log you sent was only started after the server was initialised).

When reproducing, please use a new project (created with `flutter create`) so I c

[2021-01-25 14:58] DanTup commented on #3098
Struggling to reproduce this now, though definitely saw it earlier. No obvious races in the code, as we receive the outline, check there's no existing node, and then synchronously add all nodes.

[2021-01-25 15:08] DanTup commented on #3099
This may need to be fixed in VS Code. I've filed https://github.com/microsoft/vscode/issues/114914.

[2021-01-25 15:27] #3060 closed

[2021-01-25 15:28] #3058 closed

[2021-01-25 17:06] #3094 closed

[2021-01-25 17:12] DanTup commented on #3038
@timsneath there's a beta release if you want to try it here:

https://github.com/Dart-Code/Dart-Code/releases/tag/v3.19.0-beta.1

It includes new icons on the test runner toolbar to run all/run failed/run skipped tests, and an overflow menu with an option to toggle visibility of skipped tests (note: if an entire suite is skipped, the suite node will still display so you can access it's context me

[2021-01-25 17:29] timsneath commented on #3095
I suspect there could be circular references, yes. I'm not certain what the _right_ UI is here, although it feels very similar to walking a class inheritance path conceptually. Perhaps there is prior IDE art we can look to for inspiration?

[2021-01-25 18:00] marJanssen commented on #3089
@DanTup Send you the log files for DAS and LSP with dart.analyzerLogFile path configured. Logs are from a default counter project.

[2021-01-25 19:17] jayant246 commented on #3085
It shows all in built widgets and my constants too.

[2021-01-25 21:37] ffpetrovic opened #3102 "Dart Analyzer extension is extremely slow when using LSP after opening new files or Ctrl+Clicking"
https://user-images.githubusercontent.com/5026566/105769374-04619280-5f5e-11eb-9381-b60ab56a1967.mp4

**Describe the bug**
A clear and concise description of what the bug is.

The Dart analyzer is slow when discovering definitions, even if the definition is located in the same file. The Dart Analyzer server also keeps crashing very frequently. Also the intellisense feature is extremely slow to sta

[2021-01-26 01:15] DoctorVirginia commented on #3065
Yes, all the issues are definitely caused by the PWA package - it calls service_worker-0.2.4, which calls isomorphic_fetch.dart which has the same js classes as (I believe) dart.html. When I remove **only** all references to the PWA package, all the problems disappear. Of course, this is a serious problem! I will post in the Dart SDK GitHub. Thanks, V.

[2021-01-26 03:42] linxkaa opened #3103 "Allow names to be supplied for extracted methods/widgets when using LSP"
**Describe the bug**
Autocomplete on VSCode is not working, usually when i extract widget, there's a suggestion that located above VSCode that says "Enter a name for the widget (Press 'Enter' to confirm or 'Escape' to cancel)" now its just automatically extracted as "NewWidget" also when I want to write for example SizedBox, usually when i click the suggestions, it will include the (), but now whe

[2021-01-26 04:18] linxkaa commented on #3103
Fixed!

[code]

 in setting.json :)

i'm closing this issues thankyou

[2021-01-26 07:06] y4code commented on #1966
Tried Ctrl + Alt + N(Command + Option + N on Mac), it works. So the reason why `New Window` works but `Current Window` doesn't works here is that

someone write this line of code into .zshrc/ bash_profile
[code]

AND THIS LINE OF CODE COMES FROM flutter.dev [https://flutter.dev/docs/get-started/install/macos#get-sdk](https://flutter.dev/docs/get-started/install/macos#get-sdk)

someone would direct

[2021-01-26 10:23] DanTup commented on #3088
Here's how this shows up now, including the text replacement:

![Screenshot 2021-01-26 at 10 11 20](https://user-images.githubusercontent.com/1078012/105831738-00199180-5fbf-11eb-8a22-25335da2e2bd.png)

Currently I'm preventing another from appearing for 5 seconds after one appears (unless you close it) to try and avoid them flashing in VS Code (if they have the same text, the new one would replac

[2021-01-26 11:14] DanTup commented on #3103
Right now for LSP, the extract functions don't allow you to enter a name. This is a limitation of LSP (see https://github.com/microsoft/language-server-protocol/issues/764).

LSP is going to become the default soon, so this issue will crop up more, so I'll see if I can find a workaround in the meantime.

[2021-01-26 11:44] DanTup commented on #3065
If this seems to be triggering the "Invalid file path" errors too, I'd still be interested in a repro, as those errors are coming from the LSP server (which I contribute to). Whatever happens at compile time should not really be affecting the analysis server.

[2021-01-26 11:58] DanTup commented on #3102
Do you have a repro for when it's in the same file? The one in the video seems a bit like the issue that led to https://github.com/microsoft/vscode-languageserver-node/issues/683 to me, which is when you move your cursor over it, VS Code claims the file was "opened" which triggers synchronously analysis of the file, which then prevents the server returning the location metadata until it completes.

[2021-01-26 12:01] DanTup commented on #3085
I'm a little confused about what the issue is. If it's showing all of the widgets and constants when you press Ctrl+Space, wht _isn't_ working correctly?

Can you also confirm your OS? There is an issue on Windows where running a Flutter app can cause completion not to return all items (see https://github.com/Dart-Code/Dart-Code/issues/2973). It's been fixed in master, but the fix has not made it

[2021-01-26 12:14] DanTup commented on #3089
@marJanssen when you reproduce this on a new `flutter create` project, can you clarify exactly what characters you're deleting to produce the syntax errors? I can see the errors in the logs, but I've not been able to reproduce it. It looks like you're deleting characters from line 34, but in my sample those are comments so I think something is out of sync.

Can you also check once it's in that sta

[2021-01-26 12:23] DanTup commented on #3089
Actually, looking again - there's an `"isAnalyzing":true` message in the log, and no `"isAnalyzing":false`. I presume this means you see "Analyzing..." stuck on the status bar?

There are two common situations where I've seen this occur before:

1. A _very_ large project (for example with a huge node_modules folder) that took a very long time to analyze
2. A project that had circular symlinks, whi

[2021-01-26 12:25] DanTup commented on #3089
Actually, the open `workspaceFolders` are truncated from the log file so I can't see. Do you actually have the Flutter SDK folder included in your open workspace? In theory, that shouldn't cause issues - however it could affect the performance.

If you do, I'd be interested to know if opening only the project folder without the SDK makes a difference.

[2021-01-26 15:45] DanTup commented on #2990
I believe the issues reported here are a combination of:

https://github.com/dart-lang/sdk/issues/40348 - VM crash on Windows for Flutter < 1.22.4 during Flutter builds
https://github.com/dart-lang/sdk/issues/44650 - Code completion stops returning many items on Windows after Flutter builds

The first issue is fixed in the latest Flutter stable release. The second issue is not in stable, but shoul

[2021-01-26 15:45] #2990 closed

[2021-01-26 15:53] DanTup commented on #2056
This is slightly better with LSP semantic tokens, but not entirely fixed:

<img width="445" alt="Screenshot 2021-01-26 at 15 52 08" src="https://user-images.githubusercontent.com/1078012/105868832-7c779900-5fee-11eb-9603-8806624e3bdd.png">

The fix may be to remove any interpolated string expressions once Dart/Flutter stable channels fully support semantic tokens.

[2021-01-26 15:54] DanTup commented on #2816
@scheglov do you have any thoughts on the above? Thanks!

[2021-01-26 16:03] DanTup commented on #2854
Found a way to reproduce this. Seems like VS Code doesn't offer send `only`, but you can force it with a keybind to filter the list:

[code]

Now when pressing `Cmd+.` it triggers this message when the server returns non-convert items (for example `surround` assists). Looking at the server code, it's doing no filtering whatsoever, which explains the issue.

[2021-01-26 16:24] scheglov commented on #2816
Yes, this looks like a bug in the refactoring or the indexer, I can reproduce it in a unit test.

[2021-01-26 16:48] ffpetrovic commented on #3102
I've been able to reproduce it loading in the same file for about 3 seconds, but not on video, if you want I can try. This is what I have now (still a tiny bit of loading, but it's the same file).
![ezgif-7-ca17e59acd48](https://user-images.githubusercontent.com/5026566/105875874-9faa4480-5ffe-11eb-841c-bb87c601d7ac.gif)

[2021-01-26 17:40] ffpetrovic commented on #3102
One more problem that might help, is that very often when I save a dart file, the formatter kicks in *extremely* slowly (the entire extension feels like that anyway). So long, that the VSCode loading indicator in the bottom right shows up and the actual save of the file happens around 5 seconds later.

[2021-01-26 18:13] kenzieschmoll commented on #3088
FYI here is the landed implementation in the flutter intellij plugin https://github.com/flutter/flutter-intellij/pull/5207

[2021-01-26 18:17] kenzieschmoll commented on #3088
@helin24 gated the change off of the correct flutter version here: https://github.com/flutter/flutter-intellij/pull/5176. If we can get both passing the `--devtools-server-address` and the notification for overflow errors landed in VS code for this release, that would be good for consistency between the two tools.

[2021-01-26 18:48] DanTup commented on #3088
Aha, thanks - I thought the versions weren't comparable until the dev release, but that looks simple enough - thanks!

[2021-01-26 19:08] marJanssen commented on #3089
@DanTup I just send you my main.dart. I just checked the project and yes maybe while is was testing I added the sdk folder.
workspace file:
`{
	"folders": [
		{
			"path": "."
		},
		{
			"path": "../../sdk/flutter"
		}
	],
	"settings": {}
}`
But when I remove the path entry and restart VSCode the problem still exists.

[2021-01-26 19:22] scheglov commented on #2816
https://dart-review.googlesource.com/c/sdk/+/181260

[2021-01-26 23:53] DoctorVirginia commented on #3065
Hi Danny, didn't want to clutter up GitHub with all this: I'm very happy to
provide you with a repro, but it will take me some time to figure out how
to do that! I am working alone in a very remote part of Australia,
developing a PWA for an Indigenous language. I have struggled with GitHub
for years, but always worked alone, so I have never really seen any
advantage in it. Anyway, I will have anot

[2021-01-27 00:22] #2988 closed

[2021-01-27 01:20] S1r-Lanzelot commented on #2968
Do people actually like that ruler? I personally don't just interested if other like the ruler in the center of their editor, `"editor.rulers": [80]` is a rather opinionated recommended setting IMO.

[2021-01-27 02:15] timsneath opened #3104 "Import quick fixes should be inserted below @TestOn"
Quick fixes for imports are inserting the code at the wrong place.

Consider this example:

[code]

Note that `Uint8List` has a squiggly under it, representing that it is not understood. If I hit Ctrl+. DartCode offers me the library import I need:
![image](https://user-images.githubusercontent.com/2319867/105932566-e51c4100-6001-11eb-954d-fec817f9f960.png)

If I accept that recommendation, it ins

[2021-01-27 06:40] MrWillCom opened #3105 ""Extension host terminated unexpectedly." error caused by Flutter extension"
Issue Type: <b>Bug</b>

To reproduce this problem, you need to install Flutter(`dart-code.flutter`) extension and open an existing Flutter project with Visual Studio Code.

Wait some seconds, you will see a popup notification in the bottom right corner said "Extension host terminated unexpectedly." with options "Open Developer Tools" and "Restart Extension Host":

![a screenshot of the popup error

[2021-01-27 06:40] jayant246 commented on #3085
@DanTup I am currently using "Windows 10". The 'constants and widget' issue was resolved automatically. But now 'import' is not showing any autocomplete suggestion.
ex - I have to write( import 'package:flutter/material.dart') this whole line on my own, no autocompletion working for import.

[2021-01-27 10:51] #3088 closed

[2021-01-27 11:28] DanTup commented on #3088
@kenzie should `--devtools-server-address` be supported for `flutter attach`? I found a bug where I was trying to send it to all `flutter` invocations (`flutter run`, `flutter test`, `flutter attach`). I've changed this to only `flutter run`, though perhaps `attach` should be supported?

[2021-01-27 11:47] DanTup commented on #3105
I'm not able to reproduce this - could you click the "Open Developer Tools" button and see if there's anything interesting (errors/warnings) in the Console tab?

[2021-01-27 12:12] MrWillCom commented on #3105
[code]

Even it said `Dart-Code.flutter` is running, in fact, it's not running. I tried to start debugging, but Visual Studio Code tells me that it cannot find debug adapter for type 'dart':

![a screenshot of the error dialog popupped when I tried to debug](https://user-images.githubusercontent.com/47271684/105988766-1c125580-60db-11eb-9ebf-c007ecc9e1c3.png)

Also, I tried to run Flutter doctor i

[2021-01-27 12:17] DanTup commented on #3105
The later errors are likely just because of the initial error. If the extension host crashes, no extensions are available, so anything that tries to interact with them will fail.

If you open another type of project that has extensions (for example TypeScript), does the extension host also crash? I found a few reports of this error that were caused by general VS Code errors (such as antivirus dele

[2021-01-27 12:19] DanTup commented on #3105
A few people in [this SO post](https://stackoverflow.com/questions/46457994/receiving-error-message-extension-host-terminated-unexpectedly-in-visual-stud) mentioned Live Share was causing this for them. Do you have that installed? It may be worth trying with all extensions disabled (or using the `Help: Start Extension Bisect` command to do a binary search of them).

[2021-01-27 12:22] DanTup commented on #2968
I like it, but I'm not sure what the general feeling is. It's definitely opinionated, but it's based on where the formatter wraps. If you're disabling the formatter you'd likely want to disable this, but if you're using it there's some usefulness to knowing where it will wrap.

[2021-01-27 12:29] MrWillCom commented on #3105
I've checked my extensions one by one. Each time, I disable an extension, restart my VS Code and check if extension host terminated unexpectedly. Extension host terminated every time I tried except the time I disabled Flutter extension. So I think I'm sure it's caused by Flutter.

Also, this problem does happen when Live Share is disabled:

![a screenshot of the error message when Live Share is di

[2021-01-27 12:36] MrWillCom commented on #3105
Versions:

|  | Version |
| --- | --- |
| Flutter SDK | `1.22.5` |
| Dart SDK | `2.10.4` |
| Flutter extension | `v3.18.1` |
| Dart extension| `v3.18.1` |

[2021-01-27 12:50] DanTup commented on #3105
Can you try:

- uninstall the Flutter extension
- uninstall the Dart extension
- Close VS Code
- Delete any folders starting with `dart-code` from `%USERPROFILE%\.vscode\extensions`
- Re-open VS Code and re-install the Flutter extension (which will also install Dart)
- See if the issue still occurs

This will eliminate any of the extension code being corrupt, which has [happened in the past](https

[2021-01-27 13:30] awebdeveloper commented on #3091
thanks DanTup

[2021-01-27 13:38] MrWillCom commented on #3105
I followed your instructions and it works!

Thanks for helping me fix this problem! I can use Flutter & Dart extensions in VS Code again now!

Thanks! 😃

[2021-01-27 13:38] #3105 closed

[2021-01-27 13:54] DanTup commented on #3105
Great, glad to hear! It sounds like the extension was somehow corrupt then. I can't explain why, it's not something the extension is involved in (VS code downloads and extracts the extension code and the extension never modifies its own code), but at least you got to the bottom of it! :-)

[2021-01-27 15:56] DanTup commented on #3088
@kenzieschmoll I merged this and published a new beta here: https://github.com/Dart-Code/Dart-Code/releases/tag/v3.19.0-beta.2

Provisional release notes here: https://dartcode.org/releases/v3-19/

[2021-01-27 19:32] kenzieschmoll commented on #3088
flutter attach should support the flag as well 🤔  I'll look into it - thanks for the heads up.

[2021-01-27 19:41] DanTup commented on #3088
@kenzieschmoll I think I misread the error when I tested at the terminal - the one for `flutter test` said "Could not find an option named" and the one for `flutter attach` said "Missing argument for" 🤦‍♂️

So I think it's work as expected, and I'll remove the exclusion for attach here and only exclude test. Sorry for the confusion!

[2021-01-27 19:45] kenzieschmoll commented on #3088
Perfect - thanks. One question - if a user clicks never ask, do we go back to showing the user the deep link as part of the error message in the console?

[2021-01-27 19:49] DanTup commented on #2816
@scheglov great, thanks!

[2021-01-27 19:49] #2816 closed

[2021-01-27 19:55] DanTup commented on #3088
@kenzieschmoll we do, although only from the next debug session (although the popups will be immediately suppressed).

The settings are sent to the debug adapter at the start of a session (the debug adapter rewrites the message) but the UI/extension code is in a completely separate process, so it's a little complicated to update during a session (though it is possible).

[2021-01-28 18:12] DanTup commented on #3104
@bwilkerson my guess is that this is because the annotation is attached to the first `import` and this new `import` needs to go before it. The same issue occurs if you put the new import second, then run "Organize Imports".

Would the correct fix be to use the presence of a blank line between the annotation and import keyword as an indicator to insert directly before the import keyword instead of

[2021-01-28 18:36] bwilkerson commented on #3104
I'm sure you're right. The annotations are children of the directives in the AST structure, so the offset of the directive is the offset of the left-most annotation or documentation comment. The blank line doesn't prevent the `TestOn` annotation from being associated with the following directive or declaration.

I don't know whether a blank line between them is a common style to indicate that the

[2021-01-29 11:10] ArturAntin commented on #3102
I have the exact same problems as @ffpetrovic. These are my versions:

VS Code:
Version: 1.52.1 (user setup)
Commit: ea3859d4ba2f3e577a159bc91e3074c5d85c0523
Date: 2020-12-16T16:34:46.910Z
Electron: 9.3.5
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

Flutter (Channel stable, 1.22.3, on Microsoft Windows [Version 10.0.19041.746], locale de-DE)

_dar

[2021-01-29 12:35] DanTup commented on #3102
@ffpetrovic I'm not sure what's shown in [this gif](https://github.com/Dart-Code/Dart-Code/issues/3102#issuecomment-767675387), it looks like it's all pretty immediate?

It may be useful to enable the [analysis server log](https://dartcode.org/docs/logging/#analyzer) in your settings to capture a full log, then when this happens we can review the logs to see what the server may have been doing dur

[2021-01-29 14:24] bnxm commented on #3102
@DanTup I just wanted to chime in that I also have the exact same issues as described for some time now. The issue seems to progressively worsen the larger your workspaces get. On larger projects it has basically become impossible for me to work in vscode as autocompletion doesn't work (far slower than typing it out yourself), jumping to class and method definitions or renaming them takes 10 to 20

[2021-01-29 15:02] alechangbiao commented on #3072
I'm facing the same problem on vscode, flutter runs on terminal but not on vscode debug,however everytime when I use an IKEv2 VPN the problem disappears.

[2021-01-29 17:09] orestesgaolin opened #3107 "Could not find an option named "run-skipped"."
**Describe the bug**
After the today's update I get following error when trying to debug a widget test:

[code]

The only additional argument passed to test run is `--coverage` and these tests worked before the update (in the morning).

![image](https://user-images.githubusercontent.com/16854239/106305520-15abe700-625d-11eb-9569-a6cdac332dfe.png)

**To Reproduce**
Steps to reproduce the behavior:

[2021-01-29 17:18] DanTup opened #3108 "Ensure tests cover running flutter widget tests via CodeLens/nodes"
The issue in #3107 did not cause any test failures.

[2021-01-29 17:27] #3107 closed

[2021-01-29 17:29] DanTup commented on #3107
Thanks for the report! This seems to have occurred with the new "run skipped" feature. Flutter doesn't seem to support the flag.

I'm testing a fix that removes that feature and will publish a new update soon, and the feature will return in a later release.

[2021-01-29 17:29] orestesgaolin commented on #3107
Thanks for the extremely quick response, really appreciate that

[2021-01-29 17:30] DanTup commented on #3097
This feature is being reverted due to #3107 - `flutter test` does not support `--run-skipped` so this needs be conditional based on the type of project each test node/CodeLens item is in (and better tested).

[2021-01-29 17:30] DanTup commented on #3048
This feature is being reverted due to #3107 - `flutter test` does not support `--run-skipped` so this needs be conditional based on the type of project each test node/CodeLens item is in (and better tested).

[2021-01-29 17:31] DanTup commented on #3038
Note: The ability to run skipped tests is being reverted due to #3107 (a patch will go out shortly). `flutter test` does not support `--run-skipped` so this needs be conditional based on the type of project each test node/CodeLens item is in (which can be done, but will take longer than it's reasonable to leave this bug).

The other stuff (such as showing/hiding the skipped tests) will remain.

[2021-01-29 17:52] lukepighetti commented on #3072
Yes, I am still having this problem.

[2021-01-29 18:01] DanTup commented on #3107
Please run the **Extensions: Check for updates** command in VS Code, and once you have v3.19.1 this should be resolved (it may take a few minutes to show up, there's a lot of caching in the VS Code marketplace services).

Please let me know if still have any issues. Thanks!

[2021-01-29 18:02] ffpetrovic commented on #3102
I experience every single thing written in this first paragraph on a regular basis actually. Plus one more thing I'd add is that during the initialization process, when I open the project in VSCode, the Dart analyzer regularly crashes, but periodically crashes just while working with dart files. And I also noticed that this entire situation does get considerably worse with larger projects.

@DanTu

[2021-01-29 18:03] orestesgaolin commented on #3107
Confirmed, it's fixed now. Thanks again

[2021-01-29 18:09] DanTup commented on #3048
Reverting 990308d67228f0b429cff5bfff0582738b592538 will bring this feature back, although with #3107 so it'll need updating to be Dart-only (though it's worth checking whether Flutter could support this).

[2021-01-29 23:56] JCKodel opened #3109 "Breakpoints are being ignored"
**Describe the bug**
Breakpoints are no longer functional (i.e.: in the following image: VSCode never breaks - notice the debug window):
![image](https://user-images.githubusercontent.com/379339/106338741-5878b980-6273-11eb-85f3-c4262064fda2.png)
![image](https://user-images.githubusercontent.com/379339/106338748-60d0f480-6273-11eb-8c3f-0269af3d4753.png)

(with or without experimental LSP)

**To R

[2021-01-30 23:28] efreibe commented on #2524
With the latest version, it asks for enabling LSP extensions. But when I do that, the issue went back again, apparently dart.analysisExcludedFolders is not working for LSP.

I'm attaching two log files created a few minutes ago.

[analyzer-inst.txt](https://github.com/Dart-Code/Dart-Code/files/5898935/analyzer-inst.txt)
[analyzer.txt](https://github.com/Dart-Code/Dart-Code/files/5898936/analyzer.t

[2021-01-31 00:03] furmanodell commented on #1975
I'm also getting the message:

[2021-01-31 02:28] skateboarder opened #3110 "Add an option to control hot-reload-on-save behaviour when using auto-save"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a project
2. Edit it while having the auto-save setting enabled

**Expected behavior**
On completion of auto-save, hot reload should've been triggered. But instead, its not triggered until manual save/reload

**Versions (please complete the following information):**
 -

[2021-01-31 04:29] thegeox commented on #2961
And could we get to know what was the problem and how did you solve it. Facing the same issue :(

[2021-01-31 05:33] RandalSchwartz commented on #3110
This is intended behavior!  See #3033.

[2021-01-31 05:34] RandalSchwartz commented on #3110
This is an intended change to fix #3033!  Doesn't anyone read the release notes?

[2021-01-31 10:28] DanTup commented on #3110
If this was working well for some, then I think it's probably fair to have a setting to control it (perhaps extend the existing setting to be an enum for on/off/manual or similar).

[2021-01-31 10:32] CoderUni commented on #3110
Thanks, the only way to solve this issue for now is to downgrade both extensions but adding a feature to change the setting would help us a lot. I'll be updating my solution in https://stackoverflow.com/questions/65975713/flutter-doesnt-hot-reload-on-autosave-in-vscode/65975714#65975714 once the feature rolls out.

[2021-01-31 15:59] furmanodell commented on #1975
Here is the text log.

[8:51:43 AM] [General] [Info] Searching for SDKs...
[8:51:43 AM] [General] [Info] Environment PATH:
[8:51:43 AM] [General] [Info]     C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common
[8:51:43 AM] [General] [Info]     C:\Windows\system32
[8:51:43 AM] [General] [Info]     C:\Windows
[8:51:43 AM] [General] [Info]     C:\Windows\System32\Wbem
[8:51:43 AM] [General] [Info]

[2021-01-31 18:00] marJanssen commented on #3089
@DanTup  I also couldn't really find the problem. Maybe it was something with my old notebook. I was also very slow before it stopped working completely. I have a new notebook now and installed everything from scratch. I works fine now. So for me it would be OK to close the Issue. Thanks for all the effort you took into it.

[2021-01-31 20:40] easeccy opened #3111 "Debugging web apps gives error in VSCode but works in command line"
Debuggin in VSCode and Intellij using Dart Code extension gives following error:

`HttpException: , uri = http://localhost:33563/devtools/page/F2A7CE745E670DB19D98E6168DB65787`

Running `flutter run` command in terminal works. This only happens with web debugging, Android works fine.

Output for `flutter doctor --verbose`:
[code]

[2021-02-01 04:08] maks commented on #3056
@DanTup sorry to take a while to reply.
Yes I ran using full command line per the earlier comment from e200 that you linked to and the app runs fine, try it via the codelens debug or run link or F5 (or Ctrl-f5) and always the same error. I'm now on Dartcode v3.19.1 and its still occuring.
Is there a way I can see any more details of the error I'm getting from Darcode than whats printed in the `Deb

[2021-02-01 04:21] maks commented on #3056
Oh sorry @DanTup I only just noticed your instructions at the top of this issue on how to grab debug logs.
So I got the logs and seems mine are happening in similiar spot as well:
[code]

And running in VSCode terminal pane the exact same cmd as is in the log starts the app fine. I've not been able to reproduce the error when running  in a norma terminal either.

[2021-02-01 05:42] AsteriskZuo commented on #2434
I had the same problem. Try the following:
1. Upgrade Flutter to 1.22.6
2. Run the command `pub global activate devtools`
3. Execute devtools in the terminal
Resolved.

[2021-02-01 09:31] DanTup commented on #3056
@maks I would add a note on https://github.com/flutter/flutter/issues/73611 with any extra info you can provide. There's not much going on the in the VS Code extension here (it's just spawning Flutter) so it may be helpful to get some clarification from Flutter about exactly what "The log reader stopped unexpectedly" means on Linux (I wasn't able to figure that out from the code).

[2021-02-01 10:10] DanTup commented on #1975
@furmanodell the first error is like because Flutter has not downloaded a Dart SDK yet. The reason you can't run `flutter` directly in the terminal is likely because you haven't got the Flutter SDK in your `PATH`.

You could either try running `C:\src\flutter\bin\flutter.bat doctor`, or running the `flutter_console.bat` file from inside your Flutter SDK, and then running `flutter doctor` from ther

[2021-02-01 10:12] DanTup commented on #2961
@thegeox it could have been the same as https://github.com/Dart-Code/Dart-Code/issues/2896, however that was fixed in the latest release of Dart Code last week. If you're still seeing missing previews, please file a new issue and we can figure out what's wrong. Thanks!

[2021-02-01 10:14] DanTup commented on #2524
@efreibe the setting is supported in LSP since https://github.com/dart-lang/sdk/commit/f7b1a1ee1f91a9d0e900b1e8f2f5e0b764796018, but that has not reached the Flutter stable channel yet. If you need this setting, you'll need to turn off LSP until you're on an SDK that supports it.

The LSP prompt is just a one-time prompt shown to a random set of people to increase LSP adoption (to help track down

[2021-02-01 10:23] DanTup commented on #3109
Could you capture a full log for the whole debugging session (or at least extract the top part that does initialization and sends the breakpoints)? You can email to me at logs@dartcode.org if you'd prefer.

Could you also try either throwing an exception on the line after the breakpoint, or calling the [debugger()](https://api.dart.dev/stable/2.10.5/dart-developer/debugger.html) function to force

[2021-02-01 10:25] DanTup commented on #3074
This has been fixed in https://github.com/dart-lang/sdk/commit/77353dc380967dc011ac343f7753b53031e2305a which should be included in a future Dart/Flutter SDK release.

[2021-02-01 10:25] #3074 closed

[2021-02-01 10:46] DanTup commented on #3072
Can anyone provide a sample project that triggers this, and a log captured with **Capture Debugging Logs*?

[2021-02-01 11:21] DanTup commented on #3111
Do you have any more information from the error than this (for example a stack trace)?

Can you reproduce the issue with a new project created with `flutter create` or does it only occur in a specific project?

If it's also occurring in IntelliJ it might not be a Dart Code issue (Dart Code is only for VS Code) and may be in Flutter.

[2021-02-01 11:22] DanTup commented on #3089
Ok, sounds like there's not much we can do to troubleshoot any further if the issue is fixed on the new one. If you do see it come back though, please let me know!

[2021-02-01 11:22] #3089 closed

[2021-02-01 11:27] DanTup commented on #2961
Also - you may need to press Ctrl+Space to force the right "details" panel open from the completion list.

[2021-02-01 11:39] DanTup commented on #3085
@jayant246 to avoid confusion, please file a new issue for that one with a screenshot showing what you see if you press Ctrl+Space (to forcefully invoke code completion) after typing part of the import, for example:

[code]

Press `Ctrl+Space` after the word `pack` but before the `'` and take a screenshot.

I'll close this one since this issue sounds resolved. Thanks!

[2021-02-01 11:39] #3085 closed

[2021-02-01 11:42] DanTup commented on #3065
If it's easier, you can email me a zip file or something at logs@dartcode.org, but please don't send anything sensitive - take a copy of the project and strip it down to the minimum you can that still reproduces the issue. Thanks!

[2021-02-01 11:50] easeccy commented on #3111
It happens newly created and existing projects. Here is my `launch.json`:
[code]

Here is the debug console output:

[code]

[2021-02-01 12:02] DanTup commented on #3102
@bnxm it looks like the log file doesn't include the part that's shown in the video - it only shows the initializing, but not the requests for go-to-definition/rename/formatting. Are you able to capture a complete log that includes them? (You can email to logs@dartcode.org or attach here).

@ffpetrovic

If you're seeing "The analyzer has terminated" messages, please file new issues and attach the

[2021-02-01 12:10] DanTup commented on #3111
Thanks - are you able to capture a log using the **Dart: Capture Debugging Logs** command, as that will include more (such as the full arguments used to spawn Flutter) that might help understand what's happening (or at least, reproduce outside of VS Code to make it easier to report in Flutter). Thanks!

[2021-02-01 12:17] orestesgaolin opened #3112 "Add a way to edit ARB files (terms export, files synchronization)"
**Is your feature request related to a problem? Please describe.**

With new l10n approach the only thing to worry about is to update .arb files in `l10n` directory. It's not ideal to edit the files manually and keep them in sync between various languages.

**Describe the solution you'd like**

As a user I would love to be able to:

- have a quick action to export selected string to template arb f

[2021-02-01 12:26] easeccy commented on #3111
Debugging logs:

[code]

[2021-02-01 12:32] DanTup commented on #3111
Can you try running the same command from the log from the terminal?

[code]

If you can reproduce the issue from the terminal with that command, try removing some of the arguments to see if you can find out which one is triggering the difference from running `flutter run`. If it doesn't occur from an external terminal, please try the VS Code built-in terminal.

Thanks!

[2021-02-01 12:45] furmanodell commented on #1975
Thank you for the response. I had to update the path information in the
Windows Environment Variables. I am now running Flutter in VSCode. Now I'm
trying to get the iPhone simulator to work in VSCode.

-Furman

On Mon, Feb 1, 2021 at 3:11 AM Danny Tuppeny <notifications@github.com>
wrote:

[2021-02-01 13:27] easeccy commented on #3111
`--start-paused` causes app to start with a blank screen and stuck.

`--web-allow-expose-url` causes web app to fail start debugging on Chrome.

Other arguments don't cause problems.

[2021-02-01 14:02] KshitijJayakar opened #3113 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `dart-code`
- Extension Version: `3.19.1`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.52.1`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-02-01 14:37] DanTup commented on #3113
Are you able to supply this data? Thanks!

[2021-02-01 16:10] iulian0512 opened #3114 "Autocomplete issue on LSP/DAS"
**Describe the bug**
Autocomplete issue, does not complete a class and its methods.

**To Reproduce**
Steps to reproduce the behavior:
The complete source code in the example can be found here: https://github.com/rekab-app/background_locator (open the example folder with vscode).

**Expected behavior**
Autocomplete should complete a class from an imported package.

**Screenshots**

![480p](https:/

[2021-02-01 17:53] olostan opened #3115 "Icon previews are not shown"
**Describe the bug**
Icons previews are not shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Open intellisense for `Icon.<anything>`

**Expected behavior**
Something like
![](https://user-images.githubusercontent.com/1078012/45706869-464fc200-bb75-11e8-8f8f-4b09fa94470d.png)

**Screenshots**
![Screenshot 2021-02-01 18 40 08 - Display 1](https://user-images.githubusercontent.com/459897/

[2021-02-01 18:59] ffpetrovic opened #3116 "Dart analyzer has terminated"
**Describe the bug**
Dart analyzer stops working unexpectedly

**To Reproduce**
Steps to reproduce the behavior:
1. Start VSCode and wait a little bit

**Expected behavior**
Don't crash

**Screenshots**
/

**Versions (please complete the following information):**
VS Code version: 1.52.1
Dart extension version: 3.18.1
Dart/Flutter SDK version:
Flutter 1.24.0-2.0.pre.45
Dart 2.11.0 (build 2.11.0-228

[2021-02-02 02:00] kentcb commented on #3058
Thanks for fixing this! 😍 🎉

[2021-02-02 10:08] e200 opened #3117 "Autocomplete not working as expected"
**Describe the bug**
Autocomplete not working as expected.

**To Reproduce**
Selecting a property that expects a `Function` into a Widget does not automatically suggest the property callback implementation anymore.
Selecting `Navigator.pop` from the list does not close parentheses and automatically add `context` inside... And many more issues...

**Expected behavior**
On selecting a property from

[2021-02-02 10:31] DanTup opened #3118 "Make build notifications uses Notifications instead of Window progress"
#2970 was intended to make hot reload/restart progress configurable, but leave build progress larger (notifications). However it appears the condition is accidentally make all non-hot-reload notifications smaller too.

The condition should be:

- if not hot reload/hot restart, always Notification
- else, use the `config.hotReloadProgress` setting to decide

[2021-02-02 10:37] DanTup commented on #3117
Did you recently enable LSP?

If so, I think this may be https://github.com/Dart-Code/Dart-Code/issues/2823 / https://github.com/Dart-Code/Dart-Code/issues/2992. In the current Flutter stable branch, there's a setting (`dart.completeFunctionCalls`) that is not yet supported. This has been implemented and should be in the next Flutter stable update.

In the meantime, if you would like this feature

[2021-02-02 10:47] e200 commented on #3117
@DanTup this was the problem. Thank you for the quick answer!

[2021-02-02 10:47] #3117 closed

[2021-02-02 10:50] DanTup commented on #3117
Great! After the next Flutter stable release, I'll likely re-show the LSP prompt to everyone so if you see it pop up again, you should be able to opt-in and set the `dart.completeFunctionCalls` setting (you could even enable that now) and then you should continue to see that behaviour for LSP too.

Some time after, LSP will become the default (and ultimately, the only option). Thanks!

[2021-02-02 10:58] DanTup commented on #3116
This does this only happen when you _run_ your Flutter app? There are no errors in the log, so it seems like the analyzer's VM may be terminated which sounds a bit like https://github.com/flutter/flutter/issues/46616. I would've expected your version of Flutter to include the fix for that though.

If you can reliably reproduce this, I would recommend:

- Updating Flutter to the latest version of w

[2021-02-02 11:00] DanTup commented on #3115
In the top screenshot the "details" section is open, but in the bottom screenshot it is closed. You can press Ctrl+Space to toggle the display of that pane when the completion list is open (and the current item has some extra details).

If you press Ctrl+Space does the pane appear with the preview?

[2021-02-02 11:02] DanTup commented on #3114
Are you reproduce this in a small project that you can share?

[2021-02-02 11:06] encikpulasan commented on #3110
This is one of the best feature and why i chose VSCode as my primary IDE. Should've make it optional since it works well on mac. Just my 2 cents.

[2021-02-02 11:08] DanTup commented on #3111
It looks like there's an open issue in Flutter about this. I don't think it's specific to the VS Code extension (the report there occurs from the command line - although I'm not sure what's different in your environment that it works there).

https://github.com/flutter/flutter/issues/73743

I'll close this as a dupe of that, and add a note about this being seen here too. Thanks!

[2021-02-02 11:09] #3111 closed

[2021-02-02 11:12] DanTup commented on #3110
I guess I underestimated how many people were using this without issues! The `dart.flutterHotReloadOnSave` will be updated to be an enum in the next release:

### dart.flutterHotReloadOnSave

Whether to automatically send a Hot Reload request during a debug session when saving files.

- `never` - do not reload when saving.
- `always` - reload for all saves, manual or automatic.
- `manual` - only r

[2021-02-02 11:16] iulian0512 commented on #3114
yes full source code is available at https://github.com/rekab-app/background_locator  open the example folder then open example/lib/main.dart go to line 79 and try to autocomplete BackgroundLocator.  i cannot reproduce the issue elsewhere, i tried creating a small proj then referencing background_locator from pub.dev.

[2021-02-02 11:34] DanTup commented on #3114
Ah sorry, I missed that in the original issue.

I can reproduce the issue. It's because you've listed the dependency under `dev_dependencies` in your Example's pubspec:

[code]

`dev_dependencies` are not intended to be used in your code, so the code completion will not suggest types from them. It should probably generate warnings for your use of the class in that file - there's a related open iss

[2021-02-02 11:35] DanTup commented on #1975
Glad you got it sorted!

Although I'm not sure it's possible to use the iOS Simulators on Windows, I think they're only usable on Macs.

[2021-02-02 12:02] iulian0512 commented on #3114
thanks so much for the detailed explanation.

[2021-02-02 12:43] furmanodell commented on #1975
Thank you, yes that seems to be the case.

On Tue, Feb 2, 2021 at 4:35 AM Danny Tuppeny <notifications@github.com>
wrote:

[2021-02-02 12:49] DanTup commented on #3114
No problem, glad it was an easy fix!

[2021-02-02 12:49] #3114 closed

[2021-02-02 15:07] olostan commented on #3115
@DanTup sorry, my bad. I did not know about "double Ctrl+Space" possibility. Closing the issue.

[2021-02-02 15:07] #3115 closed

[2021-02-02 18:11] HerrNiklasRaab opened #3119 "Multiline test descriptions not shown completely in test tree"
See the test: "has not been synchronized with a bike,
              than it should return false when calling isSynchronizedWith"

![image](https://user-images.githubusercontent.com/28401593/106643638-ad2d7480-6592-11eb-9c16-3a48a6058d4c.png)

[2021-02-02 23:03] bnxm commented on #3102
@DanTup Sorry for this. I think I did catch them this time. I send two logs to the email address you provided where I tried, as best as I could, to replicate what I was doing on the video.

[2021-02-03 00:27] JackLilhammers commented on #914
While I argue that every project should be consistent in terms of visual and code style, I also think that the idea that every program written in one language adopts the same style is deeply flawed.

From the official FAQ

**1 and 2**
- Consistency is paramount within the single project
- Different projects developed by different people don't need to look the same
- Anyone is much more likely to b

[2021-02-03 09:07] e200 commented on #3056
@DanTup I figured out that this problem occurs when I switch from `bash` to `zsh`.

Is there any way to configure `vscode` to use `bash` on launch the app in `Debug Mode`?

This may solve the issue.

[2021-02-03 09:09] maks commented on #3056
oh!! thanks @e200 ! wow I never thought about the shell ! That could be it for me too as even though I'm using bash I'm currently using Manjaro linux distro which installs zsh as the default shell.

[2021-02-03 09:30] e200 commented on #3056
@maks you're welcome! Now we just need to find a way to  tell vscode to use bash instead of zsh.

[2021-02-03 09:40] maks commented on #3056
@e200 actually I think I spoke too soon. I've now even completely removed zsh from my system but I'm still seeing the log reader stopped error when trying to run/debug from vscode.

[2021-02-03 10:05] e200 commented on #3056
@maks have you moved your $PATH to .bashrc?

[2021-02-03 10:12] DanTup commented on #3110
This change hasn't landed yet, so keeping this open until it does.

[2021-02-03 10:14] e200 commented on #3056
@maks yes, you're right because the same is happening to me after completely remove `zsh` and `oh-my-zsh`, but I'm pretty sure they are the cause since I have a fresh Ubuntu install and it worked fine, then I installed zsh and oh-my-zsh and switched the default shell to zsh and it happened.

[2021-02-03 11:56] Scienticious commented on #3110
@DanTup would you please announce when the next version will be released

[2021-02-03 18:25] DanTup opened #3120 "DevTools background activate skips version checks"
This means if you activate a local dev version, it always gets overwritten with the version from pub at startup.

[2021-02-03 22:32] coreysprague commented on #3102
I have been observing this as well. Our workspace is quite large (~90 packages).

When LSP Preview is enabled, my performance is very similar to @bnxm's performance. If I disable it, I get a much more responsive VSCode that is very usable.

[2021-02-04 04:02] easazade commented on #3037
@DanTup I'm curious could having multiple instances of dart installed cause such problem? I have another instance of dart installed by `chocolatey` in this directory `/c/tools/dart-sdk/bin/dart` and when I call `which dart` in command line result is the same directory not the one included in flutter.

FYI I installed another version of dart because for some reason I couldn't get `flutter_gen` pack

[2021-02-04 11:01] kashishkhullar opened #3121 "Refactor menu not showing"
**Describe the bug**

The refactor menu button after right clicking on a widget is not visible since I have upgraded to flutter 1.22.4. I also updated the dart version.

**To Reproduce**

Steps to reproduce the behavior:
1. Right clicked on a widget

**Expected behavior**

Refactor widget option in the opened menu.

**Screenshots**

![image](https://user-images.githubusercontent.com/22838528/10688

[2021-02-04 13:36] #3118 closed

[2021-02-04 13:38] #3110 closed

[2021-02-04 13:54] DanTup commented on #3037
It shouldn't, but if one of those SDKs is very old and is the one being used, then ofc you may not have latest fixes and such.

I generally have multiple Dart and Flutter SDKs on my machine. I always use the standalone Dart SDKs for Dart projects, and the Flutter SDK for Flutter projects (and use [this feature](https://dartcode.org/docs/quickly-switching-between-sdk-versions/) to switch between SD

[2021-02-04 13:56] DanTup commented on #3121
This issue likely occurred if you recently enabled the LSP Preview rather than the Flutter upgrade. There's an original issue at https://github.com/Dart-Code/Dart-Code/issues/2885.

It's been fixed in the SDK, but won't show up until the next stable release. In the meantime, you could either disable the LSP preview or use the Lightbulb (`Ctrl+.`) menu to access the refactors.

Sorry for the inconv

[2021-02-04 13:56] #3121 closed

[2021-02-04 14:08] DanTup commented on #3102
This week I found a performance bug in the LSP server that I wonder if is related. The issue was a combination of a few things:

- We rebuild the data used to power the auto-import completions when the analysis roots (open folders) change
- Opening files results in temporary analysis roots being logged (they're filtered out, however this action triggers the rebuild mentioned above)
- VS Code sends

[2021-02-04 14:34] DanTup commented on #3056
The shell used in VS Code's terminal shouldn't change anything here - it's not used for spawning the Flutter process in the VS Code debugger. We spawn the process using [child_process.spawn()](https://nodejs.org/api/child_process.html), and we do pass `shell: true` which according to [the docs](https://nodejs.org/api/child_process.html) "Default: '/bin/sh' on Unix, process.env.ComSpec on Windows."

[2021-02-04 15:35] DanTup commented on #3112
It looks like there's a tool that already does something like this:

https://pub.dev/packages/intl_translation#extracting-and-using-translated-messages

Does that do what you need? If so, perhaps it could be made easier to run from VS Code (at least if there's a convention about paths etc.)?

[2021-02-04 15:37] HerrNiklasRaab commented on #3119
I agree, but I think it should still work. Either by making the entry in the test tree multiline, or replacing the line breaks with whitespaces.

[2021-02-04 17:39] orestesgaolin commented on #3112
No, it's something different. This assumes that there's a class containing `intl`-based entries like:

[code]

However, with new [l10n approach](https://flutter.dev/docs/development/accessibility-and-localization/internationalization) there's no longer need to generate these manually, as it's done by the `flutter_localizations` in the background (these localization files are generated in `.dart-to

[2021-02-05 03:22] alexmarkley opened #3124 "dart.lineLength setting only works at the workspace level when using LSP"
Updated today and noticed this (apparent) regression. I have `dart.lineLength` set in my project's settings.json file, but Format Document appears to be ignoring this, forcing lines to 80 columns.

Edit: Please let me know what other information I can provide as far as troubleshooting goes. :)

[2021-02-05 12:00] DanTup commented on #3124
Can you confirm the version of Flutter you're using? My guess is that after upgrading, you accepted the prompt to enable the LSP protocol, so it's a result of that rather than the version. `lineLength` should be supported in LSP since https://github.com/dart-lang/sdk/commit/ba459f96cfe020e8d6b01f527959e5e1bb900508 though (which I believe should be in the current Flutter stable).

[2021-02-05 12:23] DanTup commented on #3115
No problem, glad it was an easy solution! :) I don't think that feature is as discoverable as it could be, but unfortunately that's entirely controlled by VS Code so and the extension can't influence it.

[2021-02-05 13:06] moodstubos opened #3125 "vscode: Your Dart SDK has been updated"
while working with vscode I regularly get the following message from the dart extension:

`Your Dart SDK has been updated. Reload using the new SDK?`

my environment:

vscode: 1.53.0
dart extension: 3.19.1
dart binaries comming from flutter stable, 1.22.6

[code]

[2021-02-05 14:32] ljmatan opened #3126 "Flutter channel master VS code colors not correct"
**Describe the bug**
After switching out my Flutter install version from master to stable and back, my code color formatting is no longer correct.

Right after the switching, I've encountered the following issue: microsoft/vscode#115481

Swapping out the version for beta or stable seems to fix the problem. Please note: where the text is blue it's supposed to be white, I no longer see "symbols" suc

[2021-02-05 16:57] DanTup commented on #3126
Can you post details of the theme you're using, or a screenshot of before/after?

The reason for the change is that we're now using "Semantic Tokens" (see https://dartcode.org/releases/v3-19/#lsp-semantic-tokens). There are some differences that are expected, and that includes variables may now be coloured (they went from white to light blue in the Dark+ theme I use), which separates them from thi

[2021-02-05 18:51] ljmatan commented on #3126
So in the thread I've linked in my original post you can see an issue is present - @override is not monocolored, as I presume it should be.

Going  to settings.json in VS Code and setting "dart.previewLsp" to false returned the state to what it was earlier so as far as I'm concerned the issue can be closed.

[2021-02-05 18:51] #3126 closed

[2021-02-06 06:38] agordeev commented on #3037
What is LSP you're talking about here and how to enable it?

[2021-02-06 08:55] readyiman commented on #3125
@moodstubos did your VSCode version was 1.53.0 instead of 0.53.0? I have similar issues.
And did you press reload? did anything happens?
For me, the Flutter's hot reload button on Run buttons group was suddenly missing, and Debug Console auto scroll seems broken. I'm not sure it happens before or after I press the reload button.
Btw I had filled that bug on VSCode https://github.com/microsoft/vsco

[2021-02-06 12:14] DanTup commented on #3125
@readyiman

This sounds like a different problem - please file a new issue and include screenshots of what's not working. Thanks!

[2021-02-06 12:44] #3125 closed

[2021-02-06 12:45] DanTup commented on #3125
@moodstubos please run the **Check for Extension Updates** command in VS Code, and after upgrading to v3.19.2 of the Dart extension, click the **Reload** button. This should resolve the issue, but please let me know if it does not. Thanks!

[2021-02-06 15:22] readyiman commented on #3125
@DanTup

 It seems VSCode bug. I had found the cause of it, and commented there.

It seems resolved for me, I had using it for this few hours without this issue.

[2021-02-06 15:23] moodstubos commented on #3125
@DanTup
issue has been solved. Thanks a lot.

[2021-02-07 11:30] DustinJSilk commented on #3102
@DanTup switching to master seems to have solved it for me. Had the same issues where everything was incredibly slow, particularly when opening a new file.

[2021-02-07 19:59] sooxt98 commented on #2979
@DanTup Im also facing this issue with code-insiders (LSP enabled) on M1

[2021-02-08 11:05] DanTup commented on #2979
@sooxt98 could you file a new issue, and attach the log file mentioned in my last comment above? Thanks!

[2021-02-08 11:11] DanTup commented on #3002
I found a performance issue in the LSP server which I've now fixed, though it's only currently available on Flutter's master channel (see https://github.com/Dart-Code/Dart-Code/issues/3102#issuecomment-773327117). I don't know if that explains all of the issues described here, though suspect it covers at least some.

[2021-02-08 11:14] knopp opened #3128 "Attach to Flutter Process sometimes can't resolve source code locations"
The culprit seems to be in `dart_debug_impl.ts`.
[code]
I haven't figured out the exact reason, but sometimes `rootIsolate.rootLib.uri` is a package:// Uri, which means we'll end up with `MissingPackageMap`.

[2021-02-08 11:17] DanTup commented on #3126
This is actually intended, the `@` for the annotation is coloured one way, but the rest of the annotation is coloured based on whether it's a constructor, getter etc.

LSP is going to become the default soon, so this issue will come back. Although you could turn off semantic tokens, you'll get back all of the issues it was intended to fix as seen in [the release notes](https://dartcode.org/release

[2021-02-08 11:25] ljmatan commented on #3126
Thank you for the detailed info, Mr. Danny.

[2021-02-08 11:43] DanTup commented on #3128
It looks like this may have been an issue before, as we allow specifying the package location in the launch config for attach requests:

https://github.com/Dart-Code/Dart-Code/blob/0d30b1a3c102a4b2e71b4fd233130aad1331e14d/src/debug/dart_debug_impl.ts#L298-L310

So I think if you add:

[code]

To your launch.json config, that may resolve the issue?

[2021-02-08 11:46] haashem opened #3129 "Test tree doesn't update to reflect renamed test"
**Describe the bug**
Rename any of your tests, then run that individual test or their parent test group by clicking on run button, you will see the Test tree add another test node with updated name!
but if you click run above the main function, test tree gets refreshed!

**To Reproduce**
Steps to reproduce the behavior:
so if you have one test,  rename and run that test by clicking run above the t

[2021-02-08 11:51] knopp commented on #3128
@DanTup, that seems to do the trick!

[2021-02-08 11:54] #3128 closed

[2021-02-08 12:01] HerrNiklasRaab opened #3130 "Breakpoints are not being hit in production code, when running from tests. Breakpoint in test file works."
Breakpoints are hitting in the test file.
Breakpoints are not hitting in code that is called from the test file.
With the debugger, I can step to the position, where the breakpoint should theoretically hit.

[Dart-Code-Log-2021-01-01 12-42-46.txt](https://github.com/Dart-Code/Dart-Code/files/5943443/Dart-Code-Log-2021-01-01.12-42-46.txt)

https://user-images.githubusercontent.com/28401593/10721614

[2021-02-08 12:20] DanTup commented on #3129
This is expected (although not ideal) behaviour. When you run a subset of tests, we don't know whether the "old" tests have been removed, or just aren't included in that test run (since we mostly just collect the results from running `package:test` and don't try to track the tests during editing).

Tests nodes with a faded icon are considered "stale" which means they weren't in the last test run a

[2021-02-08 12:24] #3129 closed

[2021-02-08 13:23] DanTup commented on #3130
Thanks for the report! Does the file you're trying to set the breakpoint in have a mixin declaration in it?

If so, I think it is the same as https://github.com/flutter/flutter/issues/66832 (see [comment here](https://github.com/flutter/flutter/issues/66832#issuecomment-751887170) for the cause).

[2021-02-08 13:43] HerrNiklasRaab commented on #3130
No, it has not. Also no reference to flutter.

Am Mo., 8. Feb. 2021 um 14:24 Uhr schrieb Danny Tuppeny <
notifications@github.com>:

--
Niklas Raab

Geschäftsführer - CTO

Softwareentwicklung | CodingPassion
01575 2589725
niklas.raab@codingpassion.net
codingpassion.net
[image: linkedin] <https://www.linkedin.com/in/niklas-raab-138b02122/>

[2021-02-08 13:54] DanTup commented on #3130
When you say no reference to Flutter, do you mean just in Flutter, or the project? The project appears to be detected as Flutter, so it _is_ running the tests through `flutter test`:

I don't know if that's related to the issue though.

Can you easily make a repro project that can be shared and debugged? I suspect it may need to be looked at in the SDK/VM as I can't see any obvious issues.

@bkony

[2021-02-08 14:02] Reprevise opened #3132 "Analyzing forever (LSP Preview enabled)"
**Describe the bug**
Ever since the latest Dart Code update 3.19.2, the analyzer initially worked fine but now it's constantly analyzing (at least I'm getting the notification that it's analyzing that I can't dismiss).

**Expected behavior**
If this is just a notification issue with the extension then I would expect the notification to go away when it's finished but if the analyzer is actually con

[2021-02-08 14:09] Reprevise commented on #2231
I'm on previewLsp and I still have the same issue.

<details>
<summary>Logs</summary>

[code]

</details>

[2021-02-08 14:13] #3108 closed

[2021-02-08 14:22] #3097 closed

[2021-02-08 15:57] danielmahon commented on #3002
@DanTup Thanks for the update, I try to check it out shortly. Haven't had the chance to debug the LSP issues I was having much lately but the non-LSP has been working pretty smoothly since updating the analysis_options

[2021-02-08 16:08] maneesha97 commented on #2051
can somebody help me

[8:30:11 PM] [General] [Info] Searching for SDKs...
[8:30:11 PM] [General] [Info] Environment PATH:
[8:30:11 PM] [General] [Info]     C:\Windows\system32
[8:30:11 PM] [General] [Info]     C:\Windows
[8:30:11 PM] [General] [Info]     C:\Windows\System32\Wbem
[8:30:11 PM] [General] [Info]     C:\Windows\System32\WindowsPowerShell\v1.0\
[8:30:11 PM] [General] [Info]     C:\Windo

[2021-02-08 16:19] DanTup commented on #2051
@maneesha97 have you tried running the command given in the error message? If so, what was the output?

[2021-02-08 16:27] maneesha97 commented on #2051
i got the error message by saying run the flutter doctor in terminal.. can u tell me how to do so

[2021-02-08 16:30] DanTup commented on #2051
@maneesha97 I would recommend working through the steps at https://flutter.dev/docs/get-started/install first, as it should get you up and running to the point of running a basic Flutter app and includes running `flutter doctor`.

If you're still having issues after going through that, please open a new issue with a clear description/screenshot of what you're seeing. Thanks!

[2021-02-08 16:58] mprogers opened #3134 "Flutter VSC Extension Requires Save, Even with Auto Save Enabled?"
I could have _sworn_ that if I had Flutter in debug-mode, with auto save turned on in Visual Studio Code, that all I had to do was change the code and the app would update. My students thought it was magical. (as did I). Now, though, I need to save the code first (which is admittedly not a biggie, but still ...). This is with Visual Studio Code 1.53.0, VSC extension v3.19.0, macOS Big Sur 11.3.

D

[2021-02-08 17:07] maneesha97 commented on #2051
![image](https://user-images.githubusercontent.com/78676113/107255282-2418b080-6a5e-11eb-9d98-2bca5aa1edc4.png)

[2021-02-08 17:17] DanTup commented on #3134
The behaviour did change in the last version. The previous behaviour was unintended and caused some issues, and was fixed as a bug. However, it seems many people were happy with it working that way and had no issues, so in the next version the reload-on-save option will have a new setting (`"always"`) that will cause it to run even for auto saves (see #3110).

Sorry for the inconvenience!

[2021-02-08 17:18] #3134 closed

[2021-02-08 17:20] DanTup commented on #3132
Can you reproduce this in a newly created sample app? If so, could you enable the analysis server log and attach a log?

https://dartcode.org/docs/logging/#analyzer

Note: the log may contain parts of source code, so it's best to reproduce on a small sample project. Thanks!

[2021-02-08 17:22] DanTup commented on #2051
@maneesha97 that looks like where Flutter tries to download the Dart SDK. It may be worth trying it outside of VS Code in a standard PowerShell terminal to see if that makes any difference. If not, you could try a non-PowerShell command prompt, in case there are issues with BITS transfers on your machine.

Once you've got Flutter working (so you can type `flutter doctor` and get some normal output

[2021-02-08 17:27] DanTup commented on #2231
This week I found a performance bug in the LSP server that may be related. The issue was a combination of a few things:

- We rebuild the data used to power the auto-import completions when the analysis roots (open folders) change
- Opening files results in temporary analysis roots being created which triggers the rebuild mentioned above
- VS Code sends a phantom "file open" event when you hold do

[2021-02-08 17:31] Sormox commented on #906
I add in launch.json file --> "console" : "terminal" . don't work dart version  3.19.2

[2021-02-08 17:48] pinguin999 opened #3135 "VS Code Extension crashes with modified hosts file"
**Describe the bug**
The VS Code Extension crash on start. With his error:

events.js:292      throw er; // Unhandled 'error' event      ^[Error: connect ECONNREFUSED 0.0.0.0:443	at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1141:16)Emitted 'error' event on ClientRequest instance at:	at TLSSocket.socketErrorListener (_http_client.js:426:9)	at TLSSocket.emit (events.js:315:20)	at emitError

[2021-02-08 17:58] DanTup commented on #3135
When you say crash, are you seeing something more than this just being listed in the Developer Tools Console? This is likely the analytics request failing (you can disable this entirely with the "Dart: Allow Analytics" setting in your VS Code user settings), but it shouldn't cause any issues beyond an error being printed (although I can't actually repro that on macOS right now).

If you're seeing

[2021-02-08 17:59] DanTup commented on #906
@Sormox could you file a new issue, and provide a detailed description of what you mean by it not working? Thanks!

[2021-02-08 22:33] pinguin999 commented on #3135
Hi @DanTup thanks, that looks like it's working.
Maybe add a try/catch around analytics.

Here is my full console log:
´´´

Some messages have been moved to the Issues panel.
/Applications/Visual Studio Code.app/Contents/Resources/app/out/vs/workbench/workbench.desktop.main.js:1747 Overwriting grammar scope name to file mapping for scope source.sql.
Old grammar file: file:///Applications/Visual%20

[2021-02-08 23:46] alexmarkley commented on #3124
Result of `flutter doctor -v`:

[code]

Also you are correct, I did opt in to the LSP protocol. Setting `"dart.previewLsp": false` solves the problem for me.

[2021-02-09 05:24] sooxt98 commented on #2979
@DanTup i do notice something, if i turn of the settings bellow, the formatter wont work anymore

![image](https://user-images.githubusercontent.com/13378059/107319561-038e3c00-6ada-11eb-9e37-11a6140158ff.png)

![image](https://user-images.githubusercontent.com/13378059/107319630-26205500-6ada-11eb-8641-6bf7d187b1e4.png)

[2021-02-09 08:28] ali80 commented on #1232
It's a real solution for me :), works very well.

[2021-02-09 11:01] HerrNiklasRaab commented on #3130
Hey DanTup,

just sent the project where the error happens to logs@dartcode.org. Please be confidential!

Regarding the flutter reference, you are right the project has a flutter reference.

[2021-02-09 12:09] DanTup commented on #2979
@sooxt98

That's expected - that setting turns off the formatter. The text looks a little misleading and probably shouldn't have the word "automatic" though. I'll remove that, but you shouldn't turn this setting off if you want the formatter.

[2021-02-09 12:12] DanTup commented on #3135
There is already error handling around analytics, so I'm not sure why it's being logged like this. I'll test it out on Windows to see if I can repro and improve (and perhaps also disable analytics for a session after a number of failures).

[2021-02-09 15:26] DanTup commented on #3130
Thanks for the repro! I tried to add the breakpoint using Observatory, and it reported:

There's an open issue about this in the SDK:

https://github.com/dart-lang/sdk/issues/43197

I'm not sure exactly what's triggering it, it'll need some input from someone on the VM team. I'll close this one as a dupe of that (I don't think there's any way to fix or workaround it from the VS Code extension unfo

[2021-02-09 15:56] DanTup commented on #3124
I switched to Flutter stable (1.22.6) and tested this, but it seems to be honouring the `dart.lineLength` setting for me. I set it to 200 and reformatted a file, and it unwrapped many lines. Setting it to 80 and formatted then caused it to re-wrap them.

LSP is going to become the default in the future, so I'd like to track down why it's not working for some - could you try the following for me to

[2021-02-09 16:04] DanTup commented on #3102
@DustinJSilk glad to hear!

I suspect that issues covers many of the reports in this issue (including the original video which is after a Ctrl+Click which definitely would've triggered this in LSP). I'll leave this issue open for now, but close it in a while if nobody reports they're still seeing issues using a recent master build (although I appreciate most can't use that for production work so i

[2021-02-09 20:29] MarchesiGabriele commented on #3116
I had the same problem in the last few days. I resolved updating to flutter version 1.22.6
This also solved problems like slow auto-suggestions and running formatter freezes while pressing ctrl + S

[2021-02-09 22:33] ffpetrovic commented on #3102
@DanTup I'm happy to report that the master channel seems to have fixed my issue. I say "seems", because I can't really analyze the outcome easily because of all the null safety errors caused by the upgrade 🤣

Jokes aside, I think my issue is solved, although I will write here if I find anything else (or open a new issue).

Thanks for the help ❤️

[2021-02-09 23:46] devoncarew opened #3136 "Expose Dart's "why not promoted" information in VS Code"
As of https://github.com/dart-lang/sdk/commit/a42244f73b27256eca44def4daa552e91c2dbc55, the analyzer now generates context messages in some circumstances explaining why type promotion failed. We would like these messages to show up in VS Code in a way that's easily discoverable.

See also https://github.com/dart-lang/sdk/issues/44897.

(Danny, I'll give you some context on this when we sync up nex

[2021-02-09 23:47] AbubakarOM commented on #1552
Hi, @DanTup  I have read through the chat above but after I pasted this, I got this
                                        flutter config --machine
I got this result
                                        {
                                              "android-studio-dir": "C:\\Program Files\\Android\\Android Studio",
                                             "android-sdk": "C:\\Users\\admin

[2021-02-10 00:51] devoncarew commented on #3136
Ah, this work might already have been done?

<img width="1037" alt="Screen Shot 2021-02-09 at 4 49 59 PM" src="https://user-images.githubusercontent.com/1269969/107448660-f5024d80-6af6-11eb-9ead-5a98ede38ea3.png">

@DanTup, I'll close this issue (but please re-open if you think there's something to do here).

[2021-02-10 00:51] #3136 closed

[2021-02-10 01:01] shyndman opened #3137 "Repeated test runs leave old results in terminal"
**Is your feature request related to a problem? Please describe.**
When debugging using a test, I tend to run it repeatedly. The test's results appear in the terminal, but I've discovered that the terminal is reused between test runs, and the results of multiple test runs accumulate.

This can be time consuming, as I first have to determine what it is I'm looking at, then find the piece of informa

[2021-02-10 02:17] alexmarkley commented on #3124
@DanTup You're right, strictly following your steps to reproduce I am unable to reproduce the problem.

My normal workflow includes creating workspaces with multiple folders in them. So after "Create a new file with just the simple contents below" but before "Run the Dart: Capture Analysis Server Logs command in VS Code" I clicked **File** > **Add Folder to Workspace...** and selected another fold

[2021-02-10 08:49] DanTup commented on #3136
If the info is in the `correction` or `contextMessages` then yep, it shows up here. The `correction` is appended to the main message, and the context messages are `relatedInformation`.

Non-LSP:
https://github.com/Dart-Code/Dart-Code/blob/6966fba1175d7dfc0bd11a208d16faadacc956e8/src/extension/providers/dart_diagnostic_provider.ts#L52-L55

LSP:
https://github.com/dart-lang/sdk/blob/f306f4c4d41c8f2a

[2021-02-10 10:22] DanTup commented on #3124
/in the attached log, the settings include:

[code]

Where are you changing the `dart.lineLength` setting? If you're setting it in a single folder (eg. in the `.vscode/settings.json` file), that will only apply when you specifically open that folder. If you open a "workspace" (multiple folders at once) then it needs to either be set in your VS Code settings, or the .code-workspace settings.

[2021-02-10 10:36] DanTup commented on #3137
Are you able to show a screenshot of exactly what you're seeing? The Debug Console should still be used for debug sessions (unless you've explicitly set it to terminal in your launch config).

However, clicking on a test node in the tree to see the _historical_ results of just that test will use the terminal, and this was done so that stack traces (etc.) can be clickable links, which was not possi

[2021-02-10 10:38] DanTup commented on #3102
That sounds positive - thanks! I'll close this since it was your original issue then, but do shout (or file a new issue with details) if you think there are still performance issues with this fix (in the meantime, disabling LSP should avoid the issue while you're on a channel without the fix). Thanks!

[2021-02-10 10:38] #3102 closed

[2021-02-10 10:41] DanTup commented on #1552
@AbubakarOM that will happen if the folder that contains `sdkmanager` is not in your `PATH` environment variable. You can instead call it with a full path, like:

[code]

[2021-02-10 10:46] AbubakarOM commented on #1552
@DanTup after I clicked on No Device and select Create Android Emulator, I still get this

No suitable Android AVD system images are available. You may need to install these using sdkmanager, for example:
  sdkmanager "system-images;android-27;google_apis_playstore;x86"

[2021-02-10 10:48] AbubakarOM commented on #1552
When I used this

C:\Users\admin\AppData\Local\Android\sdk\tools\bin\sdkmanager.bat "system-images;android-27;google_apis_playstore;x86"

I got this

C:\Users\admin\wordpair_generator>C:\Users\admin\AppData\Local\Android\sdk\tools\bin\sdkmanager.bat "system-images;android-27;google_apis_playstore;x86"
Exception in thread "main" java.lang.NoClassDefFoundError: javax/xml/bind/annotation/XmlSchema

[2021-02-10 10:54] DanTup commented on #1552
@AbubakarOM that seems like something may be wrong with your Android SDK, or it may be trying to run using the wrong version of Java. There's some info [here](https://github.com/flutter/flutter/issues/66458#issuecomment-697483466) about the required version of Java and the environment variable you'd need to set to point at it.

[2021-02-10 10:58] AbubakarOM commented on #1552
@DanTup, thanks I am currently checking that out.

[2021-02-10 11:23] sooxt98 commented on #2979
@DanTup But how could i turn off auto formatting when save?

[2021-02-10 12:30] DanTup commented on #2979
@sooxt98 they're controlled by VS Code settings:

<img width="1044" alt="Screenshot 2021-02-10 at 12 28 40" src="https://user-images.githubusercontent.com/1078012/107510229-8d520e00-6b9b-11eb-80bb-99263c44f72a.png">

If you want to control them only for Dart, you should run the **Preferences: Configure Language-Specific Settings** and then add them into the Dart section:

[code]

[2021-02-10 12:57] DanTup opened #3138 "New pub packages that are not compatible with the current Dart SDK result in "Failed to install" messages"
When checking Global Pub package versions, we do this:

- Check the `latest` version mentioned in the Pub API results
- If it's below the installed version, run `pub global activate`
- Check the newly-installed version and if there's a mismatch, assume installation failed

However right now there are a lot of published packages with null-safety that have a version constraint that makes them incomp

[2021-02-10 14:15] #3138 closed

[2021-02-10 14:16] DanTup commented on #3138
Made a simple fix for this, to not consider UpdateAvailable an error after updating. It still means we could _prompt_ to update when there isn't really an update, but this situation is probably an edge case and unlikely to apply to any actual packages we use (it happens in the tests a lot because we just `activate` some "random" packages for testing).

[2021-02-10 15:01] stereotype441 commented on #3136
@DanTup

You should be able to test using this example (it works with the command-line analyzer as of https://github.com/dart-lang/sdk/commit/a42244f73b27256eca44def4daa552e91c2dbc55):
[code]
On the line marked (3) there should be an error message saying `The property 'isEven' can't be unconditionally accessed because the receiver can be 'null'.`  There should be an associated context message for

[2021-02-10 15:42] DanTup commented on #3136
@stereotype441 thanks! In that case, it appears to be working as expected (both under LSP and the original protocol):

<img width="995" alt="Screenshot 2021-02-10 at 15 40 11" src="https://user-images.githubusercontent.com/1078012/107532923-4a516400-6bb6-11eb-8818-10e8af7f4b4b.png">

Clicking on the main error (`"The property 'isEven'"`) navigates to line `(3)` were the red squiggle is, and clicki

[2021-02-10 16:04] stereotype441 commented on #3136
@DanTup Great!  Thanks for checking.

[2021-02-10 18:28] ffpetrovic commented on #3116
@DanTup I feel like this should be solved with #3102 . At least it looks like the issue doesn't appear anymore when I turn off `dart.previewLsp` in VSCode.

[2021-02-10 20:00] alexmarkley commented on #3124
In my current workflow the setting is set at the folder `.vscode/settings.json` level, and it seems to be working as desired as long as I keep `previewLSP: false`.

It's weird that you'd be showing `lineLength: 80` in the logs I attached, because as far as I can tell I only have it set in the one place.

It also doesn't make sense to me to require the setting to be set at the workspace level, beca

[2021-02-11 10:24] nwtnwrkshp commented on #3116
I've set `"dart.previewLsp": false` and analyzer is still crashing on VSCode start-up.

"The Dart Analyzer has terminated."
[log-74ab.txt](https://github.com/Dart-Code/Dart-Code/files/5964478/log-74ab.txt)

[2021-02-11 11:07] DanTup commented on #3116
@ffpetrovic is the issue a crash, or just performance? If the analyzer is _terminating_ under LSP, that sounds like a serious bug that needs fixing (and is unlikely the same perf issue noted at https://github.com/Dart-Code/Dart-Code/issues/3102).

@nwtnwrkshp your issue looks like https://github.com/dart-lang/sdk/issues/44299 (which may be related to https://github.com/dart-lang/sdk/issues/44785).

[2021-02-11 11:47] DanTup commented on #3124
Ah, I think I understand. In the non-LSP version I think we support this as a "resource setting" which means it can be scoped per workspace folder (so if your workspace if you had two projects, they could each have their own setting). There are actually many settings flagged as resource that do not make much sense as such (for example the analyzer log file, which can only exist one per workspace).

[2021-02-11 14:35] #3103 closed

[2021-02-11 16:43] DanTup commented on #3112
@HansMuller I'm told you might be familiar with the localisation tools here so you might have some ideas about the current best practices. It sounds like the `intl_translation:extract_to_arb` tool works only with `Intl.message()` calls, though it may be more common to now use `AppLocalizations.of(context).helloWorld` instead?

Is it possible/likely that `intl_translation:extract_to_arb` would be e

[2021-02-11 21:50] Shreemanarjun opened #3140 "Hot reload not working in vs code"
On latest flutter beta ,automatic save and hot reload not working on latest vs code.

![image](https://user-images.githubusercontent.com/24736211/107703043-1f176380-6ce1-11eb-8cd3-36afbafa12f4.png)

[2021-02-11 21:57] nwtnwrkshp commented on #3116
@DanTup you are exactly right! My issue is related to [dart-lang/sdk#44299](https://github.com/dart-lang/sdk/issues/44299) - having `and` instead of `&&`  - once I removed it, analyzer started working perfectly again!

Sorry to have wasted time on this, thanks for your help.

[2021-02-12 10:01] awagege opened #3141 "VsCode quick fix "Create File" function failed to Create file successfully"
**Describe the bug**
When importing a file that does not exist, using the quick fix "create file" did not automatically create the file, and there was no abnormal prompt

**To Reproduce**
Steps to reproduce the behavior:
1.Introduce non-existent files in dart code
2.Use "quick fix"
3.Use "create file"

**Expected behavior**
Let "create file" successfully create this file

**Screenshots**

**Versio

[2021-02-12 12:53] DanTup commented on #3140
Sorry for the inconvenience. That behaviour was never intended and was "fixed" as a bug in the last release. However, it turned out that it worked well for some people, so it will be restored as an option in the next version. See [this pinned issue](https://github.com/Dart-Code/Dart-Code/issues/3110) for more details. Thanks!

[2021-02-12 12:53] #3140 closed

[2021-02-12 12:53] DanTup commented on #2854
Fixed by https://github.com/dart-lang/sdk/commit/235292605ecde3d3060d5fb5f265d47a352090b6.

[2021-02-12 12:53] #2854 closed

[2021-02-12 12:54] DanTup commented on #3048
Fixed by #3131 (although only works for Dart right now).

[2021-02-12 12:55] DanTup commented on #3048
We should probably make this clearer on the button for now, to avoid confusion.

[2021-02-12 15:45] DanTup opened #3142 "DevTools is eagerly starting for non-Flutter apps"
DevTools is only expected to start eagerly for Flutter apps (since it's passed to Flutter with `--devtools-server-address`), but it seems to be starting up for Dart CLI projects too.

[2021-02-12 15:46] #3142 closed

[2021-02-12 17:53] shyndman commented on #3137
Ahh, I see. This may be what's happening. Let me play around a bit more and I'll post back.

[2021-02-12 17:57] shyndman commented on #3137
You are correct. Not sure what put me into that particular flow. Thank you @DanTup.

[2021-02-12 17:57] #3137 closed

[2021-02-12 21:14] ffpetrovic commented on #3102
@DanTup just a quick question, while Preview LSP is off, the analyzer is not very useful outside of the working file, because it doesn't detect class/variable names I can import, and there's no other way to do it than manually.

[2021-02-15 19:31] doppio opened #3143 ""Wrap with widget" does not move the text cursor to the new parent widget when the 'previewLsp' setting is enabled"
**Describe the bug**
Normally, when the context menu is used to "Wrap with widget...", the cursor automatically selects the new "widget" text so the user can immediately type the name of the new parent widget. However, when the "previewLsp" setting is enabled, the cursor does not move from where it was when the context menu was invoked.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable

[2021-02-16 00:18] #3005 closed

[2021-02-16 03:53] samariotorres commented on #2823
still not working for me... tried disabling LS, tried the recommended

[2021-02-16 03:56] samariotorres commented on #2823
Sorry got it working, you have to uncheck commit characters as well.

[2021-02-16 07:38] sanalkv commented on #2940
vscode auto save not working for me

[2021-02-16 10:09] DanTup commented on #2940
@sanalkv if you mean just auto-save is not working, that sounds like a VS Code issue. If you mean auto-save is not triggering reload, that's a known change (see https://github.com/Dart-Code/Dart-Code/issues/3110), but an option for this will be available in the next release.

[2021-02-16 10:18] sanalkv commented on #2940
I just figured out that vscode auto-save is working fine. The issue is with the hot reload which is not being called during auto save. I completely reinstalled vscode thinking its vscode related issue. Thanks for letting me know @DanTup, I'm really not sure why that feature was taken down. Hope it will be added to the next release soon.

[2021-02-16 10:34] DanTup commented on #2940
The hot-reload-on-save feature was always only intended to occur when you explicitly pressed save (the intention was to avoid having to perform two actions, a save, and a reload). It was somewhat accidental that it triggered on auto-save and caused some users issues. However, since removing it it's become clear that it actually worked well for many people, so it will return as [an option](https://

[2021-02-16 10:39] DanTup commented on #3102
@ffpetrovic can you give a specific example? As long as the files are inside your VS Code workspace (eg. you've opened the project folder, and not only the "loose" file) it should work as normal. LSP may work better here, as we may locate the project root from a loose file and implicitly analyze that.

If you _are_ opening your full project, but you're still seeing things not working right, please

[2021-02-16 10:40] DanTup commented on #3137
Even if you are looking at the "historical" results in the fake Terminal, you should only see one. If you're seeing repeated (or otherwise incorrect) output there, please let me know as that will need fixing. Thanks!

[2021-02-16 10:41] DanTup commented on #3116
@nwtnwrkshp great! No worries, it's not a waste of time - duplicated reports are better than potentially missing issues :-)

[2021-02-16 10:46] sanalkv commented on #2940
Thanks for the information. Hope you will mention here when the new update is released. Thanks again.

[2021-02-16 11:04] DanTup commented on #2940
You should see a toast notification in VS Code whenever the extension updates, though they're also announced [on Twitter](https://twitter.com/DartCode) and in the [Discord announcement channel](https://discord.gg/DVDjc7MuNe).

[2021-02-16 12:03] DanTup commented on #3143
I looked into this, and re-discovered that it's because LSP has no support for code snippets (required to set cursor positions) in code actions. This might be a result of VS Code not having a good API for this either (the way it works in non-LSP involves custom code to apply the edit that is not trivial for LSP).

The relevant LSP issues are at:

- https://github.com/microsoft/language-server-prot

[2021-02-16 12:37] sanalkv commented on #2940
Sure, i will look into that.

[2021-02-16 14:02] fryette commented on #3065
Any news?
Really annoying error

[2021-02-16 15:45] IsmailAlamKhan opened #3144 "Running dart fomatter never finishes after 1or 2 hours of coding and a running a flutter app"
**Describe the bug**
'Running dart fomatter' command never ends  after 1/2 hours of coding and running a flutter ap

**To Reproduce**
Steps to reproduce the behavior:
1. Run and code a flutter app for 1 or 2 hours.

**Expected behavior**
'Running dart fomatter' command should finish its work and not hang there.

**Screenshots**
![image](https://user-images.githubusercontent.com/67656229/108085542-

[2021-02-16 17:27] DanTup commented on #3144
@IsmailAlamKhan can you reliably reproduce this? I've seen it once, and had a few reports of it, though never been able to reproduce it to debug.

Reliable steps to trigger this (I've worked on Flutter apps for several hours without seeing it, so I'm not sure it's just as simple as just that) would be appreciated!

[2021-02-16 18:18] #3048 closed

[2021-02-16 19:00] #3119 closed

[2021-02-16 19:01] DanTup commented on #3119
I ended up tidying the indentation anyway, so they look a little neater.

![Screenshot 2021-02-16 at 18 54 38](https://user-images.githubusercontent.com/1078012/108109014-47a8b000-7089-11eb-80bd-ed7fe47b730b.png)

[2021-02-16 22:31] DanTup commented on #3104
Fixed in https://github.com/dart-lang/sdk/commit/a6c14e8848ab1d750fcb9c0e260d391815b5b52a. Since the fix is in the server, it'll show up with an SDK update rather than Dart-Code update.

[2021-02-16 22:31] #3104 closed

[2021-02-17 09:48] IsmailAlamKhan commented on #3144
@DanTup that issue is random. Sometimes I can work the whole day without getting that. Sometimes I can't even work for 1 hour. B.T.W this mostly happens when VsCode stays idle for some time

[2021-02-17 10:17] DanTup commented on #3144
Can you confirm if you have the Dart LSP Preview enabled in your VS Code user settings, and which Flutter branch you're on?

One thing that might help, is an analysis server log when this happens. (Note: This log will contain parts of your source code, so don't share the whole log if it's not a public project).

You can [enable the analysis server log](https://dartcode.org/docs/logging/#analyzer)

[2021-02-17 11:41] DanTup commented on #3141
This is fixed by https://github.com/dart-lang/sdk/commit/c8c49c7cc80d561ff93e17bbd44ada3ccb60582f. The fix is in the analysis server, so will arrive in a future Dart/Flutter SDK update rather than a Dart-Code update.

Thanks for the report!

[2021-02-17 11:41] #3141 closed

[2021-02-17 11:50] IsmailAlamKhan commented on #3144
@DanTup no I don't have LSP enabled. I enabled the log setting, will give you the file once I get the issue.

[2021-02-17 12:24] #3135 closed

[2021-02-17 12:30] DanTup commented on #3135
I was still unable to repro this on either macOS or Windows, however I was able to hook an additional error handler that wasn't being caught before. If the unhandled error was for some reason causing your extension host to terminate (something nodejs has been threatening to do for a while, though didn't seem to be occurring for me) this should resolve it.

I also made analytics disable for the who

[2021-02-17 12:41] pinguin999 commented on #3135
Sounds good. Can you ping me here when the update is live. So I can give you feedback.

[2021-02-17 16:50] #3120 closed

[2021-02-17 17:06] LayYouTube opened #3145 "Command 'Flutter: Run Flutter Doctor' resulted in an error (Cannot read property 'message' of undefined)"
Command 'Flutter: Run Flutter Doctor' resulted in an error (Cannot read property 'message' of undefined)
when im gonna run Flutter: Run Flutter Doctor i have this problem

[2021-02-17 17:27] DanTup commented on #3017
@bwilkerson @scheglov this appears to be specific to the `isInsecureConnectionAllowed` function here (or at least some smaller set of symbols than the entire file) as other symbols I tried in this file work fine. I can reduce the repro to not need the HTTP files by just pasting the following into a simple Dart script:

[code]

In a simple Dart project, there's code completion for `isInsecureConnec

[2021-02-17 17:30] DanTup commented on #3145
If you open the VS Code developer tools (Help -> Toggle Developer Tools) and click on the Console tab, does the error show in there? If so, can it be expanded to show a stack trace? If so, could you copy/paste or attach a screenshot here? Thanks!

[2021-02-17 17:53] LayYouTube commented on #3145
![Zrzut ekranu (55)](https://user-images.githubusercontent.com/71594301/108246175-6c685a80-7151-11eb-98d1-b43dbf3b9912.png)

[2021-02-17 17:54] bwilkerson commented on #3017
The docs for Flutter's version of `dart:io` (https://api.flutter.dev/flutter/dart-io/dart-io-library.html) don't include a top-level function named `isInsecureConnectionAllowed`. I don't know whether the library is different between Dart and Flutter or whether the documentation is out of date, but if it's the former then that would explain the difference in behavior.

[2021-02-17 17:55] #584 closed

[2021-02-17 17:56] escamoteur commented on #3017
you can step into it while debugging

[2021-02-17 17:56] DanTup commented on #584
This issue doesn't occur in LSP as the edits are applied slightly differently. The goal is to enable LSP by default in an upcoming release and the non-LSP code eventually dropped.

[2021-02-17 18:14] DanTup commented on #3017
Ah, interesting! I hadn't considered the packages might have different exposed APIs. Looking again, it seems that `dart:io` normally gets this via `network_policy.dart`, but that doesn't exist in Flutter:

<img width="1011" alt="Screenshot 2021-02-17 at 18 01 05" src="https://user-images.githubusercontent.com/1078012/108247145-307dc700-714a-11eb-8063-c47a7f711ea7.png">

When stepping into it, the

[2021-02-17 18:16] DanTup commented on #3145
@LayYouTube please click on the Console tab shown here:

![108246175-6c685a80-7151-11eb-98d1-b43dbf3b9912](https://user-images.githubusercontent.com/1078012/108248803-370d3e00-714c-11eb-9c5e-98652e9c24ca.png)

[2021-02-17 18:59] DanTup opened #3146 "Move test output from click to context menu"
It's a bit confusing that when you click a test node to navigate to it, we also switch to the Terminal tab to show the history from that test. We should make this more expliciy with a context menu entry for "view test output" or similar that does this. That way, clicking around the tests won't take focus away from the Debug Console which updates real-time.

[2021-02-17 19:07] DanTup opened #3147 "Add support for VS Code's new testing APIs behind preview flag"
See https://github.com/microsoft/vscode/issues/107467.

[2021-02-17 19:11] LayYouTube commented on #3145
![Zrzut ekranu (56)](https://user-images.githubusercontent.com/71594301/108255219-41cfcf00-715c-11eb-8a3c-68bdbec871b5.png)

[2021-02-17 19:17] bwilkerson commented on #3017
Using either an IDE or `flutter analyze`, does the analyzer flag the function as not existing?

[2021-02-17 19:37] DanTup commented on #3017
When I tested it earlier, I don't recall seeing errors - however testing again I definitely do when trying to use it manually:

<img width="973" alt="Screenshot 2021-02-17 at 19 34 17" src="https://user-images.githubusercontent.com/1078012/108257788-3332e900-7157-11eb-8f33-d7dcbf2abb53.png">

Although if I Go-to-Definition on `HttpClient` to get into `http.dart` then Go-to-Definition on `part 'htt

[2021-02-17 19:41] bwilkerson commented on #3017
Then the next step is likely to be to open an issue with the Flutter team to ask that the source be included in the SDK shipped with Flutter so that analyzer and IDEs can find it.

[2021-02-17 19:52] DanTup commented on #3017
I've opened https://github.com/flutter/flutter/issues/76228. Thanks!

[2021-02-18 08:21] LayYouTube commented on #3145
@DanTup

[2021-02-18 10:48] pharshdev commented on #2603
refactorings are gone suddenly
<img width="645" alt="image" src="https://user-images.githubusercontent.com/15626305/108345684-93cc2f80-7204-11eb-9da5-90c9093bf44a.png">

also `//TODO: ` doesn't show up in "Problems" tab.

Tried reinstalling dart, flutter extension.
Dart: v3.19.2
Flutter: v3.19.0
OS: Big Sur

[2021-02-18 10:53] DanTup commented on #3145
@LayYouTube it looks like Flutter is failing to run - in the output window at the bottom it says the output from Flutter was "Unable to find git in your PATH". According the [requirements](https://flutter.dev/docs/get-started/install/windows#system-requirements) on the Flutter site, you need to install Git first.

However, this should be handled better and not throw an error like "cannot read prop

[2021-02-18 10:57] DanTup commented on #3145
Actually, I was able to reproduce that error - I'll fix that so it's reported better, though to fix your issue you'll need to install Git.

[2021-02-18 11:06] #3145 closed

[2021-02-18 11:08] DanTup commented on #3145
I think the error message shown here is incorrect (possibly a VS Code bug), it should've actually said something like "The command 'flutter.doctor' is not registered".

However, the cause of that was a bug here. Trying to run "flutter doctor" after the Flutter SDK failed to initialise would not work correctly. That's been fixed for the next version, so in the same situation with the next release,

[2021-02-18 11:46] DanTup commented on #2603
@pharshdev I suspect you're seeing https://github.com/Dart-Code/Dart-Code/issues/2885. If you use the standard lightbulb menu (`Cmd+.`) are they listed there? If so, the issue is fixed for an upcoming SDK release.

[2021-02-18 12:02] DanTup opened #3149 "Wrong Dart version is used if Flutter is uninitialized at startup"
This pops up right after Flutter finishes initializing, even though it's intended to never show for a) Flutter projects or b) Dart SDKs that are inside Flutter.

<img width="586" alt="Screenshot 2021-02-18 at 12 01 29" src="https://user-images.githubusercontent.com/1078012/108354256-1cd16f80-71e1-11eb-87bb-4131fa84cdfa.png">

[2021-02-18 12:12] DanTup commented on #3149
This turns out to be that we're searching for the Dart SDK _prior_ to initializing Flutter, which means we pick a different Dart SDK (the standalone one).

[2021-02-18 12:17] #3149 closed

[2021-02-18 14:44] fisforfaheem opened #3150 "Speed up the code suggestions and only show relevant suggestion and properties first"
i am tired of getting useless multiple other kind of suggestions in dart why?

[2021-02-18 14:53] DanTup commented on #3150
Are you able to provide some more specific details, such as how long completions are taking, and some specific examples of where you think the ranking is bad?

There are some open issues about ranking in the SDK (such as https://github.com/dart-lang/sdk/issues/38739 and https://github.com/dart-lang/sdk/issues/43657) but more examples are always useful.

It's also worth bearing in mind that the Dar

[2021-02-18 14:55] LayYouTube commented on #3145
tysm

[2021-02-18 14:57] DanTup opened #3151 "Support "Run Skipped" for Flutter tests"
With https://github.com/flutter/flutter/pull/76133, we'll be able to run this for Flutter. We need to check the version number to ensure the flag is supported before enabling this though.

[2021-02-18 14:58] fisforfaheem commented on #3150
![image](https://user-images.githubusercontent.com/35878088/108375225-968a4d00-7223-11eb-80ec-2b1e27930858.png)
 this is the settings for it.

[2021-02-18 15:00] DanTup commented on #3150
@fisforfaheem thanks, looks like you already have LSP enabled (which is good, since that's going to become the default option).

Can you confirm what sort of delays you're seeing on completion and whether this is consistent, or just in certain circumstances, and some examples of where the ranking is bad? Thanks!

[2021-02-18 15:03] fisforfaheem commented on #3150
When i am working on a project, when i press ctrl+. etc the suggestions take a while to open up etc these kind of slowness...also the suggestions should match the widget properties but sometimes it wont work as it should.

[2021-02-18 15:12] DanTup commented on #3150
@fisforfaheem do you mean `Ctrl+Space` for completions, or `Ctrl+.` for quick-fix/lightbulb?

Are you able to take a screenshot showing the location where you invoked the completion next time you see it slow?

Could you also get a screenshot of this, so there's a specific case to look at? I suspect it's something like https://github.com/dart-lang/sdk/issues/38739, but without a concrete example it

[2021-02-18 15:44] fisforfaheem commented on #3150
Ok i will send here, after some screnshoots.

[2021-02-19 09:08] #3080 closed

[2021-02-19 09:09] DanTup commented on #3021
Closing this assuming the above is the answer, but do shout if that doesn't seem to be the case!

[2021-02-19 11:06] IsmailAlamKhan commented on #3144
[dartlog.txt](https://github.com/Dart-Code/Dart-Code/files/6009465/dartlog.txt)
@DanTup here is the dartlog.

[2021-02-19 14:15] fisforfaheem commented on #3150
here is one screenshot please see this: it's not the desired suggestion..
![Uploading Screen Shot 2021-02-19 at 7.13.27 PM.png…]()

[2021-02-19 14:18] fisforfaheem commented on #3150
![Screen Shot 2021-02-19 at 7 13 27 PM](https://user-images.githubusercontent.com/35878088/108515506-f7c72480-72e6-11eb-9dea-5cd54a34ff21.png)
![Uploading Screen Shot 2021-02-19 at 7.13.27 PM.png…]()

[2021-02-19 14:19] fisforfaheem commented on #3150
![Screen Shot 2021-02-19 at 7 18 27 PM](https://user-images.githubusercontent.com/35878088/108515817-5391ad80-72e7-11eb-98c5-427182073fae.png)

[2021-02-19 15:32] fisforfaheem commented on #3150
It should show the most immediate and proper suggestions why does it shows useless suggestions first???

![Screen Shot 2021-02-19 at 8 31 00 PM](https://user-images.githubusercontent.com/35878088/108525034-7fb22c00-72f1-11eb-904d-8943eb590fa6.png)

[2021-02-19 17:38] DanTup commented on #3017
This should be fixed by https://github.com/dart-lang/sdk/commit/91ae755c3534d8eb0e1490d30ccaf05229aae0f2 (which is a change in the SDK, so will show up in a future SDK release). Thanks!

[2021-02-19 17:38] #3017 closed

[2021-02-19 19:19] Tetracyl opened #3152 "Quick fix poup does not appear after 5-10 seconds of pressing ctrl + ."
**Describe the bug**
Quick fix shortcut (ctrl + .) takes a long time to show up (usually 5 - 10 seconds) but clicking on the quick fix button to the left works instantly

https://user-images.githubusercontent.com/29833473/108551027-2a9bf900-72a4-11eb-8cfe-0c61b059a6a3.mp4

**To Reproduce**
Steps to reproduce the behavior:
1. Hover over a widget
2. Press ctrl + .

**Expected behavior**
Quick fix po

[2021-02-20 09:25] duannl commented on #2865
The same issue with `Future<List>` after I used Quick Fix on Visual Studio Code

[2021-02-21 00:19] #3040 closed

[2021-02-21 08:03] VicCislari commented on #2773
You can try to wipe the data of the particular device.

Go to -> Android Studio -> Tools -> AVD Manager -> [Select the down triangle on your chosen device] -> Wipe data.

Now retry.

[2021-02-21 09:50] fisforfaheem opened #3153 "broken Suggestions and weird useless suggestions"
Please the following examples:
![Screen Shot 2021-02-19 at 8 31 00 PM](https://user-images.githubusercontent.com/35878088/108621371-1991ea00-7454-11eb-91c0-610891f73914.png)
![Screen Shot 2021-02-19 at 7 18 27 PM](https://user-images.githubusercontent.com/35878088/108621377-1e569e00-7454-11eb-85d3-15f47668f58a.png)
![Screen Shot 2021-02-19 at 7 13 27 PM](https://user-images.githubusercontent.com/3

[2021-02-22 11:15] DanTup commented on #3153
Thanks for the report!

In the first screenshot, because there is a "prefix" typed ("red"), VS Code is doing the ranking there so unfortunately we can't affect the sort (see https://github.com/microsoft/vscode/blob/3781f94ba41041d4d61354a8e08f699849569765/src/vs/vscode.d.ts#L3886-L3891 and https://github.com/microsoft/vscode/issues/105999).

If the item you're looking for (I presume `Colors.Red`)

[2021-02-22 11:15] #3153 closed

[2021-02-22 11:49] DanTup commented on #3152
Thanks for the video and log!

I think you're hitting an issue that I've recently fixed (https://dart-review.googlesource.com/c/sdk/+/182509). It's the combination of a few different issues which add up to a bad experience:

1. When you pressed `Ctrl+.`, the hover tooltip had just appeared for `ListView`. When you press `Ctrl` while the hover is visible, VS Code tries to show a preview of the code

[2021-02-22 11:49] #3152 closed

[2021-02-22 11:50] DanTup commented on #2865
@duannl if you're able to reproduce this and share a complete code example that triggers it, please file a new issue. Thanks!

[2021-02-22 12:15] DanTup commented on #3150
The completion sorting issue is discussed in https://github.com/Dart-Code/Dart-Code/issues/3153.

Can you clarify whether the speed issue you're seeing is when opening completion (`Ctrl+Space`) or quick-fixes (`Ctrl+.`)? It may be a dupe of https://github.com/Dart-Code/Dart-Code/issues/3152.

[2021-02-22 12:18] DanTup commented on #3144
@IsmailAlamKhan there don't appear to be any Format requests in that log file - did you copy the file after seeing the issue above?

[2021-02-22 12:27] IsmailAlamKhan commented on #3144
yes. I will send another one if I encounter that issue again. Also some times the code completion stops working.

[2021-02-22 13:01] DanTup commented on #3144
@IsmailAlamKhan if you can capture a log when it stops working (and a screenshot showing exactly what you see), that may help too. Some people have found completion works better with the LSP preview enabled (which will become default in the future), so you might wish to try that out.

[2021-02-22 13:06] IsmailAlamKhan commented on #3144
Yes with LSP the overall performance is better. But the only problem is when extracting a widget or method with LSP enabled the name dialog or the popup doesn't appear.

[2021-02-22 13:18] DanTup commented on #3144
I've actually fixed that recently in https://github.com/Dart-Code/Dart-Code/issues/3103 :) It'll be in the next release of Dart-Code.

[2021-02-22 13:18] Tetracyl commented on #3152
Thank you!

[2021-02-22 13:19] DanTup opened #3154 "Test output is not cleared on new runs"
This is supposed to only show output from the _last_ test run.

![Screenshot 2021-02-22 at 13 19 19](https://user-images.githubusercontent.com/1078012/108713777-9d111100-7510-11eb-8520-43fae9255394.png)

[2021-02-22 13:27] #3146 closed

[2021-02-22 13:27] #3154 closed

[2021-02-22 15:24] HadyMash opened #3155 "Preview LSP Option changing syntax highlighting"
**Describe the bug**
When the LSP Preview option is enabled, the syntax highlighting gets messed up and anything that was previously white with the OneDark Pro theme (not sure about other themes) becomes red. Turning off Preview LSP fixed the issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable Preview LSP
2. Cmd/Ctrl + Shift + P and then reload window.
3. Let VS Code load a .dart f

[2021-02-23 09:38] easydo247 commented on #3132
If a manually run _flutter analyze_ the process does not complete
Analyzing my_project...
(This is taking an unexpectedly long time.)

[2021-02-23 10:36] DanTup commented on #3132
@easydo247 if you're seeing that from the command line, that suggests it's not an issue with the VS Code plugin. If you run it with the `-v` flag (`flutter -v analyze`) you should get verbose output that might help understand what's going wrong. It would likely need raising at https://github.com/flutter/flutter/ or https://github.com/dart-lang/sdk depending on the output.

[2021-02-23 11:04] DanTup commented on #3054
Sounds like this `confirm` may soon be removed from from DevTools, so nothing to do here.

[2021-02-23 11:04] #3054 closed

[2021-02-23 11:06] DanTup commented on #3095
@jonasfj ping! :) Do you have any thoughts on the above?

[2021-02-23 15:30] DanTup commented on #3155
This appears to be working as expected.

Pre-LSP, the code did not have full semantic tokens. This meant the highlighting left a lot of things uncoloured (white). With LSP and semantic tokens, theming is able to do much more. The theme you have picked has been coded to show variables in red:

<img width="635" alt="Screenshot 2021-02-23 at 15 25 20" src="https://user-images.githubusercontent.com/10

[2021-02-23 15:31] #3155 closed

[2021-02-23 16:36] DanTup opened #3156 "Only show test container nodes as skipped if all children are skipped"
If a suite/group contains passes + skips, it should be coloured as passed. It should only show skip if there are no passes (or fails).

[2021-02-23 18:13] #3156 closed

[2021-02-23 19:51] jonasfj commented on #3095
Circular dependencies is definitely a thing.. rare but it happens...

I think we could easily add a JSON output to `dart pub deps`, this is not currently available.

The alternative is to parse pub specs, they are easy to find with the information from `package_config.json`.

But I don't think JSON output for `dart pub deps` is controversial, filed: https://github.com/dart-lang/pub/issues/2892

[2021-02-24 02:32] MarceloFV commented on #2764
This error is happaning to me:
[Error - 11:18:06 PM] Request textDocument/hover failed.
  Message: Invalid file path
  Code: -32003
.... [any .dart file path that im trying to work here]

[2021-02-24 07:08] maks commented on #3078
@DanTup just for future reference I think I've finally figured this out over at: https://github.com/flutter/flutter/issues/73611#issuecomment-784845446

[2021-02-24 07:39] HadyMash commented on #3155
Thank you very much for your help!
Would this work if I paste it inside of the [Dart] settings or would this be universal?

[2021-02-24 07:48] HadyMash commented on #3155
@DanTup Thank you very much for your help!

I was just wondering if there was any way to make the `@override`be the same colour as the `@`, at the moment, after turning on LSP and using One Dark Pro, the `@` is yellow and `override` is whatever colour variables are. Before turning LSP on, both were pink, I do not mind having it be yellow, just would like it to have one colour.

Thank you for all o

[2021-02-24 10:44] DanTup opened #3158 ""Dart: Reanalyze Project" and "Open Diagnostic Server" fail under LSP"
The requests generated by the LSP client pass `[null]` as the params when the type is `void`:

[code]

[2021-02-24 10:57] #3158 closed

[2021-02-24 11:00] larssn opened #3159 "Nonsensical error message on variable rename"
**Describe the bug**
Renaming `date` to `now` fails with:
_Usage of constructor "DateTime.now" declared in "date_time.dart" will be shadowed by renamed local variable._

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try the above

**Expected behavior**
`now` is a valid name, and shouldn't fail. It also doesn't shadow anything, as it seems to think.

**Versions (please complete the f

[2021-02-24 11:11] DanTup opened #3160 "Code completion sometimes shows stale results"
Here, notice `name5` that is defined in the file on the right is missing from the completion list:

![Screenshot 2021-02-24 at 11 04 24](https://user-images.githubusercontent.com/1078012/108991480-12efb680-7690-11eb-96b5-1fad986c8e2b.png)

I can reproduce this by:

- Clearing the ~/.dartServer folder
- Open this project, including the (right) file `myfoo.dart`
- Add a new field to the class defini

[2021-02-24 11:14] DanTup commented on #3160
Changing `overlayModificationStamp` to start from millisecondsSinceEpoch` does seem to prevent it from happening:

[code]

Presumably also using that value directly as the stamp (instead of starting from it and increasing) would also work. I'm not sure whether one is better than the other (or if there's something better still).

[2021-02-24 12:39] DanTup commented on #3159
Thanks for the report! I can reproduce this - the message is coming from the language server so I've filed https://github.com/dart-lang/sdk/issues/45105. Thanks!

[2021-02-24 13:19] DanTup commented on #3155
@HadyMash the part after the `@` is coloured based on whether it's a getter/Class/constructor etc., which is why they don't match. For example:

<img width="267" alt="Screenshot 2021-02-24 at 13 17 04" src="https://user-images.githubusercontent.com/1078012/109006101-9b775280-76a2-11eb-9cd5-3f3137c52d24.png">

So there isn't a colour that could be applied to the `@` that would match both.

That sai

[2021-02-24 13:56] HadyMash commented on #3155
@DanTup Thank you for your help. I don't think its worth all of this trouble, guess I'll just get used to it, not that big of a deal, just thought it might have a quick and easy fix 🤷‍♂️.

I cannot thank you enough for your help. Have a fantastic day!

[2021-02-24 14:45] DanTup commented on #3155
I think it's an easy change, just needs a small modification. It probably should be done (generally you should be able to theme all of the tokens) so feel free to open an issue and I'll ensure it works and give a sample for customising it.

Not a problem, you too!

[2021-02-24 14:47] DanTup commented on #2764
@MarceloFV can you file a new issue and include exact details of what's happening and what version of Dart/Flutter you're using? Thanks!

[2021-02-24 14:52] MarceloFV commented on #2764
hey, i'v opened a issue to talk about the error, but i'v find the solution and solved it, here the link: https://github.com/dart-lang/language/issues/1470

[2021-02-24 14:58] DanTup commented on #2764
@MarceloFV glad you sorted it - although it's a shame it required so much effort.

If it comes back, please do file an issue in this repo so we can track it down. Thanks!

[2021-02-24 15:00] HadyMash opened #3161 "Theme annotation token"
**Is your feature request related to a problem? Please describe.**
There was previously an issue with the Preview LSP option where the UI Guides wouldn't work. When that was fixed, I turned it back on and noticed the syntax highlighting was different. I opened #3155 and I was able to change the colour of the variables. However, the `@` and `override` have different colours and it doesn't match. Pr

[2021-02-24 15:01] HadyMash commented on #3155
@DanTup Alright, I did as you advised and opened a new issue for annotation token.

[2021-02-24 15:49] DanTup opened #3162 "Show DevTools version in tooltip when hovering over DevTools in status bar"
We do this for Flutter/Dart, and it'd be useful to see the version that was activated here.

[2021-02-24 16:02] bwilkerson commented on #3160
I don't know. My understanding is that having the same modification stamp shouldn't be enough to cause a bad cache hit because I thought we were using a hash for the cache key that included more than the modification stamp and therefore ought to have been different. But that wouldn't explain why changing the starting value for the modification stamps would fix the problem. @scheglov Do you have an

[2021-02-24 16:09] #3162 closed

[2021-02-24 16:23] DanTup commented on #2998
Fixed by https://github.com/dart-lang/sdk/commit/c4edcc4cfaaec85d5e38886b783ad58833efb3b8.

[2021-02-24 16:23] #2998 closed

[2021-02-24 16:44] scheglov commented on #3160
Yes, I think we have a bug in available declarations.

For performance reasons I attempted to use `modificationStamp` to avoid reading the file, and hashing it.
But we are using `OverlayResourceProvider`, and the way we set modification stamps makes them not reliable.
And in general, using only modification time is probably wrong, see https://apenwarr.ca/log/20181113 for details.

Starting `overla

[2021-02-24 20:55] baku-apps opened #3163 "Automatic import suddenly stops working in vs code"
**Describe the bug**
Automatic import is will suddenly stop working when running the app. Restarting the Dart analyzer helps, but that will break the hot reload. Restarting whole of vs code works temporarily until the import feature breaks again.

It seems to me the dart analyzer is breaking (had also hot reloading and auto complete issue with flutter 1.22.3.

**Screenshots**
when running the flut

[2021-02-24 20:56] baku-apps commented on #3163
flutter doctor -v output:

[code]

[2021-02-24 21:06] IsmailAlamKhan commented on #3144
I am closing this issue cause turning on the LSP seems to fix my issue.

[2021-02-24 21:06] #3144 closed

[2021-02-24 21:13] baku-apps commented on #3163
I have the previewLSP disabled (enabling the previeLSP makes sure that code completion does not work anymore). I'm kind of having problems keeping up my productivity with flutter lately.

[2021-02-25 10:43] DanTup commented on #3163
I don't supposed you've noticed any pattern to this? If you add the import manually, does the red squiggle under the class name disappear, or remain? (If it remains, it sounds like the state of the analyzer might be out of sync). Is the class/file something you've recently created when you see this?

Is there any issue open about the completion not working correctly? LSP is going to become default

[2021-02-25 10:48] DanTup commented on #3144
That's good to hear - LSP will become the default and non-LSP removed in the future.

There's a beta version of the next Dart-Code that includes the Extract Widget/Method name fix if you'd like to try that out before it releases too -> https://github.com/Dart-Code/Dart-Code/releases/tag/v3.20.0-beta.1

[2021-02-25 10:54] DanTup commented on #3160
Is there value in doing this (such as `DateTime.now().millisecondsSinceEpoch`) to reduce this until there's a better solution? I can make the change, although I failed to make a test that triggered this.

If I understand correctly, starting from milliseconds would require the user to modify more than one-file-per-millisecond on average in order to "overlap" the numbers with those used in a future

[2021-02-25 11:24] IsmailAlamKhan commented on #3144
@DanTup thank you so much

[2021-02-25 11:38] DanTup commented on #3161
I've changed annotations to by default be coloured the same as variables:

![Screenshot 2021-02-25 at 11 36 17](https://user-images.githubusercontent.com/1078012/109148138-bfe43500-775d-11eb-9e61-aea99f988617.png)

This won't match perfectly if you use a constructor directly (`@ClassFoo()`) as classes are coloured slightly differently, but I think in most cases annotations are fields/getters.

You

[2021-02-25 11:38] #3161 closed

[2021-02-25 11:57] HadyMash commented on #3161
Thank you very much for your help @DanTup!

[2021-02-25 14:54] baku-apps commented on #3163
I don't see a pattern, an manually importing works just fine.

last Flutter release though, so it's possible if you try out the beta branch things may be improved.

I will try the beta branch and let you know the result.

Sorry for the rant. Been a bit frustrating working with the Dart-Code lately.

[2021-02-25 15:44] bwilkerson commented on #3160
Correct. in production code the probability, while non-zero, is very low.

The place it's more likely to be seen is in tests, but they's have to be tests that restarted server, and as far as I'm aware we don't have any tests like that other than the benchmark tests (and those don't modify files).

I'm convinced. I think the product will be more stable if we make that change.

[2021-02-25 16:07] baku-apps commented on #3163
in debug channel I get the following error:

[code]

[2021-02-25 17:04] DanTup commented on #3159
This has been fixed by https://github.com/dart-lang/sdk/commit/526e191a57b7399f0de3e09bd8f2bed6c066d0b1 and will be included in a future Dart/Flutter SDK update. Thanks!

[2021-02-25 17:04] #3159 closed

[2021-02-25 17:36] scheglov commented on #3160
I agree, doing this will make things better, and make the probability of issues very low.

[2021-02-25 18:27] DanTup commented on #3160
Fixed by https://github.com/dart-lang/sdk/commit/85aecd53f47f1fb1132f26ec04638d788e0708a1, thanks!

[2021-02-25 18:27] #3160 closed

[2021-02-25 18:42] pablougaz opened #3164 "Quick-fix doesn't show for importing package:meta on @required"
Hi - when I upgraded to the latest version of Dart Code I experienced these two issues that were only fixed by disabling previewLsp:

1 - IntelliSense auto-complete stopped inserting a pre-filled method with stubbed, highlighted parameters, which was very convenient.  Instead it now just completes the method name and doesn't add parentheses.   The other issue w/ this new way of auto-complete is th

[2021-02-25 19:44] jifalops opened #3165 "Analyzer frozen on plugin projects that use all 6 platforms"
**Describe the bug**
The analyzer hangs up when saving a file, ctrl+click, never catches misspelled references, etc. after opening a plugin project created with the following command:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

    flutter channel dev
    flutter upgrade
    flutter config --enable-windows-desktop
    flutter config --enable-macos-desktop
    flutter config --en

[2021-02-26 18:07] jifalops commented on #3165
Should this be on the sdk repo?

[2021-02-26 18:15] DanTup commented on #3164
Sorry for the inconvenience! LSP is currently considered "preview" as there were a few features still missing (at least in the current stable Flutter version).

The first issue was resolved as part of https://github.com/Dart-Code/Dart-Code/issues/2823. It's a change in the server so will come via a Flutter/Dart SDK update. It's not in the current Stable version of Flutter, though is in the beta ch

[2021-02-26 19:47] Teega opened #3166 "Dart sdk"
Please team i have issue on my vscode first it was flutter i resolve that now is "could not find Dart in your flutter SDK run flutter doctor in terminal then reload the project once all issues are resolved"if i try running flutter doctor it shows checking Dart sdk then it closes
![IMG-20210226-WA0002](https://user-images.githubusercontent.com/79721183/109347677-87b62280-7841-11eb-9fc0-117611988723

[2021-02-26 21:08] sma opened #3167 "Running Web projects fail due to trying to pass --devtools-server-address to webdev"
Create a simple web app with `dart create -t simple-web bug`. Go to `web/main.dart` and click on code lens "Run".

The application does not run.

Instead, I get this error (shortened) in the debug console:

[code]

My guess is that Dartcode tries to call `webdev` with a command line option that is intended for the Flutter `devtools`.

I also noticed that the argument is passed twice in the generat

[2021-02-26 23:20] grouma opened #3168 "Syntax highlighting broken with LSP"
I use the VIM plugin which has a known performance [issue](https://github.com/Dart-Code/Dart-Code/issues/1800) with dart-code. The suggested solution is to enable the LSP feature. Doing so solves most of my performance issues but it breaks syntax highlighting. See this screenshot:

<img width="1068" alt="Screen Shot 2021-02-26 at 3 13 06 PM" src="https://user-images.githubusercontent.com/1840773/1

[2021-02-27 07:13] RandalSchwartz opened #3169 "Allow setting a default value for launch config's "console" field if not explicitly specified"
**Describe the bug**
As instructed, I set "console" : "terminal" in my launch.json.  I expected that running my command-line app would then send output to the integrated terminal, and accept typing as stdin for the app.

No, the stdout still went to the debug console, and I am unable to provide input.

**To Reproduce**
Steps to reproduce the behavior:
1. Set launch.json as indicated.
2. Start dart

[2021-02-27 17:34] eseidel opened #3170 "Code completion incorrectly returns results in comments at end of file"
**To Reproduce**
1. Open a new `foo.dart` file.
2. Start typing a comment "// This is a test.<return>"
3. Notice how you end up with "// This is a test.abstract\n".

**Expected behavior**
I would have expected typing return after the period to result in just a new line, not "abstract\n" added.

The autocomplete is just a bit aggressive inside comments (especially with nothing typed after the perio

[2021-02-27 20:23] fisforfaheem commented on #3153
Thanks, But please let me know when this issue will be resolved as it's very difficult  to use the flutter without proper sugegstions

[2021-02-27 20:24] fisforfaheem commented on #3150
Yeah Thanks hope the flutter responsible persons will fix it soon! also it's more of  a latency issue... as it takes some time...as compared to VS studio ide which was way too fast

[2021-02-27 20:28] fisforfaheem commented on #3152
Dear sir i am experiencing  a similar thing...but in my case i can only click on the bulb icon for these suggestions...why is this so? why cant i click on the widget and get suggestions .. i am on dev version

[2021-02-27 21:14] ffactory-ofcl commented on #1286
Hi, any news on this? I have been developing my app using vs code for a year now and IntelliJ / Android Studio can't seem to open the project, but I would really like to see the widget stats etc panel.

[2021-02-27 21:18] eseidel commented on #1211
For anyone who stumbles here through Google.  This is now documented: https://dartcode.org/docs/tasks/

[2021-02-27 21:20] eseidel commented on #1211
Actually, it's not clear what the current state is. This was clearly added as a preview feature and then the preview flag removed.  But the "build_runner" tasks don't show up for me in VSC for some reason. 🤷

[2021-02-28 11:08] DanTup commented on #3170
Thanks! I can repro this - it seems to only happen when the comment is the last thing in the file. I suspect [this check](https://github.com/dart-lang/sdk/blob/fd81b73e67051a7ac06669a01ec32082ced0dc4f/pkg/analysis_server/lib/src/services/completion/dart/completion_manager.dart#L110-L113) isn't working right in that case.

It also seems to set the replacement range to the whole comment, so if you i

[2021-02-28 11:09] DanTup commented on #1211
@eseidel do you have references to build_runner in your pubspec? There's a fairly crude regex check for it in pubspec to enable these tasks:

https://github.com/Dart-Code/Dart-Code/blob/0bc3dec6cba33c600c21bd1351083cf0d90d944f/src/extension/sdk/utils.ts#L399-L405

[2021-02-28 15:19] pablougaz commented on #3164
Thanks @DanTup, appreciate the update.  I just tried the import issue with and without the LSP preview flag and it seems to be unrelated.

This is what I did (same behavior after changing LSP flag true/false with VS Code restart):
1 - comment out 'dart:math' import then go to a line w/ 'Random()' and quick fixes correctly offers to import 'dart:math'
2 - comment out 'package:meta/meta.dart' import

[2021-02-28 15:40] baku-apps commented on #3163
If I downgrade to version 1.22.3 I don't have this issue. However, with 1.22.3 i have the following issue https://github.com/Dart-Code/Dart-Code/issues/2990#event-4251348885

[2021-03-01 05:52] kawolski commented on #3166
Is dart installed in your pc ?
If not you have to install dart package first.

[2021-03-01 09:32] DanTup commented on #3166
Can you post exactly what output you see when you do this? Can you also confirm how you're running `flutter doctor`? Are you running it in VS Code or an external terminal?

This is not the case - if you're doing Flutter development you only need to install the Flutter SDK. Flutter downloads its own version of the Dart SDK (which is what hasn't happened here, but running `flutter doctor` should tri

[2021-03-01 09:38] DanTup commented on #3164
Can you check you have `meta` listed in your `pubspec.yaml`? It's not correct to import packages that are not declared in `dependencies`, so they won't show up in code completion of get fixes (although if you manually type them, they will work because the package _is_ available via some other package).

The correct fix is to add it to your dependencies - you shouldn't take advantage of a package b

[2021-03-01 09:45] DanTup commented on #3152
@fisforfaheem can you file a new issue and include more details of what you're seeing (for example a screenshot or code sample and explanation of what is not showing up that you'd expect)? Thanks!

[2021-03-01 09:50] DanTup commented on #3153
@fisforfaheem can you be more specific? There were multiple issues described above.

If the issue is VS Code re-ranking things, then that can't be fixed - that's a decision made by VS Code.

If the issue is just that the default ranking (when you have not typed a prefix) is bad, then you can follow the SDK issue linked above for updates, as that issue will be closed once resolved. I don't have any

[2021-03-01 09:52] DanTup commented on #3150
@fisforfaheem can you clarify the question above? Exactly which action is slow? And (approximately) how slow? Does it occur only after specific actions (for example while "analyzing" is showing in the status bar), or always?

[2021-03-01 09:55] DanTup commented on #3169
I've not been able to reproduce this, it seems to work from my testing:

![vziJjAl](https://user-images.githubusercontent.com/1078012/109481040-2fb33200-7a74-11eb-858f-efc06b74d1f7.png)

Could you try capturing a log ("Dart: Capture Debugging Logs") when launching the app?

[2021-03-01 10:19] DanTup commented on #3168
I think this is working as expected. Before Semantic Tokens, a lot of things were left uncoloured and appeared white. With Semantic Tokens, many of these things (like variables) are now coloured according to the theme (if you open another language that supports semantic tokens like TypeScript, you'll see a sea of blue there too).

There's some info about the semantic tokens update here:

https://d

[2021-03-01 10:25] DanTup commented on #3167
I don't seem to be able to repro this, it runs without issue from the **Run** CodeLens for me:

<img width="1632" alt="Screenshot 2021-03-01 at 10 24 21" src="https://user-images.githubusercontent.com/1078012/109484452-5b381b80-7a78-11eb-8089-6b4ab0d32ee9.png">

In your log I see this in the launch args though:

[code]

Though it's not clear where they came from. Do they appear in your `.vscode/la

[2021-03-01 10:28] DanTup commented on #3167
Actually, I think I can see a bug, although it's not clear why I'm not hitting it:

[code]

This looks very wrong - it's deciding web apps are Flutter, and that could trigger sending the arg. I'll do some debugging to find out why I don't see it and get a fix. Thanks!

[2021-03-01 10:32] DanTup commented on #3167
Ok, I know what's happening. I'm running the beta version of the next release, and the fix for https://github.com/Dart-Code/Dart-Code/issues/3142 accidentally fixes this (by preventing DevTools from starting up, which prevents its address from trying to be sent).

Working on a fix, sorry for the inconvenience!

[2021-03-01 10:38] #3167 closed

[2021-03-01 10:58] fisforfaheem commented on #3153
Thanks :) hopefully it would be addressed in flutter 2.0 also looking
forward  for dartcode to speed up and improve

On Mon, Mar 1, 2021 at 2:50 PM Danny Tuppeny <notifications@github.com>
wrote:

[2021-03-01 10:59] fisforfaheem commented on #3150
when we are writing something...it show suggestions not instantly as
say..VStudio IDE, it takes some time and lags too a bit

On Mon, Mar 1, 2021 at 2:52 PM Danny Tuppeny <notifications@github.com>
wrote:

[2021-03-01 11:00] fisforfaheem commented on #3152
ok sure will do! hope flutter gets better at these fundamentals

On Mon, Mar 1, 2021 at 2:46 PM Danny Tuppeny <notifications@github.com>
wrote:

[2021-03-01 11:06] DanTup commented on #3165
This seems to be caused by symlinks that point back up the tree:

[code]

@devoncarew @bwilkerson I think this came up before, but the circular symlinks were caused by some third party tool (I think a nodejs project inside the same folder with a package manager that was using symlinks).

This one happens entirely using Flutter commands. I'm not sure whether Flutter shouldn't be created these circu

[2021-03-01 11:40] DanTup commented on #2873
I believe the slow Go-to-Symbol issue will be fixed by https://github.com/dart-lang/sdk/commit/ddd70f5cd0275235f27c00582da4f7fdadc9da8d. VS Code is still sending the open/close events, but now they get filtered out better if they won't do anything (which is almost all of the time for a hover like that).

The other issue mentioned here (slow rename) is tracked in https://github.com/Dart-Code/Dart-C

[2021-03-01 11:40] #2873 closed

[2021-03-01 11:50] DanTup commented on #3150
@fisforfaheem can you give an idea of how long it's taking? It definitely won't be _instant_ as there's a bit of a round trip (VS Code asynchronously sends a request to the extension, which then sends it to the Dart language server, which computes the list, and then sends it back), however it definitely shouldn't feel slow.

If you invoke completion a few times, then run the **Dart: Open Aanlyzer

[2021-03-01 12:15] ConstantinN1 commented on #1634
I had to run
`sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer`
then
`sudo xcodebuild -runFirstLaunch`

[2021-03-01 15:07] bwilkerson commented on #3165
@schglov recently made some changes to improve the way symlinks are handled. It's my understanding that this work impacted both the analysis server and the `dart analyze` and `flutter analyze` commands, and that his next arc of work will apply the changes to the `dartanalyzer` command. Is this reproducible on master?

[2021-03-01 17:20] devoncarew commented on #3165
Circular symlinks are generally not a good idea. We had been creating them in Dart very early on but moved away from that. Do you know where in the flutter ecosystem we're creating them? We likely want to reconsider that.

[2021-03-01 18:58] grouma commented on #3168
Thanks for the details. That does seem like my issue. Also thanks for the override tip as I think white on a dark background is easier to read.

[2021-03-01 18:58] #3168 closed

[2021-03-01 19:25] DanTup commented on #3165
Ah, I actually can't reproduce this on master. @jifalops can you check it also seems fixed for you there?

I think it's [around here](https://github.com/flutter/flutter/blob/354bd53f62ed6dd31c9addc4cce521f412c6b1aa/packages/flutter_tools/lib/src/plugins.dart#L1361). Specifically, in the repro above it's the `example` project linking back to the real project. I'm not familiar enough to understand i

[2021-03-01 21:17] nythrox opened #3171 "Command "editor.action.formatSelection" not working with Dart"
**Describe the bug**
When you try to format a selection of code in VSCode it will silently fail with no exception shown.
I believe this is a bug and should not be happening since "format selection" is [already supported](https://github.com/dart-lang/sdk/commit/44e680ac539509222c3ac64c96d3054d0b569d95) in the LSP (https://github.com/Dart-Code/Dart-Code/issues/812), and is available for emacs, vim,

[2021-03-01 21:50] DanTup commented on #3171
@nythrox do you have the LSP Preview enabled? Format selection is _only_ available with LSP enabled. The original protocol doesn't have support for requesting only a selection is formatted, so it's LSP-exclusive.

LSP is going to be the default soon, and non-LSP will not be maintained (and ultimately removed).

If you _are_ using LSP, please can you run **Dart: Capture Analysis Server Logs**, then

[2021-03-01 23:37] nythrox commented on #3171
Hey @DanTup
I've got LSP enabled in settings.json (`"dart.previewLsp": true`)

It seems like it didn't run any command although the shortcut is being activated (if you change the command to a different value, it will run or show an error)
[code]

[2021-03-02 03:18] jifalops commented on #3165
It doesn't happen on master. In fact just switching to master fixes it without regenerating any project files. Here's the version just in case:

[code]

[2021-03-02 05:36] jacob314 commented on #1286
Please encourage more people to thumbs this up if it is useful. We are looking to move widget rebuild indicators to Dart DevTools so it can be shared with VSCode but that will take some work.

[2021-03-02 08:01] ffactory-ofcl commented on #1286
So is there an issue about moving them to Dart DevTools? Because this one is about showing it in VsCode which is only secondary.

[2021-03-02 08:33] Code-Sage opened #3172 "error thrown when typing into, clicking on, or performing any action on dart files in VS Code"
I've been having this issue since yesterday. I suspected that it was due to yesterday's Dart extension update but even downgrading to 3.19 didn't help. I've tried disabling and re-enabling extensions, uninstalling and re-installing extensions, uninstalling and re-installing VS Code combined with deleting VS Code's cache of previously installed extensions before re-installation of VS Code. But I ke

[2021-03-02 10:05] DanTup commented on #3172
Is the path in the error `c:\...\lib\widgets\national_id_ocr.dart` exactly what was generated, or did you just truncate the path for pasting here?

Do you see this only when you first open the project, or all the time while trying to interact with the files?

Can you also confirm your Flutter SDK version? Thanks!

[2021-03-02 10:06] DanTup commented on #1286
I think https://github.com/flutter/devtools/issues/476 might be the issue for adding them to DevTools?

If so, we can probably close this one as superseded by that - @jacob314?

[2021-03-02 10:11] DanTup commented on #3165
I think that's expected given the changes were in the analysis server (presumably to not walk down the symlinks), rather than removing the symlinks.

So I believe this is fixed and there's nothing to do here (although it'll take a little time to propagate through all of Flutter's channels). If you do see the issue again on a version newer than the current master, feel free to re-open for investiga

[2021-03-02 10:11] #3165 closed

[2021-03-02 10:14] Code-Sage commented on #3172
I replaced part of the path with `...` for purposes of secrecy since I'm working for a company. But the `...` are just a path like `Users\user1\Documents\ProjectName` directory. I'm using Flutter SDK 1.20.4.

I see the error message all the time whenever I interact with a dart file in any way.

[2021-03-02 10:28] DanTup commented on #3171
@nythrox sorry, I missed your Flutter SDK version. Format Selection was added in the LSP server which ships with the SDK. The change was made in November but there hasn't been a (major) stable version of Flutter since, so this isn't included.

It works on the beta/dev/master channels (and also shows up in the command palette for those versions). I'll be included in the next major Flutter release t

[2021-03-02 10:28] #3171 closed

[2021-03-02 10:32] DanTup commented on #3172
Can you reproduce this on a small sample project (for example using the ***Dart: New Project** command), or does it only occur in this project? If you can reproduce in a small sample you could enable the [analysis server log](https://dartcode.org/docs/logging/#analyzer) and that may help understand what's happening.

Can you also confirm that you have opened the project folder in VS Code, and are

[2021-03-02 10:55] Code-Sage commented on #3172
I just created a new flutter app [here](https://github.com/Code-Sage/flutter_application_1), and a Dart project using ***Dart: New Project** command; and both are working fine. I ran the Flutter project I shared on a device and confirmed it. So, that means issue is somehow with that particular project of my company?

And yes, I did open the dart files in VS Code that are in the directory of the wo

[2021-03-02 11:40] Code-Sage commented on #3172
This is the complete output I get when the project first loads up. Afterwards, only the error output mentioned above is given.

[code]

[2021-03-02 11:41] DanTup commented on #3172
@Code-Sage aha - that final error explains it. The language server is failing to initialize, which means nothing is being analyzed.

Given that this is occurring in `parseDotPackagesFile`, it sounds like your `.packages` file might not be valid. Can you check the contents of that file (specifically at offset 13957)? You could possibly delete it and re-create it by running `get packages`, although

[2021-03-02 11:51] Code-Sage commented on #3172
@DanTup I've attached the `.packages` file but I doubt its helpful since its not human readable.
[.packages.zip](https://github.com/Dart-Code/Dart-Code/files/6068370/default.packages.zip)

When you open it in Notepad++, this is what you see:

![packages_dart file](https://user-images.githubusercontent.com/7098640/109644456-50b07b80-7b77-11eb-8828-3305e619c9a0.PNG)

[2021-03-02 11:58] DanTup commented on #3163
It looks like this may be coming from the [load package](https://pub.dev/packages/load), which is calling [a method that was deprecated](https://api.flutter.dev/flutter/widgets/BuildContext/inheritFromWidgetOfExactType.html). It doesn't look like that package has been updated in a while, so that might be something you'll need to resolve at some point in order to move to newer Flutter SDKs.

The se

[2021-03-02 12:00] DanTup commented on #3172
@Code-Sage I think that's your problem - that file should very much not look like that. I can't even extract the file from the zip as macOS seems to think it's not there.

I'm not sure how the file ended up in that state, but I suspect if you delete it and re-run the Get Packages command in VS Code, then reload VS Code, it may resolve your issue.

For reference, the file should look something like

[2021-03-02 12:02] DanTup commented on #3172
Also - FWIW, this file is replaced by `.dart_tool/package_config.json` in the latest versions, but it looks like your Flutter version is quite old (1.20.4 but the current stable is 1.22.6).

[2021-03-02 12:27] Code-Sage commented on #3172
@DanTup I deleted the `.packages` file and ran `flutter pub get` ; then it gave some error in the `pubspec.lock` file. So I deleted both `.packages` and `pubspec.lock` files and ran `flutter pub get` again, reloaded VS Code, and its working now!

[2021-03-02 12:27] #3172 closed

[2021-03-02 12:37] DanTup commented on #3172
@Code-Sage great, glad to hear! I'm not sure how the file got into that state though - if you see that again it's worth some investigation. I'm glad you managed to resolve it though!

[2021-03-02 14:07] pablougaz commented on #3164
Yes, I have the `meta` package under `dependencies` in my `pusbspec.yaml`

[2021-03-02 14:30] DanTup opened #3173 "Add experiment to enable LSP by default"

[2021-03-02 16:31] DanTup commented on #3170
Fixed by https://github.com/dart-lang/sdk/commit/f03ec46effd3efee3f1bcba20715a7fe38972470. The fix is in the SDK, so will show up in a future SDK update (rather than a Dart-Code update). Thanks!

[2021-03-02 16:31] #3170 closed

[2021-03-03 07:19] hongfeiyang commented on #2341
I am having this issue with the newest vs code dart extension as of today. It freezes frequently, especially when my code contains generic types.

[2021-03-03 10:47] DanTup commented on #2341
@hongfeiyang can you file a new issue and if possible include a code example that triggers it? If you haven't already enabled the LSP Preview, I would recommend trying that to see if it resolves the issue too. Thanks!